<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_gold/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,134}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{1,123},{174,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,134}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{1,123},{174,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,134}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{1,123},{174,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,134}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{1,123},{174,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{345,343},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{156,168}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{349,173},{156,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{170,158}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{173,277},{170,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{170,148}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{361,1},{170,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bag_gold/run/run_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{170,144}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{1,259},{170,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{170,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{177,133},{170,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,130}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{185,1},{174,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,120}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_gold/run/run_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,130}</string>
                <key>spriteSourceSize</key>
                <string>{206,196}</string>
                <key>textureRect</key>
                <string>{{185,1},{174,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bag_gold.png</string>
            <key>size</key>
            <string>{512,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4afc04636d750922992c6a16127c8076:300a3757697c63a4ed61d2166d88333c:ecac5b2ec0b06e3a78cc1cceabeb3fda$</string>
            <key>textureFileName</key>
            <string>bag_gold.png</string>
        </dict>
    </dict>
</plist>
