<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wineslime/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-16}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{1077,133},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{102,138}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{577,153},{102,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-16}</string>
                <key>spriteSize</key>
                <string>{158,122}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{321,1},{158,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-20}</string>
                <key>spriteSize</key>
                <string>{158,114}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{445,1},{158,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-6}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{705,1},{134,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/attack/attack_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{445,161},{94,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{841,1},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{1153,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{717,145},{114,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{561,1},{142,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{163,1},{162,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{162,160}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/die/die_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-51}</string>
                <key>spriteSize</key>
                <string>{162,58}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{281,165},{162,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{445,161},{94,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{102,138}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{833,145},{102,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{945,1},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{445,161},{94,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-16}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{1177,133},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{149,165},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{90,146}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{1,165},{90,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wineslime/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{973,137},{102,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wineslime/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{102,130}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{1049,1},{102,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wineslime.png</string>
            <key>size</key>
            <string>{1276,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b70980985b5f81415dbac3e1eda365fd:d1186a976e603e7587d9310a0241896a:f465bd4237e5bc381fdc52f27f7cd663$</string>
            <key>textureFileName</key>
            <string>wineslime.png</string>
        </dict>
    </dict>
</plist>
