<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lavascorpion/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{170,182}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1833,1},{170,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavascorpion/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,2}</string>
                <key>spriteSize</key>
                <string>{182,186}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{557,177},{182,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavascorpion/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{262,178}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{262,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{254,174}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{265,1},{254,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-8}</string>
                <key>spriteSize</key>
                <string>{210,166}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{937,1},{210,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/attack/attack_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-4}</string>
                <key>spriteSize</key>
                <string>{206,174}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{521,1},{206,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/attack/attack_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-11}</string>
                <key>spriteSize</key>
                <string>{206,174}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{729,1},{206,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,7}</string>
                <key>spriteSize</key>
                <string>{170,182}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1633,153},{170,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,7}</string>
                <key>spriteSize</key>
                <string>{178,182}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1,181},{178,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavascorpion/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,23}</string>
                <key>spriteSize</key>
                <string>{198,150}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1633,1},{198,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-12}</string>
                <key>spriteSize</key>
                <string>{214,142}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1149,1},{214,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-48}</string>
                <key>spriteSize</key>
                <string>{266,78}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1365,1},{266,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{170,186}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1117,173},{170,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,7}</string>
                <key>spriteSize</key>
                <string>{178,182}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1,181},{178,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavascorpion/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,7}</string>
                <key>spriteSize</key>
                <string>{170,182}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1805,173},{170,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavascorpion/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{170,182}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1833,1},{170,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavascorpion/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{170,186}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1289,173},{170,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{170,186}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{1461,173},{170,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{182,186}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{745,177},{182,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavascorpion/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{185,181},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{933,177},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavascorpion/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{182,190}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{365,177},{182,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lavascorpion.png</string>
            <key>size</key>
            <string>{2016,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7d410d14c1cc6cb192288f04e8e04be:fc4012f292283bd0a9238836035efc8e:ddf8958b24900c0849f3abe714cc2827$</string>
            <key>textureFileName</key>
            <string>lavascorpion.png</string>
        </dict>
    </dict>
</plist>
