<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_01_m_hatch_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{67,1},{63,48}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{63,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{132,1},{64,48}}</string>
			<key>offset</key>
			<string>{1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{64,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{461,1},{63,48}}</string>
			<key>offset</key>
			<string>{1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{63,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{526,1},{63,48}}</string>
			<key>offset</key>
			<string>{1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{63,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{863,1},{64,49}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{64,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{929,1},{65,49}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{65,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{996,1},{65,49}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{65,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1063,1},{65,49}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{65,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1130,1},{65,49}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{65,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1197,1},{66,49}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{66,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{198,1},{65,48}}</string>
			<key>offset</key>
			<string>{1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{65,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{265,1},{64,48}}</string>
			<key>offset</key>
			<string>{1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{64,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{64,47}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{64,47}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{331,1},{63,48}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{63,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{396,1},{63,48}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{63,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1265,1},{62,49}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{62,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1329,1},{64,49}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{64,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1589,1},{66,50}}</string>
			<key>offset</key>
			<string>{2,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{66,50}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{591,1},{67,48}}</string>
			<key>offset</key>
			<string>{1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{67,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1395,1},{63,49}}</string>
			<key>offset</key>
			<string>{0.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{63,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1460,1},{62,49}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{62,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{660,1},{64,48}}</string>
			<key>offset</key>
			<string>{1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{64,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{726,1},{66,48}}</string>
			<key>offset</key>
			<string>{2,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{66,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{794,1},{67,48}}</string>
			<key>offset</key>
			<string>{1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{67,48}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
		<key>makoa_01_m_hatch_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1524,1},{63,49}}</string>
			<key>offset</key>
			<string>{0.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{63,49}}</string>
			<key>sourceSize</key>
			<string>{68,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1656,52}</string>
		<key>textureFileName</key>
		<string>makoa_01_m_hatch_yr.png</string>
	</dict>
</dict>
</plist>
