<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>selora_01_f_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{158,1},{154,130}}</string>
			<key>offset</key>
			<string>{-16,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-15,3},{154,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{158,133},{154,130}}</string>
			<key>offset</key>
			<string>{-16,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-15,3},{154,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{155,130}}</string>
			<key>offset</key>
			<string>{-16.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-16,3},{155,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,133},{155,130}}</string>
			<key>offset</key>
			<string>{-16.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-16,3},{155,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{157,265},{154,130}}</string>
			<key>offset</key>
			<string>{-16,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-15,3},{154,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,397},{154,129}}</string>
			<key>offset</key>
			<string>{-16,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-15,4},{154,129}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{157,397},{153,129}}</string>
			<key>offset</key>
			<string>{-15.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-14,4},{153,129}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{312,397},{153,129}}</string>
			<key>offset</key>
			<string>{-15.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-14,4},{153,129}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{467,397},{152,129}}</string>
			<key>offset</key>
			<string>{-15,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-13,4},{152,129}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{468,265},{152,128}}</string>
			<key>offset</key>
			<string>{-15,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-13,5},{152,128}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{305,528},{151,128}}</string>
			<key>offset</key>
			<string>{-14.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-12,5},{151,128}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{458,528},{150,128}}</string>
			<key>offset</key>
			<string>{-14,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-11,5},{150,128}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,528},{150,129}}</string>
			<key>offset</key>
			<string>{-14,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-11,4},{150,129}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{153,528},{150,129}}</string>
			<key>offset</key>
			<string>{-14,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-11,4},{150,129}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{469,1},{151,129}}</string>
			<key>offset</key>
			<string>{-14.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-12,4},{151,129}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{468,133},{151,130}}</string>
			<key>offset</key>
			<string>{-14.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-12,3},{151,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{314,133},{152,130}}</string>
			<key>offset</key>
			<string>{-15,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-13,3},{152,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{313,265},{153,130}}</string>
			<key>offset</key>
			<string>{-15.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-14,3},{153,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{314,1},{153,130}}</string>
			<key>offset</key>
			<string>{-15.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-14,3},{153,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{1,265},{154,130}}</string>
			<key>offset</key>
			<string>{-16,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-15,3},{154,130}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,659},{147,123}}</string>
			<key>offset</key>
			<string>{14.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{147,123}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{150,659},{147,123}}</string>
			<key>offset</key>
			<string>{14.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{147,123}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{762,645},{147,121}}</string>
			<key>offset</key>
			<string>{14.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,14},{147,121}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,784},{146,119}}</string>
			<key>offset</key>
			<string>{15,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,16},{146,119}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{149,784},{146,118}}</string>
			<key>offset</key>
			<string>{15,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{146,118}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{601,783},{147,117}}</string>
			<key>offset</key>
			<string>{15.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{147,117}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{762,768},{148,119}}</string>
			<key>offset</key>
			<string>{16,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{148,119}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{772,388},{148,121}}</string>
			<key>offset</key>
			<string>{16,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{148,121}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{457,658},{149,123}}</string>
			<key>offset</key>
			<string>{15.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,16},{149,123}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{622,261},{149,125}}</string>
			<key>offset</key>
			<string>{15.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,14},{149,125}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{621,395},{149,126}}</string>
			<key>offset</key>
			<string>{15.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,13},{149,126}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{621,132},{150,127}}</string>
			<key>offset</key>
			<string>{16,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{150,127}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{610,528},{149,127}}</string>
			<key>offset</key>
			<string>{15.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{149,127}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{622,1},{150,127}}</string>
			<key>offset</key>
			<string>{16,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,13},{150,127}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{610,657},{150,124}}</string>
			<key>offset</key>
			<string>{16,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,15},{150,124}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_16</key>
		<dict>
			<key>frame</key>
			<string>{{305,658},{150,123}}</string>
			<key>offset</key>
			<string>{17,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,16},{150,123}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_17</key>
		<dict>
			<key>frame</key>
			<string>{{761,523},{150,120}}</string>
			<key>offset</key>
			<string>{17,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{150,120}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_18</key>
		<dict>
			<key>frame</key>
			<string>{{773,130},{150,118}}</string>
			<key>offset</key>
			<string>{17,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{150,118}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_19</key>
		<dict>
			<key>frame</key>
			<string>{{450,783},{149,116}}</string>
			<key>offset</key>
			<string>{16.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{149,116}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_20</key>
		<dict>
			<key>frame</key>
			<string>{{299,783},{149,117}}</string>
			<key>offset</key>
			<string>{15.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,16},{149,117}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_21</key>
		<dict>
			<key>frame</key>
			<string>{{773,250},{148,119}}</string>
			<key>offset</key>
			<string>{15,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,14},{148,119}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
		<key>selora_01_f_adult_w/move/move_22</key>
		<dict>
			<key>frame</key>
			<string>{{774,1},{147,120}}</string>
			<key>offset</key>
			<string>{14.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,13},{147,120}}</string>
			<key>sourceSize</key>
			<string>{156,133}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{924,904}</string>
		<key>textureFileName</key>
		<string>selora_01_f_adult_w.png</string>
	</dict>
</dict>
</plist>
