<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Item_cell_attendance_complete_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,88}</string>
			<key>spriteSourceSize</key>
			<string>{88,88}</string>
			<key>textureRect</key>
			<string>{{214,486},{88,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_badge_green_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{320,500},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_badge_green_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{304,556},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_badge_red_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{214,576},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_badge_red_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{379,572},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_badge_white_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{302,612},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_badge_white_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{360,628},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_base_01_00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{500,134},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_base_01_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{489,543},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_base_01_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,13}</string>
			<key>spriteSourceSize</key>
			<string>{20,13}</string>
			<key>textureRect</key>
			<string>{{304,502},{20,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_chat_bg_0502</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{475,621},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_chat_bg_0504</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{456,694},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_check_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,31}</string>
			<key>spriteSourceSize</key>
			<string>{37,31}</string>
			<key>textureRect</key>
			<string>{{437,572},{37,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_colosseum_skill_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,13}</string>
			<key>spriteSourceSize</key>
			<string>{15,13}</string>
			<key>textureRect</key>
			<string>{{304,524},{15,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_colosseum_skill_0103</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,20}</string>
			<key>spriteSourceSize</key>
			<string>{22,20}</string>
			<key>textureRect</key>
			<string>{{489,519},{22,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_colosseum_skill_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{304,486},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_colosseum_skill_0203</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{489,565},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_colosseum_skill_0302</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,15}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{362,556},{15,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_colosseum_skill_0303</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{30,588},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_colosseum_skill_0403</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{22,21}</string>
			<key>textureRect</key>
			<string>{{489,470},{22,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_colosseum_skill_frame_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{110,114}</string>
			<key>textureRect</key>
			<string>{{384,134},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_colosseum_skill_frame_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{110,114}</string>
			<key>textureRect</key>
			<string>{{384,246},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_colosseum_skill_frame_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{110,114}</string>
			<key>textureRect</key>
			<string>{{384,358},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_empty</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{500,146},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_frame_line_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{272,576},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_gender_f_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{437,605},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_gender_m_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{418,643},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_gender_n_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{456,656},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_inventory_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,4}</string>
			<key>spriteSize</key>
			<string>{122,130}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{384,2},{122,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_item_bg_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,104}</string>
			<key>spriteSourceSize</key>
			<string>{100,104}</string>
			<key>textureRect</key>
			<string>{{2,384},{100,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_item_bg_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,104}</string>
			<key>spriteSourceSize</key>
			<string>{100,104}</string>
			<key>textureRect</key>
			<string>{{108,384},{100,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_item_bg_0103</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,104}</string>
			<key>spriteSourceSize</key>
			<string>{100,104}</string>
			<key>textureRect</key>
			<string>{{214,384},{100,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_item_bg_0104</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,104}</string>
			<key>spriteSourceSize</key>
			<string>{100,104}</string>
			<key>textureRect</key>
			<string>{{383,470},{100,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_item_bg_0105</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,104}</string>
			<key>spriteSourceSize</key>
			<string>{100,104}</string>
			<key>textureRect</key>
			<string>{{2,486},{100,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_item_bg_0106</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,104}</string>
			<key>spriteSourceSize</key>
			<string>{100,104}</string>
			<key>textureRect</key>
			<string>{{108,486},{100,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_item_lock_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,61}</string>
			<key>spriteSourceSize</key>
			<string>{56,61}</string>
			<key>textureRect</key>
			<string>{{320,384},{56,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_item_lock_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,61}</string>
			<key>spriteSourceSize</key>
			<string>{56,61}</string>
			<key>textureRect</key>
			<string>{{320,442},{56,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_item_quest_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,26}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{2,588},{24,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_package_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{2,2},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_prize_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{193,2},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_prize_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{2,193},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_prize_0105</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{193,193},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_quest_detail_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{476,587},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_remove_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,36}</string>
			<key>spriteSourceSize</key>
			<string>{32,36}</string>
			<key>textureRect</key>
			<string>{{418,681},{32,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_cell_remove_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,31}</string>
			<key>spriteSourceSize</key>
			<string>{28,31}</string>
			<key>textureRect</key>
			<string>{{272,608},{28,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_cell_time_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,23}</string>
			<key>spriteSourceSize</key>
			<string>{20,23}</string>
			<key>textureRect</key>
			<string>{{489,494},{20,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>empty.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{500,146},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>item_cell.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f5d548d8d227863678cc0735faf9fbbd:8648bad0f71020da10fa50eb358f05b9:8673a92e720f362fafe6bd6286e4ece0$</string>
		<key>textureFileName</key>
		<string>item_cell.png</string>
	</dict>
</dict>
</plist>
