<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_01_f_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{175,1},{164,132}}</string>
			<key>offset</key>
			<string>{6,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,30},{164,132}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{341,1},{168,132}}</string>
			<key>offset</key>
			<string>{6,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,30},{168,132}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{172,131}}</string>
			<key>offset</key>
			<string>{6,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,30},{172,131}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1181,1},{175,133}}</string>
			<key>offset</key>
			<string>{5.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,31},{175,133}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{157,135},{178,134}}</string>
			<key>offset</key>
			<string>{5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,31},{178,134}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{337,135},{180,134}}</string>
			<key>offset</key>
			<string>{5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,32},{180,134}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{672,136},{179,134}}</string>
			<key>offset</key>
			<string>{4.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,33},{179,134}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{853,136},{180,134}}</string>
			<key>offset</key>
			<string>{5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,33},{180,134}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1358,1},{177,133}}</string>
			<key>offset</key>
			<string>{4.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,34},{177,133}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{511,1},{173,132}}</string>
			<key>offset</key>
			<string>{5.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,34},{173,132}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{686,1},{168,133}}</string>
			<key>offset</key>
			<string>{5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,34},{168,133}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{856,1},{162,133}}</string>
			<key>offset</key>
			<string>{5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,34},{162,133}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1537,1},{156,134}}</string>
			<key>offset</key>
			<string>{6,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,34},{156,134}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{519,135},{151,135}}</string>
			<key>offset</key>
			<string>{5.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,33},{151,135}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1695,1},{149,134}}</string>
			<key>offset</key>
			<string>{5.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,33},{149,134}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1035,136},{149,135}}</string>
			<key>offset</key>
			<string>{5.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,32},{149,135}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1186,136},{149,135}}</string>
			<key>offset</key>
			<string>{5.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,31},{149,135}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{1846,1},{150,134}}</string>
			<key>offset</key>
			<string>{6,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,31},{150,134}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{1,134},{154,134}}</string>
			<key>offset</key>
			<string>{6,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,30},{154,134}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{1020,1},{159,133}}</string>
			<key>offset</key>
			<string>{5.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,30},{159,133}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1496,137},{144,147}}</string>
			<key>offset</key>
			<string>{7,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,38},{144,147}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1642,137},{146,147}}</string>
			<key>offset</key>
			<string>{8,-30.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,37},{146,147}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{456,272},{149,148}}</string>
			<key>offset</key>
			<string>{9.5,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,36},{149,148}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1790,137},{152,147}}</string>
			<key>offset</key>
			<string>{12,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,38},{152,147}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1337,136},{157,146}}</string>
			<key>offset</key>
			<string>{14.5,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,41},{157,146}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{148,271},{160,147}}</string>
			<key>offset</key>
			<string>{16,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,43},{160,147}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{607,272},{161,148}}</string>
			<key>offset</key>
			<string>{17.5,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,44},{161,148}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{770,272},{157,148}}</string>
			<key>offset</key>
			<string>{16.5,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,44},{157,148}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{929,273},{152,148}}</string>
			<key>offset</key>
			<string>{14,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,44},{152,148}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1083,273},{147,148}}</string>
			<key>offset</key>
			<string>{11.5,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,42},{147,148}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,270},{145,148}}</string>
			<key>offset</key>
			<string>{8.5,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,40},{145,148}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
		<key>sirius_01_f_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{310,271},{144,148}}</string>
			<key>offset</key>
			<string>{7,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,39},{144,148}}</string>
			<key>sourceSize</key>
			<string>{182,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1997,422}</string>
		<key>textureFileName</key>
		<string>sirius_01_f_adult_w.png</string>
	</dict>
</dict>
</plist>
