<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_02_f_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{181,186},{181,189}}</string>
			<key>offset</key>
			<string>{-0.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,37},{181,189}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{746,186},{184,192}}</string>
			<key>offset</key>
			<string>{1,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,37},{184,192}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{932,186},{185,192}}</string>
			<key>offset</key>
			<string>{2.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,38},{185,192}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1499,188},{186,194}}</string>
			<key>offset</key>
			<string>{4,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,38},{186,194}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1310,188},{187,193}}</string>
			<key>offset</key>
			<string>{4.5,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,39},{187,193}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1119,187},{189,192}}</string>
			<key>offset</key>
			<string>{4.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,40},{189,192}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{555,186},{189,191}}</string>
			<key>offset</key>
			<string>{4.5,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,41},{189,191}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{364,186},{189,189}}</string>
			<key>offset</key>
			<string>{4.5,-30.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,43},{189,189}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1789,1},{186,186}}</string>
			<key>offset</key>
			<string>{5,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,44},{186,186}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1602,1},{185,185}}</string>
			<key>offset</key>
			<string>{3.5,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,44},{185,185}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{356,1},{182,183}}</string>
			<key>offset</key>
			<string>{2,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,45},{182,183}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{540,1},{179,183}}</string>
			<key>offset</key>
			<string>{-0.5,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,44},{179,183}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{176,182}}</string>
			<key>offset</key>
			<string>{-2,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,44},{176,182}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{179,1},{175,182}}</string>
			<key>offset</key>
			<string>{-1.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,43},{175,182}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{721,1},{175,183}}</string>
			<key>offset</key>
			<string>{-1.5,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,41},{175,183}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{898,1},{174,183}}</string>
			<key>offset</key>
			<string>{-2,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,40},{174,183}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1074,1},{173,183}}</string>
			<key>offset</key>
			<string>{-1.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,39},{173,183}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{1249,1},{174,184}}</string>
			<key>offset</key>
			<string>{-2,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,38},{174,184}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{1425,1},{175,185}}</string>
			<key>offset</key>
			<string>{-2.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,38},{175,185}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{1,185},{178,188}}</string>
			<key>offset</key>
			<string>{-2,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,37},{178,188}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{185,377},{181,203}}</string>
			<key>offset</key>
			<string>{2.5,-33.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,39},{181,203}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,377},{182,202}}</string>
			<key>offset</key>
			<string>{5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,39},{182,202}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1687,189},{185,201}}</string>
			<key>offset</key>
			<string>{7.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,39},{185,201}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{551,379},{188,203}}</string>
			<key>offset</key>
			<string>{10,-33.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,39},{188,203}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{741,380},{182,204}}</string>
			<key>offset</key>
			<string>{7,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,39},{182,204}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1110,381},{184,205}}</string>
			<key>offset</key>
			<string>{9,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,42},{184,205}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1484,384},{186,206}}</string>
			<key>offset</key>
			<string>{9,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,43},{186,206}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1296,383},{186,205}}</string>
			<key>offset</key>
			<string>{8,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,43},{186,205}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1856,392},{182,207}}</string>
			<key>offset</key>
			<string>{2,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,41},{182,207}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1672,392},{182,206}}</string>
			<key>offset</key>
			<string>{1,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,41},{182,206}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{925,380},{183,205}}</string>
			<key>offset</key>
			<string>{1.5,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,40},{183,205}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
		<key>sirius_02_f_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{368,377},{181,203}}</string>
			<key>offset</key>
			<string>{1.5,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,40},{181,203}}</string>
			<key>sourceSize</key>
			<string>{202,214}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2039,600}</string>
		<key>textureFileName</key>
		<string>sirius_02_f_adult_w.png</string>
	</dict>
</dict>
</plist>
