<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signaturecloud/holding/holding_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{90,120}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,25},{90,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/holding/holding_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{90,130}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,15},{90,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{90,126}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{90,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1918},{90,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,29},{90,116}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{90,130}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{90,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{90,120}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{90,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{90,126}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,14},{90,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{90,130}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{90,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{90,126}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{90,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{90,120}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{90,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{90,126}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,14},{90,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/move/move_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{90,130}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{90,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/move/move_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{90,126}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{90,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/touch/touch_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{90,126}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{90,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/touch/touch_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{90,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,25},{90,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/touch/touch_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,130}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{100,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturecloud/touch/touch_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{96,126}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{96,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signaturecloud.png</string>
            <key>size</key>
            <string>{104,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e537d8aa66bb03c2d54f84d72e0a11b:df54ddb213e5ed0ff8f979fad3fc7728:bb2d90505587018c6acb2f154d7d2cb2$</string>
            <key>textureFileName</key>
            <string>signaturecloud.png</string>
        </dict>
    </dict>
</plist>
