<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellowmushroom/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{92,80}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{92,80}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{96,80}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{96,80}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,112}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,112}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{108,96}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{108,96}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{92,80}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{92,80}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{96,64}}</string>
                <key>offset</key>
                <string>{14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{96,64}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{60,1218},{128,48}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,64},{128,48}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{132,56}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,56},{132,56}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{92,56}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{92,56}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{92,76}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{92,76}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{112,84}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{112,84}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{124,84}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,28},{124,84}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{92,80}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{92,80}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{92,84}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{92,84}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{92,72}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{92,72}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{92,72}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{92,72}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{92,84}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{92,84}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>yellowmushroom/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{92,84}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{92,84}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellowmushroom.png</string>
            <key>size</key>
            <string>{116,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a6415857dc088cbb4ca6eb3eb4aeff8:53b35013495ada365abb0d084f802c00:7312d767c947c6d07d7692ceb72dc0ec$</string>
            <key>textureFileName</key>
            <string>yellowmushroom.png</string>
        </dict>
    </dict>
</plist>
