<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gripo_01_m_hatch_rp/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{41,55}}</string>
			<key>offset</key>
			<string>{-1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,4},{41,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{444,1},{40,56}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{40,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{86,1},{40,55}}</string>
			<key>offset</key>
			<string>{-1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{40,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{572,1},{41,56}}</string>
			<key>offset</key>
			<string>{-0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{41,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{914,1},{40,57}}</string>
			<key>offset</key>
			<string>{-1,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{40,57}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{956,1},{40,57}}</string>
			<key>offset</key>
			<string>{-1,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{40,57}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{998,1},{40,57}}</string>
			<key>offset</key>
			<string>{-1,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{40,57}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{615,1},{40,56}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{40,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{657,1},{41,56}}</string>
			<key>offset</key>
			<string>{-1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{41,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1040,1},{42,57}}</string>
			<key>offset</key>
			<string>{-1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{42,57}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{486,1},{41,56}}</string>
			<key>offset</key>
			<string>{-0.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{41,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{44,1},{40,55}}</string>
			<key>offset</key>
			<string>{-1,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{40,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{529,1},{41,56}}</string>
			<key>offset</key>
			<string>{-1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,4},{41,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{128,1},{51,55}}</string>
			<key>offset</key>
			<string>{-3.5,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,0},{51,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{181,1},{50,55}}</string>
			<key>offset</key>
			<string>{-3,3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{50,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{339,1},{50,55}}</string>
			<key>offset</key>
			<string>{-3,3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{50,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{391,1},{51,55}}</string>
			<key>offset</key>
			<string>{-3.5,3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,-1},{51,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1084,1},{52,57}}</string>
			<key>offset</key>
			<string>{-4,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,-1},{52,57}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{754,1},{52,56}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,0},{52,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{808,1},{51,56}}</string>
			<key>offset</key>
			<string>{-3.5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,0},{51,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{861,1},{51,56}}</string>
			<key>offset</key>
			<string>{-3.5,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,-1},{51,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1138,1},{52,57}}</string>
			<key>offset</key>
			<string>{-4,4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,-3},{52,57}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1192,1},{53,57}}</string>
			<key>offset</key>
			<string>{-4.5,4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,-3},{53,57}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{700,1},{52,56}}</string>
			<key>offset</key>
			<string>{-4,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,-1},{52,56}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{233,1},{51,55}}</string>
			<key>offset</key>
			<string>{-3.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{51,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>gripo_01_m_hatch_rp/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{286,1},{51,55}}</string>
			<key>offset</key>
			<string>{-3.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{51,55}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1246,59}</string>
		<key>textureFileName</key>
		<string>gripo_01_m_hatch_rp.png</string>
	</dict>
</dict>
</plist>
