<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{409,102},{101,71}}</string>
			<key>offset</key>
			<string>{11.5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,3},{101,71}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{395,317},{101,72}}</string>
			<key>offset</key>
			<string>{11.5,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,2},{101,72}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{321,213},{102,73}}</string>
			<key>offset</key>
			<string>{12,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,2},{102,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{215,290},{103,73}}</string>
			<key>offset</key>
			<string>{12.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,2},{103,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{215,215},{104,73}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,2},{104,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,151},{105,73}}</string>
			<key>offset</key>
			<string>{13.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,2},{105,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{185,1},{105,73}}</string>
			<key>offset</key>
			<string>{13.5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,2},{105,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{107,73}}</string>
			<key>offset</key>
			<string>{13.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{107,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,76},{107,73}}</string>
			<key>offset</key>
			<string>{13.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{107,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{110,109},{106,73}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,2},{106,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{110,1},{106,73}}</string>
			<key>offset</key>
			<string>{12,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{106,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,226},{104,73}}</string>
			<key>offset</key>
			<string>{12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{104,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{260,108},{103,73}}</string>
			<key>offset</key>
			<string>{11.5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,2},{103,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{334,1},{102,73}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,2},{102,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{212,365},{102,72}}</string>
			<key>offset</key>
			<string>{11,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{102,72}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{107,367},{102,72}}</string>
			<key>offset</key>
			<string>{12,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,2},{102,72}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,375},{100,73}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,2},{100,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{320,317},{101,73}}</string>
			<key>offset</key>
			<string>{11.5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,2},{101,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{185,108},{105,73}}</string>
			<key>offset</key>
			<string>{11.5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{105,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{108,217},{105,73}}</string>
			<key>offset</key>
			<string>{12.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{105,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{107,292},{103,73}}</string>
			<key>offset</key>
			<string>{11.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,1},{103,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{396,210},{99,73}}</string>
			<key>offset</key>
			<string>{10.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,1},{99,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{409,1},{99,73}}</string>
			<key>offset</key>
			<string>{10.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,1},{99,73}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{335,105},{103,72}}</string>
			<key>offset</key>
			<string>{11.5,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,2},{103,72}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{260,1},{105,72}}</string>
			<key>offset</key>
			<string>{12.5,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,2},{105,72}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
		<key>aruruga_01_m_hatchling_b/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,301},{104,72}}</string>
			<key>offset</key>
			<string>{12,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{104,72}}</string>
			<key>sourceSize</key>
			<string>{108,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{483,449}</string>
		<key>textureFileName</key>
		<string>aruruga_01_m_hatchling_b.png</string>
	</dict>
</dict>
</plist>
