<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{426,1},{76,103}}</string>
			<key>offset</key>
			<string>{4,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,10},{76,103}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{213,459},{75,102}}</string>
			<key>offset</key>
			<string>{4.5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,10},{75,102}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{425,318},{76,102}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{76,102}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{425,422},{77,102}}</string>
			<key>offset</key>
			<string>{5.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{77,102}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{421,213},{78,103}}</string>
			<key>offset</key>
			<string>{6,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,12},{78,103}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,463},{80,103}}</string>
			<key>offset</key>
			<string>{6,-8.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,13},{80,103}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{327,214},{83,104}}</string>
			<key>offset</key>
			<string>{5.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,14},{83,104}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{219,110},{84,106}}</string>
			<key>offset</key>
			<string>{5,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,14},{84,106}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,111},{86,107}}</string>
			<key>offset</key>
			<string>{4,-11.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,14},{86,107}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{171,1},{85,107}}</string>
			<key>offset</key>
			<string>{3.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{85,107}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{84,108}}</string>
			<key>offset</key>
			<string>{2,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,13},{84,108}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{87,1},{82,107}}</string>
			<key>offset</key>
			<string>{2,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,13},{82,107}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{258,1},{80,106}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{80,106}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{340,108},{79,104}}</string>
			<key>offset</key>
			<string>{2.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,12},{79,104}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{425,108},{77,103}}</string>
			<key>offset</key>
			<string>{3.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,11},{77,103}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{219,196},{87,106}}</string>
			<key>offset</key>
			<string>{-4.5,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,12},{87,106}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{110,110},{85,107}}</string>
			<key>offset</key>
			<string>{-4.5,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-2,10},{85,107}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,199},{84,107}}</string>
			<key>offset</key>
			<string>{-5,-6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-2,9},{84,107}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{110,197},{84,107}}</string>
			<key>offset</key>
			<string>{-5,-5.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-2,8},{84,107}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{110,283},{84,106}}</string>
			<key>offset</key>
			<string>{-5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-2,8},{84,106}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{218,285},{84,105}}</string>
			<key>offset</key>
			<string>{-5,-5.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-2,9},{84,105}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{340,1},{84,105}}</string>
			<key>offset</key>
			<string>{-5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,10},{84,105}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{107,374},{85,104}}</string>
			<key>offset</key>
			<string>{-5.5,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,12},{85,104}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{213,371},{86,104}}</string>
			<key>offset</key>
			<string>{-5,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,13},{86,104}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{319,371},{87,104}}</string>
			<key>offset</key>
			<string>{-4.5,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,14},{87,104}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,374},{87,104}}</string>
			<key>offset</key>
			<string>{-4.5,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,14},{87,104}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
		<key>anurhada_02_m_hatchling_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,285},{87,106}}</string>
			<key>offset</key>
			<string>{-4.5,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,13},{87,106}}</string>
			<key>sourceSize</key>
			<string>{90,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{503,544}</string>
		<key>textureFileName</key>
		<string>anurhada_02_m_hatchling_w.png</string>
	</dict>
</dict>
</plist>
