<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pirateparrot/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{88,88}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{88,88}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{92,88}}</string>
                <key>offset</key>
                <string>{8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{108,108}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{96,92}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{96,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{88,88}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{88,88}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{88,76}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{88,76}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{84,72}}</string>
                <key>offset</key>
                <string>{24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{84,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{88,64}}</string>
                <key>offset</key>
                <string>{26,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{88,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{96,72}}</string>
                <key>offset</key>
                <string>{26,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,76},{96,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{80,64}}</string>
                <key>offset</key>
                <string>{26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{80,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{76,56}}</string>
                <key>offset</key>
                <string>{24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,80},{76,56}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{76,48}}</string>
                <key>offset</key>
                <string>{28,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,92},{76,48}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/die/die_09</key>
            <dict>
                <key>frame</key>
                <string>{{52,1548},{64,40}}</string>
                <key>offset</key>
                <string>{18,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,104},{64,40}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{88,80}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{88,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{88,88}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{88,88}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{80,84}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,16},{80,84}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{88,80}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{88,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{88,80}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{88,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{88,80}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{88,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{92,80}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{92,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{92,80}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{92,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pirateparrot/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{92,80}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{92,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pirateparrot.png</string>
            <key>size</key>
            <string>{112,1626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc56b17edc323d5a3ed4b8ecc6009cd6:3c64d7b85077d573c96d8e76feef4454:17dec00c1c0b58b3d1bc716417990446$</string>
            <key>textureFileName</key>
            <string>pirateparrot.png</string>
        </dict>
    </dict>
</plist>
