<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_01_f_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{211,362},{101,86}}</string>
			<key>offset</key>
			<string>{3.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,13},{101,86}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{107,362},{102,86}}</string>
			<key>offset</key>
			<string>{4,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,13},{102,86}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{109,274},{103,86}}</string>
			<key>offset</key>
			<string>{3.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,13},{103,86}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{209,89},{104,86}}</string>
			<key>offset</key>
			<string>{4,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,14},{104,86}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{109,186},{105,86}}</string>
			<key>offset</key>
			<string>{3.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,15},{105,86}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,188},{106,86}}</string>
			<key>offset</key>
			<string>{4,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{106,86}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{209,1},{105,86}}</string>
			<key>offset</key>
			<string>{3.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{105,86}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,276},{104,85}}</string>
			<key>offset</key>
			<string>{4,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,18},{104,85}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,363},{103,85}}</string>
			<key>offset</key>
			<string>{3.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,19},{103,85}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{415,1},{101,84}}</string>
			<key>offset</key>
			<string>{3.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,19},{101,84}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{412,185},{99,85}}</string>
			<key>offset</key>
			<string>{3.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,18},{99,85}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{418,272},{98,84}}</string>
			<key>offset</key>
			<string>{4,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,17},{98,84}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{416,87},{99,85}}</string>
			<key>offset</key>
			<string>{3.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{99,85}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{317,272},{99,85}}</string>
			<key>offset</key>
			<string>{3.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{99,85}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{412,359},{99,85}}</string>
			<key>offset</key>
			<string>{3.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{99,85}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{216,177},{98,91}}</string>
			<key>offset</key>
			<string>{-1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,18},{98,91}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,94},{101,92}}</string>
			<key>offset</key>
			<string>{-0.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,18},{101,92}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{103,91}}</string>
			<key>offset</key>
			<string>{-0.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,20},{103,91}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{104,94},{103,90}}</string>
			<key>offset</key>
			<string>{-0.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,22},{103,90}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{106,1},{101,91}}</string>
			<key>offset</key>
			<string>{-0.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,23},{101,91}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{216,270},{99,90}}</string>
			<key>offset</key>
			<string>{-0.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,24},{99,90}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{316,94},{98,89}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,23},{98,89}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{314,362},{96,90}}</string>
			<key>offset</key>
			<string>{0,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,21},{96,90}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
		<key>sirius_01_f_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{316,1},{97,91}}</string>
			<key>offset</key>
			<string>{-0.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,19},{97,91}}</string>
			<key>sourceSize</key>
			<string>{106,99}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{517,453}</string>
		<key>textureFileName</key>
		<string>sirius_01_f_hatchling_w.png</string>
	</dict>
</dict>
</plist>
