<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>darkvein_01_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{554,1},{187,139}}</string>
			<key>offset</key>
			<string>{34.5,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,52},{187,139}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{743,1},{186,139}}</string>
			<key>offset</key>
			<string>{33,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,52},{186,139}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1121,1},{186,140}}</string>
			<key>offset</key>
			<string>{32,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,52},{186,140}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1671,1},{185,141}}</string>
			<key>offset</key>
			<string>{31.5,-30.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,53},{185,141}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1858,1},{184,141}}</string>
			<key>offset</key>
			<string>{30,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,54},{184,141}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,137},{180,143}}</string>
			<key>offset</key>
			<string>{28,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,54},{180,143}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{373,139},{173,147}}</string>
			<key>offset</key>
			<string>{24.5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,51},{173,147}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1654,144},{166,157}}</string>
			<key>offset</key>
			<string>{20,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,42},{166,157}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{162,287},{158,168}}</string>
			<key>offset</key>
			<string>{16,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,32},{158,168}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1822,144},{157,178}}</string>
			<key>offset</key>
			<string>{16.5,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,23},{157,178}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1287,143},{156,182}}</string>
			<key>offset</key>
			<string>{16,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,18},{156,182}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{923,143},{155,184}}</string>
			<key>offset</key>
			<string>{16.5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,16},{155,184}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1471,143},{156,181}}</string>
			<key>offset</key>
			<string>{17,-15.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,18},{156,181}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1109,143},{155,176}}</string>
			<key>offset</key>
			<string>{17.5,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,22},{155,176}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{507,294},{160,170}}</string>
			<key>offset</key>
			<string>{21,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,26},{160,170}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1756,303},{170,167}}</string>
			<key>offset</key>
			<string>{26,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,28},{170,167}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{858,300},{179,161}}</string>
			<key>offset</key>
			<string>{30.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,32},{179,161}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{736,142},{185,153}}</string>
			<key>offset</key>
			<string>{33.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,39},{185,153}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{183,139},{188,146}}</string>
			<key>offset</key>
			<string>{35,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,45},{188,146}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{931,1},{188,140}}</string>
			<key>offset</key>
			<string>{35,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,51},{188,140}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{365,1},{187,136}}</string>
			<key>offset</key>
			<string>{34.5,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,50},{187,136}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{182,134}}</string>
			<key>offset</key>
			<string>{34,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,53},{182,134}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{185,1},{178,135}}</string>
			<key>offset</key>
			<string>{32,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,53},{178,135}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1499,1},{170,140}}</string>
			<key>offset</key>
			<string>{28,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,50},{170,140}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,282},{159,157}}</string>
			<key>offset</key>
			<string>{20.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,36},{159,157}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{332,288},{159,173}}</string>
			<key>offset</key>
			<string>{19.5,-14.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,21},{159,173}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1039,300},{161,183}}</string>
			<key>offset</key>
			<string>{18.5,-10.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,12},{161,183}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1224,301},{163,184}}</string>
			<key>offset</key>
			<string>{17.5,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,9},{163,184}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1410,301},{164,177}}</string>
			<key>offset</key>
			<string>{18,-9.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,14},{164,177}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1589,303},{165,165}}</string>
			<key>offset</key>
			<string>{18.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,24},{165,165}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{679,297},{177,160}}</string>
			<key>offset</key>
			<string>{25.5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,27},{177,160}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{548,142},{186,150}}</string>
			<key>offset</key>
			<string>{32,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,37},{186,150}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
		<key>darkvein_01_m_adult_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1309,1},{188,140}}</string>
			<key>offset</key>
			<string>{34,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,46},{188,140}}</string>
			<key>sourceSize</key>
			<string>{196,186}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2043,471}</string>
		<key>textureFileName</key>
		<string>darkvein_01_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
