<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeletonarcher/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{149,1},{106,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeletonarcher/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{122,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,385},{122,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{118,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,481},{118,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,289},{130,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{146,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{105,613},{94,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeletonarcher/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{118,102}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{125,409},{118,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-20}</string>
                <key>spriteSize</key>
                <string>{142,54}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,161},{142,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{138,70}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,217},{138,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{146,62}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,97},{146,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,769},{94,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeletonarcher/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{105,613},{94,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeletonarcher/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{121,513},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{141,217},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{133,313},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{149,109},{106,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeletonarcher/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,577},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{101,805},{98,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeletonarcher/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{1,673},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeletonarcher/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,108}</string>
                <key>textureRect</key>
                <string>{{101,709},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skeletonarcher.png</string>
            <key>size</key>
            <string>{248,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90942532345eb56bd09f2023a985048c:872d75acda5616e33cfb4217d362e5f4:7bdb98522ce7672ee934db5cd5f7ead6$</string>
            <key>textureFileName</key>
            <string>skeletonarcher.png</string>
        </dict>
    </dict>
</plist>
