<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>rexton_01_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{185,133}}</string>
			<key>offset</key>
			<string>{16.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,6},{185,133}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,136},{185,133}}</string>
			<key>offset</key>
			<string>{17.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{185,133}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{375,135},{184,133}}</string>
			<key>offset</key>
			<string>{18,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{184,133}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,271},{183,132}}</string>
			<key>offset</key>
			<string>{18.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,7},{183,132}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{371,404},{182,132}}</string>
			<key>offset</key>
			<string>{18,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,7},{182,132}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{561,1},{182,132}}</string>
			<key>offset</key>
			<string>{18,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,7},{182,132}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{561,259},{181,132}}</string>
			<key>offset</key>
			<string>{16.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{181,132}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{560,393},{181,131}}</string>
			<key>offset</key>
			<string>{15.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{181,131}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{555,526},{181,131}}</string>
			<key>offset</key>
			<string>{14.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,8},{181,131}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,665},{181,131}}</string>
			<key>offset</key>
			<string>{13.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{181,131}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,532},{182,131}}</string>
			<key>offset</key>
			<string>{13,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{182,131}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{185,532},{182,132}}</string>
			<key>offset</key>
			<string>{13,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{182,132}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{375,270},{183,132}}</string>
			<key>offset</key>
			<string>{13.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{183,132}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{375,1},{184,132}}</string>
			<key>offset</key>
			<string>{14,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{184,132}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{188,1},{185,133}}</string>
			<key>offset</key>
			<string>{15.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,6},{185,133}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{186,394},{183,131}}</string>
			<key>offset</key>
			<string>{15.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,8},{183,131}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{188,136},{185,126}}</string>
			<key>offset</key>
			<string>{16.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,10},{185,126}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{188,264},{185,128}}</string>
			<key>offset</key>
			<string>{17.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{185,128}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,405},{183,125}}</string>
			<key>offset</key>
			<string>{18.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,7},{183,125}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{561,135},{182,122}}</string>
			<key>offset</key>
			<string>{18,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,9},{182,122}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{184,666},{180,120}}</string>
			<key>offset</key>
			<string>{17,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,9},{180,120}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{552,659},{180,118}}</string>
			<key>offset</key>
			<string>{15,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,9},{180,118}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{366,669},{180,129}}</string>
			<key>offset</key>
			<string>{14,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,9},{180,129}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{745,1},{179,128}}</string>
			<key>offset</key>
			<string>{13.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,9},{179,128}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{744,262},{178,129}}</string>
			<key>offset</key>
			<string>{13,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,8},{178,129}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{743,524},{175,131}}</string>
			<key>offset</key>
			<string>{13.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{175,131}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{734,659},{175,130}}</string>
			<key>offset</key>
			<string>{14.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,7},{175,130}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{743,393},{176,129}}</string>
			<key>offset</key>
			<string>{15,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,9},{176,129}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{745,131},{178,129}}</string>
			<key>offset</key>
			<string>{15,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,9},{178,129}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
		<key>rexton_01_m_adult_bk/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{369,538},{181,129}}</string>
			<key>offset</key>
			<string>{15.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,9},{181,129}}</string>
			<key>sourceSize</key>
			<string>{192,137}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{925,799}</string>
		<key>textureFileName</key>
		<string>rexton_01_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
