<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>babycarrotpillar/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{105,481},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1,105},{86,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>babycarrotpillar/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-3}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{97,289},{138,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-3}</string>
                <key>spriteSize</key>
                <string>{134,94}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1,385},{134,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{97,197},{90,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>babycarrotpillar/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1,285},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{114,50}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-25}</string>
                <key>spriteSize</key>
                <string>{122,50}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{117,1},{122,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-25}</string>
                <key>spriteSize</key>
                <string>{110,50}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1,53},{110,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-25}</string>
                <key>spriteSize</key>
                <string>{118,50}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{113,53},{118,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{105,481},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1,193},{90,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>babycarrotpillar/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{97,197},{90,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>babycarrotpillar/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{105,481},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{137,385},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1,577},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{103,105},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1,481},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babycarrotpillar/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{105,581},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>babycarrotpillar.png</string>
            <key>size</key>
            <string>{240,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebee9fbc32c218f04dad4f3fa33d887b:0999511bb616b58ee79ad1ae5a33f92a:d5a02e2eedc5fafe97ad73b39d635c2e$</string>
            <key>textureFileName</key>
            <string>babycarrotpillar.png</string>
        </dict>
    </dict>
</plist>
