<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magpiedragon_gold/idle/idle_00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{144,104}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{751,107},{144,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{144,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{747,213},{144,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{144,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{1,309},{144,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{144,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{147,311},{144,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{144,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{293,313},{144,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{146,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{439,315},{146,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{146,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{587,315},{146,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{735,321},{148,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,106}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{289,421},{148,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{148,104}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{147,205},{148,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{148,104}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{297,207},{148,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{148,102}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{581,1},{148,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{146,102}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{731,1},{146,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{146,102}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{1,99},{146,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/idle/idle_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{144,104}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{1,203},{144,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/move/move_00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{893,249},{142,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>magpiedragon_gold/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{142,110}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{885,393},{142,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>magpiedragon_gold/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{735,429},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,106}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1,417},{142,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{140,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{897,107},{140,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>magpiedragon_gold/move/move_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{142,110}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{879,537},{142,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/move/move_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{142,110}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{743,539},{142,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>magpiedragon_gold/move/move_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1,525},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/move/move_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{142,104}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{879,1},{142,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/move/move_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,106}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{145,419},{142,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/move/move_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{145,527},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{144,106}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{439,423},{144,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{146,104}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{447,209},{146,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,102}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{149,101},{152,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{152,108}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{439,531},{152,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{138,96}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{141,1},{138,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{281,1},{150,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{289,529},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{148,102}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{303,103},{148,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{148,102}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{453,105},{148,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{595,209},{150,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{148,106}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{585,423},{148,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{593,539},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{146,102}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{603,105},{146,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_gold/run/run_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{146,100}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{433,1},{146,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magpiedragon_gold.png</string>
            <key>size</key>
            <string>{1022,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:740a4997ae58b917cefb46217a5437c0:22a35c827875f851560867fe03e5b1fa:6b26bad1929461ab299c9fdccf6ca4d8$</string>
            <key>textureFileName</key>
            <string>magpiedragon_gold.png</string>
        </dict>
    </dict>
</plist>
