<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>darkvein_02_f_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,188},{209,186}}</string>
			<key>offset</key>
			<string>{23.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,13},{209,186}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{420,190},{208,185}}</string>
			<key>offset</key>
			<string>{23,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,13},{208,185}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,376},{207,186}}</string>
			<key>offset</key>
			<string>{22.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,12},{207,186}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{423,1},{205,187}}</string>
			<key>offset</key>
			<string>{21.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,12},{205,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,564},{203,187}}</string>
			<key>offset</key>
			<string>{20.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,13},{203,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{632,190},{199,186}}</string>
			<key>offset</key>
			<string>{18.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,15},{199,186}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{606,751},{198,185}}</string>
			<key>offset</key>
			<string>{18,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,17},{198,185}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{405,746},{199,185}}</string>
			<key>offset</key>
			<string>{18.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,18},{199,185}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{201,756},{200,184}}</string>
			<key>offset</key>
			<string>{19,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,20},{200,184}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{806,751},{200,182}}</string>
			<key>offset</key>
			<string>{19,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,22},{200,182}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{632,378},{201,182}}</string>
			<key>offset</key>
			<string>{19.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,23},{201,182}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{829,562},{201,180}}</string>
			<key>offset</key>
			<string>{19.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,24},{201,180}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1030,184},{201,179}}</string>
			<key>offset</key>
			<string>{19.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,25},{201,179}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{835,373},{201,180}}</string>
			<key>offset</key>
			<string>{19.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,24},{201,180}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{403,933},{201,180}}</string>
			<key>offset</key>
			<string>{19.5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,23},{201,180}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{806,935},{201,180}}</string>
			<key>offset</key>
			<string>{19.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,22},{201,180}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{830,1},{202,181}}</string>
			<key>offset</key>
			<string>{20,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,20},{202,181}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{417,562},{208,182}}</string>
			<key>offset</key>
			<string>{23,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,18},{208,182}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{420,377},{210,183}}</string>
			<key>offset</key>
			<string>{24,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,17},{210,183}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{211,185}}</string>
			<key>offset</key>
			<string>{24.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,15},{211,185}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{212,190},{206,187}}</string>
			<key>offset</key>
			<string>{25,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,12},{206,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{627,562},{200,187}}</string>
			<key>offset</key>
			<string>{25,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,12},{200,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1032,555},{193,187}}</string>
			<key>offset</key>
			<string>{24.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,13},{193,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,941},{184,188}}</string>
			<key>offset</key>
			<string>{21,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,14},{184,188}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1009,934},{186,187}}</string>
			<key>offset</key>
			<string>{22,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,16},{186,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1038,365},{188,187}}</string>
			<key>offset</key>
			<string>{22,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,17},{188,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1008,744},{192,188}}</string>
			<key>offset</key>
			<string>{22,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,17},{192,188}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{833,184},{195,187}}</string>
			<key>offset</key>
			<string>{20.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,17},{195,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{206,567},{197,187}}</string>
			<key>offset</key>
			<string>{19.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,16},{197,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{630,1},{198,187}}</string>
			<key>offset</key>
			<string>{18,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,15},{198,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,753},{198,186}}</string>
			<key>offset</key>
			<string>{17,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,14},{198,186}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{210,379},{205,186}}</string>
			<key>offset</key>
			<string>{21.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,13},{205,186}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
		<key>darkvein_02_f_adult_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{214,1},{207,187}}</string>
			<key>offset</key>
			<string>{24.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,12},{207,187}}</string>
			<key>sourceSize</key>
			<string>{214,198}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1232,1130}</string>
		<key>textureFileName</key>
		<string>darkvein_02_f_adult_w.png</string>
	</dict>
</dict>
</plist>
