<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_05_m_adult_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{238,724},{197,183}}</string>
			<key>offset</key>
			<string>{6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,15},{197,183}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{488,363},{228,183}}</string>
			<key>offset</key>
			<string>{21,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,15},{228,183}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,367},{237,182}}</string>
			<key>offset</key>
			<string>{25.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,17},{237,182}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,183},{245,182}}</string>
			<key>offset</key>
			<string>{30.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,19},{245,182}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{248,180}}</string>
			<key>offset</key>
			<string>{32,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,22},{248,180}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{248,183},{245,178}}</string>
			<key>offset</key>
			<string>{32.5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,26},{245,178}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{251,1},{241,177}}</string>
			<key>offset</key>
			<string>{31.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,29},{241,177}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{240,547},{235,175}}</string>
			<key>offset</key>
			<string>{29.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,33},{235,175}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,551},{235,173}}</string>
			<key>offset</key>
			<string>{25.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,36},{235,173}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{477,548},{237,171}}</string>
			<key>offset</key>
			<string>{23.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,38},{237,171}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{727,172},{226,170}}</string>
			<key>offset</key>
			<string>{28,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,38},{226,170}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{950,344},{200,169}}</string>
			<key>offset</key>
			<string>{15,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,38},{200,169}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{200,909},{199,170}}</string>
			<key>offset</key>
			<string>{13.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,35},{199,170}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,909},{197,172}}</string>
			<key>offset</key>
			<string>{11.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,31},{197,172}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{437,899},{196,174}}</string>
			<key>offset</key>
			<string>{10,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,27},{196,174}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{697,891},{196,178}}</string>
			<key>offset</key>
			<string>{8,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,22},{196,178}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1,726},{196,181}}</string>
			<key>offset</key>
			<string>{7,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,17},{196,181}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{895,891},{194,174}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,14},{194,174}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{477,721},{218,176}}</string>
			<key>offset</key>
			<string>{27,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,13},{218,176}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{494,1},{231,180}}</string>
			<key>offset</key>
			<string>{35.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,15},{231,180}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{248,363},{238,182}}</string>
			<key>offset</key>
			<string>{41,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,20},{238,182}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{495,183},{230,178}}</string>
			<key>offset</key>
			<string>{41,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,27},{230,178}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{718,363},{230,173}}</string>
			<key>offset</key>
			<string>{35,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,33},{230,173}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{716,548},{234,172}}</string>
			<key>offset</key>
			<string>{29,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,34},{234,172}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{727,1},{234,169}}</string>
			<key>offset</key>
			<string>{25,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,34},{234,169}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{697,722},{212,167}}</string>
			<key>offset</key>
			<string>{35,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,33},{212,167}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{963,1},{194,164}}</string>
			<key>offset</key>
			<string>{22,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,32},{194,164}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{952,515},{193,161}}</string>
			<key>offset</key>
			<string>{18.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,32},{193,161}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{911,722},{192,163}}</string>
			<key>offset</key>
			<string>{15,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,27},{192,163}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
		<key>makoa_05_m_adult_pb/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{955,172},{193,169}}</string>
			<key>offset</key>
			<string>{13.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,20},{193,169}}</string>
			<key>sourceSize</key>
			<string>{258,202}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1158,1082}</string>
		<key>textureFileName</key>
		<string>makoa_05_m_adult_pb.png</string>
	</dict>
</dict>
</plist>
