<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>selora_01_f_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{213,393},{103,96}}</string>
			<key>offset</key>
			<string>{12.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{103,96}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{318,393},{102,96}}</string>
			<key>offset</key>
			<string>{12,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{102,96}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{422,393},{101,96}}</string>
			<key>offset</key>
			<string>{11.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{101,96}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{430,295},{101,95}}</string>
			<key>offset</key>
			<string>{11.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{101,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{439,102},{102,95}}</string>
			<key>offset</key>
			<string>{12,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{102,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{328,198},{103,95}}</string>
			<key>offset</key>
			<string>{12.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{103,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{333,1},{105,95}}</string>
			<key>offset</key>
			<string>{13.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{105,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{220,198},{106,95}}</string>
			<key>offset</key>
			<string>{14,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{106,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,296},{106,95}}</string>
			<key>offset</key>
			<string>{14,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{106,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{109,296},{106,95}}</string>
			<key>offset</key>
			<string>{14,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{106,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{217,295},{105,96}}</string>
			<key>offset</key>
			<string>{13.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{105,96}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{324,295},{104,96}}</string>
			<key>offset</key>
			<string>{13,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{104,96}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{333,98},{104,98}}</string>
			<key>offset</key>
			<string>{12,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,4},{104,98}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,393},{104,98}}</string>
			<key>offset</key>
			<string>{13,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,4},{104,98}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,197},{108,97}}</string>
			<key>offset</key>
			<string>{14,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{108,97}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{113,1},{109,96}}</string>
			<key>offset</key>
			<string>{13.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,6},{109,96}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,98},{110,97}}</string>
			<key>offset</key>
			<string>{13,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,5},{110,97}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{224,1},{107,98}}</string>
			<key>offset</key>
			<string>{12.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,4},{107,98}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{107,393},{104,98}}</string>
			<key>offset</key>
			<string>{12,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,4},{104,98}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{440,1},{104,99}}</string>
			<key>offset</key>
			<string>{13,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,4},{104,99}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{224,101},{107,95}}</string>
			<key>offset</key>
			<string>{13.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{107,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{113,99},{109,94}}</string>
			<key>offset</key>
			<string>{13.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,6},{109,94}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{110,95}}</string>
			<key>offset</key>
			<string>{13,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,5},{110,95}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
		<key>selora_01_f_hatchling_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{111,197},{107,96}}</string>
			<key>offset</key>
			<string>{12.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,4},{107,96}}</string>
			<key>sourceSize</key>
			<string>{114,101}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{545,492}</string>
		<key>textureFileName</key>
		<string>selora_01_f_hatchling_w.png</string>
	</dict>
</dict>
</plist>
