<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signatureflowerdragon/holding/holding_01</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{80,110}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/holding/holding_02</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{80,110}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{80,106}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,39},{80,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,116}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{80,116}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/move/move_07</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/move/move_08</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/touch/touch_01</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/touch/touch_02</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{80,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{80,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/touch/touch_03</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{96,110}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{96,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signatureflowerdragon/touch/touch_04</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{90,110}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{90,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signatureflowerdragon.png</string>
            <key>size</key>
            <string>{1340,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ca737cbd7db8db9d4db646dadc2956e:2357cc35aed869f2dc7f7fb5728a9342:caf5a671908a6c03feb7f6673ce63af3$</string>
            <key>textureFileName</key>
            <string>signatureflowerdragon.png</string>
        </dict>
    </dict>
</plist>
