<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>antares_01_m_prism_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{882,1},{206,182}}</string>
			<key>offset</key>
			<string>{9,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{206,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{854,740},{208,183}}</string>
			<key>offset</key>
			<string>{9,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,16},{208,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{666,370},{211,183}}</string>
			<key>offset</key>
			<string>{8.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{211,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{666,185},{213,183}}</string>
			<key>offset</key>
			<string>{7.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{213,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{223,553},{217,183}}</string>
			<key>offset</key>
			<string>{7.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{217,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{446,185},{218,183}}</string>
			<key>offset</key>
			<string>{7,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{218,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{221,183}}</string>
			<key>offset</key>
			<string>{6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{221,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{224,185},{220,182}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{220,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{224,369},{220,182}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{220,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{447,1},{218,182}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{218,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,555},{216,182}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,10},{216,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{667,1},{213,182}}</string>
			<key>offset</key>
			<string>{7.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,11},{213,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{642,740},{210,182}}</string>
			<key>offset</key>
			<string>{8,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{210,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{876,555},{208,183}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,13},{208,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{879,371},{206,182}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,15},{206,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,924},{206,182}}</string>
			<key>offset</key>
			<string>{9,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,16},{206,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{642,924},{205,184}}</string>
			<key>offset</key>
			<string>{-6.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,18},{205,184}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{213,923},{205,184}}</string>
			<key>offset</key>
			<string>{-6.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,18},{205,184}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{881,185},{206,184}}</string>
			<key>offset</key>
			<string>{-7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,17},{206,184}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,739},{210,183}}</string>
			<key>offset</key>
			<string>{-8,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,16},{210,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{660,555},{214,183}}</string>
			<key>offset</key>
			<string>{-9,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,14},{214,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{446,370},{218,183}}</string>
			<key>offset</key>
			<string>{-10,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-7,13},{218,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,186},{221,183}}</string>
			<key>offset</key>
			<string>{-10.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-9,12},{221,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{224,1},{221,182}}</string>
			<key>offset</key>
			<string>{-10.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-9,13},{221,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,371},{220,182}}</string>
			<key>offset</key>
			<string>{-10,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-8,14},{220,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{442,555},{216,182}}</string>
			<key>offset</key>
			<string>{-9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,15},{216,182}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{219,738},{211,183}}</string>
			<key>offset</key>
			<string>{-7.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,16},{211,183}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
		<key>antares_01_m_prism_bg/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{432,739},{208,184}}</string>
			<key>offset</key>
			<string>{-7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,17},{208,184}}</string>
			<key>sourceSize</key>
			<string>{224,194}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1089,1109}</string>
		<key>textureFileName</key>
		<string>antares_01_m_prism_bg.png</string>
	</dict>
</dict>
</plist>
