<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,368},{104,72}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{104,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{112,294},{105,72}}</string>
			<key>offset</key>
			<string>{9.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{105,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{329,364},{105,72}}</string>
			<key>offset</key>
			<string>{9.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{105,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,222},{106,72}}</string>
			<key>offset</key>
			<string>{10,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{106,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,148},{107,72}}</string>
			<key>offset</key>
			<string>{10.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{107,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{219,292},{108,71}}</string>
			<key>offset</key>
			<string>{11,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,3},{108,71}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{114,1},{109,71}}</string>
			<key>offset</key>
			<string>{11.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,3},{109,71}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{219,220},{110,70}}</string>
			<key>offset</key>
			<string>{11,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{110,70}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{222,74},{110,70}}</string>
			<key>offset</key>
			<string>{11,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{110,70}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{225,1},{110,70}}</string>
			<key>offset</key>
			<string>{11,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{110,70}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{111,74},{109,71}}</string>
			<key>offset</key>
			<string>{10.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,3},{109,71}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{222,146},{108,71}}</string>
			<key>offset</key>
			<string>{10,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,3},{108,71}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{331,219},{107,71}}</string>
			<key>offset</key>
			<string>{9.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,3},{107,71}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{334,73},{105,72}}</string>
			<key>offset</key>
			<string>{9.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{105,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{107,368},{104,72}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{104,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{110,220},{107,72}}</string>
			<key>offset</key>
			<string>{9.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,2},{107,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{219,365},{105,72}}</string>
			<key>offset</key>
			<string>{8.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,2},{105,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{337,1},{106,70}}</string>
			<key>offset</key>
			<string>{9,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{106,70}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,296},{109,70}}</string>
			<key>offset</key>
			<string>{9.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,4},{109,70}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{111,71}}</string>
			<key>offset</key>
			<string>{9.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,3},{111,71}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,74},{108,72}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,1},{108,72}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{326,438},{104,71}}</string>
			<key>offset</key>
			<string>{8,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,2},{104,71}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{213,439},{103,70}}</string>
			<key>offset</key>
			<string>{8.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,3},{103,70}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{332,147},{106,69}}</string>
			<key>offset</key>
			<string>{10,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,4},{106,69}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{329,292},{109,70}}</string>
			<key>offset</key>
			<string>{10.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,3},{109,70}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
		<key>aruruga_01_f_hatchling_b/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{111,147},{109,71}}</string>
			<key>offset</key>
			<string>{9.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{109,71}}</string>
			<key>sourceSize</key>
			<string>{112,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{444,510}</string>
		<key>textureFileName</key>
		<string>aruruga_01_f_hatchling_b.png</string>
	</dict>
</dict>
</plist>
