<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redmushroom/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{88,76}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{88,76}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{96,76}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{96,76}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,112}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,112}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{108,92}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{108,92}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{88,76}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{88,76}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{92,60}}</string>
                <key>offset</key>
                <string>{12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{92,60}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{128,48}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,64},{128,48}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{132,48}}</string>
                <key>offset</key>
                <string>{16,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,64},{132,48}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{88,48}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,64},{88,48}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{52,694},{88,72}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{88,72}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,80}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{96,80}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{120,84}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{120,84}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{88,76}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{88,76}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{52,784},{88,72}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{88,72}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{52,964},{88,68}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,44},{88,68}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{88,68}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{88,68}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{88,80}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{88,80}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>redmushroom/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{52,874},{88,72}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{88,72}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redmushroom.png</string>
            <key>size</key>
            <string>{128,1186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca307e40b97f472020bc3e0803aaed50:1db1ea97c4842ae8bc9076649a24f72a:7b756272e38bc91ff32ac19e0d5f38e0$</string>
            <key>textureFileName</key>
            <string>redmushroom.png</string>
        </dict>
    </dict>
</plist>
