<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gripo_03_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{633,138},{146,134}}</string>
			<key>offset</key>
			<string>{-3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,22},{146,134}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{462,421},{148,136}}</string>
			<key>offset</key>
			<string>{-2,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,18},{148,136}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,420},{150,138}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,15},{150,138}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{170,140},{153,139}}</string>
			<key>offset</key>
			<string>{0.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,13},{153,139}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{157,139}}</string>
			<key>offset</key>
			<string>{0.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{157,139}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,279},{153,139}}</string>
			<key>offset</key>
			<string>{-1.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,17},{153,139}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{317,281},{152,138}}</string>
			<key>offset</key>
			<string>{-2,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{152,138}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{310,421},{150,136}}</string>
			<key>offset</key>
			<string>{-3,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,24},{150,136}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{480,1},{151,134}}</string>
			<key>offset</key>
			<string>{-4.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,25},{151,134}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{632,274},{146,132}}</string>
			<key>offset</key>
			<string>{-3,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,25},{146,132}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{326,138},{151,136}}</string>
			<key>offset</key>
			<string>{-4.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,14},{151,136}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{153,420},{155,137}}</string>
			<key>offset</key>
			<string>{-4.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,11},{155,137}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{156,281},{159,137}}</string>
			<key>offset</key>
			<string>{-4.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{159,137}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{160,1},{164,137}}</string>
			<key>offset</key>
			<string>{-4,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,12},{164,137}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,142},{167,135}}</string>
			<key>offset</key>
			<string>{-3.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,16},{167,135}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{326,1},{152,135}}</string>
			<key>offset</key>
			<string>{-9,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{152,135}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{471,276},{150,135}}</string>
			<key>offset</key>
			<string>{-8,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,22},{150,135}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{612,413},{149,135}}</string>
			<key>offset</key>
			<string>{-7.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,23},{149,135}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{633,1},{149,135}}</string>
			<key>offset</key>
			<string>{-6.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,21},{149,135}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>gripo_03_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{479,138},{151,136}}</string>
			<key>offset</key>
			<string>{-5.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,17},{151,136}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{783,559}</string>
		<key>textureFileName</key>
		<string>gripo_03_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
