<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zone_02/wrecked_ship_anchor_01</key>
            <dict>
                <key>frame</key>
                <string>{{294,1472},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,64}</string>
            </dict>
            <key>zone_02/wrecked_ship_anchor_02</key>
            <dict>
                <key>frame</key>
                <string>{{88,1916},{108,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,88}}</string>
                <key>sourceSize</key>
                <string>{108,88}</string>
            </dict>
            <key>zone_02/wrecked_ship_anchor_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{188,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,164}}</string>
                <key>sourceSize</key>
                <string>{188,164}</string>
            </dict>
            <key>zone_02/wrecked_ship_barrel_01</key>
            <dict>
                <key>frame</key>
                <string>{{178,1868},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>zone_02/wrecked_ship_barrel_02</key>
            <dict>
                <key>frame</key>
                <string>{{242,1794},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>zone_02/wrecked_ship_barrel_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>zone_02/wrecked_ship_bundle_01</key>
            <dict>
                <key>frame</key>
                <string>{{124,1770},{116,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,84}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
            <key>zone_02/wrecked_ship_bundle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{132,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>zone_02/wrecked_ship_bundle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{188,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,120}}</string>
                <key>sourceSize</key>
                <string>{188,120}</string>
            </dict>
            <key>zone_02/wrecked_ship_fruittree_01</key>
            <dict>
                <key>frame</key>
                <string>{{204,948},{152,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,180}}</string>
                <key>sourceSize</key>
                <string>{152,180}</string>
            </dict>
            <key>zone_02/wrecked_ship_fruittree_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{148,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,228}}</string>
                <key>sourceSize</key>
                <string>{148,228}</string>
            </dict>
            <key>zone_02/wrecked_ship_fruittree_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,264}}</string>
                <key>sourceSize</key>
                <string>{228,264}</string>
            </dict>
            <key>zone_02/wrecked_ship_glacier_01</key>
            <dict>
                <key>frame</key>
                <string>{{266,1712},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>zone_02/wrecked_ship_glacier_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>zone_02/wrecked_ship_glacier_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,144}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>zone_02/wrecked_ship_nest_01</key>
            <dict>
                <key>frame</key>
                <string>{{286,1586},{124,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,72}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>zone_02/wrecked_ship_nest_02</key>
            <dict>
                <key>frame</key>
                <string>{{192,1130},{164,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,84}}</string>
                <key>sourceSize</key>
                <string>{164,84}</string>
            </dict>
            <key>zone_02/wrecked_ship_nest_03</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{164,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,92}}</string>
                <key>sourceSize</key>
                <string>{164,92}</string>
            </dict>
            <key>zone_02/wrecked_ship_sand_01</key>
            <dict>
                <key>frame</key>
                <string>{{144,1586},{140,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,88}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>zone_02/wrecked_ship_sand_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>zone_02/wrecked_ship_sand_03</key>
            <dict>
                <key>frame</key>
                <string>{{256,322},{220,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,104}}</string>
                <key>sourceSize</key>
                <string>{220,104}</string>
            </dict>
            <key>zone_02/wrecked_ship_signature_01</key>
            <dict>
                <key>frame</key>
                <string>{{136,1676},{128,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>zone_02/wrecked_ship_signature_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{200,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>zone_02/wrecked_ship_signature_03</key>
            <dict>
                <key>frame</key>
                <string>{{228,544},{132,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,212}}</string>
                <key>sourceSize</key>
                <string>{132,212}</string>
            </dict>
            <key>zone_02/wrecked_ship_steering_01</key>
            <dict>
                <key>frame</key>
                <string>{{148,1472},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>zone_02/wrecked_ship_steering_02</key>
            <dict>
                <key>frame</key>
                <string>{{268,168},{152,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,92}}</string>
                <key>sourceSize</key>
                <string>{152,92}</string>
            </dict>
            <key>zone_02/wrecked_ship_steering_03</key>
            <dict>
                <key>frame</key>
                <string>{{192,1216},{152,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,112}}</string>
                <key>sourceSize</key>
                <string>{152,112}</string>
            </dict>
            <key>zone_02/wrecked_ship_totem_01</key>
            <dict>
                <key>frame</key>
                <string>{{260,1946},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>zone_02/wrecked_ship_totem_02</key>
            <dict>
                <key>frame</key>
                <string>{{192,1330},{140,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,144}}</string>
                <key>sourceSize</key>
                <string>{140,144}</string>
            </dict>
            <key>zone_02/wrecked_ship_totem_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{252,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,152}}</string>
                <key>sourceSize</key>
                <string>{252,152}</string>
            </dict>
            <key>zone_02/wrecked_ship_tree_01</key>
            <dict>
                <key>frame</key>
                <string>{{208,758},{152,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,188}}</string>
                <key>sourceSize</key>
                <string>{152,188}</string>
            </dict>
            <key>zone_02/wrecked_ship_tree_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{196,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,204}}</string>
                <key>sourceSize</key>
                <string>{196,204}</string>
            </dict>
            <key>zone_02/wrecked_ship_tree_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{208,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,224}}</string>
                <key>sourceSize</key>
                <string>{208,224}</string>
            </dict>
            <key>zone_02/wrecked_ship_yeouiju_01</key>
            <dict>
                <key>frame</key>
                <string>{{260,1868},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>zone_02/wrecked_ship_yeouiju_02</key>
            <dict>
                <key>frame</key>
                <string>{{260,1868},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>zone_02/wrecked_ship_yeouiju_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{140,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,112}}</string>
                <key>sourceSize</key>
                <string>{140,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zone_02.png</string>
            <key>size</key>
            <string>{362,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43d6c072866b525ff05c6388641bb7b:e9f92eafe01b04588a0034141761a09c:856a00f8b0604113f80007fd6e5ee632$</string>
            <key>textureFileName</key>
            <string>zone_02.png</string>
        </dict>
    </dict>
</plist>
