<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Menu_achiv_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{150,964},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_adv_log_icon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-4}</string>
			<key>spriteSize</key>
			<string>{138,106}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{400,906},{138,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_attendance_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{114,142}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{396,1320},{114,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_attendance_complete_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,88}</string>
			<key>spriteSourceSize</key>
			<string>{88,88}</string>
			<key>textureRect</key>
			<string>{{288,674},{88,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_badge_green_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{94,1082},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_badge_green_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,1125},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_badge_red_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{60,1140},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_badge_red_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,1181},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_badge_walk_005</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-4}</string>
			<key>spriteSize</key>
			<string>{138,98}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{400,346},{138,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_badge_white_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{122,1180},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_badge_white_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{180,1180},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_01_00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{500,482},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_01_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{274,1635},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_01_05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{98,719},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_brown_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{155,80}</string>
			<key>spriteSourceSize</key>
			<string>{155,80}</string>
			<key>textureRect</key>
			<string>{{314,1281},{155,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_base_btn_0401</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,48}</string>
			<key>spriteSourceSize</key>
			<string>{42,48}</string>
			<key>textureRect</key>
			<string>{{126,1236},{42,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_base_btn_0501</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,56}</string>
			<key>spriteSourceSize</key>
			<string>{50,56}</string>
			<key>textureRect</key>
			<string>{{98,908},{50,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_ver2_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,56}</string>
			<key>spriteSourceSize</key>
			<string>{50,56}</string>
			<key>textureRect</key>
			<string>{{98,966},{50,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_ver2_blue_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,56}</string>
			<key>spriteSourceSize</key>
			<string>{50,56}</string>
			<key>textureRect</key>
			<string>{{98,1024},{50,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_ver2_brown_0401</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,56}</string>
			<key>spriteSourceSize</key>
			<string>{50,56}</string>
			<key>textureRect</key>
			<string>{{236,1180},{50,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_ver2_orange_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,56}</string>
			<key>spriteSourceSize</key>
			<string>{50,56}</string>
			<key>textureRect</key>
			<string>{{254,1100},{50,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_base_ver2_purple_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,56}</string>
			<key>spriteSourceSize</key>
			<string>{50,56}</string>
			<key>textureRect</key>
			<string>{{288,1158},{50,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_beginner_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,98}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,1025},{90,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_beta_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,28}</string>
			<key>spriteSourceSize</key>
			<string>{64,28}</string>
			<key>textureRect</key>
			<string>{{274,1569},{64,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_blue_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{329,148},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_blue_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{126,279},{54,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_channel_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{118,118}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{126,1813},{118,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_channel_off_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{118,118}</string>
			<key>spriteSourceSize</key>
			<string>{162,162}</string>
			<key>textureRect</key>
			<string>{{2,1817},{118,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_check_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{266,984},{110,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_colosseum_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{134,146}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{158,1433},{134,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_community_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,122}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{370,1712},{122,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_community_dot_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{114,102}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{254,1941},{114,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_cosmic_album_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,4}</string>
			<key>spriteSize</key>
			<string>{106,130}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{182,372},{106,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_cosmic_album_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{94,130}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{274,1677},{94,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_credits_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{122,90}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{370,1956},{122,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_dev_bt_80_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{126,193},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_dia_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{114,98}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{278,764},{114,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_dia_240</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{158,98}</string>
			<key>spriteSourceSize</key>
			<string>{240,240}</string>
			<key>textureRect</key>
			<string>{{400,186},{158,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_dia_400</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,102}</string>
			<key>spriteSourceSize</key>
			<string>{240,240}</string>
			<key>textureRect</key>
			<string>{{400,2},{182,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_discord_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,118}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{372,1592},{130,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_dragon_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,193},{122,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_egg_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-26}</string>
			<key>spriteSize</key>
			<string>{54,62}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{98,779},{54,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_emoji_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,88}</string>
			<key>spriteSourceSize</key>
			<string>{108,88}</string>
			<key>textureRect</key>
			<string>{{288,564},{108,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_empty</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{500,494},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_essence_evolution_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{154,154}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,1281},{154,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_event_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{118,110}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{176,504},{118,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_event_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{118,110}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{158,740},{118,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_event_frame_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{110,477},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_explore_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,2}</string>
			<key>spriteSize</key>
			<string>{126,118}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,1577},{126,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_friend_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{172,624},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_fusion_0103</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,106}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,425},{130,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_gradation_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,62}</string>
			<key>spriteSourceSize</key>
			<string>{63,62}</string>
			<key>textureRect</key>
			<string>{{110,543},{63,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_green_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{329,210},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_green_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{126,345},{54,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_guild_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{126,130}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{378,1464},{126,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_help_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{106,138}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{400,766},{106,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_help_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{94,122}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,673},{94,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_help_0301</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{110,130}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{258,1809},{110,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_inventory_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,4}</string>
			<key>spriteSize</key>
			<string>{122,130}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{142,1569},{122,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_item_dragon_drink_001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{70,138}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{306,1438},{70,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_item_dragon_drink_002</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,144}</string>
			<key>spriteSourceSize</key>
			<string>{184,144}</string>
			<key>textureRect</key>
			<string>{{193,2},{184,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_lock_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,63}</string>
			<key>spriteSourceSize</key>
			<string>{52,63}</string>
			<key>textureRect</key>
			<string>{{98,843},{52,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_mail_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,2}</string>
			<key>spriteSize</key>
			<string>{118,126}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{130,1693},{118,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_main_base_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,84}</string>
			<key>spriteSourceSize</key>
			<string>{75,84}</string>
			<key>textureRect</key>
			<string>{{290,416},{75,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_main_menu_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{102,102}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{150,1076},{102,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_main_menu_bg_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{19,1277}</string>
			<key>spriteSourceSize</key>
			<string>{19,1279}</string>
			<key>textureRect</key>
			<string>{{379,2},{19,1277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_menu_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{188,256},{122,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_menu_0301</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-8}</string>
			<key>spriteSize</key>
			<string>{122,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,309},{122,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_menu_beginner_event_gauge_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{240,10}</string>
			<key>spriteSourceSize</key>
			<string>{240,10}</string>
			<key>textureRect</key>
			<string>{{500,240},{240,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_menu_beginner_event_gauge_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{236,6}</string>
			<key>spriteSourceSize</key>
			<string>{236,6}</string>
			<key>textureRect</key>
			<string>{{504,2},{236,6}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_minigame_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{138,138}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,1437},{138,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_minimap_auction_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{80,66}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{304,1578},{80,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_mint_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{2,1237},{38,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_mint_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{126,411},{54,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_news_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,2}</string>
			<key>spriteSize</key>
			<string>{114,94}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,797},{114,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_package_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{2,2},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_player_bt_main_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,69}</string>
			<key>spriteSourceSize</key>
			<string>{70,69}</string>
			<key>textureRect</key>
			<string>{{290,493},{70,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_quest_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{102,106}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{268,880},{102,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_red_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{60,1196},{38,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_red_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{106,607},{54,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_shop_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{134,106}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{193,148},{134,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_shop_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{138,106}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{400,1046},{138,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_shop_0103</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{126,102}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,1941},{126,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_shop_0104</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,154}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{158,1281},{150,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_shop_mileage_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{132,110}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{400,1186},{132,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_square_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{118,122}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{370,1836},{118,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_square_box_yutakan_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{114,102}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{2,557},{114,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_tale_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{102,122}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{130,1941},{102,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_tamer_invitation_link_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{110,94}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,913},{110,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_time_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,21}</string>
			<key>spriteSourceSize</key>
			<string>{18,21}</string>
			<key>textureRect</key>
			<string>{{274,1657},{18,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_trading_hub_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{114,110}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{152,852},{114,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_village_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,98}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{400,486},{130,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_weekly_icon_11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-4}</string>
			<key>spriteSize</key>
			<string>{118,122}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,1697},{118,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_worldmap_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{146,110}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{400,618},{146,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_worldmap_minus_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,70}</string>
			<key>spriteSourceSize</key>
			<string>{61,70}</string>
			<key>textureRect</key>
			<string>{{312,272},{61,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_worldmap_plus_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,70}</string>
			<key>spriteSourceSize</key>
			<string>{61,70}</string>
			<key>textureRect</key>
			<string>{{312,344},{61,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_yellow_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{64,1236},{38,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_yellow_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{106,663},{54,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>empty.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{500,494},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>menu.png</string>
		<key>size</key>
		<string>{512,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f28dafc62f2a395c4b43abdc97ae19f9:fb80f2227e41efb85fd212db930538ac:9622c220910f706aac7e93396e53b943$</string>
		<key>textureFileName</key>
		<string>menu.png</string>
	</dict>
</dict>
</plist>
