<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_01_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{803,1},{182,150}}</string>
			<key>offset</key>
			<string>{21,-17.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,47},{182,150}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{483,756},{181,152}}</string>
			<key>offset</key>
			<string>{19.5,-16.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,45},{181,152}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{182,734},{180,153}}</string>
			<key>offset</key>
			<string>{19,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,44},{180,153}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,624},{179,155}}</string>
			<key>offset</key>
			<string>{18.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,43},{179,155}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{182,553},{179,157}}</string>
			<key>offset</key>
			<string>{18.5,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,43},{179,157}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,464},{179,158}}</string>
			<key>offset</key>
			<string>{19.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,44},{179,158}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{184,371},{180,159}}</string>
			<key>offset</key>
			<string>{20,-20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,45},{180,159}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,303},{181,159}}</string>
			<key>offset</key>
			<string>{20.5,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,47},{181,159}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{197,187},{182,158}}</string>
			<key>offset</key>
			<string>{22,-24.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,50},{182,158}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{198,1},{184,157}}</string>
			<key>offset</key>
			<string>{23,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,53},{184,157}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{357,1},{184,156}}</string>
			<key>offset</key>
			<string>{24,-28.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,55},{184,156}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{493,375},{185,153}}</string>
			<key>offset</key>
			<string>{24.5,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,58},{185,153}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{651,1},{185,150}}</string>
			<key>offset</key>
			<string>{25.5,-30.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,60},{185,150}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{641,751},{186,148}}</string>
			<key>offset</key>
			<string>{26,-30.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,61},{186,148}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,781},{186,146}}</string>
			<key>offset</key>
			<string>{26,-29.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,61},{186,146}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{149,916},{186,146}}</string>
			<key>offset</key>
			<string>{26,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,60},{186,146}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{792,337},{187,146}}</string>
			<key>offset</key>
			<string>{25.5,-26.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,58},{187,146}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{732,188},{187,147}}</string>
			<key>offset</key>
			<string>{24.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,55},{187,147}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{792,526},{185,147}}</string>
			<key>offset</key>
			<string>{23.5,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,53},{185,147}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{791,751},{184,148}}</string>
			<key>offset</key>
			<string>{22,-19.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,50},{184,148}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{493,562},{192,146}}</string>
			<key>offset</key>
			<string>{20,-10.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,42},{192,146}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{661,939},{190,119}}</string>
			<key>offset</key>
			<string>{18,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,69},{190,119}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{853,937},{204,109}}</string>
			<key>offset</key>
			<string>{9,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,81},{204,109}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{337,773},{214,108}}</string>
			<key>offset</key>
			<string>{1,-32.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,83},{214,108}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{513,213},{217,128}}</string>
			<key>offset</key>
			<string>{-2.5,-44.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,85},{217,128}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{515,1},{210,134}}</string>
			<key>offset</key>
			<string>{0,-50.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,88},{210,134}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{341,572},{199,140}}</string>
			<key>offset</key>
			<string>{5.5,-56.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,91},{199,140}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{641,562},{187,149}}</string>
			<key>offset</key>
			<string>{12.5,-63}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,93},{187,149}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{357,187},{186,154}}</string>
			<key>offset</key>
			<string>{15,-66.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,94},{186,154}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{940,185},{194,111}}</string>
			<key>offset</key>
			<string>{13,-45}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,94},{194,111}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{447,939},{212,109}}</string>
			<key>offset</key>
			<string>{7,-43}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,93},{212,109}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{648,343},{194,142}}</string>
			<key>offset</key>
			<string>{18,-24.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,58},{194,142}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{345,375},{195,146}}</string>
			<key>offset</key>
			<string>{18.5,-19.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,51},{195,146}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{195,149}}</string>
			<key>offset</key>
			<string>{19.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,45},{195,149}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
		<key>illuide_01_m_adult_bk/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,152},{194,149}}</string>
			<key>offset</key>
			<string>{20,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,41},{194,149}}</string>
			<key>sourceSize</key>
			<string>{230,209}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1058,1063}</string>
		<key>textureFileName</key>
		<string>illuide_01_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
