<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_03_f_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{554,1},{178,147}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,15},{178,147}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{552,307},{177,145}}</string>
			<key>offset</key>
			<string>{-2.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,15},{177,145}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{552,454},{177,145}}</string>
			<key>offset</key>
			<string>{-3.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,14},{177,145}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,616},{177,146}}</string>
			<key>offset</key>
			<string>{-4.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,12},{177,146}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{366,613},{177,149}}</string>
			<key>offset</key>
			<string>{-4.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{177,149}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{547,601},{176,151}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,8},{176,151}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{734,302},{175,154}}</string>
			<key>offset</key>
			<string>{-4.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{175,154}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{734,1},{176,155}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{176,155}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{554,150},{178,155}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{178,155}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{370,303},{180,155}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{180,155}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{186,158},{182,154}}</string>
			<key>offset</key>
			<string>{0,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{182,154}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{183,154}}</string>
			<key>offset</key>
			<string>{1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{183,154}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,157},{183,155}}</string>
			<key>offset</key>
			<string>{2.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,7},{183,155}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{186,1},{183,155}}</string>
			<key>offset</key>
			<string>{2.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,9},{183,155}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,314},{182,152}}</string>
			<key>offset</key>
			<string>{2,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{182,152}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{185,314},{181,151}}</string>
			<key>offset</key>
			<string>{1.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,13},{181,151}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{371,151},{180,150}}</string>
			<key>offset</key>
			<string>{0,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{180,150}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{731,599},{174,143}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,16},{174,143}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{545,754},{173,141}}</string>
			<key>offset</key>
			<string>{0.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,17},{173,141}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,764},{174,139}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{174,139}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{177,764},{174,138}}</string>
			<key>offset</key>
			<string>{0,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{174,138}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{353,764},{174,138}}</string>
			<key>offset</key>
			<string>{-1,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,11},{174,138}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{731,458},{175,139}}</string>
			<key>offset</key>
			<string>{-0.5,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{175,139}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{734,158},{176,142}}</string>
			<key>offset</key>
			<string>{1,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{176,142}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{366,467},{179,144}}</string>
			<key>offset</key>
			<string>{2.5,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{179,144}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,468},{180,146}}</string>
			<key>offset</key>
			<string>{4,4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{180,146}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{371,1},{181,148}}</string>
			<key>offset</key>
			<string>{4.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{181,148}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{185,467},{179,147}}</string>
			<key>offset</key>
			<string>{4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{179,147}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
		<key>makara_03_f_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{180,616},{176,146}}</string>
			<key>offset</key>
			<string>{3,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,13},{176,146}}</string>
			<key>sourceSize</key>
			<string>{188,163}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{911,904}</string>
		<key>textureFileName</key>
		<string>makara_03_f_adult_bk.png</string>
	</dict>
</dict>
</plist>
