<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>greenfairy/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{152,428},{120,100}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,8},{120,100}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{164,92}}</string>
                <key>offset</key>
                <string>{-42,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{164,92}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{172,96}}</string>
                <key>offset</key>
                <string>{-46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{172,96}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{168,270},{156,84}}</string>
                <key>offset</key>
                <string>{-38,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{156,84}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{124,84}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,20},{124,84}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{144,802},{108,80}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,24},{108,80}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{92,96}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,12},{92,96}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{148,688},{104,112}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{104,112}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{128,1014},{112,120}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{128,92}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{128,92}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{140,116}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,4},{140,116}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{148,120}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{148,120}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{148,96}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,24},{148,96}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{144,884},{128,96}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,20},{128,96}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{152,550},{136,96}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,16},{136,96}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{140,92}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{140,92}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,116}}</string>
                <key>offset</key>
                <string>{-36,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{192,116}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{144,80}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{144,80}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{156,80}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,28},{156,80}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
            <key>greenfairy/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{176,120},{148,72}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,32},{148,72}}</string>
                <key>sourceSize</key>
                <string>{264,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>greenfairy.png</string>
            <key>size</key>
            <string>{254,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dc6bdba94d753858a3eb824827a6852:13755118d0f7e502128173518b4d0e39:dab9fde4e460148aa7c877aa2f99a85c$</string>
            <key>textureFileName</key>
            <string>greenfairy.png</string>
        </dict>
    </dict>
</plist>
