<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_03_f_prism_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{243,178}}</string>
			<key>offset</key>
			<string>{9.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,36},{243,178}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{246,1},{247,178}}</string>
			<key>offset</key>
			<string>{10.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,36},{247,178}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{745,1},{249,179}}</string>
			<key>offset</key>
			<string>{11.5,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{249,179}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{996,1},{250,179}}</string>
			<key>offset</key>
			<string>{12,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{250,179}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1248,1},{250,179}}</string>
			<key>offset</key>
			<string>{12,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{250,179}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{495,1},{248,178}}</string>
			<key>offset</key>
			<string>{12,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,35},{248,178}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1500,1},{247,179}}</string>
			<key>offset</key>
			<string>{11.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,34},{247,179}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1749,1},{245,180}}</string>
			<key>offset</key>
			<string>{10.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,32},{245,180}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{245,181},{243,182}}</string>
			<key>offset</key>
			<string>{10.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,30},{243,182}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{981,182},{241,184}}</string>
			<key>offset</key>
			<string>{9.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,28},{241,184}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1723,183},{241,186}}</string>
			<key>offset</key>
			<string>{9.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,28},{241,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{742,368},{242,189}}</string>
			<key>offset</key>
			<string>{10,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,28},{242,189}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1474,368},{242,193}}</string>
			<key>offset</key>
			<string>{10,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,25},{242,193}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,553},{243,197}}</string>
			<key>offset</key>
			<string>{10.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,22},{243,197}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{979,559},{243,200}}</string>
			<key>offset</key>
			<string>{10.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,20},{243,200}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{734,559},{243,199}}</string>
			<key>offset</key>
			<string>{10.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,20},{243,199}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{246,554},{243,197}}</string>
			<key>offset</key>
			<string>{10.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,21},{243,197}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{1718,371},{242,194}}</string>
			<key>offset</key>
			<string>{10,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{242,194}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{986,368},{242,189}}</string>
			<key>offset</key>
			<string>{10,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,27},{242,189}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{490,181},{242,183}}</string>
			<key>offset</key>
			<string>{9,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,31},{242,183}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,365},{247,186}}</string>
			<key>offset</key>
			<string>{6.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,30},{247,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1224,182},{248,184}}</string>
			<key>offset</key>
			<string>{5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,35},{248,184}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{250,366},{248,186}}</string>
			<key>offset</key>
			<string>{4,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,34},{248,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1474,182},{247,184}}</string>
			<key>offset</key>
			<string>{4.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,35},{247,184}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{734,182},{245,183}}</string>
			<key>offset</key>
			<string>{6.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,34},{245,183}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,181},{242,180}}</string>
			<key>offset</key>
			<string>{9,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,32},{242,180}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{500,367},{240,188}}</string>
			<key>offset</key>
			<string>{10,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,26},{240,188}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{491,557},{241,198}}</string>
			<key>offset</key>
			<string>{10.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,20},{241,198}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1468,563},{242,202}}</string>
			<key>offset</key>
			<string>{11,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,17},{242,202}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1712,567},{243,203}}</string>
			<key>offset</key>
			<string>{11.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,16},{243,203}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1224,562},{242,200}}</string>
			<key>offset</key>
			<string>{11,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{242,200}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_03_f_prism_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1230,368},{242,192}}</string>
			<key>offset</key>
			<string>{10,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{242,192}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1995,771}</string>
		<key>textureFileName</key>
		<string>makara_03_f_prism_bk.png</string>
	</dict>
</dict>
</plist>
