<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_02_f_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,407},{112,130}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,12},{112,130}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{338,1},{106,131}}</string>
			<key>offset</key>
			<string>{6,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,12},{106,131}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{108,273},{108,132}}</string>
			<key>offset</key>
			<string>{6,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{108,132}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{218,272},{109,132}}</string>
			<key>offset</key>
			<string>{6.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{109,132}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{110,137},{111,133}}</string>
			<key>offset</key>
			<string>{6.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,13},{111,133}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{225,1},{111,133}}</string>
			<key>offset</key>
			<string>{6.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,14},{111,133}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{111,134}}</string>
			<key>offset</key>
			<string>{6.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,14},{111,134}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{114,1},{109,134}}</string>
			<key>offset</key>
			<string>{6.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{109,134}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,137},{107,134}}</string>
			<key>offset</key>
			<string>{6.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,14},{107,134}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{223,137},{105,133}}</string>
			<key>offset</key>
			<string>{5.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,14},{105,133}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,273},{105,132}}</string>
			<key>offset</key>
			<string>{6.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{105,132}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{329,272},{107,131}}</string>
			<key>offset</key>
			<string>{7.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,13},{107,131}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{115,407},{107,130}}</string>
			<key>offset</key>
			<string>{8.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,13},{107,130}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{224,406},{110,130}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,12},{110,130}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{446,1},{111,130}}</string>
			<key>offset</key>
			<string>{9.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,12},{111,130}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{225,538},{116,126}}</string>
			<key>offset</key>
			<string>{8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,18},{116,126}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{447,396},{109,128}}</string>
			<key>offset</key>
			<string>{3.5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,18},{109,128}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{447,265},{108,129}}</string>
			<key>offset</key>
			<string>{3,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,19},{108,129}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{336,405},{109,130}}</string>
			<key>offset</key>
			<string>{2.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,20},{109,130}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{330,136},{107,131}}</string>
			<key>offset</key>
			<string>{2.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{107,131}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{447,133},{107,130}}</string>
			<key>offset</key>
			<string>{3.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,20},{107,130}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,539},{109,128}}</string>
			<key>offset</key>
			<string>{5.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,20},{109,128}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{112,539},{111,127}}</string>
			<key>offset</key>
			<string>{7.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{111,127}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
		<key>sirius_02_f_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{343,537},{114,126}}</string>
			<key>offset</key>
			<string>{8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{114,126}}</string>
			<key>sourceSize</key>
			<string>{118,136}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{558,668}</string>
		<key>textureFileName</key>
		<string>sirius_02_f_hatchling_w.png</string>
	</dict>
</dict>
</plist>
