<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_02_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{177,585},{173,135}}</string>
			<key>offset</key>
			<string>{-1.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,21},{173,135}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{705,139},{171,134}}</string>
			<key>offset</key>
			<string>{-2.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,20},{171,134}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{710,1},{171,134}}</string>
			<key>offset</key>
			<string>{-3.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,19},{171,134}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{538,579},{170,136}}</string>
			<key>offset</key>
			<string>{-4,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,16},{170,136}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{533,139},{170,140}}</string>
			<key>offset</key>
			<string>{-5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{170,140}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{182,151},{170,143}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{170,143}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{361,302},{169,146}}</string>
			<key>offset</key>
			<string>{-5.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,7},{169,146}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{361,152},{170,148}}</string>
			<key>offset</key>
			<string>{-5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{170,148}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{359,1},{172,149}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{172,149}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{182,1},{175,148}}</string>
			<key>offset</key>
			<string>{-2.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{175,148}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{177,147}}</string>
			<key>offset</key>
			<string>{-1.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{177,147}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,297},{178,145}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{178,145}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,150},{179,145}}</string>
			<key>offset</key>
			<string>{0.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,11},{179,145}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{181,297},{178,144}}</string>
			<key>offset</key>
			<string>{1,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{178,144}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{181,443},{178,140}}</string>
			<key>offset</key>
			<string>{1,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,18},{178,140}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,444},{175,138}}</string>
			<key>offset</key>
			<string>{0.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{175,138}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{532,302},{175,137}}</string>
			<key>offset</key>
			<string>{-0.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,21},{175,137}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{710,544},{170,131}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,23},{170,131}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{352,715},{169,129}}</string>
			<key>offset</key>
			<string>{-1.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,23},{169,129}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{523,717},{169,128}}</string>
			<key>offset</key>
			<string>{-2.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,21},{169,128}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{710,677},{170,128}}</string>
			<key>offset</key>
			<string>{-3,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,18},{170,128}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{173,722},{169,129}}</string>
			<key>offset</key>
			<string>{-3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{169,129}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,721},{170,131}}</string>
			<key>offset</key>
			<string>{-3,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,9},{170,131}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{709,275},{172,133}}</string>
			<key>offset</key>
			<string>{-2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{172,133}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,584},{174,135}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{174,135}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{533,1},{175,136}}</string>
			<key>offset</key>
			<string>{0.5,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{175,136}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{532,441},{176,136}}</string>
			<key>offset</key>
			<string>{2,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{176,136}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{361,579},{175,134}}</string>
			<key>offset</key>
			<string>{1.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,17},{175,134}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
		<key>makara_02_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{710,410},{173,132}}</string>
			<key>offset</key>
			<string>{0.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,21},{173,132}}</string>
			<key>sourceSize</key>
			<string>{182,157}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{884,853}</string>
		<key>textureFileName</key>
		<string>makara_02_m_adult_w.png</string>
	</dict>
</dict>
</plist>
