<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>axegoblin/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{721,1},{130,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{993,129},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>axegoblin/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-3}</string>
                <key>spriteSize</key>
                <string>{170,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-1}</string>
                <key>spriteSize</key>
                <string>{162,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{557,1},{162,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-1}</string>
                <key>spriteSize</key>
                <string>{118,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1123,129},{118,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>axegoblin/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{137,125},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,125},{134,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{122,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1251,129},{122,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-19}</string>
                <key>spriteSize</key>
                <string>{158,90}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{693,129},{158,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-17}</string>
                <key>spriteSize</key>
                <string>{158,94}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{533,129},{158,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-17}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{853,129},{138,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-3}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{173,1},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{137,125},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{269,125},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{401,125},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{853,1},{130,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{985,1},{130,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1117,1},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>axegoblin/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-1}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1247,1},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{301,1},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axegoblin/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-3}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{429,1},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>axegoblin.png</string>
            <key>size</key>
            <string>{1374,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b82e9ee4b4edefcde72e7d1d136a2ab:39fc5972758c0a9a5876992567827d65:1a79c67257d0ba8e52ebdaf92d4e72c5$</string>
            <key>textureFileName</key>
            <string>axegoblin.png</string>
        </dict>
    </dict>
</plist>
