<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Menu_new_achiv_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{382,392},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_amethyst_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,34}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{242,382},{36,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_arcade_token_001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{638,342},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_arrow_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,28}</string>
			<key>spriteSourceSize</key>
			<string>{34,28}</string>
			<key>textureRect</key>
			<string>{{242,418},{34,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_arrow_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,85}</string>
			<key>spriteSourceSize</key>
			<string>{61,85}</string>
			<key>textureRect</key>
			<string>{{934,92},{61,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_attendance_complete_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,88}</string>
			<key>spriteSourceSize</key>
			<string>{88,88}</string>
			<key>textureRect</key>
			<string>{{934,2},{88,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_badge_green_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,304},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_badge_green_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{58,304},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_badge_red_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{114,304},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_badge_red_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{170,292},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_badge_white_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{226,292},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_badge_white_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{638,284},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_base_01_00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{999,355},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_base_01_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{999,333},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_btn_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>textureRect</key>
			<string>{{642,200},{40,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_btn_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>textureRect</key>
			<string>{{642,242},{40,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_btn_0401</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,50}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{642,152},{46,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_channel_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{118,118}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{382,272},{118,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_channel_off_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{118,118}</string>
			<key>spriteSourceSize</key>
			<string>{162,162}</string>
			<key>textureRect</key>
			<string>{{674,344},{118,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_circle_90</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,90}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{930,367},{90,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_close_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,80}</string>
			<key>spriteSourceSize</key>
			<string>{76,80}</string>
			<key>textureRect</key>
			<string>{{934,217},{76,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_community_dot_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,98}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{282,284},{114,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_dev_bt_80_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{934,155},{60,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_dia_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{30,26}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{898,344},{30,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_discord_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,118}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{382,152},{130,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_egg_point_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{242,514},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_empty</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{1016,217},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_event_point_001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{618,410},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_friend_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{502,384},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_gold_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{618,442},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_gradation_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,62}</string>
			<key>spriteSourceSize</key>
			<string>{63,62}</string>
			<key>textureRect</key>
			<string>{{934,295},{63,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_guild_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{146,150}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,152},{146,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_help_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{106,138}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{150,152},{106,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_inventory_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{122,130}</string>
			<key>spriteSourceSize</key>
			<string>{162,162}</string>
			<key>textureRect</key>
			<string>{{258,152},{122,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_item_cosmic_piece_001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{30,32}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{242,482},{30,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_item_dragon_drink_001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,36}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{999,295},{20,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_item_dragon_drink_sp_001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,38}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{242,350},{30,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_lock_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{638,376},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_mail_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-8}</string>
			<key>spriteSize</key>
			<string>{126,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{514,152},{126,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_main_menu_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{102,102}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{794,344},{102,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_menu_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{514,268},{122,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_menu_btn_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{340,238}</string>
			<key>spriteSourceSize</key>
			<string>{340,238}</string>
			<key>textureRect</key>
			<string>{{694,2},{340,238}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_menu_btn_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{340,238}</string>
			<key>spriteSourceSize</key>
			<string>{340,238}</string>
			<key>textureRect</key>
			<string>{{2,367},{340,238}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_menu_btn_0301</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{690,148}</string>
			<key>spriteSourceSize</key>
			<string>{690,148}</string>
			<key>textureRect</key>
			<string>{{2,2},{690,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Menu_new_news_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{114,94}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{280,400},{114,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Menu_new_profile_edit_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{242,448},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>empty.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{1016,217},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>menu_new.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d14c9b778fa62881487160e0f0c1303a:1a182314b0604547f340adbc6cb71474:542f617eee4a49e5ef0f2841ca1c05d5$</string>
		<key>textureFileName</key>
		<string>menu_new.png</string>
	</dict>
</dict>
</plist>
