<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>flamber_01_f_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{158,479},{151,118}}</string>
			<key>offset</key>
			<string>{24.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,5},{151,118}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,596},{150,118}}</string>
			<key>offset</key>
			<string>{24,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,5},{150,118}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{153,599},{150,118}}</string>
			<key>offset</key>
			<string>{24,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,5},{150,118}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{622,363},{149,117}}</string>
			<key>offset</key>
			<string>{23.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,6},{149,117}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{630,120},{149,116}}</string>
			<key>offset</key>
			<string>{23.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,7},{149,116}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{625,241},{151,115}}</string>
			<key>offset</key>
			<string>{23.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,8},{151,115}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{159,243},{152,114}}</string>
			<key>offset</key>
			<string>{24,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,9},{152,114}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{623,597},{153,113}}</string>
			<key>offset</key>
			<string>{24.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,10},{153,113}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{622,482},{154,113}}</string>
			<key>offset</key>
			<string>{25,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,10},{154,113}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{305,600},{155,113}}</string>
			<key>offset</key>
			<string>{25.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,10},{155,113}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{466,599},{155,114}}</string>
			<key>offset</key>
			<string>{25.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,9},{155,114}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,479},{155,115}}</string>
			<key>offset</key>
			<string>{25.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,8},{155,115}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{466,482},{154,115}}</string>
			<key>offset</key>
			<string>{26,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,8},{154,115}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{311,482},{153,116}}</string>
			<key>offset</key>
			<string>{25.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,7},{153,116}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{468,363},{152,117}}</string>
			<key>offset</key>
			<string>{25,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,6},{152,117}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,121},{159,117}}</string>
			<key>offset</key>
			<string>{21.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,5},{159,117}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{473,122},{155,117}}</string>
			<key>offset</key>
			<string>{21.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{155,117}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{162,122},{154,119}}</string>
			<key>offset</key>
			<string>{21,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{154,119}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{318,122},{153,119}}</string>
			<key>offset</key>
			<string>{22.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,4},{153,119}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{322,1},{153,119}}</string>
			<key>offset</key>
			<string>{24.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,4},{153,119}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{164,1},{156,119}}</string>
			<key>offset</key>
			<string>{23,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,4},{156,119}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,240},{156,117}}</string>
			<key>offset</key>
			<string>{22,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{156,117}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{313,363},{153,117}}</string>
			<key>offset</key>
			<string>{22.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,5},{153,117}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{477,1},{154,117}}</string>
			<key>offset</key>
			<string>{21,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{154,117}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{469,243},{154,118}}</string>
			<key>offset</key>
			<string>{21,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{154,118}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,359},{154,118}}</string>
			<key>offset</key>
			<string>{23,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,4},{154,118}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{157,359},{154,118}}</string>
			<key>offset</key>
			<string>{25,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,4},{154,118}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{313,243},{154,118}}</string>
			<key>offset</key>
			<string>{26,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,4},{154,118}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
		<key>flamber_01_f_adult_yr/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{161,118}}</string>
			<key>offset</key>
			<string>{22.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,5},{161,118}}</string>
			<key>sourceSize</key>
			<string>{162,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{780,718}</string>
		<key>textureFileName</key>
		<string>flamber_01_f_adult_yr.png</string>
	</dict>
</dict>
</plist>
