<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signaturehurricane/holding/holding_01</key>
            <dict>
                <key>frame</key>
                <string>{{512,134},{106,126}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,19},{106,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/holding/holding_02</key>
            <dict>
                <key>frame</key>
                <string>{{768,130},{106,126}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,19},{106,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{130,134},{110,126}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{110,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{258,134},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{110,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{106,126}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,19},{106,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,130}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{110,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{120,126}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{120,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{106,130}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{106,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{106,130}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{106,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{106,130}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{106,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{116,126}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{116,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/move/move_07</key>
            <dict>
                <key>frame</key>
                <string>{{380,134},{106,130}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{106,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/move/move_08</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{106,130}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{106,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/touch/touch_01</key>
            <dict>
                <key>frame</key>
                <string>{{896,130},{106,126}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,19},{106,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/touch/touch_02</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{106,126}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,19},{106,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/touch/touch_03</key>
            <dict>
                <key>frame</key>
                <string>{{640,130},{126,120}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{126,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturehurricane/touch/touch_04</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{126,126}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{126,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signaturehurricane.png</string>
            <key>size</key>
            <string>{1024,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16b2df782182a995576f93118c6a1632:4ab8def508bf11fffaa866550dab6284:18e084c66780249f5bf597d457c62bbb$</string>
            <key>textureFileName</key>
            <string>signaturehurricane.png</string>
        </dict>
    </dict>
</plist>
