<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>rexton_01_f_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{179,125}}</string>
			<key>offset</key>
			<string>{19.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,6},{179,125}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,128},{178,126}}</string>
			<key>offset</key>
			<string>{20,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,5},{178,126}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{361,253},{177,126}}</string>
			<key>offset</key>
			<string>{20.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{177,126}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{362,124},{177,126}}</string>
			<key>offset</key>
			<string>{20.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{177,126}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,502},{176,126}}</string>
			<key>offset</key>
			<string>{21,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{176,126}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{179,502},{176,126}}</string>
			<key>offset</key>
			<string>{20,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{176,126}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{542,1},{175,125}}</string>
			<key>offset</key>
			<string>{19.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,6},{175,125}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{541,128},{175,125}}</string>
			<key>offset</key>
			<string>{18.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,6},{175,125}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{540,255},{175,124}}</string>
			<key>offset</key>
			<string>{17.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,7},{175,124}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{536,381},{175,124}}</string>
			<key>offset</key>
			<string>{16.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{175,124}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,630},{174,123}}</string>
			<key>offset</key>
			<string>{16,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{174,123}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{359,381},{175,123}}</string>
			<key>offset</key>
			<string>{15.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{175,123}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{181,374},{176,123}}</string>
			<key>offset</key>
			<string>{16,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{176,123}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{182,1},{178,124}}</string>
			<key>offset</key>
			<string>{17,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{178,124}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{182,127},{178,124}}</string>
			<key>offset</key>
			<string>{18,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{178,124}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,256},{178,124}}</string>
			<key>offset</key>
			<string>{18,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{178,124}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{181,253},{178,119}}</string>
			<key>offset</key>
			<string>{19,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,9},{178,119}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{362,1},{178,121}}</string>
			<key>offset</key>
			<string>{20,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,5},{178,121}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,382},{177,118}}</string>
			<key>offset</key>
			<string>{20.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,6},{177,118}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{534,507},{175,114}}</string>
			<key>offset</key>
			<string>{20.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,9},{175,114}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{534,623},{174,111}}</string>
			<key>offset</key>
			<string>{19,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,9},{174,111}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{177,630},{173,109}}</string>
			<key>offset</key>
			<string>{17.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,10},{173,109}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{352,630},{173,121}}</string>
			<key>offset</key>
			<string>{16.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,9},{173,121}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{719,1},{173,121}}</string>
			<key>offset</key>
			<string>{15.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{173,121}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{718,246},{172,122}}</string>
			<key>offset</key>
			<string>{16,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,7},{172,122}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{717,370},{170,124}}</string>
			<key>offset</key>
			<string>{16,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,5},{170,124}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{710,623},{169,122}}</string>
			<key>offset</key>
			<string>{16.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,7},{169,122}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{713,496},{169,121}}</string>
			<key>offset</key>
			<string>{17.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,9},{169,121}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{719,124},{172,120}}</string>
			<key>offset</key>
			<string>{18,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,10},{172,120}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>rexton_01_f_adult_bk/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{357,507},{175,121}}</string>
			<key>offset</key>
			<string>{18.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,9},{175,121}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{893,754}</string>
		<key>textureFileName</key>
		<string>rexton_01_f_adult_bk.png</string>
	</dict>
</dict>
</plist>
