<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{106,77}}</string>
			<key>offset</key>
			<string>{0,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{106,77}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,80},{106,77}}</string>
			<key>offset</key>
			<string>{0,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{106,77}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{109,80},{106,77}}</string>
			<key>offset</key>
			<string>{0,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{106,77}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,159},{106,76}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{106,76}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{217,79},{105,76}}</string>
			<key>offset</key>
			<string>{-0.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{105,76}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{109,236},{105,75}}</string>
			<key>offset</key>
			<string>{-0.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{105,75}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,314},{104,75}}</string>
			<key>offset</key>
			<string>{-1,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{104,75}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{107,314},{104,74}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{104,74}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{213,314},{104,74}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{104,74}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{324,1},{104,74}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{104,74}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{216,237},{104,75}}</string>
			<key>offset</key>
			<string>{-1,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{104,75}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{109,159},{105,75}}</string>
			<key>offset</key>
			<string>{-0.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{105,75}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{216,159},{105,76}}</string>
			<key>offset</key>
			<string>{-0.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{105,76}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{217,1},{105,76}}</string>
			<key>offset</key>
			<string>{-0.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{105,76}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{109,1},{106,77}}</string>
			<key>offset</key>
			<string>{0,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{106,77}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{322,237},{103,75}}</string>
			<key>offset</key>
			<string>{-4.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,7},{103,75}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{324,155},{103,73}}</string>
			<key>offset</key>
			<string>{-4.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,8},{103,73}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{324,77},{104,76}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,6},{104,76}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,391},{103,79}}</string>
			<key>offset</key>
			<string>{-4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{103,79}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{106,391},{103,79}}</string>
			<key>offset</key>
			<string>{-4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{103,79}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{211,390},{103,76}}</string>
			<key>offset</key>
			<string>{-3.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{103,76}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,237},{105,74}}</string>
			<key>offset</key>
			<string>{-3.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,8},{105,74}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{319,314},{104,75}}</string>
			<key>offset</key>
			<string>{-4,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,7},{104,75}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{316,391},{103,78}}</string>
			<key>offset</key>
			<string>{-4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{103,78}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{421,391},{102,79}}</string>
			<key>offset</key>
			<string>{-5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{102,79}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>rexton_01_m_hatchling_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{430,1},{101,78}}</string>
			<key>offset</key>
			<string>{-4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{101,78}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{532,471}</string>
		<key>textureFileName</key>
		<string>rexton_01_m_hatchling_bk.png</string>
	</dict>
</dict>
</plist>
