<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{480,407},{97,94}}</string>
			<key>offset</key>
			<string>{-5.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,19},{97,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{379,107},{115,94}}</string>
			<key>offset</key>
			<string>{2.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,19},{115,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{255,200},{117,93}}</string>
			<key>offset</key>
			<string>{3.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,20},{117,93}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{258,1},{120,92}}</string>
			<key>offset</key>
			<string>{4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,21},{120,92}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{130,187},{123,91}}</string>
			<key>offset</key>
			<string>{5.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,23},{123,91}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{130,95},{125,90}}</string>
			<key>offset</key>
			<string>{6.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,25},{125,90}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{127,90}}</string>
			<key>offset</key>
			<string>{7.5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,26},{127,90}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,93},{127,93}}</string>
			<key>offset</key>
			<string>{7.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,25},{127,93}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{130,1},{126,92}}</string>
			<key>offset</key>
			<string>{8,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,27},{126,92}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,188},{125,90}}</string>
			<key>offset</key>
			<string>{7.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,29},{125,90}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{92,494},{99,91}}</string>
			<key>offset</key>
			<string>{-5.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,29},{99,91}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{193,492},{98,92}}</string>
			<key>offset</key>
			<string>{-5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,28},{98,92}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{380,417},{98,92}}</string>
			<key>offset</key>
			<string>{-5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,27},{98,92}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{499,1},{98,93}}</string>
			<key>offset</key>
			<string>{-5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{98,93}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{499,96},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,23},{98,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{496,192},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,21},{98,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{472,311},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,20},{98,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,385},{89,107}}</string>
			<key>offset</key>
			<string>{-0.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{89,107}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{183,384},{104,106}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{104,106}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{374,203},{111,106}}</string>
			<key>offset</key>
			<string>{10.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,9},{111,106}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{380,1},{117,104}}</string>
			<key>offset</key>
			<string>{14.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,12},{117,104}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{257,95},{120,103}}</string>
			<key>offset</key>
			<string>{16,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,15},{120,103}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,280},{118,103}}</string>
			<key>offset</key>
			<string>{16,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,17},{118,103}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{121,280},{115,102}}</string>
			<key>offset</key>
			<string>{14.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,18},{115,102}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,494},{89,103}}</string>
			<key>offset</key>
			<string>{1.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,17},{89,103}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{380,311},{90,104}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,15},{90,104}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{289,311},{89,106}}</string>
			<key>offset</key>
			<string>{0.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,12},{89,106}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_02_m_hatchling_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{92,385},{89,107}}</string>
			<key>offset</key>
			<string>{0.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,9},{89,107}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{598,598}</string>
		<key>textureFileName</key>
		<string>makoa_02_m_hatchling_yr.png</string>
	</dict>
</dict>
</plist>
