<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{755,1},{80,91}}</string>
			<key>offset</key>
			<string>{4,-6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,9},{80,91}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{848,1},{80,90}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,9},{80,90}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{571,1},{79,90}}</string>
			<key>offset</key>
			<string>{1.5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,9},{79,90}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{663,1},{79,90}}</string>
			<key>offset</key>
			<string>{1.5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,9},{79,90}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{383,1},{78,91}}</string>
			<key>offset</key>
			<string>{3,-4.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{78,91}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{194,1},{77,93}}</string>
			<key>offset</key>
			<string>{4.5,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,5},{77,93}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{75,95}}</string>
			<key>offset</key>
			<string>{5.5,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,4},{75,95}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{98,1},{76,94}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,5},{76,94}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{476,1},{78,93}}</string>
			<key>offset</key>
			<string>{6,-5.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,7},{78,93}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{289,1},{77,92}}</string>
			<key>offset</key>
			<string>{5.5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,8},{77,92}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{940,1},{87,80}}</string>
			<key>offset</key>
			<string>{-8.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-7,20},{87,80}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1117,1},{87,81}}</string>
			<key>offset</key>
			<string>{-8.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-7,18},{87,81}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1029,1},{86,80}}</string>
			<key>offset</key>
			<string>{-8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,16},{86,80}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1206,1},{86,81}}</string>
			<key>offset</key>
			<string>{-8,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,13},{86,81}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1294,1},{85,82}}</string>
			<key>offset</key>
			<string>{-7.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,11},{85,82}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1381,1},{85,83}}</string>
			<key>offset</key>
			<string>{-6.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,10},{85,83}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1557,1},{84,84}}</string>
			<key>offset</key>
			<string>{-6,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,11},{84,84}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1643,1},{84,85}}</string>
			<key>offset</key>
			<string>{-6,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,13},{84,85}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1730,1},{84,84}}</string>
			<key>offset</key>
			<string>{-7,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,16},{84,84}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_m_hatchling_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1468,1},{87,83}}</string>
			<key>offset</key>
			<string>{-7.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,18},{87,83}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1815,86}</string>
		<key>textureFileName</key>
		<string>gripo_02_m_hatchling_bk.png</string>
	</dict>
</dict>
</plist>
