<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{763,285},{193,147}}</string>
			<key>offset</key>
			<string>{5.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{193,147}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{372,284},{188,146}}</string>
			<key>offset</key>
			<string>{7,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,17},{188,146}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1729,142},{184,144}}</string>
			<key>offset</key>
			<string>{7,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{184,144}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{963,141},{182,142}}</string>
			<key>offset</key>
			<string>{8,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{182,142}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{387,141},{182,141}}</string>
			<key>offset</key>
			<string>{8,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{182,141}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1584,1},{183,139}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{183,139}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{406,1},{185,138}}</string>
			<key>offset</key>
			<string>{8.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,17},{185,138}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1769,1},{188,139}}</string>
			<key>offset</key>
			<string>{8,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,14},{188,139}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,140},{190,140}}</string>
			<key>offset</key>
			<string>{7,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{190,140}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{571,141},{193,141}}</string>
			<key>offset</key>
			<string>{6.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,11},{193,141}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{766,141},{195,142}}</string>
			<key>offset</key>
			<string>{5.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,10},{195,142}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1328,141},{198,144}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{198,144}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1528,142},{199,144}}</string>
			<key>offset</key>
			<string>{4.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{199,144}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,282},{199,145}}</string>
			<key>offset</key>
			<string>{4.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{199,145}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{562,284},{199,146}}</string>
			<key>offset</key>
			<string>{4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{199,146}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{958,286},{198,147}}</string>
			<key>offset</key>
			<string>{5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,12},{198,147}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1158,287},{195,147}}</string>
			<key>offset</key>
			<string>{5.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{195,147}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{593,1},{183,138}}</string>
			<key>offset</key>
			<string>{4.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,22},{183,138}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{202,282},{168,145}}</string>
			<key>offset</key>
			<string>{6,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,13},{168,145}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1524,288},{158,153}}</string>
			<key>offset</key>
			<string>{7,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,3},{158,153}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1684,288},{159,153}}</string>
			<key>offset</key>
			<string>{7.5,3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,1},{159,153}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1355,287},{167,151}}</string>
			<key>offset</key>
			<string>{8.5,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,0},{167,151}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1147,141},{179,143}}</string>
			<key>offset</key>
			<string>{7.5,3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{179,143}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{193,140},{192,140}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{192,140}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1173,1},{203,138}}</string>
			<key>offset</key>
			<string>{0.5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,10},{203,138}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1378,1},{204,138}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{204,138}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{202,1},{202,137}}</string>
			<key>offset</key>
			<string>{0,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,17},{202,137}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{199,137}}</string>
			<key>offset</key>
			<string>{1.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,20},{199,137}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{778,1},{197,138}}</string>
			<key>offset</key>
			<string>{3.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,22},{197,138}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
		<key>astroglyph_01_f_adult_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{977,1},{194,138}}</string>
			<key>offset</key>
			<string>{4,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,23},{194,138}}</string>
			<key>sourceSize</key>
			<string>{206,162}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1958,442}</string>
		<key>textureFileName</key>
		<string>astroglyph_01_f_adult_yr.png</string>
	</dict>
</dict>
</plist>
