<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{308,443},{98,86}}</string>
			<key>offset</key>
			<string>{-5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,17},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{100,474},{98,85}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,17},{98,85}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{326,356},{104,85}}</string>
			<key>offset</key>
			<string>{-3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,18},{104,85}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{100,388},{106,84}}</string>
			<key>offset</key>
			<string>{-2,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,19},{106,84}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{216,341},{108,83}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,21},{108,83}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{344,272},{110,82}}</string>
			<key>offset</key>
			<string>{0,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,23},{110,82}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{342,89},{112,82}}</string>
			<key>offset</key>
			<string>{1,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,24},{112,82}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{100,305},{114,81}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,26},{114,81}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{226,258},{116,81}}</string>
			<key>offset</key>
			<string>{3,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,27},{116,81}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{226,174},{116,82}}</string>
			<key>offset</key>
			<string>{4,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,27},{116,82}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{223,1},{119,84}}</string>
			<key>offset</key>
			<string>{5.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,26},{119,84}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,204},{120,85}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,25},{120,85}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{224,87},{116,85}}</string>
			<key>offset</key>
			<string>{5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,24},{116,85}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{344,1},{107,86}}</string>
			<key>offset</key>
			<string>{0.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,22},{107,86}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{208,426},{98,87}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,20},{98,87}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{408,457},{98,86}}</string>
			<key>offset</key>
			<string>{-4,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1,390},{97,86}}</string>
			<key>offset</key>
			<string>{-4.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,18},{97,86}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{456,204},{87,99}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{87,99}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{456,103},{88,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,7},{88,99}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{344,173},{94,97}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,9},{94,97}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,291},{97,97}}</string>
			<key>offset</key>
			<string>{5.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,12},{97,97}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{123,204},{101,99}}</string>
			<key>offset</key>
			<string>{8.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,14},{101,99}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{116,102},{106,100}}</string>
			<key>offset</key>
			<string>{11,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,16},{106,100}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{110,101}}</string>
			<key>offset</key>
			<string>{13,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,17},{110,101}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,104},{113,97}}</string>
			<key>offset</key>
			<string>{14.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,16},{113,97}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{113,1},{108,99}}</string>
			<key>offset</key>
			<string>{11,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,13},{108,99}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{432,356},{89,99}}</string>
			<key>offset</key>
			<string>{1.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,11},{89,99}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
		<key>makoa_04_f_hatchling_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{456,1},{88,100}}</string>
			<key>offset</key>
			<string>{1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{88,100}}</string>
			<key>sourceSize</key>
			<string>{128,113}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{545,560}</string>
		<key>textureFileName</key>
		<string>makoa_04_f_hatchling_yr.png</string>
	</dict>
</dict>
</plist>
