<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_05_f_adult_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1576,1},{177,197}}</string>
			<key>offset</key>
			<string>{1.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,34},{177,197}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{184,196},{180,199}}</string>
			<key>offset</key>
			<string>{3,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,34},{180,199}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{554,197},{182,201}}</string>
			<key>offset</key>
			<string>{4,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,34},{182,201}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1500,200},{184,203}}</string>
			<key>offset</key>
			<string>{5,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,34},{184,203}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{929,198},{187,202}}</string>
			<key>offset</key>
			<string>{4.5,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,35},{187,202}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1118,198},{189,202}}</string>
			<key>offset</key>
			<string>{4.5,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,35},{189,202}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1309,199},{189,202}}</string>
			<key>offset</key>
			<string>{4.5,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,35},{189,202}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{738,197},{189,201}}</string>
			<key>offset</key>
			<string>{4.5,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,35},{189,201}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{366,197},{186,199}}</string>
			<key>offset</key>
			<string>{5,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,36},{186,199}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,196},{181,198}}</string>
			<key>offset</key>
			<string>{5.5,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{181,198}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1755,1},{178,197}}</string>
			<key>offset</key>
			<string>{4,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{178,197}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1400,1},{174,196}}</string>
			<key>offset</key>
			<string>{2,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{174,196}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{526,1},{172,194}}</string>
			<key>offset</key>
			<string>{1,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{172,194}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1049,1},{173,195}}</string>
			<key>offset</key>
			<string>{1.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,35},{173,195}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{700,1},{173,194}}</string>
			<key>offset</key>
			<string>{1.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,35},{173,194}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{176,1},{174,193}}</string>
			<key>offset</key>
			<string>{1,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,35},{174,193}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{173,192}}</string>
			<key>offset</key>
			<string>{0.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,35},{173,192}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{352,1},{172,193}}</string>
			<key>offset</key>
			<string>{0,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,34},{172,193}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{875,1},{172,194}}</string>
			<key>offset</key>
			<string>{-1,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,34},{172,194}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{1224,1},{174,195}}</string>
			<key>offset</key>
			<string>{0,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,34},{174,195}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,396},{180,212}}</string>
			<key>offset</key>
			<string>{4,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,35},{180,212}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{183,398},{183,211}}</string>
			<key>offset</key>
			<string>{5.5,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,35},{183,211}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1686,200},{186,210}}</string>
			<key>offset</key>
			<string>{7,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,36},{186,210}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{547,400},{189,211}}</string>
			<key>offset</key>
			<string>{9.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{189,211}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{738,400},{183,213}}</string>
			<key>offset</key>
			<string>{6.5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{183,213}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1099,402},{185,214}}</string>
			<key>offset</key>
			<string>{8.5,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,37},{185,214}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1286,403},{186,216}}</string>
			<key>offset</key>
			<string>{9,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,37},{186,216}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1474,405},{183,216}}</string>
			<key>offset</key>
			<string>{7.5,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,37},{183,216}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1659,412},{179,217}}</string>
			<key>offset</key>
			<string>{4.5,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{179,217}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1874,200},{173,216}}</string>
			<key>offset</key>
			<string>{1.5,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{173,216}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{923,402},{174,214}}</string>
			<key>offset</key>
			<string>{1,-33.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,36},{174,214}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
		<key>sirius_05_f_adult_r/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{368,398},{177,213}}</string>
			<key>offset</key>
			<string>{2.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,35},{177,213}}</string>
			<key>sourceSize</key>
			<string>{192,219}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2048,630}</string>
		<key>textureFileName</key>
		<string>sirius_05_f_adult_r.png</string>
	</dict>
</dict>
</plist>
