<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>selora_02_f_adult_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{610,407},{155,130}}</string>
			<key>offset</key>
			<string>{-15.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,32},{155,130}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{203,560},{194,130}}</string>
			<key>offset</key>
			<string>{4,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,32},{194,130}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,603},{194,130}}</string>
			<key>offset</key>
			<string>{4,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,32},{194,130}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{507,1},{199,145}}</string>
			<key>offset</key>
			<string>{2.5,-8.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,17},{199,145}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{408,557},{199,145}}</string>
			<key>offset</key>
			<string>{2.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,17},{199,145}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,455},{200,146}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{200,146}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{408,409},{200,146}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{200,146}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{506,205},{200,146}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,16},{200,146}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{205,411},{201,147}}</string>
			<key>offset</key>
			<string>{2.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{201,147}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{357,205},{202,147}}</string>
			<key>offset</key>
			<string>{2,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,15},{202,147}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,305},{202,148}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{202,148}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{357,1},{202,148}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,14},{202,148}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{206,1},{203,149}}</string>
			<key>offset</key>
			<string>{1.5,-6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,13},{203,149}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{206,206},{203,149}}</string>
			<key>offset</key>
			<string>{1.5,-6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,13},{203,149}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{203,150}}</string>
			<key>offset</key>
			<string>{1.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{203,150}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,153},{203,150}}</string>
			<key>offset</key>
			<string>{1.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{203,150}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{654,1},{163,151}}</string>
			<key>offset</key>
			<string>{-19.5,-5.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,11},{163,151}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{654,166},{163,151}}</string>
			<key>offset</key>
			<string>{-19.5,-5.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,11},{163,151}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{609,557},{162,152}}</string>
			<key>offset</key>
			<string>{-19,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{162,152}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{197,692},{154,130}}</string>
			<key>offset</key>
			<string>{-15,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,32},{154,130}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{807,1},{147,123}}</string>
			<key>offset</key>
			<string>{14.5,-21.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,41},{147,123}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{807,150},{147,123}}</string>
			<key>offset</key>
			<string>{14.5,-21.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,41},{147,123}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{153,824},{147,121}}</string>
			<key>offset</key>
			<string>{14.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,43},{147,121}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{932,1},{146,119}}</string>
			<key>offset</key>
			<string>{15,-23.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,45},{146,119}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{932,149},{146,118}}</string>
			<key>offset</key>
			<string>{15,-24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,46},{146,118}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{932,751},{147,117}}</string>
			<key>offset</key>
			<string>{15.5,-24.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,47},{147,117}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{918,299},{148,119}}</string>
			<key>offset</key>
			<string>{16,-25.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,47},{148,119}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{778,860},{148,121}}</string>
			<key>offset</key>
			<string>{16,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,46},{148,121}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{807,709},{149,123}}</string>
			<key>offset</key>
			<string>{15.5,-25.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,45},{149,123}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{767,331},{149,125}}</string>
			<key>offset</key>
			<string>{15.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,43},{149,125}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{656,711},{149,126}}</string>
			<key>offset</key>
			<string>{15.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,42},{149,126}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,735},{150,127}}</string>
			<key>offset</key>
			<string>{16,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,41},{150,127}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{505,711},{149,127}}</string>
			<key>offset</key>
			<string>{15.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,41},{149,127}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{353,704},{150,127}}</string>
			<key>offset</key>
			<string>{16,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,42},{150,127}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{773,458},{150,124}}</string>
			<key>offset</key>
			<string>{16,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,44},{150,124}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_16</key>
		<dict>
			<key>frame</key>
			<string>{{773,584},{150,123}}</string>
			<key>offset</key>
			<string>{17,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,45},{150,123}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_17</key>
		<dict>
			<key>frame</key>
			<string>{{656,839},{150,120}}</string>
			<key>offset</key>
			<string>{17,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,47},{150,120}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_18</key>
		<dict>
			<key>frame</key>
			<string>{{1,864},{150,118}}</string>
			<key>offset</key>
			<string>{17,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,47},{150,118}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_19</key>
		<dict>
			<key>frame</key>
			<string>{{932,600},{149,116}}</string>
			<key>offset</key>
			<string>{16.5,-24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,47},{149,116}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_20</key>
		<dict>
			<key>frame</key>
			<string>{{925,449},{149,117}}</string>
			<key>offset</key>
			<string>{15.5,-22.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,45},{149,117}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_21</key>
		<dict>
			<key>frame</key>
			<string>{{451,840},{148,119}}</string>
			<key>offset</key>
			<string>{15,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,43},{148,119}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
		<key>selora_02_f_adult_pb/move/move_22</key>
		<dict>
			<key>frame</key>
			<string>{{302,833},{147,120}}</string>
			<key>offset</key>
			<string>{14.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,42},{147,120}}</string>
			<key>sourceSize</key>
			<string>{210,162}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1052,990}</string>
		<key>textureFileName</key>
		<string>selora_02_m_adult_pb.png</string>
	</dict>
</dict>
</plist>
