<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>flamber_01_f_hatch_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{952,1},{50,41}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,2},{50,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1004,1},{50,41}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,2},{50,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1109,1},{50,41}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,2},{50,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1161,1},{50,41}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,2},{50,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{533,1},{50,40}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,3},{50,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{585,1},{50,40}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,3},{50,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{637,1},{51,40}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,3},{51,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{213,1},{51,39}}</string>
			<key>offset</key>
			<string>{-5.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,39}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{266,1},{51,39}}</string>
			<key>offset</key>
			<string>{-5.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,39}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{319,1},{52,39}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,4},{52,39}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{159,1},{52,39}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,4},{52,39}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{373,1},{52,40}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,3},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{427,1},{51,40}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,3},{51,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{480,1},{51,40}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,3},{51,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1056,1},{51,41}}</string>
			<key>offset</key>
			<string>{-5.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,2},{51,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1213,1},{51,41}}</string>
			<key>offset</key>
			<string>{-5.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,2},{51,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{690,1},{50,40}}</string>
			<key>offset</key>
			<string>{-6,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,2},{50,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{848,1},{50,40}}</string>
			<key>offset</key>
			<string>{-6,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,2},{50,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{50,38}}</string>
			<key>offset</key>
			<string>{-7,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,3},{50,38}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{53,1},{51,38}}</string>
			<key>offset</key>
			<string>{-6.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,3},{51,38}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{106,1},{51,38}}</string>
			<key>offset</key>
			<string>{-6.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,3},{51,38}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1266,1},{51,41}}</string>
			<key>offset</key>
			<string>{-5.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,2},{51,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1319,1},{50,41}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,2},{50,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1371,1},{50,41}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,2},{50,41}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{900,1},{50,40}}</string>
			<key>offset</key>
			<string>{-7,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,3},{50,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{742,1},{51,40}}</string>
			<key>offset</key>
			<string>{-6.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,3},{51,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
		<key>flamber_01_f_hatch_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{795,1},{51,40}}</string>
			<key>offset</key>
			<string>{-6.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,3},{51,40}}</string>
			<key>sourceSize</key>
			<string>{52,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1422,43}</string>
		<key>textureFileName</key>
		<string>flamber_01_f_hatch_yr.png</string>
	</dict>
</dict>
</plist>
