<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{110,495},{97,94}}</string>
			<key>offset</key>
			<string>{-5.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{97,94}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{117,381},{112,94}}</string>
			<key>offset</key>
			<string>{1,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,19},{112,94}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,317},{114,93}}</string>
			<key>offset</key>
			<string>{2,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,20},{114,93}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{213,372},{118,92}}</string>
			<key>offset</key>
			<string>{3,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,21},{118,92}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{323,114},{121,91}}</string>
			<key>offset</key>
			<string>{4.5,-11.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,23},{121,91}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{311,244},{125,90}}</string>
			<key>offset</key>
			<string>{6.5,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,25},{125,90}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{127,124},{127,90}}</string>
			<key>offset</key>
			<string>{7.5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,26},{127,90}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{231,114},{128,90}}</string>
			<key>offset</key>
			<string>{8,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,28},{128,90}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{219,244},{126,90}}</string>
			<key>offset</key>
			<string>{8,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,29},{126,90}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{121,253},{126,90}}</string>
			<key>offset</key>
			<string>{8,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,29},{126,90}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{508,106},{99,91}}</string>
			<key>offset</key>
			<string>{-5.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,29},{99,91}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,503},{98,92}}</string>
			<key>offset</key>
			<string>{-5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,28},{98,92}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{494,216},{98,92}}</string>
			<key>offset</key>
			<string>{-5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,27},{98,92}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{209,495},{98,93}}</string>
			<key>offset</key>
			<string>{-5,-14.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,25},{98,93}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{416,345},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,23},{98,94}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{416,441},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,21},{98,94}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{307,479},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,20},{98,94}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{339,1},{89,107}}</string>
			<key>offset</key>
			<string>{-0.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,8},{89,107}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{311,371},{103,106}}</string>
			<key>offset</key>
			<string>{6.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,8},{103,106}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{231,1},{111,106}}</string>
			<key>offset</key>
			<string>{10.5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,9},{111,106}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,211},{118,104}}</string>
			<key>offset</key>
			<string>{15,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,12},{118,104}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{124,103}}</string>
			<key>offset</key>
			<string>{18,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,15},{124,103}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,106},{124,103}}</string>
			<key>offset</key>
			<string>{19,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,17},{124,103}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{127,1},{121,102}}</string>
			<key>offset</key>
			<string>{17.5,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,18},{121,102}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{430,1},{89,103}}</string>
			<key>offset</key>
			<string>{1.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,17},{89,103}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{416,110},{90,104}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,15},{90,104}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{403,237},{89,106}}</string>
			<key>offset</key>
			<string>{0.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,12},{89,106}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
		<key>makoa_05_m_hatchling_pb/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,412},{89,107}}</string>
			<key>offset</key>
			<string>{0.5,-5.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,9},{89,107}}</string>
			<key>sourceSize</key>
			<string>{130,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{608,596}</string>
		<key>textureFileName</key>
		<string>makoa_05_m_hatchling_pb.png</string>
	</dict>
</dict>
</plist>
