<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{728,1},{42,50}}</string>
			<key>offset</key>
			<string>{3,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{42,50}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{772,1},{42,50}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{42,50}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{861,1},{43,50}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{43,50}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{906,1},{43,50}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{43,50}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{500,1},{43,49}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{43,49}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{48,1},{43,48}}</string>
			<key>offset</key>
			<string>{2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{43,48}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{93,1},{43,48}}</string>
			<key>offset</key>
			<string>{2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{43,48}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{138,1},{43,48}}</string>
			<key>offset</key>
			<string>{2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{43,48}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{183,1},{43,48}}</string>
			<key>offset</key>
			<string>{2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{43,48}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{545,1},{44,49}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{44,49}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{411,1},{43,49}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{43,49}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{816,1},{43,50}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{43,50}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{456,1},{42,49}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{42,49}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{951,1},{43,50}}</string>
			<key>offset</key>
			<string>{1.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{43,50}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{996,1},{43,50}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{43,50}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{591,1},{44,49}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{44,49}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{228,1},{45,48}}</string>
			<key>offset</key>
			<string>{1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{45,48}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{45,47}}</string>
			<key>offset</key>
			<string>{1.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{45,47}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{275,1},{43,48}}</string>
			<key>offset</key>
			<string>{1.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{43,48}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{320,1},{42,48}}</string>
			<key>offset</key>
			<string>{2,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{42,48}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{637,1},{43,49}}</string>
			<key>offset</key>
			<string>{2.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{43,49}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{682,1},{44,49}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{44,49}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{364,1},{45,48}}</string>
			<key>offset</key>
			<string>{1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{45,48}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>astroglyph_01_m_hatch_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1041,1},{43,50}}</string>
			<key>offset</key>
			<string>{1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{43,50}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1085,52}</string>
		<key>textureFileName</key>
		<string>astroglyph_01_m_hatch_yr.png</string>
	</dict>
</dict>
</plist>
