<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{416,109},{132,113}}</string>
			<key>offset</key>
			<string>{12,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,10},{132,113}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{956,110},{131,116}}</string>
			<key>offset</key>
			<string>{11.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{131,116}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1351,112},{130,118}}</string>
			<key>offset</key>
			<string>{12,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{130,118}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1089,111},{129,117}}</string>
			<key>offset</key>
			<string>{11.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{129,117}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1220,111},{129,117}}</string>
			<key>offset</key>
			<string>{11.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{129,117}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{826,110},{128,115}}</string>
			<key>offset</key>
			<string>{11,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,11},{128,115}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{550,109},{129,113}}</string>
			<key>offset</key>
			<string>{11.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,14},{129,113}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,102},{130,111}}</string>
			<key>offset</key>
			<string>{11,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,17},{130,111}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1559,1},{130,110}}</string>
			<key>offset</key>
			<string>{11,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{130,110}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1426,1},{131,109}}</string>
			<key>offset</key>
			<string>{11.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,20},{131,109}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{879,1},{132,107}}</string>
			<key>offset</key>
			<string>{11,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{132,107}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{450,1},{133,106}}</string>
			<key>offset</key>
			<string>{11.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{133,106}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1013,1},{134,107}}</string>
			<key>offset</key>
			<string>{12,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{134,107}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1149,1},{134,108}}</string>
			<key>offset</key>
			<string>{12,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{134,108}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1839,1},{133,111}}</string>
			<key>offset</key>
			<string>{12.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,13},{133,111}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1691,1},{146,110}}</string>
			<key>offset</key>
			<string>{7,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{146,110}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{681,109},{143,113}}</string>
			<key>offset</key>
			<string>{7.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{143,113}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{274,105},{140,112}}</string>
			<key>offset</key>
			<string>{7,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{140,112}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{133,105},{139,111}}</string>
			<key>offset</key>
			<string>{6.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{139,111}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1285,1},{139,108}}</string>
			<key>offset</key>
			<string>{5.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,21},{139,108}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{585,1},{141,106}}</string>
			<key>offset</key>
			<string>{5.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{141,106}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{151,1},{145,102}}</string>
			<key>offset</key>
			<string>{5.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,28},{145,102}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{148,99}}</string>
			<key>offset</key>
			<string>{6,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,28},{148,99}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{298,1},{150,102}}</string>
			<key>offset</key>
			<string>{7,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{150,102}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_m_hatchling_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{728,1},{149,106}}</string>
			<key>offset</key>
			<string>{7.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,16},{149,106}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1973,231}</string>
		<key>textureFileName</key>
		<string>illuide_01_m_hatchling_bk.png</string>
	</dict>
</dict>
</plist>
