<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_03_m_hatch_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{154,188},{72,49}}</string>
			<key>offset</key>
			<string>{9,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{72,49}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,252},{71,49}}</string>
			<key>offset</key>
			<string>{8.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{71,49}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{147,301},{71,48}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{71,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{77,189},{72,48}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{72,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{230,1},{72,48}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{72,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{230,51},{72,48}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{72,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{229,101},{72,48}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{72,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{229,151},{72,48}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{72,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{228,201},{72,48}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{72,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{220,301},{71,48}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{71,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{74,252},{71,48}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{71,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{147,251},{71,48}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{71,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{220,251},{71,48}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{71,48}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,303},{71,50}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{71,50}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{74,302},{71,50}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{71,50}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{154,64},{73,60}}</string>
			<key>offset</key>
			<string>{-2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{73,60}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{78,1},{74,61}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{74,61}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{78,64},{74,61}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{74,61}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{154,126},{73,60}}</string>
			<key>offset</key>
			<string>{-2.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{73,60}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{78,127},{74,60}}</string>
			<key>offset</key>
			<string>{-3,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{74,60}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{75,61}}</string>
			<key>offset</key>
			<string>{-3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,2},{75,61}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,64},{75,62}}</string>
			<key>offset</key>
			<string>{-2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{75,62}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{154,1},{74,61}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{74,61}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,190},{73,60}}</string>
			<key>offset</key>
			<string>{-2.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{73,60}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>illuide_03_m_hatch_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,128},{74,60}}</string>
			<key>offset</key>
			<string>{-3,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{74,60}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{303,354}</string>
		<key>textureFileName</key>
		<string>illuide_03_m_hatch_w.png</string>
	</dict>
</dict>
</plist>
