<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_01_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{171,874},{167,157}}</string>
			<key>offset</key>
			<string>{2.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,29},{167,157}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{505,847},{162,158}}</string>
			<key>offset</key>
			<string>{3,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,27},{162,158}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{669,847},{161,159}}</string>
			<key>offset</key>
			<string>{3.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,27},{161,159}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{340,873},{163,160}}</string>
			<key>offset</key>
			<string>{3.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,28},{163,160}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,874},{168,159}}</string>
			<key>offset</key>
			<string>{3,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,31},{168,159}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{827,357},{175,156}}</string>
			<key>offset</key>
			<string>{2.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,35},{175,156}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,720},{183,152}}</string>
			<key>offset</key>
			<string>{1.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,40},{183,152}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{634,327},{191,146}}</string>
			<key>offset</key>
			<string>{0.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,46},{191,146}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{421,451},{199,140}}</string>
			<key>offset</key>
			<string>{-0.5,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,52},{199,140}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{430,1},{205,133}}</string>
			<key>offset</key>
			<string>{-1.5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,57},{205,133}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{213,290},{209,132}}</string>
			<key>offset</key>
			<string>{-2.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,58},{209,132}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{215,154},{211,134}}</string>
			<key>offset</key>
			<string>{-2.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,57},{211,134}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,154},{212,134}}</string>
			<key>offset</key>
			<string>{-3,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,57},{212,134}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,290},{210,134}}</string>
			<key>offset</key>
			<string>{-3,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,57},{210,134}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{213,424},{206,135}}</string>
			<key>offset</key>
			<string>{-3,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,56},{206,135}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,582},{202,136}}</string>
			<key>offset</key>
			<string>{-2,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,55},{202,136}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{213,561},{196,140}}</string>
			<key>offset</key>
			<string>{-1,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,50},{196,140}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{622,475},{189,146}}</string>
			<key>offset</key>
			<string>{-0.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,43},{189,146}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{186,720},{181,151}}</string>
			<key>offset</key>
			<string>{0.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,37},{181,151}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{813,515},{173,155}}</string>
			<key>offset</key>
			<string>{1.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,32},{173,155}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{832,1},{171,176}}</string>
			<key>offset</key>
			<string>{-8.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,36},{171,176}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{831,179},{165,176}}</string>
			<key>offset</key>
			<string>{-6.5,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,35},{165,176}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{777,672},{169,173}}</string>
			<key>offset</key>
			<string>{-3.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,38},{169,173}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{595,623},{180,167}}</string>
			<key>offset</key>
			<string>{-1,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,45},{180,167}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{636,167},{193,158}}</string>
			<key>offset</key>
			<string>{0.5,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,55},{193,158}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{430,136},{204,151}}</string>
			<key>offset</key>
			<string>{2,-48.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,65},{204,151}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{216,1},{212,151}}</string>
			<key>offset</key>
			<string>{2,-50.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,67},{212,151}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{213,151}}</string>
			<key>offset</key>
			<string>{0.5,-50.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,67},{213,151}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,426},{210,154}}</string>
			<key>offset</key>
			<string>{-2,-49}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,64},{210,154}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{428,289},{204,160}}</string>
			<key>offset</key>
			<string>{-5,-45}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,57},{204,160}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{637,1},{193,164}}</string>
			<key>offset</key>
			<string>{-7.5,-41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,51},{193,164}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
		<key>sirius_01_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{411,593},{182,171}}</string>
			<key>offset</key>
			<string>{-9,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,42},{182,171}}</string>
			<key>sourceSize</key>
			<string>{216,184}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1004,1034}</string>
		<key>textureFileName</key>
		<string>sirius_01_m_adult_w.png</string>
	</dict>
</dict>
</plist>
