<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{127,215},{85,119}}</string>
			<key>offset</key>
			<string>{3.5,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,32},{85,119}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{121,303},{84,117}}</string>
			<key>offset</key>
			<string>{4,-20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,31},{84,117}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{248,244},{84,117}}</string>
			<key>offset</key>
			<string>{4,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,29},{84,117}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{355,119},{86,115}}</string>
			<key>offset</key>
			<string>{5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,27},{86,115}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{350,236},{86,115}}</string>
			<key>offset</key>
			<string>{5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,24},{86,115}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{355,1},{87,116}}</string>
			<key>offset</key>
			<string>{5.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,22},{87,116}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,303},{87,118}}</string>
			<key>offset</key>
			<string>{5.5,-8.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,19},{87,118}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{265,1},{88,120}}</string>
			<key>offset</key>
			<string>{6,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,18},{88,120}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{177,1},{86,123}}</string>
			<key>offset</key>
			<string>{5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,17},{86,123}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,129},{88,124}}</string>
			<key>offset</key>
			<string>{6,-10.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,18},{88,124}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{127,129},{84,122}}</string>
			<key>offset</key>
			<string>{4,-12.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,21},{84,122}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{87,126}}</string>
			<key>offset</key>
			<string>{5.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,24},{87,126}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,219},{82,122}}</string>
			<key>offset</key>
			<string>{3,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,27},{82,122}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{90,1},{85,126}}</string>
			<key>offset</key>
			<string>{4.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,30},{85,126}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{265,123},{83,119}}</string>
			<key>offset</key>
			<string>{2.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,31},{83,119}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{440,339},{73,100}}</string>
			<key>offset</key>
			<string>{-5.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,25},{73,100}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,468},{72,100}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,22},{72,100}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{209,467},{72,100}}</string>
			<key>offset</key>
			<string>{-4,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,20},{72,100}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{311,467},{72,100}}</string>
			<key>offset</key>
			<string>{-3,0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,19},{72,100}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{413,441},{72,100}}</string>
			<key>offset</key>
			<string>{-3,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,20},{72,100}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{440,236},{73,101}}</string>
			<key>offset</key>
			<string>{-1.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{73,101}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{240,363},{73,102}}</string>
			<key>offset</key>
			<string>{-1.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,27},{73,102}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,392},{74,104}}</string>
			<key>offset</key>
			<string>{-1,-13.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,31},{74,104}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{107,392},{72,104}}</string>
			<key>offset</key>
			<string>{-2,-16.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,34},{72,104}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{334,353},{73,104}}</string>
			<key>offset</key>
			<string>{-1.5,-17.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,35},{73,104}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{444,1},{70,101}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,34},{70,101}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{107,467},{73,100}}</string>
			<key>offset</key>
			<string>{-4.5,-11.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,31},{73,100}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
		<key>dhupa_01_f_hatchling_r/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{443,119},{71,100}}</string>
			<key>offset</key>
			<string>{-6.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,27},{71,100}}</string>
			<key>sourceSize</key>
			<string>{90,139}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{515,541}</string>
		<key>textureFileName</key>
		<string>dhupa_01_f_hatchling_r.png</string>
	</dict>
</dict>
</plist>
