<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aruruga_01_m_hatch_b/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{67,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{464,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{530,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{596,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{662,1},{65,50}}</string>
			<key>offset</key>
			<string>{1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{65,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{729,1},{65,50}}</string>
			<key>offset</key>
			<string>{1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{65,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{796,1},{65,50}}</string>
			<key>offset</key>
			<string>{1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{65,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{863,1},{65,50}}</string>
			<key>offset</key>
			<string>{1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{65,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{930,1},{65,50}}</string>
			<key>offset</key>
			<string>{1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{65,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{133,1},{65,50}}</string>
			<key>offset</key>
			<string>{1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{65,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{200,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{266,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{332,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{398,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1263,1},{64,51}}</string>
			<key>offset</key>
			<string>{1,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,51}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{997,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1597,1},{66,52}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{66,52}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1329,1},{66,51}}</string>
			<key>offset</key>
			<string>{1,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{66,51}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1063,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1397,1},{64,51}}</string>
			<key>offset</key>
			<string>{1,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,51}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1129,1},{64,50}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{64,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1463,1},{66,51}}</string>
			<key>offset</key>
			<string>{1,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{66,51}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1195,1},{66,50}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{66,50}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
		<key>aruruga_01_m_hatch_b/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1531,1},{64,51}}</string>
			<key>offset</key>
			<string>{1,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,51}}</string>
			<key>sourceSize</key>
			<string>{68,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1664,54}</string>
		<key>textureFileName</key>
		<string>aruruga_01_m_hatch_b.png</string>
	</dict>
</dict>
</plist>
