<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_09_m_adult_y/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{190,460},{186,149}}</string>
			<key>offset</key>
			<string>{23,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,44},{186,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{602,160},{186,149}}</string>
			<key>offset</key>
			<string>{23,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,43},{186,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{602,311},{186,151}}</string>
			<key>offset</key>
			<string>{23,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,42},{186,151}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,618},{186,153}}</string>
			<key>offset</key>
			<string>{23,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,41},{186,153}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{422,1},{187,154}}</string>
			<key>offset</key>
			<string>{23.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,42},{187,154}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{413,157},{187,156}}</string>
			<key>offset</key>
			<string>{23.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,42},{187,156}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,460},{187,156}}</string>
			<key>offset</key>
			<string>{23.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,44},{187,156}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{388,315},{187,157}}</string>
			<key>offset</key>
			<string>{24.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,45},{187,157}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{611,1},{187,157}}</string>
			<key>offset</key>
			<string>{24.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,47},{187,157}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{190,611},{186,156}}</string>
			<key>offset</key>
			<string>{25,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,50},{186,156}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{577,464},{185,155}}</string>
			<key>offset</key>
			<string>{25.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,52},{185,155}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{378,474},{185,153}}</string>
			<key>offset</key>
			<string>{25.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,54},{185,153}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,773},{185,151}}</string>
			<key>offset</key>
			<string>{25.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,55},{185,151}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{188,773},{185,149}}</string>
			<key>offset</key>
			<string>{25.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,56},{185,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{800,149},{184,148}}</string>
			<key>offset</key>
			<string>{25,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,56},{184,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{749,771},{184,147}}</string>
			<key>offset</key>
			<string>{25,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,55},{184,147}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{752,621},{184,147}}</string>
			<key>offset</key>
			<string>{25,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,53},{184,147}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{764,464},{184,146}}</string>
			<key>offset</key>
			<string>{24,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,51},{184,146}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{375,769},{185,148}}</string>
			<key>offset</key>
			<string>{23.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,48},{185,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{565,621},{185,148}}</string>
			<key>offset</key>
			<string>{23.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,46},{185,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{370,924},{178,148}}</string>
			<key>offset</key>
			<string>{14,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,37},{178,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{378,629},{176,121}}</string>
			<key>offset</key>
			<string>{14,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,64},{176,121}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,349},{193,109}}</string>
			<key>offset</key>
			<string>{4.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,77},{193,109}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{211,109}}</string>
			<key>offset</key>
			<string>{0.5,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,79},{211,109}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,112},{211,124}}</string>
			<key>offset</key>
			<string>{-4.5,-40.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,81},{211,124}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{214,1},{206,130}}</string>
			<key>offset</key>
			<string>{-1,-46.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,84},{206,130}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{214,133},{197,136}}</string>
			<key>offset</key>
			<string>{5.5,-52.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,87},{197,136}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{800,1},{185,146}}</string>
			<key>offset</key>
			<string>{12.5,-59.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,89},{185,146}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,926},{183,151}}</string>
			<key>offset</key>
			<string>{14.5,-63}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,90},{183,151}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{196,349},{190,109}}</string>
			<key>offset</key>
			<string>{12,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,90},{190,109}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,238},{204,109}}</string>
			<key>offset</key>
			<string>{5,-41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,89},{204,109}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{562,771},{185,145}}</string>
			<key>offset</key>
			<string>{14.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,51},{185,145}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{790,299},{184,148}}</string>
			<key>offset</key>
			<string>{14,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,45},{184,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{186,926},{182,149}}</string>
			<key>offset</key>
			<string>{14,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,41},{182,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_09_m_adult_y/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{562,918},{180,148}}</string>
			<key>offset</key>
			<string>{14,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,38},{180,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{986,1078}</string>
		<key>textureFileName</key>
		<string>illuide_09_m_adult_y.png</string>
	</dict>
</dict>
</plist>
