<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snake/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{412,64},{80,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{80,60}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,68}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{76,68}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{68,68}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,76}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{100,76}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{64,64}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{72,60}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{72,60}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{330,68},{80,32}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{80,32}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{88,40}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,36},{88,40}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{572,64},{72,60}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{72,60}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{76,64}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{76,64}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{76,60}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{76,60}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{412,64},{80,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{80,60}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{248,68},{80,56}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{80,56}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{80,64}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{84,60}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{84,60}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{494,64},{76,60}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{76,60}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>snake/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{80,64}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{80,64}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snake.png</string>
            <key>size</key>
            <string>{848,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d81e02f7b5f049af135168876577fdf2:2a59d9a37d1129fa1e3ae5848c373cb9:34ac0ef24d898e022557dce22e67e8d3$</string>
            <key>textureFileName</key>
            <string>snake.png</string>
        </dict>
    </dict>
</plist>
