<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_03_m_hatchling_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,85},{90,82}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{90,82}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{93,85},{89,82}}</string>
			<key>offset</key>
			<string>{-4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{89,82}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{94,1},{88,81}}</string>
			<key>offset</key>
			<string>{-5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{88,81}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{184,83},{87,81}}</string>
			<key>offset</key>
			<string>{-5.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{87,81}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{185,166},{87,81}}</string>
			<key>offset</key>
			<string>{-5.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{87,81}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{185,249},{88,79}}</string>
			<key>offset</key>
			<string>{-5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{88,79}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{184,1},{89,80}}</string>
			<key>offset</key>
			<string>{-4.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{89,80}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,169},{90,80}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{90,80}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{93,169},{90,80}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{90,80}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{91,82}}</string>
			<key>offset</key>
			<string>{-2.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{91,82}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{174,330},{82,73}}</string>
			<key>offset</key>
			<string>{-11,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,11},{82,73}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{275,307},{81,74}}</string>
			<key>offset</key>
			<string>{-11.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,10},{81,74}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{275,231},{83,74}}</string>
			<key>offset</key>
			<string>{-10.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,8},{83,74}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,251},{85,74}}</string>
			<key>offset</key>
			<string>{-9.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{85,74}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{275,1},{85,73}}</string>
			<key>offset</key>
			<string>{-9.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{85,73}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,327},{85,72}}</string>
			<key>offset</key>
			<string>{-9.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{85,72}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{88,251},{87,72}}</string>
			<key>offset</key>
			<string>{-8.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,8},{87,72}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{273,83},{87,72}}</string>
			<key>offset</key>
			<string>{-8.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,9},{87,72}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{274,157},{86,72}}</string>
			<key>offset</key>
			<string>{-9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,11},{86,72}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
		<key>makara_03_m_hatchling_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{88,325},{84,73}}</string>
			<key>offset</key>
			<string>{-10,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,11},{84,73}}</string>
			<key>sourceSize</key>
			<string>{94,86}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{361,404}</string>
		<key>textureFileName</key>
		<string>makara_03_m_hatchling_bk.png</string>
	</dict>
</dict>
</plist>
