<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_06_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{820,160},{185,149}}</string>
			<key>offset</key>
			<string>{22.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,44},{185,149}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{776,766},{184,149}}</string>
			<key>offset</key>
			<string>{21,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,43},{184,149}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{780,609},{183,151}}</string>
			<key>offset</key>
			<string>{20.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,42},{183,151}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{186,964},{182,153}}</string>
			<key>offset</key>
			<string>{20,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,41},{182,153}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{370,963},{182,154}}</string>
			<key>offset</key>
			<string>{20,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,42},{182,154}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{554,932},{182,156}}</string>
			<key>offset</key>
			<string>{21,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,42},{182,156}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,964},{183,156}}</string>
			<key>offset</key>
			<string>{21.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,44},{183,156}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{815,311},{185,157}}</string>
			<key>offset</key>
			<string>{22.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,45},{185,157}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{832,1},{187,157}}</string>
			<key>offset</key>
			<string>{24.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,47},{187,157}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{585,766},{189,156}}</string>
			<key>offset</key>
			<string>{25.5,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,50},{189,156}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{588,609},{190,155}}</string>
			<key>offset</key>
			<string>{27,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,52},{190,155}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{622,301},{191,153}}</string>
			<key>offset</key>
			<string>{27.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,54},{191,153}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{588,456},{191,151}}</string>
			<key>offset</key>
			<string>{28.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,55},{191,151}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{626,150},{192,149}}</string>
			<key>offset</key>
			<string>{29,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,56},{192,149}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{198,516},{193,147}}</string>
			<key>offset</key>
			<string>{29.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,56},{193,147}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{393,510},{193,147}}</string>
			<key>offset</key>
			<string>{29.5,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,55},{193,147}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{637,1},{193,147}}</string>
			<key>offset</key>
			<string>{28.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,53},{193,147}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{1,665},{191,146}}</string>
			<key>offset</key>
			<string>{27.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,51},{191,146}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{393,659},{190,148}}</string>
			<key>offset</key>
			<string>{26,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,48},{190,148}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{193,813},{188,148}}</string>
			<key>offset</key>
			<string>{24,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,46},{188,148}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,516},{195,147}}</string>
			<key>offset</key>
			<string>{21.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,37},{195,147}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{386,809},{189,121}}</string>
			<key>offset</key>
			<string>{20.5,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,64},{189,121}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{220,111},{203,109}}</string>
			<key>offset</key>
			<string>{8.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,77},{203,109}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{220,1},{213,108}}</string>
			<key>offset</key>
			<string>{0.5,-30.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,79},{213,108}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{217,122}}</string>
			<key>offset</key>
			<string>{-2.5,-39.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,81},{217,122}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,236},{211,128}}</string>
			<key>offset</key>
			<string>{0.5,-45.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,84},{211,128}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{204,373},{201,135}}</string>
			<key>offset</key>
			<string>{6.5,-52}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,87},{201,135}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{194,665},{190,144}}</string>
			<key>offset</key>
			<string>{14,-58.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,89},{190,144}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,813},{190,149}}</string>
			<key>offset</key>
			<string>{17,-62}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,90},{190,149}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{425,149},{199,109}}</string>
			<key>offset</key>
			<string>{15.5,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,90},{199,109}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,125},{216,109}}</string>
			<key>offset</key>
			<string>{10,-41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,89},{216,109}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{435,1},{200,146}}</string>
			<key>offset</key>
			<string>{21,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,50},{200,146}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,366},{201,148}}</string>
			<key>offset</key>
			<string>{21.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,45},{201,148}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{219,222},{201,149}}</string>
			<key>offset</key>
			<string>{22.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,41},{201,149}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
		<key>illuide_06_m_adult_w/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{422,260},{198,148}}</string>
			<key>offset</key>
			<string>{22,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,38},{198,148}}</string>
			<key>sourceSize</key>
			<string>{234,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1020,1121}</string>
		<key>textureFileName</key>
		<string>illuide_06_m_adult_w.png</string>
	</dict>
</dict>
</plist>
