<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snakequeen_02/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{160,350},{172,168}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{172,168}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{156,156}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,16},{156,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{208,156}}</string>
                <key>offset</key>
                <string>{-36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{208,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{208,156}}</string>
                <key>offset</key>
                <string>{-32,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{208,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{168,1220},{152,160}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,12},{152,160}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{144,164}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,8},{144,164}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{192,164}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,8},{192,164}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,172}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{208,172}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{200,172}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{200,172}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{124,80}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,92},{124,80}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{172,172}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{168,1374},{152,160}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,12},{152,160}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{156,164}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,8},{156,164}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{172,172}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{160,524},{172,168}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{172,168}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{160,698},{172,168}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{172,168}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{160,872},{172,168}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{172,168}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/idle/idle_05</key>
            <dict>
                <key>frame</key>
                <string>{{160,1046},{172,168}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{172,168}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{136,156}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,16},{136,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{176,1528},{132,156}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,16},{132,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{176,1686},{128,156}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,16},{128,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{204,176},{124,156}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,16},{124,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{176,1844},{124,156}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,16},{124,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>snakequeen_02/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,1920},{120,156}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,16},{120,156}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snakequeen_02.png</string>
            <key>size</key>
            <string>{330,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3511f6883e053fb43c6248ba1fa9a6c:2561c8eb41e12ed0e3183a518611e8e8:f281f29381f9321a01831902afdb1692$</string>
            <key>textureFileName</key>
            <string>snakequeen_02.png</string>
        </dict>
    </dict>
</plist>
