<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juniorredstone/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{162,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{209,1},{162,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{162,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{165,369},{162,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-3}</string>
                <key>spriteSize</key>
                <string>{206,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{206,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{198,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,125},{198,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-5}</string>
                <key>spriteSize</key>
                <string>{166,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,495},{166,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juniorredstone/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-5}</string>
                <key>spriteSize</key>
                <string>{162,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{329,341},{162,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juniorredstone/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-25}</string>
                <key>spriteSize</key>
                <string>{162,78}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{121,495},{162,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juniorredstone/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-19}</string>
                <key>spriteSize</key>
                <string>{162,90}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{317,669},{162,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-19}</string>
                <key>spriteSize</key>
                <string>{146,90}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{169,659},{146,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{162,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{165,245},{162,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-5}</string>
                <key>spriteSize</key>
                <string>{166,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{201,125},{166,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-11}</string>
                <key>spriteSize</key>
                <string>{166,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,663},{166,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{162,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,237},{162,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{162,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{209,1},{162,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{162,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,367},{162,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juniorredstone/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{162,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{201,489},{162,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juniorredstone/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-7}</string>
                <key>spriteSize</key>
                <string>{162,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{321,505},{162,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juniorredstone/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{166,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{369,173},{166,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juniorredstone/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{170,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{373,1},{170,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>juniorredstone.png</string>
            <key>size</key>
            <string>{488,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:024f2273e17f89d6f8d7ba61504aaeb3:1085b03457d30046fbcb49ee454bcd09:e4ec8848800ec5283336d990d0c3eed2$</string>
            <key>textureFileName</key>
            <string>juniorredstone.png</string>
        </dict>
    </dict>
</plist>
