<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firemagicbird/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{169,339},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{353,149},{142,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,0}</string>
                <key>spriteSize</key>
                <string>{190,168}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{1,169},{190,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{194,166}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{169,495},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{166,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{1,339},{166,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{138,130}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{377,1},{138,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firemagicbird/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{313,457},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-59}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{313,597},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-53}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{433,597},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/die/die_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-55}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{433,661},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/die/die_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-67}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{453,301},{58,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firemagicbird/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{289,651},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{166,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{1,495},{166,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-8}</string>
                <key>spriteSize</key>
                <string>{178,146}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{197,1},{178,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{142,158}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{1,651},{142,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{317,807},{142,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firemagicbird/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{197,149},{142,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firemagicbird/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{142,158}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{145,651},{142,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firemagicbird/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{138,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{161,811},{138,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firemagicbird/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{138,158}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{1,811},{138,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firemagicbird/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{138,154}</string>
                <key>spriteSourceSize</key>
                <string>{264,168}</string>
                <key>textureRect</key>
                <string>{{313,301},{138,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>firemagicbird.png</string>
            <key>size</key>
            <string>{508,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45bb17ee27f167d4d15d51257c643a99:3c735766bc31ac008b9baeeb3ae12e74:4fb2d211b0647ff486d51bc1ee76e6c2$</string>
            <key>textureFileName</key>
            <string>firemagicbird.png</string>
        </dict>
    </dict>
</plist>
