<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anurhada_02_f_prism_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{399,398},{195,192}}</string>
			<key>offset</key>
			<string>{31.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,28},{195,192}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{577,1},{195,187}}</string>
			<key>offset</key>
			<string>{31.5,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,33},{195,187}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,785},{194,183}}</string>
			<key>offset</key>
			<string>{31,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,38},{194,183}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{787,389},{194,181}}</string>
			<key>offset</key>
			<string>{30,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,41},{194,181}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{793,572},{191,179}}</string>
			<key>offset</key>
			<string>{29.5,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,43},{191,179}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{589,961},{190,177}}</string>
			<key>offset</key>
			<string>{29,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,46},{190,177}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{191,971},{189,175}}</string>
			<key>offset</key>
			<string>{28.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,48},{189,175}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{970,962},{187,174}}</string>
			<key>offset</key>
			<string>{28.5,-29.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,50},{187,174}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{781,962},{187,176}}</string>
			<key>offset</key>
			<string>{28.5,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,49},{187,176}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{392,967},{187,177}}</string>
			<key>offset</key>
			<string>{28.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,48},{187,177}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,970},{188,181}}</string>
			<key>offset</key>
			<string>{29,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,45},{188,181}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{958,1},{187,184}}</string>
			<key>offset</key>
			<string>{29.5,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,41},{187,184}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{791,774},{189,186}}</string>
			<key>offset</key>
			<string>{29.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,38},{189,186}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{601,198},{190,189}}</string>
			<key>offset</key>
			<string>{30,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,34},{190,189}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{198,594},{191,193}}</string>
			<key>offset</key>
			<string>{30.5,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,29},{191,193}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{383,1},{192,195}}</string>
			<key>offset</key>
			<string>{31,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,26},{192,195}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1,400},{193,195}}</string>
			<key>offset</key>
			<string>{31.5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,25},{193,195}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{203,398},{194,194}}</string>
			<key>offset</key>
			<string>{32,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,26},{194,194}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,207},{191,200}}</string>
			<key>offset</key>
			<string>{17.5,-16.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,24},{191,200}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{407,198},{192,195}}</string>
			<key>offset</key>
			<string>{17,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,29},{192,195}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,595},{193,188}}</string>
			<key>offset</key>
			<string>{16.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,37},{193,188}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{598,588},{193,184}}</string>
			<key>offset</key>
			<string>{14.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,43},{193,184}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{393,783},{194,182}}</string>
			<key>offset</key>
			<string>{13,-30.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,47},{194,182}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{793,190},{193,181}}</string>
			<key>offset</key>
			<string>{11.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,49},{193,181}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{197,787},{193,182}}</string>
			<key>offset</key>
			<string>{11.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,49},{193,182}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{598,774},{191,185}}</string>
			<key>offset</key>
			<string>{11.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,47},{191,185}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{766,1},{190,187}}</string>
			<key>offset</key>
			<string>{12,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,44},{190,187}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{596,395},{189,191}}</string>
			<key>offset</key>
			<string>{13.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,39},{189,191}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{399,592},{189,197}}</string>
			<key>offset</key>
			<string>{13.5,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,32},{189,197}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{203,207},{189,202}}</string>
			<key>offset</key>
			<string>{14.5,-19.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,26},{189,202}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{189,204}}</string>
			<key>offset</key>
			<string>{15.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,22},{189,204}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
		<key>anurhada_02_f_prism_w/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{192,1},{189,204}}</string>
			<key>offset</key>
			<string>{17.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,21},{189,204}}</string>
			<key>sourceSize</key>
			<string>{202,215}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1146,1152}</string>
		<key>textureFileName</key>
		<string>anurhada_02_f_prism_w.png</string>
	</dict>
</dict>
</plist>
