<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombergoblin/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-3}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{199,85},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{543,89},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-3}</string>
                <key>spriteSize</key>
                <string>{142,94}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{303,85},{142,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-9}</string>
                <key>spriteSize</key>
                <string>{126,82}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{667,1},{90,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombergoblin/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{447,89},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{129,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{118,82}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{241,1},{118,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{102,82}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{361,1},{102,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{465,1},{86,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombergoblin/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{667,1},{90,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombergoblin/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{769,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{861,1},{90,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombergoblin/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{1,85},{90,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombergoblin/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{97,85},{90,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombergoblin/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{647,93},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{863,93},{102,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{751,93},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombergoblin/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{565,1},{86,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bombergoblin.png</string>
            <key>size</key>
            <string>{966,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3376df5d04d8ff5f6dba966fa5f5bfdc:716574050aa7ca9ca3a483b1c51d2acc:d432cd214bf90f76921d0646b4b7e669$</string>
            <key>textureFileName</key>
            <string>bombergoblin.png</string>
        </dict>
    </dict>
</plist>
