<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_05_m_adult_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1019,402},{175,197}}</string>
			<key>offset</key>
			<string>{0.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,35},{175,197}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1020,202},{174,198}}</string>
			<key>offset</key>
			<string>{0,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,35},{174,198}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{808,854},{174,199}}</string>
			<key>offset</key>
			<string>{0,-24.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,35},{174,199}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{632,851},{174,200}}</string>
			<key>offset</key>
			<string>{1,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,35},{174,200}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1020,1},{175,199}}</string>
			<key>offset</key>
			<string>{1.5,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,36},{175,199}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1015,641},{180,198}}</string>
			<key>offset</key>
			<string>{2,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,36},{180,198}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1054},{189,199}}</string>
			<key>offset</key>
			<string>{1.5,-25.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,36},{189,199}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{808,1030},{198,199}}</string>
			<key>offset</key>
			<string>{0,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,36},{198,199}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{217,855},{207,197}}</string>
			<key>offset</key>
			<string>{-1.5,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,37},{207,197}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{217,658},{213,195}}</string>
			<key>offset</key>
			<string>{-2.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,37},{213,195}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{222,439},{217,194}}</string>
			<key>offset</key>
			<string>{-3.5,-24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,37},{217,194}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{225,1},{220,192}}</string>
			<key>offset</key>
			<string>{-4,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,37},{220,192}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{419,1},{220,190}}</string>
			<key>offset</key>
			<string>{-4,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,37},{220,190}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{224,223},{219,191}}</string>
			<key>offset</key>
			<string>{-4.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,36},{219,191}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{418,416},{215,191}}</string>
			<key>offset</key>
			<string>{-4.5,-21.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,36},{215,191}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{826,215},{211,191}}</string>
			<key>offset</key>
			<string>{-3.5,-21.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,36},{211,191}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{426,855},{204,192}}</string>
			<key>offset</key>
			<string>{-3,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,36},{204,192}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{426,1049},{197,193}}</string>
			<key>offset</key>
			<string>{-1.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,35},{197,193}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{202,1054},{189,194}}</string>
			<key>offset</key>
			<string>{-0.5,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,35},{189,194}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{1015,841},{180,196}}</string>
			<key>offset</key>
			<string>{1,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,35},{180,196}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{826,1},{192,212}}</string>
			<key>offset</key>
			<string>{-2,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,36},{192,212}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{825,428},{189,211}}</string>
			<key>offset</key>
			<string>{2.5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,36},{189,211}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,861},{191,210}}</string>
			<key>offset</key>
			<string>{4.5,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,37},{191,210}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{815,641},{198,211}}</string>
			<key>offset</key>
			<string>{5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,37},{198,211}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,658},{201,214}}</string>
			<key>offset</key>
			<string>{0.5,-34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,37},{201,214}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{611,1},{213,216}}</string>
			<key>offset</key>
			<string>{1.5,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,38},{213,216}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,220},{221,217}}</string>
			<key>offset</key>
			<string>{1.5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,38},{221,217}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{222,217}}</string>
			<key>offset</key>
			<string>{0,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,38},{222,217}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,439},{219,217}}</string>
			<key>offset</key>
			<string>{-2.5,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,37},{219,217}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{611,219},{212,216}}</string>
			<key>offset</key>
			<string>{-6,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,37},{212,216}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{611,437},{202,214}}</string>
			<key>offset</key>
			<string>{-8,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,37},{202,214}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
		<key>sirius_05_m_adult_r/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{432,653},{196,213}}</string>
			<key>offset</key>
			<string>{-7,-32.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,36},{196,213}}</string>
			<key>sourceSize</key>
			<string>{226,220}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1196,1244}</string>
		<key>textureFileName</key>
		<string>sirius_05_m_adult_r.png</string>
	</dict>
</dict>
</plist>
