<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_03_f_adult_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{379,806},{182,187}}</string>
			<key>offset</key>
			<string>{0,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,36},{182,187}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{192,806},{185,189}}</string>
			<key>offset</key>
			<string>{1.5,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,36},{185,189}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{757,593},{186,190}}</string>
			<key>offset</key>
			<string>{3,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,37},{186,190}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{375,612},{188,192}}</string>
			<key>offset</key>
			<string>{4,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,37},{188,192}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,616},{189,189}}</string>
			<key>offset</key>
			<string>{4.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,40},{189,189}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{565,612},{190,188}}</string>
			<key>offset</key>
			<string>{5,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,41},{190,188}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{750,404},{191,187}}</string>
			<key>offset</key>
			<string>{4.5,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,42},{191,187}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{565,802},{192,186}}</string>
			<key>offset</key>
			<string>{4,-30.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,43},{192,186}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{753,1},{190,184}}</string>
			<key>offset</key>
			<string>{3,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,43},{190,184}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,807},{188,182}}</string>
			<key>offset</key>
			<string>{2,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,44},{188,182}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{753,187},{186,181}}</string>
			<key>offset</key>
			<string>{0,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,44},{186,181}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{943,785},{185,180}}</string>
			<key>offset</key>
			<string>{-0.5,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,44},{185,180}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{941,187},{185,180}}</string>
			<key>offset</key>
			<string>{-0.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,43},{185,180}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{943,369},{184,179}}</string>
			<key>offset</key>
			<string>{-1,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,43},{184,179}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{945,550},{183,179}}</string>
			<key>offset</key>
			<string>{-0.5,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,42},{183,179}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,991},{183,179}}</string>
			<key>offset</key>
			<string>{-0.5,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,41},{183,179}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{943,967},{182,179}}</string>
			<key>offset</key>
			<string>{0,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,40},{182,179}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{945,1},{182,182}}</string>
			<key>offset</key>
			<string>{0,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,37},{182,182}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{192,615},{181,183}}</string>
			<key>offset</key>
			<string>{0.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,37},{181,183}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{759,785},{182,185}}</string>
			<key>offset</key>
			<string>{0,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,36},{182,185}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{188,412},{185,201}}</string>
			<key>offset</key>
			<string>{4.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,37},{185,201}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{567,410},{181,200}}</string>
			<key>offset</key>
			<string>{4.5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,37},{181,200}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{570,1},{181,200}}</string>
			<key>offset</key>
			<string>{3.5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,37},{181,200}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{570,203},{181,199}}</string>
			<key>offset</key>
			<string>{3.5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,39},{181,199}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{379,410},{186,200}}</string>
			<key>offset</key>
			<string>{6,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,40},{186,200}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{381,1},{187,203}}</string>
			<key>offset</key>
			<string>{8.5,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,40},{187,203}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{192,1},{187,204}}</string>
			<key>offset</key>
			<string>{9.5,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,41},{187,204}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,410},{185,204}}</string>
			<key>offset</key>
			<string>{7.5,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,41},{185,204}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{191,207},{186,203}}</string>
			<key>offset</key>
			<string>{4,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,41},{186,203}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,206},{188,202}}</string>
			<key>offset</key>
			<string>{4,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,41},{188,202}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{189,203}}</string>
			<key>offset</key>
			<string>{4.5,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,39},{189,203}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
		<key>sirius_03_f_adult_pb/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{381,206},{187,202}}</string>
			<key>offset</key>
			<string>{4.5,-33.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,38},{187,202}}</string>
			<key>sourceSize</key>
			<string>{196,211}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1129,1171}</string>
		<key>textureFileName</key>
		<string>sirius_03_f_adult_pb.png</string>
	</dict>
</dict>
</plist>
