<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_02_m_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,890},{192,183}}</string>
			<key>offset</key>
			<string>{4,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,13},{192,183}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{235,533},{226,183}}</string>
			<key>offset</key>
			<string>{20,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,13},{226,183}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{476,349},{229,182}}</string>
			<key>offset</key>
			<string>{21.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,15},{229,182}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,363},{232,182}}</string>
			<key>offset</key>
			<string>{24,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,17},{232,182}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{237,180}}</string>
			<key>offset</key>
			<string>{26.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,20},{237,180}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,183},{237,178}}</string>
			<key>offset</key>
			<string>{28.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,24},{237,178}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{240,1},{237,177}}</string>
			<key>offset</key>
			<string>{29.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,27},{237,177}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{240,180},{234,175}}</string>
			<key>offset</key>
			<string>{29,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,31},{234,175}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{479,1},{231,173}}</string>
			<key>offset</key>
			<string>{28.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,34},{231,173}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{479,176},{230,171}}</string>
			<key>offset</key>
			<string>{21,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,36},{230,171}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,718},{209,170}}</string>
			<key>offset</key>
			<string>{7.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,36},{209,170}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{212,718},{195,169}}</string>
			<key>offset</key>
			<string>{12.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,36},{195,169}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{409,718},{193,170}}</string>
			<key>offset</key>
			<string>{10.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,33},{193,170}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{212,889},{192,172}}</string>
			<key>offset</key>
			<string>{9,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,29},{192,172}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{931,1},{190,175}}</string>
			<key>offset</key>
			<string>{7,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,24},{190,175}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{928,178},{190,179}}</string>
			<key>offset</key>
			<string>{5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,19},{190,179}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{406,890},{191,180}}</string>
			<key>offset</key>
			<string>{4.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,16},{191,180}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{599,890},{191,173}}</string>
			<key>offset</key>
			<string>{11.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,13},{191,173}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{707,353},{211,175}}</string>
			<key>offset</key>
			<string>{22.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,12},{211,175}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{688,533},{213,177}}</string>
			<key>offset</key>
			<string>{25.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,14},{213,177}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{711,176},{215,175}}</string>
			<key>offset</key>
			<string>{30.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,19},{215,175}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{712,1},{217,173}}</string>
			<key>offset</key>
			<string>{34.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,25},{217,173}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{463,533},{223,169}}</string>
			<key>offset</key>
			<string>{33.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,32},{223,169}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{240,357},{232,171}}</string>
			<key>offset</key>
			<string>{27,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,32},{232,171}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,547},{229,169}}</string>
			<key>offset</key>
			<string>{19.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,32},{229,169}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{604,712},{191,167}}</string>
			<key>offset</key>
			<string>{23.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,31},{191,167}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{792,881},{189,163}}</string>
			<key>offset</key>
			<string>{20.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,31},{189,163}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{920,359},{189,161}}</string>
			<key>offset</key>
			<string>{16.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,30},{189,161}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{797,712},{188,162}}</string>
			<key>offset</key>
			<string>{13,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,26},{188,162}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
		<key>makoa_02_m_adult_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{920,522},{189,169}}</string>
			<key>offset</key>
			<string>{11.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,18},{189,169}}</string>
			<key>sourceSize</key>
			<string>{246,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1122,1074}</string>
		<key>textureFileName</key>
		<string>makoa_02_m_adult_yr.png</string>
	</dict>
</dict>
</plist>
