<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonster/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{554,128},{124,120}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{124,120}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{124,128}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{124,128}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,136}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{148,136}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{156,128}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{156,128}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{554,128},{124,120}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{124,120}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{680,128},{124,112}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{124,112}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{136,144},{128,104}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,36},{128,104}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{132,104}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{132,104}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{132,104}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{132,104}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{554,128},{124,120}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{124,120}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,140}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{148,140}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{156,124}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{156,124}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{554,128},{124,120}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{124,120}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{302,132},{124,116}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{124,116}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{428,132},{124,116}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{124,116}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{554,128},{124,120}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{124,120}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{124,116}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{124,116}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>treemonster/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{806,120},{124,112}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{124,112}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonster.png</string>
            <key>size</key>
            <string>{920,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bd9c58befa2800a58dc07ada86e4ccc:2212ed23dc58592ced2165d944a34237:c506fc8ce48c6528735892733122467a$</string>
            <key>textureFileName</key>
            <string>treemonster.png</string>
        </dict>
    </dict>
</plist>
