<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_03_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{769,465},{179,149}}</string>
			<key>offset</key>
			<string>{19.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,43},{179,149}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{769,616},{179,150}}</string>
			<key>offset</key>
			<string>{18.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,42},{179,150}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,976},{177,151}}</string>
			<key>offset</key>
			<string>{17.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,41},{177,151}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{189,973},{177,152}}</string>
			<key>offset</key>
			<string>{17.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,41},{177,152}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{368,973},{177,154}}</string>
			<key>offset</key>
			<string>{17.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,41},{177,154}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{726,956},{176,155}}</string>
			<key>offset</key>
			<string>{18,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,42},{176,155}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{547,963},{177,156}}</string>
			<key>offset</key>
			<string>{18.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,43},{177,156}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{752,768},{179,156}}</string>
			<key>offset</key>
			<string>{19.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,45},{179,156}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{806,307},{181,156}}</string>
			<key>offset</key>
			<string>{21.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,47},{181,156}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{837,1},{183,155}}</string>
			<key>offset</key>
			<string>{22.5,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,50},{183,155}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{380,807},{184,154}}</string>
			<key>offset</key>
			<string>{24,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,52},{184,154}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,821},{186,153}}</string>
			<key>offset</key>
			<string>{25,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,53},{186,153}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{189,821},{186,150}}</string>
			<key>offset</key>
			<string>{26,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,55},{186,150}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{579,518},{188,148}}</string>
			<key>offset</key>
			<string>{27,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,56},{188,148}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{616,162},{188,146}}</string>
			<key>offset</key>
			<string>{27,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,56},{188,146}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{601,310},{188,146}}</string>
			<key>offset</key>
			<string>{27,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,55},{188,146}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1,673},{188,146}}</string>
			<key>offset</key>
			<string>{26,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,53},{188,146}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{191,673},{187,146}}</string>
			<key>offset</key>
			<string>{24.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,50},{187,146}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{566,807},{184,147}}</string>
			<key>offset</key>
			<string>{23,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,48},{184,147}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{837,158},{182,147}}</string>
			<key>offset</key>
			<string>{21,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,46},{182,147}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{196,524},{190,147}}</string>
			<key>offset</key>
			<string>{18,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,37},{190,147}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{388,524},{189,121}}</string>
			<key>offset</key>
			<string>{18.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,63},{189,121}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{213,249},{204,116}}</string>
			<key>offset</key>
			<string>{10,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,69},{204,116}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,132},{218,115}}</string>
			<key>offset</key>
			<string>{3,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,72},{218,115}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{223,129}}</string>
			<key>offset</key>
			<string>{0.5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,74},{223,129}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{226,1},{217,133}}</string>
			<key>offset</key>
			<string>{2.5,-44.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,80},{217,133}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,373},{201,149}}</string>
			<key>offset</key>
			<string>{4.5,-45.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,73},{201,149}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{388,647},{187,158}}</string>
			<key>offset</key>
			<string>{10.5,-51}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,74},{187,158}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{643,1},{192,159}}</string>
			<key>offset</key>
			<string>{14,-56.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,79},{192,159}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{419,148},{195,121}}</string>
			<key>offset</key>
			<string>{12.5,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,77},{195,121}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,249},{210,122}}</string>
			<key>offset</key>
			<string>{6,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,75},{210,122}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{445,1},{196,145}}</string>
			<key>offset</key>
			<string>{16,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,50},{196,145}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{204,373},{197,149}}</string>
			<key>offset</key>
			<string>{17.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,44},{197,149}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{403,367},{196,149}}</string>
			<key>offset</key>
			<string>{19,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,40},{196,149}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
		<key>illuide_03_m_adult_w/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,524},{193,147}}</string>
			<key>offset</key>
			<string>{18.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,38},{193,147}}</string>
			<key>sourceSize</key>
			<string>{230,204}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1021,1128}</string>
		<key>textureFileName</key>
		<string>illuide_03_m_adult_w.png</string>
	</dict>
</dict>
</plist>
