<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{281,471},{98,86}}</string>
			<key>offset</key>
			<string>{-5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,11},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{120,366},{114,85}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,11},{114,85}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,363},{117,85}}</string>
			<key>offset</key>
			<string>{3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,12},{117,85}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{348,186},{120,84}}</string>
			<key>offset</key>
			<string>{5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,13},{120,84}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{240,1},{123,83}}</string>
			<key>offset</key>
			<string>{6.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,15},{123,83}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{130,282},{125,82}}</string>
			<key>offset</key>
			<string>{7.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,17},{125,82}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,196},{127,82}}</string>
			<key>offset</key>
			<string>{8.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,18},{127,82}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{130,198},{127,82}}</string>
			<key>offset</key>
			<string>{8.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,19},{127,82}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,280},{127,81}}</string>
			<key>offset</key>
			<string>{8.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,21},{127,81}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{257,282},{125,82}}</string>
			<key>offset</key>
			<string>{8.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,21},{125,82}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{476,263},{99,84}}</string>
			<key>offset</key>
			<string>{-4.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,20},{99,84}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{454,89},{98,85}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{98,85}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{470,176},{98,85}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,18},{98,85}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{381,471},{98,86}}</string>
			<key>offset</key>
			<string>{-4,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{181,468},{98,87}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{98,87}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{417,373},{98,86}}</string>
			<key>offset</key>
			<string>{-4,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{454,1},{98,86}}</string>
			<key>offset</key>
			<string>{-4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{92,453},{87,99}}</string>
			<key>offset</key>
			<string>{0.5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,2},{87,99}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{348,86},{104,98}}</string>
			<key>offset</key>
			<string>{8,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,2},{104,98}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{237,99},{109,97}}</string>
			<key>offset</key>
			<string>{11.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,4},{109,97}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{122,1},{116,96}}</string>
			<key>offset</key>
			<string>{15,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{116,96}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{119,95}}</string>
			<key>offset</key>
			<string>{17.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,9},{119,95}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,98},{118,95}}</string>
			<key>offset</key>
			<string>{17,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,11},{118,95}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{121,99},{114,95}}</string>
			<key>offset</key>
			<string>{15,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,12},{114,95}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{326,373},{89,96}}</string>
			<key>offset</key>
			<string>{2.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,11},{89,96}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{384,272},{90,99}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{90,99}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,450},{89,99}}</string>
			<key>offset</key>
			<string>{1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{89,99}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
		<key>makoa_02_f_hatchling_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{236,366},{88,100}}</string>
			<key>offset</key>
			<string>{1,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,3},{88,100}}</string>
			<key>sourceSize</key>
			<string>{128,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{576,558}</string>
		<key>textureFileName</key>
		<string>makoa_02_f_hatchling_yr.png</string>
	</dict>
</dict>
</plist>
