<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_02_f_hatch_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{106,1},{49,57}}</string>
			<key>offset</key>
			<string>{4.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,5},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{157,1},{49,57}}</string>
			<key>offset</key>
			<string>{4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{49,56}}</string>
			<key>offset</key>
			<string>{4.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{49,56}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{310,1},{48,57}}</string>
			<key>offset</key>
			<string>{4,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,3},{48,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{625,1},{49,58}}</string>
			<key>offset</key>
			<string>{3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{676,1},{49,58}}</string>
			<key>offset</key>
			<string>{3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{727,1},{49,58}}</string>
			<key>offset</key>
			<string>{2.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{360,1},{49,57}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{778,1},{49,58}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{829,1},{49,58}}</string>
			<key>offset</key>
			<string>{3.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{574,1},{49,58}}</string>
			<key>offset</key>
			<string>{3.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{208,1},{49,57}}</string>
			<key>offset</key>
			<string>{4.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,5},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{259,1},{49,57}}</string>
			<key>offset</key>
			<string>{4.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,5},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{880,1},{52,58}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{52,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{411,1},{53,57}}</string>
			<key>offset</key>
			<string>{-3.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{53,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{934,1},{53,58}}</string>
			<key>offset</key>
			<string>{-3.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{53,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{989,1},{53,58}}</string>
			<key>offset</key>
			<string>{-3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{53,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1},{54,58}}</string>
			<key>offset</key>
			<string>{-4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{54,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1100,1},{54,58}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,4},{54,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1156,1},{54,58}}</string>
			<key>offset</key>
			<string>{-4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{54,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1212,1},{54,58}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,1},{54,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1323,1},{53,59}}</string>
			<key>offset</key>
			<string>{-3.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,0},{53,59}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1268,1},{53,58}}</string>
			<key>offset</key>
			<string>{-3.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{53,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{466,1},{53,57}}</string>
			<key>offset</key>
			<string>{-3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{53,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{52,1},{52,56}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,5},{52,56}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_02_f_hatch_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{521,1},{51,57}}</string>
			<key>offset</key>
			<string>{-3.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{51,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1377,61}</string>
		<key>textureFileName</key>
		<string>makara_02_f_hatch_w.png</string>
	</dict>
</dict>
</plist>
