<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blacksheep/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{116,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{112,88}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{112,88}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,88}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,88}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{128,88}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{128,88}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{140,214},{112,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{112,92}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{116,926},{112,84}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{112,84}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{136,80}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{136,80}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{136,80}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{136,80}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{116,80}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{116,80}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{120,762},{116,80}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{116,80}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{116,80}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{116,80}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{120,844},{116,80}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{116,80}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{120,496},{116,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{112,96}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{140,116},{112,96}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{116,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{120,676},{116,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{116,84}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{120,586},{116,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{116,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{132,308},{116,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{116,92}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{116,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>blacksheep/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{120,402},{116,92}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{116,92}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blacksheep.png</string>
            <key>size</key>
            <string>{254,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcc9f82eab61e1585538715812481f64:ea7b2a2d3eeb73f6f7bcaaf9e26d7ef7:1665dd35eb606dfcebb36a9d875a70cd$</string>
            <key>textureFileName</key>
            <string>blacksheep.png</string>
        </dict>
    </dict>
</plist>
