<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aruruga_01_m_adult_b/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{172,460},{158,112}}</string>
			<key>offset</key>
			<string>{26,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,4},{158,112}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{665,343},{155,112}}</string>
			<key>offset</key>
			<string>{24.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,4},{155,112}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{663,114},{152,112}}</string>
			<key>offset</key>
			<string>{23,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,4},{152,112}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{650,572},{151,112}}</string>
			<key>offset</key>
			<string>{22.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,4},{151,112}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{666,457},{151,111}}</string>
			<key>offset</key>
			<string>{21.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,5},{151,111}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{664,1},{152,111}}</string>
			<key>offset</key>
			<string>{22,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,5},{152,111}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{668,228},{154,110}}</string>
			<key>offset</key>
			<string>{23,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,6},{154,110}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{163,574},{157,110}}</string>
			<key>offset</key>
			<string>{24.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,6},{157,110}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,571},{160,109}}</string>
			<key>offset</key>
			<string>{25,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,7},{160,109}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{338,459},{163,109}}</string>
			<key>offset</key>
			<string>{26.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,7},{163,109}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{500,232},{166,109}}</string>
			<key>offset</key>
			<string>{28,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,7},{166,109}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,460},{169,109}}</string>
			<key>offset</key>
			<string>{29.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,7},{169,109}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{172,235},{170,109}}</string>
			<key>offset</key>
			<string>{30,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,7},{170,109}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,234},{169,110}}</string>
			<key>offset</key>
			<string>{30.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,6},{169,110}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,346},{168,110}}</string>
			<key>offset</key>
			<string>{30,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,6},{168,110}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{338,346},{165,111}}</string>
			<key>offset</key>
			<string>{28.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,5},{165,111}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{501,1},{161,111}}</string>
			<key>offset</key>
			<string>{27.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,5},{161,111}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{332,570},{157,111}}</string>
			<key>offset</key>
			<string>{25.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,4},{157,111}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{491,572},{157,111}}</string>
			<key>offset</key>
			<string>{24.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,5},{157,111}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{338,1},{161,114}}</string>
			<key>offset</key>
			<string>{25.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,3},{161,114}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{172,1},{164,115}}</string>
			<key>offset</key>
			<string>{28,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,1},{164,115}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{169,115}}</string>
			<key>offset</key>
			<string>{26.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,1},{169,115}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,118},{167,113}}</string>
			<key>offset</key>
			<string>{24.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,3},{167,113}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{171,346},{165,112}}</string>
			<key>offset</key>
			<string>{22.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,4},{165,112}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{505,343},{158,113}}</string>
			<key>offset</key>
			<string>{25,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,4},{158,113}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{336,118},{162,115}}</string>
			<key>offset</key>
			<string>{26,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,3},{162,115}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{170,118},{164,114}}</string>
			<key>offset</key>
			<string>{28,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,2},{164,114}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{500,117},{161,113}}</string>
			<key>offset</key>
			<string>{28.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,2},{161,113}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
		<key>aruruga_01_m_adult_b/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{505,458},{159,112}}</string>
			<key>offset</key>
			<string>{27.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,3},{159,112}}</string>
			<key>sourceSize</key>
			<string>{172,118}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{823,685}</string>
		<key>textureFileName</key>
		<string>aruruga_01_m_adult_b.png</string>
	</dict>
</dict>
</plist>
