<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_05_f_hatch_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{281,213},{67,50}}</string>
			<key>offset</key>
			<string>{-1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{67,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{289,1},{67,50}}</string>
			<key>offset</key>
			<string>{-1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{67,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{219,105},{68,50}}</string>
			<key>offset</key>
			<string>{-1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{68,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{141,213},{68,50}}</string>
			<key>offset</key>
			<string>{-1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{68,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,161},{68,51}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{68,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{142,160},{68,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{68,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{148,1},{69,51}}</string>
			<key>offset</key>
			<string>{0.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{69,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{75,54},{70,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{70,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{147,54},{70,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{70,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,108},{69,51}}</string>
			<key>offset</key>
			<string>{-0.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{69,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{148,107},{68,51}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{68,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{72,159},{68,51}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{68,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{289,53},{67,50}}</string>
			<key>offset</key>
			<string>{-1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{67,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{219,1},{68,50}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{68,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{219,53},{68,50}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{68,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{289,105},{67,50}}</string>
			<key>offset</key>
			<string>{-1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{67,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{71,212},{68,51}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{68,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{71,52}}</string>
			<key>offset</key>
			<string>{-0.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{71,52}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,55},{72,51}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{72,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,214},{68,51}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{68,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{282,157},{67,50}}</string>
			<key>offset</key>
			<string>{-1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{67,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{211,213},{68,50}}</string>
			<key>offset</key>
			<string>{-1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{68,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{75,107},{71,50}}</string>
			<key>offset</key>
			<string>{-0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{71,50}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{74,1},{72,51}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{72,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>makoa_05_f_hatch_pb/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{212,160},{68,51}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{68,51}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{357,266}</string>
		<key>textureFileName</key>
		<string>makoa_05_f_hatch_pb.png</string>
	</dict>
</dict>
</plist>
