<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_02_f_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{644,985},{155,166}}</string>
			<key>offset</key>
			<string>{7.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,45},{155,166}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{173,988},{149,170}}</string>
			<key>offset</key>
			<string>{9.5,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,44},{149,170}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{816,648},{155,175}}</string>
			<key>offset</key>
			<string>{4.5,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,43},{155,175}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{313,803},{155,179}}</string>
			<key>offset</key>
			<string>{4.5,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,43},{155,179}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,805},{150,183}}</string>
			<key>offset</key>
			<string>{7,-30.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,43},{150,183}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{571,615},{156,185}}</string>
			<key>offset</key>
			<string>{5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,44},{156,185}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{413,615},{156,186}}</string>
			<key>offset</key>
			<string>{5,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,45},{156,186}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{668,1},{159,186}}</string>
			<key>offset</key>
			<string>{4.5,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,47},{159,186}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{640,298},{162,184}}</string>
			<key>offset</key>
			<string>{5,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,49},{162,184}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{153,805},{158,181}}</string>
			<key>offset</key>
			<string>{8,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,51},{158,181}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{650,802},{164,177}}</string>
			<key>offset</key>
			<string>{6,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,53},{164,177}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,990},{170,173}}</string>
			<key>offset</key>
			<string>{5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,54},{170,173}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{816,478},{175,168}}</string>
			<key>offset</key>
			<string>{3.5,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,55},{175,168}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{470,803},{178,163}}</string>
			<key>offset</key>
			<string>{3,-33.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,56},{178,163}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{829,1},{178,159}}</string>
			<key>offset</key>
			<string>{3,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,56},{178,159}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{829,162},{178,157}}</string>
			<key>offset</key>
			<string>{3,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,55},{178,157}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{816,321},{176,155}}</string>
			<key>offset</key>
			<string>{4,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,54},{176,155}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{470,968},{172,157}}</string>
			<key>offset</key>
			<string>{4,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,51},{172,157}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{816,825},{168,158}}</string>
			<key>offset</key>
			<string>{5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,49},{168,158}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{801,985},{162,162}}</string>
			<key>offset</key>
			<string>{6,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,47},{162,162}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{215,411},{204,152}}</string>
			<key>offset</key>
			<string>{18,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,31},{204,152}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{212,565},{199,125}}</string>
			<key>offset</key>
			<string>{17.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,57},{199,125}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,411},{212,114}}</string>
			<key>offset</key>
			<string>{7,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,68},{212,114}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{230,1},{223,113}}</string>
			<key>offset</key>
			<string>{-1.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,70},{223,113}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{227,130}}</string>
			<key>offset</key>
			<string>{-4.5,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,73},{227,130}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{230,116},{221,137}}</string>
			<key>offset</key>
			<string>{-1.5,-39.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,75},{221,137}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{453,153},{211,143}}</string>
			<key>offset</key>
			<string>{4.5,-44.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,77},{211,143}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,649},{200,154}}</string>
			<key>offset</key>
			<string>{12,-51}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,78},{200,154}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{421,453},{201,160}}</string>
			<key>offset</key>
			<string>{14.5,-54}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,78},{201,160}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,527},{209,120}}</string>
			<key>offset</key>
			<string>{13.5,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,78},{209,120}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,133},{225,121}}</string>
			<key>offset</key>
			<string>{7.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,76},{225,121}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{455,1},{211,150}}</string>
			<key>offset</key>
			<string>{15.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,45},{211,150}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,256},{212,153}}</string>
			<key>offset</key>
			<string>{16,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,39},{212,153}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{215,256},{212,153}}</string>
			<key>offset</key>
			<string>{17,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,35},{212,153}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
		<key>illuide_02_f_adult_bk/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{429,298},{209,153}}</string>
			<key>offset</key>
			<string>{17.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,32},{209,153}}</string>
			<key>sourceSize</key>
			<string>{242,208}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1008,1164}</string>
		<key>textureFileName</key>
		<string>illuide_02_f_adult_bk.png</string>
	</dict>
</dict>
</plist>
