<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Minimap_blue_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{970,2},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_blue_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1010,2},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_blue_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{166,191},{54,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_empty</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{2,247},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_green_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1050,2},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_green_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1000,162},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_green_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{232,191},{54,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_auction_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{80,66}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{630,180},{80,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_colosseum_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,76}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{892,2},{68,76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_colosseum_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{76,90}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{822,174},{76,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_event_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,116}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{270,2},{126,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_fishing_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{34,62}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{1052,126},{34,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_fortune_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,68}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{550,182},{78,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_guild_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,90}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{784,84},{88,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_guild_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{102,98}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{388,2},{102,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_icon_building</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{28,26}</string>
			<key>spriteSourceSize</key>
			<string>{30,40}</string>
			<key>textureRect</key>
			<string>{{1100,224},{28,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_icon_friend</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{30,40}</string>
			<key>textureRect</key>
			<string>{{388,106},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_icon_guild</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{30,40}</string>
			<key>textureRect</key>
			<string>{{410,106},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_icon_minigame</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{26,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,40}</string>
			<key>textureRect</key>
			<string>{{1068,224},{26,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_icon_my</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{28,36}</string>
			<key>spriteSourceSize</key>
			<string>{30,40}</string>
			<key>textureRect</key>
			<string>{{1116,126},{28,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_icon_sharing_playground</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{30,26}</string>
			<key>spriteSourceSize</key>
			<string>{30,40}</string>
			<key>textureRect</key>
			<string>{{1036,224},{30,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_icon_world</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{24,34}</string>
			<key>spriteSourceSize</key>
			<string>{30,40}</string>
			<key>textureRect</key>
			<string>{{1000,224},{24,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_itemgacha_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,100}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{448,184},{66,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_leonatemple_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,108}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{488,2},{86,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_library_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,82}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{968,72},{88,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_library_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{108,74}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{712,174},{108,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_minigame_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,78}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{86,191},{48,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_museum_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,90}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{876,78},{90,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_museum_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{104,82}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{598,2},{104,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_sharing_playground_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{54,82}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{2,191},{54,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_squarestatue_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,92}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{798,2},{74,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_tradinghub_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,80}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{914,170},{84,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_tradinghub_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{98,86}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{684,86},{98,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_viplounge_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{98,88}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{584,90},{98,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_minimap_wildspace_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,92}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{704,2},{80,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_wildspace_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{64,92}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{298,186},{64,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_minimap_worldmap_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{468,106},{74,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_mint_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1040,162},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_mint_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1052,64},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_mint_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{270,130},{54,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_orange_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1090,2},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_orange_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1092,64},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_orange_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{336,130},{54,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Minimap_red_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1130,2},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_red_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1080,162},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_red_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{392,186},{54,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_seperator_0206</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,61}</string>
			<key>spriteSourceSize</key>
			<string>{266,61}</string>
			<key>textureRect</key>
			<string>{{2,2},{266,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_shop_monthly_egg_title_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,61}</string>
			<key>spriteSourceSize</key>
			<string>{266,61}</string>
			<key>textureRect</key>
			<string>{{2,65},{266,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_shop_monthly_egg_title_0104</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,61}</string>
			<key>spriteSourceSize</key>
			<string>{266,61}</string>
			<key>textureRect</key>
			<string>{{2,128},{266,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_yellow_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1132,64},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_yellow_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1120,156},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Minimap_yellow_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{60,64}</string>
			<key>textureRect</key>
			<string>{{402,128},{54,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>empty.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{2,247},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>minimap.png</string>
		<key>size</key>
		<string>{1172,252}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:540cabad07e4ba14c9a9251c4b1d9806:6c9b370a44575e6fe2bfb2319ec73a55:b37d44ff29f54618f544ec80c761366f$</string>
		<key>textureFileName</key>
		<string>minimap.png</string>
	</dict>
</dict>
</plist>
