<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beachslime/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{182,192},{68,44}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{68,44}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{56,72}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,76}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{96,76}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,68}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{96,68}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{100,72},{88,68}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{88,68}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/attack/attack_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{60,48}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,48},{60,48}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{190,138},{60,52}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{60,52}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{52,80},{60,44}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,52},{60,44}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{56,192},{60,28}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,68},{60,28}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{86,192},{60,24}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,72},{60,24}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{60,48}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,48},{60,48}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{190,76},{60,60}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{60,60}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{112,192},{68,56}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{68,56}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{60,48}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,48},{60,48}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{182,192},{68,44}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{68,44}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{60,52}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,44},{60,52}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{60,52}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{60,52}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{112,142},{76,44}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,52},{76,44}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>beachslime/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{84,48}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,48},{84,48}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beachslime.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a39a43630ac9a73186e95b17434e9a:ce6f084394d5275d5b54c9880a628dbb:00ead368659b293076f1d8c0816f6b59$</string>
            <key>textureFileName</key>
            <string>beachslime.png</string>
        </dict>
    </dict>
</plist>
