<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{283,269},{94,82}}</string>
			<key>offset</key>
			<string>{-3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,11},{94,82}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{283,353},{94,81}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,11},{94,81}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{357,1},{94,81}}</string>
			<key>offset</key>
			<string>{-4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,12},{94,81}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{379,335},{94,80}}</string>
			<key>offset</key>
			<string>{-4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,13},{94,80}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{381,84},{94,79}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,15},{94,79}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{381,165},{94,78}}</string>
			<key>offset</key>
			<string>{-4,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,17},{94,78}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{379,417},{94,78}}</string>
			<key>offset</key>
			<string>{-4,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,18},{94,78}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{273,436},{94,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,20},{94,77}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,440},{94,77}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,21},{94,77}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{193,356},{94,78}}</string>
			<key>offset</key>
			<string>{-3,-8.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,21},{94,78}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{379,253},{94,80}}</string>
			<key>offset</key>
			<string>{-3,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,20},{94,80}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,357},{94,81}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,19},{94,81}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{97,357},{94,81}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,18},{94,81}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{261,1},{94,82}}</string>
			<key>offset</key>
			<string>{-2,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{94,82}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{190,184},{94,83}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{94,83}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{285,85},{94,82}}</string>
			<key>offset</key>
			<string>{-2,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{94,82}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{286,169},{93,82}}</string>
			<key>offset</key>
			<string>{-2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{93,82}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{96,98},{84,94}}</string>
			<key>offset</key>
			<string>{2,1.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{84,94}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,185},{84,93}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{84,93}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{175,1},{84,93}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{84,93}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{95,271},{84,91}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{84,91}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,271},{84,92}}</string>
			<key>offset</key>
			<string>{3,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,9},{84,92}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{192,96},{85,91}}</string>
			<key>offset</key>
			<string>{3.5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,11},{85,91}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{190,269},{85,91}}</string>
			<key>offset</key>
			<string>{3.5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,12},{85,91}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{96,184},{85,92}}</string>
			<key>offset</key>
			<string>{3.5,-5.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,11},{85,92}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,98},{85,93}}</string>
			<key>offset</key>
			<string>{3.5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,9},{85,93}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{88,1},{85,95}}</string>
			<key>offset</key>
			<string>{2.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,6},{85,95}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
		<key>makoa_01_f_hatchling_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{85,95}}</string>
			<key>offset</key>
			<string>{2.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{85,95}}</string>
			<key>sourceSize</key>
			<string>{98,103}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{476,518}</string>
		<key>textureFileName</key>
		<string>makoa_01_f_hatchling_yr.png</string>
	</dict>
</dict>
</plist>
