<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juniortauros/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{132,92}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{136,92}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{136,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{140,262},{140,88}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{140,88}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{140,92}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{128,88}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{128,88}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{124,96}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{136,92}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{136,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{144,76},{184,68}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{184,68}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,72}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{184,72}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{136,404},{132,92}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{124,96}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{128,88}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{128,88}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{132,92}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{136,538},{128,92}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{132,798},{132,88}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{132,88}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{128,92}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{132,668},{128,92}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{128,92}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>juniortauros/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{132,92}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juniortauros.png</string>
            <key>size</key>
            <string>{230,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60eaccf6005e79f937ca94f6a90f75a0:69b3c6aded600ba149fc3b18484c33b8:f7714c2e8da68228d97ec68553b6d269$</string>
            <key>textureFileName</key>
            <string>juniortauros.png</string>
        </dict>
    </dict>
</plist>
