<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>vetala_02_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,345},{209,132}}</string>
			<key>offset</key>
			<string>{17.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,10},{209,132}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,479},{205,133}}</string>
			<key>offset</key>
			<string>{18.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,8},{205,133}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{413,478},{201,134}}</string>
			<key>offset</key>
			<string>{18.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,5},{201,134}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,614},{198,134}}</string>
			<key>offset</key>
			<string>{20,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,5},{198,134}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{599,614},{196,133}}</string>
			<key>offset</key>
			<string>{21,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,6},{196,133}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{201,614},{197,132}}</string>
			<key>offset</key>
			<string>{21.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,9},{197,132}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{607,1},{201,131}}</string>
			<key>offset</key>
			<string>{20.5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,11},{201,131}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{474,1},{206,131}}</string>
			<key>offset</key>
			<string>{19,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,13},{206,131}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{212,345},{209,131}}</string>
			<key>offset</key>
			<string>{17.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,13},{209,131}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{340,1},{211,132}}</string>
			<key>offset</key>
			<string>{17.5,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,12},{211,132}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,115},{220,113}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{220,113}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,230},{214,113}}</string>
			<key>offset</key>
			<string>{9,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{214,113}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{474,209},{206,116}}</string>
			<key>offset</key>
			<string>{10,5.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,7},{206,116}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{616,204},{200,117}}</string>
			<key>offset</key>
			<string>{12,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,5},{200,117}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{616,406},{197,118}}</string>
			<key>offset</key>
			<string>{13.5,6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,5},{197,118}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{400,614},{197,117}}</string>
			<key>offset</key>
			<string>{15.5,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,8},{197,117}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{208,479},{203,119}}</string>
			<key>offset</key>
			<string>{15.5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,9},{203,119}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{223,221},{211,117}}</string>
			<key>offset</key>
			<string>{13.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,13},{211,117}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{224,1},{218,114}}</string>
			<key>offset</key>
			<string>{11,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,17},{218,114}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
		<key>vetala_02_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{221,112}}</string>
			<key>offset</key>
			<string>{9.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,17},{221,112}}</string>
			<key>sourceSize</key>
			<string>{224,141}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{796,749}</string>
		<key>textureFileName</key>
		<string>vetala_02_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
