<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>antares_01_m_adult_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{316,156},{152,164}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,16},{152,164}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{632,159},{154,166}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{154,166}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1110,165},{157,166}}</string>
			<key>offset</key>
			<string>{-1.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,15},{157,166}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1434,165},{160,167}}</string>
			<key>offset</key>
			<string>{-2,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{160,167}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1596,166},{162,167}}</string>
			<key>offset</key>
			<string>{-2,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{162,167}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1760,166},{163,167}}</string>
			<key>offset</key>
			<string>{-2.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{163,167}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1269,165},{163,166}}</string>
			<key>offset</key>
			<string>{-2.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,9},{163,166}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{947,164},{161,165}}</string>
			<key>offset</key>
			<string>{-2.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{161,165}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{470,156},{160,164}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{160,164}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,152},{157,163}}</string>
			<key>offset</key>
			<string>{-1.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{157,163}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1262,1},{155,162}}</string>
			<key>offset</key>
			<string>{-1.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,10},{155,162}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1419,1},{153,162}}</string>
			<key>offset</key>
			<string>{-1.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{153,162}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1727,1},{152,163}}</string>
			<key>offset</key>
			<string>{-1,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,12},{152,163}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1574,1},{151,162}}</string>
			<key>offset</key>
			<string>{-0.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{151,162}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1881,1},{151,163}}</string>
			<key>offset</key>
			<string>{-0.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,15},{151,163}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{160,152},{154,163}}</string>
			<key>offset</key>
			<string>{-7,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,23},{154,163}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{788,161},{157,164}}</string>
			<key>offset</key>
			<string>{-5.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,21},{157,164}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1102,1},{158,161}}</string>
			<key>offset</key>
			<string>{-7,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,18},{158,161}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{789,1},{157,158}}</string>
			<key>offset</key>
			<string>{-9.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,15},{157,158}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{322,1},{161,153}}</string>
			<key>offset</key>
			<string>{-9.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,13},{161,153}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{161,149}}</string>
			<key>offset</key>
			<string>{-9.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,14},{161,149}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{164,1},{156,149}}</string>
			<key>offset</key>
			<string>{-10,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,16},{156,149}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{485,1},{151,153}}</string>
			<key>offset</key>
			<string>{-12.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,18},{151,153}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{638,1},{149,156}}</string>
			<key>offset</key>
			<string>{-11.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,21},{149,156}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
		<key>antares_01_m_adult_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{948,1},{152,159}}</string>
			<key>offset</key>
			<string>{-9,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,24},{152,159}}</string>
			<key>sourceSize</key>
			<string>{178,176}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2033,334}</string>
		<key>textureFileName</key>
		<string>antares_01_m_adult_bg.png</string>
	</dict>
</dict>
</plist>
