<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>selora_01_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{140,168}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{143,1},{141,168}}</string>
			<key>offset</key>
			<string>{3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{141,168}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{290,341},{142,167}}</string>
			<key>offset</key>
			<string>{4,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,1},{142,167}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{422,170},{143,167}}</string>
			<key>offset</key>
			<string>{4.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,1},{143,167}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{150,510},{146,166}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,2},{146,166}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{298,510},{148,166}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{148,166}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{567,168},{150,165}}</string>
			<key>offset</key>
			<string>{4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,3},{150,165}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{448,506},{152,165}}</string>
			<key>offset</key>
			<string>{4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{152,165}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,678},{153,165}}</string>
			<key>offset</key>
			<string>{4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{153,165}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{581,1},{153,164}}</string>
			<key>offset</key>
			<string>{4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{153,164}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{472,673},{153,164}}</string>
			<key>offset</key>
			<string>{4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{153,164}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{427,1},{152,165}}</string>
			<key>offset</key>
			<string>{5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,3},{152,165}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{434,339},{150,165}}</string>
			<key>offset</key>
			<string>{5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,3},{150,165}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,510},{147,166}}</string>
			<key>offset</key>
			<string>{5.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{147,166}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,341},{144,167}}</string>
			<key>offset</key>
			<string>{6,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,1},{144,167}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{147,341},{141,167}}</string>
			<key>offset</key>
			<string>{6.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,1},{141,167}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{286,1},{139,167}}</string>
			<key>offset</key>
			<string>{6.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,1},{139,167}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{1,171},{138,168}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{138,168}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{141,171},{138,168}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,0},{138,168}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{281,171},{139,168}}</string>
			<key>offset</key>
			<string>{4.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{139,168}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,845},{153,161}}</string>
			<key>offset</key>
			<string>{10.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,9},{153,161}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{313,845},{153,160}}</string>
			<key>offset</key>
			<string>{10.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,10},{153,160}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{626,839},{153,159}}</string>
			<key>offset</key>
			<string>{10.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,11},{153,159}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{877,321},{152,157}}</string>
			<key>offset</key>
			<string>{11,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,13},{152,157}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{471,1007},{153,155}}</string>
			<key>offset</key>
			<string>{11.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,15},{153,155}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{626,1000},{153,154}}</string>
			<key>offset</key>
			<string>{12.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,16},{153,154}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{158,1008},{154,156}}</string>
			<key>offset</key>
			<string>{12,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{154,156}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{877,161},{155,158}}</string>
			<key>offset</key>
			<string>{12.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,15},{155,158}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{156,845},{155,161}}</string>
			<key>offset</key>
			<string>{12.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,13},{155,161}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{627,663},{156,162}}</string>
			<key>offset</key>
			<string>{12,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{156,162}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{719,167},{156,164}}</string>
			<key>offset</key>
			<string>{12,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,10},{156,164}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{156,678},{156,165}}</string>
			<key>offset</key>
			<string>{12,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,9},{156,165}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{314,678},{156,165}}</string>
			<key>offset</key>
			<string>{12,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,9},{156,165}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{719,333},{156,164}}</string>
			<key>offset</key>
			<string>{12,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,10},{156,164}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{602,499},{157,162}}</string>
			<key>offset</key>
			<string>{12.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{157,162}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_16</key>
		<dict>
			<key>frame</key>
			<string>{{468,845},{156,160}}</string>
			<key>offset</key>
			<string>{13,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,14},{156,160}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_17</key>
		<dict>
			<key>frame</key>
			<string>{{877,1},{155,158}}</string>
			<key>offset</key>
			<string>{13.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,15},{155,158}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_18</key>
		<dict>
			<key>frame</key>
			<string>{{781,827},{156,156}}</string>
			<key>offset</key>
			<string>{13,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{156,156}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_19</key>
		<dict>
			<key>frame</key>
			<string>{{785,659},{156,154}}</string>
			<key>offset</key>
			<string>{13,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,15},{156,154}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_20</key>
		<dict>
			<key>frame</key>
			<string>{{314,1007},{155,154}}</string>
			<key>offset</key>
			<string>{12.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,14},{155,154}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_21</key>
		<dict>
			<key>frame</key>
			<string>{{1,1008},{155,156}}</string>
			<key>offset</key>
			<string>{11.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{155,156}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
		<key>selora_01_m_adult_w/move/move_22</key>
		<dict>
			<key>frame</key>
			<string>{{761,499},{154,158}}</string>
			<key>offset</key>
			<string>{11,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,10},{154,158}}</string>
			<key>sourceSize</key>
			<string>{162,168}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1033,1165}</string>
		<key>textureFileName</key>
		<string>selora_01_m_adult_w.png</string>
	</dict>
</dict>
</plist>
