<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_09_f_hatch_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{65,48}}</string>
			<key>offset</key>
			<string>{-0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{65,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{68,1},{65,48}}</string>
			<key>offset</key>
			<string>{-0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{65,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{473,1},{66,48}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{66,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{541,1},{66,48}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{66,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{951,1},{66,49}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{66,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1019,1},{66,49}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{66,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1087,1},{67,49}}</string>
			<key>offset</key>
			<string>{1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{67,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1156,1},{68,49}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{68,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1226,1},{68,49}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{68,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{609,1},{67,48}}</string>
			<key>offset</key>
			<string>{0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{67,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{135,1},{66,48}}</string>
			<key>offset</key>
			<string>{0,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{66,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{203,1},{66,48}}</string>
			<key>offset</key>
			<string>{0,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{66,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{271,1},{65,48}}</string>
			<key>offset</key>
			<string>{-0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{65,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{338,1},{66,48}}</string>
			<key>offset</key>
			<string>{-1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{66,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{406,1},{65,48}}</string>
			<key>offset</key>
			<string>{-0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{65,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{678,1},{65,48}}</string>
			<key>offset</key>
			<string>{-0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{65,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1296,1},{66,49}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{66,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1644,1},{69,50}}</string>
			<key>offset</key>
			<string>{0.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{69,50}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1364,1},{70,49}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{70,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1436,1},{66,49}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{66,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{745,1},{65,48}}</string>
			<key>offset</key>
			<string>{-0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{65,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{812,1},{66,48}}</string>
			<key>offset</key>
			<string>{0,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{66,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{880,1},{69,48}}</string>
			<key>offset</key>
			<string>{0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{69,48}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1504,1},{70,49}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{70,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>makoa_09_f_hatch_pb/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1576,1},{66,49}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{66,49}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1714,52}</string>
		<key>textureFileName</key>
		<string>makoa_09_f_hatch_pb.png</string>
	</dict>
</dict>
</plist>
