<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_02_f_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{178,621},{172,147}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,15},{172,147}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{703,463},{171,145}}</string>
			<key>offset</key>
			<string>{-2.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,15},{171,145}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{709,307},{171,145}}</string>
			<key>offset</key>
			<string>{-3.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,14},{171,145}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{352,623},{170,146}}</string>
			<key>offset</key>
			<string>{-4,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,12},{170,146}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{531,463},{170,149}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{170,149}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{534,1},{170,151}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,8},{170,151}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{361,158},{170,154}}</string>
			<key>offset</key>
			<string>{-5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{170,154}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{361,1},{171,155}}</string>
			<key>offset</key>
			<string>{-4.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{171,155}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{357,314},{172,155}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{172,155}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{181,314},{174,155}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{174,155}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{182,1},{177,154}}</string>
			<key>offset</key>
			<string>{-1.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{177,154}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{181,158},{178,154}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{178,154}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{179,155}}</string>
			<key>offset</key>
			<string>{0.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{179,155}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,158},{178,155}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,9},{178,155}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,315},{177,152}}</string>
			<key>offset</key>
			<string>{0.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{177,152}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,469},{175,151}}</string>
			<key>offset</key>
			<string>{0.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,13},{175,151}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{356,471},{173,150}}</string>
			<key>offset</key>
			<string>{-0.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{173,150}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{706,1},{171,144}}</string>
			<key>offset</key>
			<string>{-0.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,16},{171,144}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{707,610},{169,141}}</string>
			<key>offset</key>
			<string>{-1.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,17},{169,141}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{707,753},{170,139}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{170,139}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,770},{169,138}}</string>
			<key>offset</key>
			<string>{-2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{169,138}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{172,770},{169,138}}</string>
			<key>offset</key>
			<string>{-3.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,11},{169,138}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{524,760},{170,139}}</string>
			<key>offset</key>
			<string>{-3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,7},{170,139}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{710,147},{172,141}}</string>
			<key>offset</key>
			<string>{-2,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{172,141}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{531,614},{174,144}}</string>
			<key>offset</key>
			<string>{0,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{174,144}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{533,158},{175,147}}</string>
			<key>offset</key>
			<string>{1.5,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{175,147}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{178,471},{176,148}}</string>
			<key>offset</key>
			<string>{2,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{176,148}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{531,314},{176,147}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{176,147}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
		<key>makara_02_f_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,622},{172,146}}</string>
			<key>offset</key>
			<string>{1,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,13},{172,146}}</string>
			<key>sourceSize</key>
			<string>{182,163}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{883,909}</string>
		<key>textureFileName</key>
		<string>makara_02_f_adult_w.png</string>
	</dict>
</dict>
</plist>
