<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{566,1},{79,88}}</string>
			<key>offset</key>
			<string>{3.5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,8},{79,88}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{746,1},{80,87}}</string>
			<key>offset</key>
			<string>{2,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{80,87}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{835,1},{80,87}}</string>
			<key>offset</key>
			<string>{1,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,8},{80,87}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{656,1},{79,88}}</string>
			<key>offset</key>
			<string>{1.5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{79,88}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{291,1},{77,90}}</string>
			<key>offset</key>
			<string>{2.5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{77,90}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{99,1},{76,93}}</string>
			<key>offset</key>
			<string>{4,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,5},{76,93}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{75,96}}</string>
			<key>offset</key>
			<string>{5.5,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,3},{75,96}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{194,1},{76,95}}</string>
			<key>offset</key>
			<string>{6,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,4},{76,95}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{383,1},{77,91}}</string>
			<key>offset</key>
			<string>{5.5,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,6},{77,91}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{476,1},{77,88}}</string>
			<key>offset</key>
			<string>{5.5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,8},{77,88}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1014,1},{87,81}}</string>
			<key>offset</key>
			<string>{-7.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,20},{87,81}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{924,1},{88,80}}</string>
			<key>offset</key>
			<string>{-8,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-7,19},{88,80}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1103,1},{86,81}}</string>
			<key>offset</key>
			<string>{-8,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,16},{86,81}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1191,1},{85,81}}</string>
			<key>offset</key>
			<string>{-7.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,14},{85,81}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1278,1},{85,82}}</string>
			<key>offset</key>
			<string>{-6.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,11},{85,82}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1365,1},{84,82}}</string>
			<key>offset</key>
			<string>{-6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,11},{84,82}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1451,1},{83,84}}</string>
			<key>offset</key>
			<string>{-5.5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-2,11},{83,84}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1625,1},{84,85}}</string>
			<key>offset</key>
			<string>{-6,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,13},{84,85}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1712,1},{85,84}}</string>
			<key>offset</key>
			<string>{-6.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,16},{85,84}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>gripo_02_f_hatchling_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1537,1},{86,83}}</string>
			<key>offset</key>
			<string>{-7,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,18},{86,83}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1798,86}</string>
		<key>textureFileName</key>
		<string>gripo_02_f_hatchling_bk.png</string>
	</dict>
</dict>
</plist>
