<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zeusjr_01/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{1176,438},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,120},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{676,644},{224,216}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,120},{224,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{582,216},{312,184}}</string>
                <key>offset</key>
                <string>{-36,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{312,184}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{264,216},{316,192}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,148},{316,192}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{896,216},{280,184}}</string>
                <key>offset</key>
                <string>{-40,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,152},{280,184}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{212,340}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{212,336}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,4},{212,336}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{212,336}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,4},{212,336}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{216,336}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,8},{216,336}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{216,332}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,8},{216,332}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{216,336}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,8},{216,336}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{216,332}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,8},{216,332}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{244,340}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{244,340}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_09</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,336}}</string>
                <key>offset</key>
                <string>{-30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{260,336}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_10</key>
            <dict>
                <key>frame</key>
                <string>{{744,402},{212,228}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,112},{212,228}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_11</key>
            <dict>
                <key>frame</key>
                <string>{{248,410},{236,280}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,60},{236,280}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_12</key>
            <dict>
                <key>frame</key>
                <string>{{530,410},{212,232}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,108},{212,232}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/die/die_13</key>
            <dict>
                <key>frame</key>
                <string>{{248,648},{212,220}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{212,220}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{1112,652},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{958,402},{216,216}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{216,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{1678,220},{232,216}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,120},{232,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{1326,652},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{1394,438},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,116},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{1540,652},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,108},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{1612,438},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,112},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{894,652},{216,216}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,116},{216,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{1432,220},{244,216}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{244,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{1178,220},{252,216}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,120},{252,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_01/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{462,648},{212,220}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,116},{212,220}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zeusjr_01.png</string>
            <key>size</key>
            <string>{1954,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b43870369a379b393056e086b6b5e5b:289865aa2a98915cd48faee9f32c4af3:bf179121c2bbba854f78524e84a28d85$</string>
            <key>textureFileName</key>
            <string>zeusjr_01.png</string>
        </dict>
    </dict>
</plist>
