<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>antares_01_m_hatch_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{117,107},{115,103}}</string>
			<key>offset</key>
			<string>{-4.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,16},{115,103}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{115,104}}</string>
			<key>offset</key>
			<string>{-4.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,15},{115,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,107},{114,104}}</string>
			<key>offset</key>
			<string>{-5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,14},{114,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{118,1},{113,104}}</string>
			<key>offset</key>
			<string>{-5.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,13},{113,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{233,1},{111,104}}</string>
			<key>offset</key>
			<string>{-6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,12},{111,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{233,316},{110,104}}</string>
			<key>offset</key>
			<string>{-7,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,11},{110,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,317},{109,104}}</string>
			<key>offset</key>
			<string>{-7.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,10},{109,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{347,106},{108,104}}</string>
			<key>offset</key>
			<string>{-7,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,9},{108,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{223,422},{108,103}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,10},{108,103}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{112,317},{109,104}}</string>
			<key>offset</key>
			<string>{-6.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,10},{109,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{346,1},{110,103}}</string>
			<key>offset</key>
			<string>{-6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,11},{110,103}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{234,107},{111,103}}</string>
			<key>offset</key>
			<string>{-5.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,12},{111,103}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{233,212},{113,102}}</string>
			<key>offset</key>
			<string>{-5.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,14},{113,102}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{117,212},{114,103}}</string>
			<key>offset</key>
			<string>{-5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,15},{114,103}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,213},{114,102}}</string>
			<key>offset</key>
			<string>{-5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,16},{114,102}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{457,106},{107,101}}</string>
			<key>offset</key>
			<string>{-7.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,20},{107,101}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{348,212},{109,102}}</string>
			<key>offset</key>
			<string>{-7.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,18},{109,102}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{345,316},{109,103}}</string>
			<key>offset</key>
			<string>{-7.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,14},{109,103}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{345,421},{107,104}}</string>
			<key>offset</key>
			<string>{-9.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,9},{107,104}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,423},{108,103}}</string>
			<key>offset</key>
			<string>{-11,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,6},{108,103}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{111,423},{107,103}}</string>
			<key>offset</key>
			<string>{-11.5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,5},{107,103}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{458,1},{106,101}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,8},{106,101}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{459,209},{105,100}}</string>
			<key>offset</key>
			<string>{-7.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,12},{105,100}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{456,316},{106,100}}</string>
			<key>offset</key>
			<string>{-8,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,17},{106,100}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
		<key>antares_01_m_hatch_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{454,421},{106,101}}</string>
			<key>offset</key>
			<string>{-8,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,19},{106,101}}</string>
			<key>sourceSize</key>
			<string>{118,117}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{565,527}</string>
		<key>textureFileName</key>
		<string>antares_01_m_hatchling_bg.png</string>
	</dict>
</dict>
</plist>
