<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signaturesolardragon/holding/holding_01</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{86,106}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/holding/holding_02</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{86,106}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{86,100}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{86,100}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/move/move_07</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/move/move_08</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/touch/touch_01</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/touch/touch_02</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{86,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{86,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/touch/touch_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,106}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{96,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>signaturesolardragon/touch/touch_04</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{90,106}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,39},{90,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signaturesolardragon.png</string>
            <key>size</key>
            <string>{1424,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b16e328d834431b2e3cbe753b1893ad9:f244e950dcd78dc91e76be4e59f06cc7:2b3724e96b37255626923bd3eb8fa624$</string>
            <key>textureFileName</key>
            <string>signaturesolardragon.png</string>
        </dict>
    </dict>
</plist>
