<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firecarrotpillar/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{138,134}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{141,133},{138,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{417,377},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{150,114}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{453,1},{150,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{162,106}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{289,1},{162,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{145,381},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{545,377},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{126,130}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{417,245},{126,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{289,109},{134,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firecarrotpillar/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-33}</string>
                <key>spriteSize</key>
                <string>{138,74}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{141,269},{138,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-37}</string>
                <key>spriteSize</key>
                <string>{142,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{605,1},{142,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firecarrotpillar/die/die_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-37}</string>
                <key>spriteSize</key>
                <string>{142,66}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{1,427},{142,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{273,381},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{545,377},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-7}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{545,245},{130,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firecarrotpillar/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{138,134}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{141,133},{138,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{281,245},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{1,143},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{146,130}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{141,1},{146,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{138,126}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{429,117},{138,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firecarrotpillar/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{134,140}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{1,285},{134,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>firecarrotpillar.png</string>
            <key>size</key>
            <string>{672,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad3b017796925343e91832d46eacef94:0ea13381dff9f97b62323e3e0516b680:8909fc9ed3a62aa71e49d8e73eb98f27$</string>
            <key>textureFileName</key>
            <string>firecarrotpillar.png</string>
        </dict>
    </dict>
</plist>
