<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lionelgoldenwing/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{1340,574},{268,216}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,28},{268,216}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{220,448},{388,208}}</string>
                <key>offset</key>
                <string>{70,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,36},{388,208}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{352,228}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,24},{352,228}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,228}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{444,228}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{388,216}}</string>
                <key>offset</key>
                <string>{-70,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{388,216}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{280,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,32},{280,212}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{430,356},{352,152}}</string>
                <key>offset</key>
                <string>{32,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,96},{352,152}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{584,348},{340,140}}</string>
                <key>offset</key>
                <string>{18,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,128},{340,140}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{430,710},{340,128}}</string>
                <key>offset</key>
                <string>{18,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,140},{340,128}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{344,116}}</string>
                <key>offset</key>
                <string>{16,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,156},{344,116}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{344,108}}</string>
                <key>offset</key>
                <string>{16,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,164},{344,108}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{932,304},{288,208}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,36},{288,208}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{1142,288},{284,204}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,40},{284,204}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{1768,284},{276,208}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,36},{276,208}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/hurt/hurt_04</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{280,208}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,36},{280,208}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{1554,284},{280,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,32},{280,212}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{1348,288},{284,204}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,40},{284,204}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{772,614},{292,224}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,20},{292,224}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{1610,566},{268,216}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,28},{268,216}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{280,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,32},{280,212}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{284,216}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,28},{284,216}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{304,204}}</string>
                <key>offset</key>
                <string>{-28,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,12},{304,204}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{726,308},{304,204}}</string>
                <key>offset</key>
                <string>{-28,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,8},{304,204}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{300,244}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,0},{300,244}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
            <key>lionelgoldenwing/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{1066,594},{272,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,24},{272,220}}</string>
                <key>sourceSize</key>
                <string>{528,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lionelgoldenwing.png</string>
            <key>size</key>
            <string>{1998,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7ad967a2a9f957c0c09cad99c4ff19c:4ca34f92893650d3c8a2721a3f298037:9c17609e32f13fb4ce8b33de48f1f17b$</string>
            <key>textureFileName</key>
            <string>lionelgoldenwing.png</string>
        </dict>
    </dict>
</plist>
