<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_03_f_hatch_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{55,1},{49,57}}</string>
			<key>offset</key>
			<string>{5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,5},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{106,1},{49,57}}</string>
			<key>offset</key>
			<string>{5.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{259,1},{49,57}}</string>
			<key>offset</key>
			<string>{5.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{310,1},{49,57}}</string>
			<key>offset</key>
			<string>{5.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{624,1},{49,58}}</string>
			<key>offset</key>
			<string>{4.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{675,1},{49,58}}</string>
			<key>offset</key>
			<string>{4.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{726,1},{49,58}}</string>
			<key>offset</key>
			<string>{4.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{361,1},{49,57}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{777,1},{49,58}}</string>
			<key>offset</key>
			<string>{4.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,3},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{828,1},{49,58}}</string>
			<key>offset</key>
			<string>{4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{49,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{574,1},{48,58}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{48,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{157,1},{49,57}}</string>
			<key>offset</key>
			<string>{5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,5},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{208,1},{49,57}}</string>
			<key>offset</key>
			<string>{5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,5},{49,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{879,1},{52,58}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{52,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{412,1},{52,57}}</string>
			<key>offset</key>
			<string>{-2,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{933,1},{53,58}}</string>
			<key>offset</key>
			<string>{-2.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{53,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{988,1},{53,58}}</string>
			<key>offset</key>
			<string>{-2.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{53,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1043,1},{54,58}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{54,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1099,1},{54,58}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{54,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1155,1},{54,58}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{54,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1321,1},{53,59}}</string>
			<key>offset</key>
			<string>{-2.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{53,59}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1211,1},{53,58}}</string>
			<key>offset</key>
			<string>{-2.5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,0},{53,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1266,1},{53,58}}</string>
			<key>offset</key>
			<string>{-2.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{53,58}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{466,1},{52,57}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{52,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{52,56}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{52,56}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>makara_03_f_hatch_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{520,1},{52,57}}</string>
			<key>offset</key>
			<string>{-2,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{52,57}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1375,61}</string>
		<key>textureFileName</key>
		<string>makara_03_f_hatch_bk.png</string>
	</dict>
</dict>
</plist>
