<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>selora_01_m_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{325,391},{106,128}}</string>
			<key>offset</key>
			<string>{15,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{106,128}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{435,130},{106,128}}</string>
			<key>offset</key>
			<string>{15,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{106,128}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{217,133},{107,128}}</string>
			<key>offset</key>
			<string>{14.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{107,128}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{326,133},{107,127}}</string>
			<key>offset</key>
			<string>{14.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{107,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{328,1},{107,127}}</string>
			<key>offset</key>
			<string>{14.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{107,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{327,262},{107,127}}</string>
			<key>offset</key>
			<string>{14.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{107,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{107,391},{107,127}}</string>
			<key>offset</key>
			<string>{14.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{107,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{216,391},{107,127}}</string>
			<key>offset</key>
			<string>{14.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{107,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{437,1},{106,127}}</string>
			<key>offset</key>
			<string>{14,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{106,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{436,260},{106,127}}</string>
			<key>offset</key>
			<string>{14,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{106,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{107,520},{105,128}}</string>
			<key>offset</key>
			<string>{14.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{105,128}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{214,520},{105,128}}</string>
			<key>offset</key>
			<string>{14.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{105,128}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{111,1},{107,130}}</string>
			<key>offset</key>
			<string>{12.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,5},{107,130}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,396},{104,130}}</string>
			<key>offset</key>
			<string>{13,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,5},{104,130}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{321,521},{104,129}}</string>
			<key>offset</key>
			<string>{12,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,6},{104,129}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{433,391},{106,128}}</string>
			<key>offset</key>
			<string>{10,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,7},{106,128}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,132},{108,128}}</string>
			<key>offset</key>
			<string>{10,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{108,128}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{108,129}}</string>
			<key>offset</key>
			<string>{11,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,6},{108,129}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{220,1},{106,130}}</string>
			<key>offset</key>
			<string>{13,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{106,130}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,262},{104,132}}</string>
			<key>offset</key>
			<string>{13,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,5},{104,132}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{111,133},{104,127}}</string>
			<key>offset</key>
			<string>{12,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,6},{104,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{427,521},{106,126}}</string>
			<key>offset</key>
			<string>{10,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,7},{106,126}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{217,263},{108,126}}</string>
			<key>offset</key>
			<string>{10,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{108,126}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
		<key>selora_01_m_hatchling_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{107,262},{108,127}}</string>
			<key>offset</key>
			<string>{11,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,6},{108,127}}</string>
			<key>sourceSize</key>
			<string>{114,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{544,651}</string>
		<key>textureFileName</key>
		<string>selora_01_m_hatchling_w.png</string>
	</dict>
</dict>
</plist>
