<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_05_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{190,617},{186,149}}</string>
			<key>offset</key>
			<string>{23,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,44},{186,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{422,1},{187,149}}</string>
			<key>offset</key>
			<string>{22.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,43},{187,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{412,152},{187,151}}</string>
			<key>offset</key>
			<string>{22.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,42},{187,151}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,459},{187,153}}</string>
			<key>offset</key>
			<string>{22.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,41},{187,153}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{388,305},{187,154}}</string>
			<key>offset</key>
			<string>{22.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,42},{187,154}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{611,1},{187,156}}</string>
			<key>offset</key>
			<string>{23.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,42},{187,156}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{601,159},{187,157}}</string>
			<key>offset</key>
			<string>{23.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,43},{187,157}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{577,318},{187,157}}</string>
			<key>offset</key>
			<string>{23.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,45},{187,157}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,614},{187,157}}</string>
			<key>offset</key>
			<string>{24.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,47},{187,157}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{190,459},{187,156}}</string>
			<key>offset</key>
			<string>{24.5,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,50},{187,156}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{379,461},{186,155}}</string>
			<key>offset</key>
			<string>{25,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,52},{186,155}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{378,618},{186,153}}</string>
			<key>offset</key>
			<string>{25,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,54},{186,153}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,773},{185,151}}</string>
			<key>offset</key>
			<string>{25.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,55},{185,151}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{800,147},{184,149}}</string>
			<key>offset</key>
			<string>{25,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,56},{184,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{751,768},{184,147}}</string>
			<key>offset</key>
			<string>{25,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,56},{184,147}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{790,298},{184,147}}</string>
			<key>offset</key>
			<string>{25,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,55},{184,147}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{766,447},{184,147}}</string>
			<key>offset</key>
			<string>{24,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,53},{184,147}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{754,596},{184,147}}</string>
			<key>offset</key>
			<string>{24,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,51},{184,147}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{190,768},{185,148}}</string>
			<key>offset</key>
			<string>{23.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,48},{185,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{566,618},{186,148}}</string>
			<key>offset</key>
			<string>{23,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,46},{186,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{553,923},{178,148}}</string>
			<key>offset</key>
			<string>{13,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,37},{178,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{567,477},{176,121}}</string>
			<key>offset</key>
			<string>{13,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,64},{176,121}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,348},{193,109}}</string>
			<key>offset</key>
			<string>{3.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,77},{193,109}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,126},{210,109}}</string>
			<key>offset</key>
			<string>{-1,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,79},{210,109}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{211,123}}</string>
			<key>offset</key>
			<string>{-5.5,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,81},{211,123}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{214,1},{206,130}}</string>
			<key>offset</key>
			<string>{-2,-46.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,84},{206,130}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{213,133},{197,136}}</string>
			<key>offset</key>
			<string>{4.5,-52.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,87},{197,136}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{800,1},{185,144}}</string>
			<key>offset</key>
			<string>{11.5,-58.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,89},{185,144}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,926},{184,149}}</string>
			<key>offset</key>
			<string>{14,-62}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,90},{184,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{196,348},{190,109}}</string>
			<key>offset</key>
			<string>{11,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,90},{190,109}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,237},{204,109}}</string>
			<key>offset</key>
			<string>{4,-41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,89},{204,109}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{377,773},{185,145}}</string>
			<key>offset</key>
			<string>{13.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,51},{185,145}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{564,773},{185,148}}</string>
			<key>offset</key>
			<string>{13.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,45},{185,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{187,926},{182,149}}</string>
			<key>offset</key>
			<string>{13,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,41},{182,149}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
		<key>illuide_05_m_adult_bk/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{371,923},{180,148}}</string>
			<key>offset</key>
			<string>{13,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,38},{180,148}}</string>
			<key>sourceSize</key>
			<string>{218,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{986,1076}</string>
		<key>textureFileName</key>
		<string>illuide_05_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
