<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_08_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{342,986},{167,165}}</string>
			<key>offset</key>
			<string>{2.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,28},{167,165}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{904,957},{162,168}}</string>
			<key>offset</key>
			<string>{3,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,27},{162,168}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{919,363},{161,172}}</string>
			<key>offset</key>
			<string>{3.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,25},{161,172}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{904,780},{163,175}}</string>
			<key>offset</key>
			<string>{3.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,24},{163,175}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{172,833},{168,177}}</string>
			<key>offset</key>
			<string>{3,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,23},{168,177}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{727,780},{175,179}}</string>
			<key>offset</key>
			<string>{2.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,22},{175,179}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{361,629},{183,179}}</string>
			<key>offset</key>
			<string>{1.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,22},{183,179}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{569,214},{191,179}}</string>
			<key>offset</key>
			<string>{0.5,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,22},{191,179}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{207,423},{200,177}}</string>
			<key>offset</key>
			<string>{-1,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,23},{200,177}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{396,1},{205,175}}</string>
			<key>offset</key>
			<string>{-1.5,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,24},{205,175}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{215,212},{209,173}}</string>
			<key>offset</key>
			<string>{-2.5,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,25},{209,173}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{390,417},{210,169}}</string>
			<key>offset</key>
			<string>{-3,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,27},{210,169}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{573,1},{211,166}}</string>
			<key>offset</key>
			<string>{-3.5,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,28},{211,166}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{561,600},{210,164}}</string>
			<key>offset</key>
			<string>{-3,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,30},{210,164}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{196,625},{206,163}}</string>
			<key>offset</key>
			<string>{-3,-19.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,31},{206,163}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{741,1},{202,162}}</string>
			<key>offset</key>
			<string>{-2,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,31},{202,162}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{750,205},{196,160}}</string>
			<key>offset</key>
			<string>{-1,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,32},{196,160}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{757,403},{189,160}}</string>
			<key>offset</key>
			<string>{-0.5,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,31},{189,160}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{912,180},{181,159}}</string>
			<key>offset</key>
			<string>{0.5,-17.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,31},{181,159}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{909,594},{173,161}}</string>
			<key>offset</key>
			<string>{1.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,30},{173,161}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{545,812},{171,176}}</string>
			<key>offset</key>
			<string>{-8.5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,38},{171,176}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{905,1},{165,177}}</string>
			<key>offset</key>
			<string>{-6.5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,36},{165,177}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,731},{169,176}}</string>
			<key>offset</key>
			<string>{-3.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,37},{169,176}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{727,600},{180,178}}</string>
			<key>offset</key>
			<string>{-1,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,36},{180,178}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{561,417},{194,181}}</string>
			<key>offset</key>
			<string>{1,-33.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,36},{194,181}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,369},{204,183}}</string>
			<key>offset</key>
			<string>{2,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,37},{204,183}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{211,183}}</string>
			<key>offset</key>
			<string>{2.5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,38},{211,183}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,186},{212,181}}</string>
			<key>offset</key>
			<string>{1,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,40},{212,181}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{215,1},{209,179}}</string>
			<key>offset</key>
			<string>{-2.5,-37.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,41},{209,179}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{390,212},{203,177}}</string>
			<key>offset</key>
			<string>{-5.5,-37.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,42},{203,177}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,554},{193,175}}</string>
			<key>offset</key>
			<string>{-7.5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,42},{193,175}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
		<key>sirius_08_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{361,810},{182,174}}</string>
			<key>offset</key>
			<string>{-9,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,41},{182,174}}</string>
			<key>sourceSize</key>
			<string>{216,186}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1083,1152}</string>
		<key>textureFileName</key>
		<string>sirius_08_m_adult_w.png</string>
	</dict>
</dict>
</plist>
