<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guardianoffire/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{337,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{907,129},{90,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{102,132}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{1,149},{102,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{433,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{337,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{135,141},{102,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{130,118}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{217,1},{130,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{138,114}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{101,1},{138,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{146,98}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{817,1},{90,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-43}</string>
                <key>spriteSize</key>
                <string>{102,46}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{379,133},{102,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/die/die_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-43}</string>
                <key>spriteSize</key>
                <string>{102,46}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{427,133},{102,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/die/die_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-45}</string>
                <key>spriteSize</key>
                <string>{102,42}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{475,133},{102,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{529,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{135,141},{102,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{255,133},{118,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{337,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{94,126}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{907,1},{94,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{625,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{721,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guardianoffire/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{519,133},{98,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{647,133},{98,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guardianoffire/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{775,133},{94,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guardianoffire.png</string>
            <key>size</key>
            <string>{1002,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8844434272de7002ec771cb55a6097cb:9034cb8739ee98363ad6e30e3bc95fb0:0741885d06d41e0e9637095450cb47dc$</string>
            <key>textureFileName</key>
            <string>guardianoffire.png</string>
        </dict>
    </dict>
</plist>
