<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_02_m_hatch_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{149,173},{69,54}}</string>
			<key>offset</key>
			<string>{1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{69,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{74,54}}</string>
			<key>offset</key>
			<string>{4,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{74,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,283},{64,54}}</string>
			<key>offset</key>
			<string>{9,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,4},{64,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{67,283},{64,54}}</string>
			<key>offset</key>
			<string>{9,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,5},{64,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,114},{74,55}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{74,55}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{153,61},{74,54}}</string>
			<key>offset</key>
			<string>{4,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{74,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{153,117},{74,54}}</string>
			<key>offset</key>
			<string>{4,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{74,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{77,118},{74,53}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{74,53}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,171},{74,53}}</string>
			<key>offset</key>
			<string>{4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{74,53}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,226},{74,54}}</string>
			<key>offset</key>
			<string>{4,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{74,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,57},{74,55}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{74,55}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{77,1},{74,56}}</string>
			<key>offset</key>
			<string>{4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{74,56}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{77,59},{74,57}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{74,57}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{153,1},{74,58}}</string>
			<key>offset</key>
			<string>{4,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{74,58}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{77,173},{70,54}}</string>
			<key>offset</key>
			<string>{2,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{70,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{77,229},{66,52}}</string>
			<key>offset</key>
			<string>{0,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{66,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{213,229},{65,52}}</string>
			<key>offset</key>
			<string>{-0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{65,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{229,55},{65,52}}</string>
			<key>offset</key>
			<string>{-0.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{65,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{133,283},{64,52}}</string>
			<key>offset</key>
			<string>{-1,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{64,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{199,283},{64,51}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{64,51}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{229,109},{65,52}}</string>
			<key>offset</key>
			<string>{-1.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,9},{65,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{145,229},{66,52}}</string>
			<key>offset</key>
			<string>{-1,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,8},{66,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{229,163},{65,52}}</string>
			<key>offset</key>
			<string>{-0.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{65,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_m_hatch_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{229,1},{66,52}}</string>
			<key>offset</key>
			<string>{0,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{66,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{296,338}</string>
		<key>textureFileName</key>
		<string>sirius_02_m_hatch_w.png</string>
	</dict>
</dict>
</plist>
