<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>phoenix_04_m_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{947,1},{143,161}}</string>
			<key>offset</key>
			<string>{17.5,-6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,11},{143,161}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1110,1},{143,152}}</string>
			<key>offset</key>
			<string>{17.5,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,18},{143,152}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{308,1},{141,152}}</string>
			<key>offset</key>
			<string>{17.5,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,17},{141,152}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{129,154}}</string>
			<key>offset</key>
			<string>{12.5,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,15},{129,154}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{462,1},{141,157}}</string>
			<key>offset</key>
			<string>{18.5,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,14},{141,157}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{621,1},{141,160}}</string>
			<key>offset</key>
			<string>{18.5,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,13},{141,160}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{783,1},{142,162}}</string>
			<key>offset</key>
			<string>{19,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,13},{142,162}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1427,1},{143,163}}</string>
			<key>offset</key>
			<string>{18.5,-10.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,14},{143,163}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1592,1},{144,161}}</string>
			<key>offset</key>
			<string>{18,-10.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,15},{144,161}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1755,1},{144,162}}</string>
			<key>offset</key>
			<string>{18,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,13},{144,162}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1264,1},{143,161}}</string>
			<key>offset</key>
			<string>{17.5,-6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,11},{143,161}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{320,144},{158,150}}</string>
			<key>offset</key>
			<string>{11,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,23},{158,150}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{160,144},{158,147}}</string>
			<key>offset</key>
			<string>{11,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,22},{158,147}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,135},{157,146}}</string>
			<key>offset</key>
			<string>{11.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,22},{157,146}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{157,1},{132,149}}</string>
			<key>offset</key>
			<string>{0,-9.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,20},{132,149}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{802,146},{156,159}}</string>
			<key>offset</key>
			<string>{12,-6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,12},{156,159}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1125,146},{158,163}}</string>
			<key>offset</key>
			<string>{12,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,11},{158,163}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1290,146},{158,161}}</string>
			<key>offset</key>
			<string>{12,-12.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,17},{158,161}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1453,147},{159,159}}</string>
			<key>offset</key>
			<string>{11.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,21},{159,159}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{963,146},{160,157}}</string>
			<key>offset</key>
			<string>{11,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,22},{160,157}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{640,145},{160,155}}</string>
			<key>offset</key>
			<string>{11,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,22},{160,155}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
		<key>phoenix_04_m_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{480,144},{158,151}}</string>
			<key>offset</key>
			<string>{11,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,22},{158,151}}</string>
			<key>sourceSize</key>
			<string>{160,170}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1918,307}</string>
		<key>textureFileName</key>
		<string>phoenix_04_m_adult_yr.png</string>
	</dict>
</dict>
</plist>
