<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{422,108},{133,113}}</string>
			<key>offset</key>
			<string>{10.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,10},{133,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{968,111},{132,116}}</string>
			<key>offset</key>
			<string>{10,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{132,116}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1102,111},{132,117}}</string>
			<key>offset</key>
			<string>{10,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{132,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1236,112},{130,117}}</string>
			<key>offset</key>
			<string>{10,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{130,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1368,112},{130,117}}</string>
			<key>offset</key>
			<string>{10,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{130,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{837,110},{129,115}}</string>
			<key>offset</key>
			<string>{9.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,11},{129,115}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{557,109},{131,113}}</string>
			<key>offset</key>
			<string>{9.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,14},{131,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,102},{131,111}}</string>
			<key>offset</key>
			<string>{9.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,17},{131,111}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1581,1},{132,110}}</string>
			<key>offset</key>
			<string>{9,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{132,110}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1303,1},{133,109}}</string>
			<key>offset</key>
			<string>{9.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{133,109}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1030,1},{134,108}}</string>
			<key>offset</key>
			<string>{9,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,20},{134,108}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{601,1},{135,106}}</string>
			<key>offset</key>
			<string>{9.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,20},{135,106}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{892,1},{136,107}}</string>
			<key>offset</key>
			<string>{10,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{136,107}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1166,1},{135,108}}</string>
			<key>offset</key>
			<string>{10.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{135,108}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1866,1},{135,111}}</string>
			<key>offset</key>
			<string>{10.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,13},{135,111}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1715,1},{149,110}}</string>
			<key>offset</key>
			<string>{6.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{149,110}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{690,109},{145,113}}</string>
			<key>offset</key>
			<string>{6.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{145,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{134,105},{143,112}}</string>
			<key>offset</key>
			<string>{6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{143,112}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{279,105},{141,112}}</string>
			<key>offset</key>
			<string>{5.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{141,112}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1438,1},{141,109}}</string>
			<key>offset</key>
			<string>{4.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,20},{141,109}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{456,1},{143,105}}</string>
			<key>offset</key>
			<string>{4.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{143,105}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{153,1},{147,102}}</string>
			<key>offset</key>
			<string>{4.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,28},{147,102}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{150,99}}</string>
			<key>offset</key>
			<string>{5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,28},{150,99}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{302,1},{152,102}}</string>
			<key>offset</key>
			<string>{6,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{152,102}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_02_m_hatchling_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{738,1},{152,106}}</string>
			<key>offset</key>
			<string>{6,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{152,106}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2002,230}</string>
		<key>textureFileName</key>
		<string>illuide_02_m_hatchling_bk.png</string>
	</dict>
</dict>
</plist>
