<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sharkwarrior/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{156,294},{144,92}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{144,92}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{152,84}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{152,84}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,84}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{172,84}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{160,84}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{160,84}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{160,84}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{160,84}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{156,440},{144,92}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{144,92}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{152,76}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{152,76}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{152,72}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{152,72}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{152,68}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{152,68}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{152,72}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{152,72}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{152,72}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{152,72}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{164,156},{136,88}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{136,88}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{140,104}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{140,104}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{144,724},{140,104}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{140,104}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{156,586},{136,88}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{136,88}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{136,84}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{136,84}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{136,88}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{136,88}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{124,88}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{124,88}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{128,84}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{128,84}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{140,866},{132,88}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{132,88}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>sharkwarrior/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{128,1006},{124,84}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{124,84}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sharkwarrior.png</string>
            <key>size</key>
            <string>{254,1098}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d004762f0d5e1f5ad2bb35d670b7e4f0:a4e5de39df01015e6f1d6d04890a2ca6:7b784f6d373b9fc94299013b19601f4e$</string>
            <key>textureFileName</key>
            <string>sharkwarrior.png</string>
        </dict>
    </dict>
</plist>
