<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_03_f_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{147,327},{135,114}}</string>
			<key>offset</key>
			<string>{9.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,10},{135,114}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{453,1},{134,116}}</string>
			<key>offset</key>
			<string>{9,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{134,116}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{421,338},{134,117}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{134,117}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{271,443},{133,117}}</string>
			<key>offset</key>
			<string>{8.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{133,117}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{406,457},{133,116}}</string>
			<key>offset</key>
			<string>{8.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{133,116}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{589,1},{132,115}}</string>
			<key>offset</key>
			<string>{8,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,11},{132,115}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{589,118},{132,113}}</string>
			<key>offset</key>
			<string>{8,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,14},{132,113}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{576,233},{132,110}}</string>
			<key>offset</key>
			<string>{8,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{132,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{557,345},{132,110}}</string>
			<key>offset</key>
			<string>{8,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{132,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{541,457},{132,109}}</string>
			<key>offset</key>
			<string>{8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{132,109}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,438},{133,108}}</string>
			<key>offset</key>
			<string>{8.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,21},{133,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{136,457},{133,107}}</string>
			<key>offset</key>
			<string>{8.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{133,107}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{452,119},{134,107}}</string>
			<key>offset</key>
			<string>{9,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{134,107}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{440,228},{134,108}}</string>
			<key>offset</key>
			<string>{9,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{134,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{284,330},{135,111}}</string>
			<key>offset</key>
			<string>{9.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,14},{135,111}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{153,1},{149,110}}</string>
			<key>offset</key>
			<string>{5.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,10},{149,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{304,1},{147,113}}</string>
			<key>offset</key>
			<string>{5.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{147,113}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,213},{145,112}}</string>
			<key>offset</key>
			<string>{4.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{145,112}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{148,214},{144,111}}</string>
			<key>offset</key>
			<string>{4,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{144,111}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{294,220},{144,108}}</string>
			<key>offset</key>
			<string>{3,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{144,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,330},{144,106}}</string>
			<key>offset</key>
			<string>{3,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,25},{144,106}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{304,116},{146,102}}</string>
			<key>offset</key>
			<string>{3,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{146,102}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{153,113},{149,99}}</string>
			<key>offset</key>
			<string>{4.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{149,99}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{150,102}}</string>
			<key>offset</key>
			<string>{6,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{150,102}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_03_f_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,105},{150,106}}</string>
			<key>offset</key>
			<string>{6,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{150,106}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{722,574}</string>
		<key>textureFileName</key>
		<string>illuide_03_f_hatchling_w.png</string>
	</dict>
</dict>
</plist>
