<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lavaslime/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{122,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{133,877},{122,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{130,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,847},{130,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,413},{146,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{146,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{165,197},{146,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavaslime/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-19}</string>
                <key>spriteSize</key>
                <string>{126,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{129,1077},{126,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{134,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,651},{134,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{154,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,309},{154,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{194,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-35}</string>
                <key>spriteSize</key>
                <string>{194,54}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,93},{194,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-33}</string>
                <key>spriteSize</key>
                <string>{194,58}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{197,1},{194,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavaslime/die/die_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-41}</string>
                <key>spriteSize</key>
                <string>{194,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,149},{194,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-19}</string>
                <key>spriteSize</key>
                <string>{126,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{129,1077},{126,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{154,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{157,345},{154,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavaslime/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-15}</string>
                <key>spriteSize</key>
                <string>{134,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,751},{134,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{137,749},{126,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavaslime/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{133,973},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{138,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,539},{138,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/idle/idle_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{162,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,193},{162,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/idle/idle_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{114,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{141,629},{114,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/idle/idle_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{126,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{149,501},{126,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lavaslime/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-15}</string>
                <key>spriteSize</key>
                <string>{126,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,1075},{126,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,971},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lavaslime/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-19}</string>
                <key>spriteSize</key>
                <string>{146,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{165,197},{146,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lavaslime.png</string>
            <key>size</key>
            <string>{256,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea0dc9610b4f907f11a1657da5800e95:76741f2ecd82f175b456c44e591677b6:6c5a956e3a18a622b33f8f9e587c3fce$</string>
            <key>textureFileName</key>
            <string>lavaslime.png</string>
        </dict>
    </dict>
</plist>
