<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_05_f_hatchling_y/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{147,327},{135,114}}</string>
			<key>offset</key>
			<string>{9.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,10},{135,114}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{440,224},{134,116}}</string>
			<key>offset</key>
			<string>{9,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{134,116}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,438},{134,117}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{134,117}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{137,443},{133,117}}</string>
			<key>offset</key>
			<string>{8.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{133,117}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{576,224},{132,116}}</string>
			<key>offset</key>
			<string>{8,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{132,116}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{557,342},{132,115}}</string>
			<key>offset</key>
			<string>{8,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,11},{132,115}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{555,459},{132,113}}</string>
			<key>offset</key>
			<string>{8,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,14},{132,113}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{420,452},{133,110}}</string>
			<key>offset</key>
			<string>{8.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{133,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{590,1},{133,110}}</string>
			<key>offset</key>
			<string>{8.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{133,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{590,113},{133,109}}</string>
			<key>offset</key>
			<string>{8.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{133,109}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{421,342},{134,108}}</string>
			<key>offset</key>
			<string>{9,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,21},{134,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{284,439},{134,107}}</string>
			<key>offset</key>
			<string>{9,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{134,107}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{284,330},{135,107}}</string>
			<key>offset</key>
			<string>{9.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{135,107}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{453,1},{135,108}}</string>
			<key>offset</key>
			<string>{9.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{135,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{453,111},{135,111}}</string>
			<key>offset</key>
			<string>{9.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,14},{135,111}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{153,1},{149,110}}</string>
			<key>offset</key>
			<string>{5.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,10},{149,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{304,1},{147,113}}</string>
			<key>offset</key>
			<string>{5.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{147,113}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,213},{145,112}}</string>
			<key>offset</key>
			<string>{4.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{145,112}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{148,214},{144,111}}</string>
			<key>offset</key>
			<string>{4,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{144,111}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{294,220},{144,108}}</string>
			<key>offset</key>
			<string>{3,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{144,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,330},{144,106}}</string>
			<key>offset</key>
			<string>{3,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,25},{144,106}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{304,116},{147,102}}</string>
			<key>offset</key>
			<string>{3.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{147,102}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{153,113},{149,99}}</string>
			<key>offset</key>
			<string>{4.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{149,99}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{150,102}}</string>
			<key>offset</key>
			<string>{6,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{150,102}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_05_f_hatchling_y/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,105},{150,106}}</string>
			<key>offset</key>
			<string>{6,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{150,106}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{724,573}</string>
		<key>textureFileName</key>
		<string>illuide_05_f_hatchling_y.png</string>
	</dict>
</dict>
</plist>
