<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_04_m_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{479,132},{108,129}}</string>
			<key>offset</key>
			<string>{12,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,12},{108,129}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{451,394},{105,130}}</string>
			<key>offset</key>
			<string>{12.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,12},{105,130}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,539},{104,131}}</string>
			<key>offset</key>
			<string>{13,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,12},{104,131}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{110,405},{103,132}}</string>
			<key>offset</key>
			<string>{12.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,13},{103,132}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{109,270},{103,133}}</string>
			<key>offset</key>
			<string>{12.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,13},{103,133}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,270},{106,133}}</string>
			<key>offset</key>
			<string>{12,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,14},{106,133}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,134},{109,134}}</string>
			<key>offset</key>
			<string>{11.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,14},{109,134}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{123,1},{113,134}}</string>
			<key>offset</key>
			<string>{10.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,14},{113,134}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{234,137},{116,133}}</string>
			<key>offset</key>
			<string>{10,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,14},{116,133}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{238,1},{119,132}}</string>
			<key>offset</key>
			<string>{9.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,14},{119,132}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{120,131}}</string>
			<key>offset</key>
			<string>{9,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{120,131}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{112,137},{120,131}}</string>
			<key>offset</key>
			<string>{9,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{120,131}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{359,1},{118,129}}</string>
			<key>offset</key>
			<string>{10,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,13},{118,129}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{334,406},{115,129}}</string>
			<key>offset</key>
			<string>{10.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{115,129}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{479,1},{112,129}}</string>
			<key>offset</key>
			<string>{11,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,12},{112,129}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{448,263},{115,129}}</string>
			<key>offset</key>
			<string>{9.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,18},{115,129}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{451,526},{103,130}}</string>
			<key>offset</key>
			<string>{7.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{103,130}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{107,539},{102,131}}</string>
			<key>offset</key>
			<string>{7,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{102,131}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{215,404},{103,132}}</string>
			<key>offset</key>
			<string>{5.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,20},{103,132}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,405},{107,132}}</string>
			<key>offset</key>
			<string>{3.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,20},{107,132}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{335,272},{111,132}}</string>
			<key>offset</key>
			<string>{1.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{111,132}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{215,538},{117,131}}</string>
			<key>offset</key>
			<string>{2.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,20},{117,131}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{214,272},{119,130}}</string>
			<key>offset</key>
			<string>{4.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,19},{119,130}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
		<key>sirius_04_m_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{359,132},{118,129}}</string>
			<key>offset</key>
			<string>{7,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{118,129}}</string>
			<key>sourceSize</key>
			<string>{124,136}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{592,671}</string>
		<key>textureFileName</key>
		<string>sirius_04_m_hatchling_w.png</string>
	</dict>
</dict>
</plist>
