<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>digup/relic/relic_1x1_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{477,553},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/relic/relic_1x1_0101</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{325,883},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/relic/relic_1x2_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,248}</string>
                <key>spriteSourceSize</key>
                <string>{100,248}</string>
                <key>textureRect</key>
                <string>{{477,303},{100,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/relic/relic_1x3_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,348}</string>
                <key>spriteSourceSize</key>
                <string>{128,348}</string>
                <key>textureRect</key>
                <string>{{347,303},{128,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/relic/relic_1x4_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,456}</string>
                <key>spriteSourceSize</key>
                <string>{120,456}</string>
                <key>textureRect</key>
                <string>{{1,287},{120,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/relic/relic_2x1_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,120}</string>
                <key>spriteSourceSize</key>
                <string>{212,120}</string>
                <key>textureRect</key>
                <string>{{203,741},{212,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>digup/relic/relic_2x2_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,252}</string>
                <key>spriteSourceSize</key>
                <string>{200,252}</string>
                <key>textureRect</key>
                <string>{{1,745},{200,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/relic/relic_2x2_0101</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{325,681},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/relic/relic_3x1_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,108}</string>
                <key>spriteSourceSize</key>
                <string>{376,108}</string>
                <key>textureRect</key>
                <string>{{237,303},{376,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>digup/relic/relic_3x3_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,276}</string>
                <key>textureRect</key>
                <string>{{331,1},{300,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>digup/relic/relic_3x3_0101</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,284}</string>
                <key>spriteSourceSize</key>
                <string>{328,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{328,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/relic/relic_4x1_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,112}</string>
                <key>spriteSourceSize</key>
                <string>{452,112}</string>
                <key>textureRect</key>
                <string>{{123,287},{452,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>digup/tile/tile_0100</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{439,883},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/tile/tile_0101</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{527,671},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digup/tile/tile_0102</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{527,743},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>digup.png</string>
            <key>size</key>
            <string>{608,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f6b8d7bbc58b3e4b65ab04a6858824d:23978997c570631a15b759a2c75a1104:35ab1e761c983e35e4be7777b16febe0$</string>
            <key>textureFileName</key>
            <string>digup.png</string>
        </dict>
    </dict>
</plist>
