<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>evildawn_01_m_adult_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{833,1},{159,146}}</string>
			<key>offset</key>
			<string>{29.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,5},{159,146}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{162,873},{158,145}}</string>
			<key>offset</key>
			<string>{29,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,6},{158,145}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{814,873},{158,145}}</string>
			<key>offset</key>
			<string>{29,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,6},{158,145}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{322,873},{158,145}}</string>
			<key>offset</key>
			<string>{29,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,6},{158,145}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{482,873},{158,144}}</string>
			<key>offset</key>
			<string>{29,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,7},{158,144}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{830,436},{160,144}}</string>
			<key>offset</key>
			<string>{29,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,7},{160,144}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,728},{161,143}}</string>
			<key>offset</key>
			<string>{29.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,8},{161,143}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{164,728},{161,143}}</string>
			<key>offset</key>
			<string>{29.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,8},{161,143}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{327,728},{161,143}}</string>
			<key>offset</key>
			<string>{29.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,8},{161,143}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{490,728},{161,143}}</string>
			<key>offset</key>
			<string>{29.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,8},{161,143}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{665,582},{161,144}}</string>
			<key>offset</key>
			<string>{29.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,7},{161,144}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{828,582},{160,144}}</string>
			<key>offset</key>
			<string>{29,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,7},{160,144}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{833,149},{159,145}}</string>
			<key>offset</key>
			<string>{29.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,6},{159,145}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,873},{159,145}}</string>
			<key>offset</key>
			<string>{29.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,6},{159,145}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{653,872},{159,146}}</string>
			<key>offset</key>
			<string>{29.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,5},{159,146}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{336,1},{164,146}}</string>
			<key>offset</key>
			<string>{25,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,5},{164,146}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{336,149},{164,145}}</string>
			<key>offset</key>
			<string>{25,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,8},{164,145}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{502,1},{164,147}}</string>
			<key>offset</key>
			<string>{25,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,7},{164,147}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{502,150},{164,148}}</string>
			<key>offset</key>
			<string>{25,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,5},{164,148}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{500,300},{164,148}}</string>
			<key>offset</key>
			<string>{25,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,6},{164,148}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{168,434},{164,146}}</string>
			<key>offset</key>
			<string>{25,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,8},{164,146}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{334,440},{164,144}}</string>
			<key>offset</key>
			<string>{26,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,9},{164,144}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{668,149},{163,142}}</string>
			<key>offset</key>
			<string>{26.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,9},{163,142}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{330,586},{162,140}}</string>
			<key>offset</key>
			<string>{27,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,8},{162,140}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{668,293},{163,141}}</string>
			<key>offset</key>
			<string>{27.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,6},{163,141}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{168,290},{164,142}}</string>
			<key>offset</key>
			<string>{27,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,5},{164,142}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{166,143}}</string>
			<key>offset</key>
			<string>{27,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,4},{166,143}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,146},{166,142}}</string>
			<key>offset</key>
			<string>{26,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,5},{166,142}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{169,1},{165,143}}</string>
			<key>offset</key>
			<string>{25.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,7},{165,143}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{169,146},{165,142}}</string>
			<key>offset</key>
			<string>{25.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,8},{165,142}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,290},{165,144}}</string>
			<key>offset</key>
			<string>{25.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,6},{165,144}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_17</key>
		<dict>
			<key>frame</key>
			<string>{{1,436},{164,144}}</string>
			<key>offset</key>
			<string>{26,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,6},{164,144}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_18</key>
		<dict>
			<key>frame</key>
			<string>{{334,296},{164,142}}</string>
			<key>offset</key>
			<string>{26,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,8},{164,142}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_19</key>
		<dict>
			<key>frame</key>
			<string>{{1,586},{163,140}}</string>
			<key>offset</key>
			<string>{26.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,10},{163,140}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_20</key>
		<dict>
			<key>frame</key>
			<string>{{166,586},{162,140}}</string>
			<key>offset</key>
			<string>{26,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,10},{162,140}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_21</key>
		<dict>
			<key>frame</key>
			<string>{{653,728},{161,142}}</string>
			<key>offset</key>
			<string>{26.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,8},{161,142}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_22</key>
		<dict>
			<key>frame</key>
			<string>{{816,728},{161,143}}</string>
			<key>offset</key>
			<string>{26.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,7},{161,143}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_23</key>
		<dict>
			<key>frame</key>
			<string>{{666,436},{162,144}}</string>
			<key>offset</key>
			<string>{26,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,6},{162,144}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_24</key>
		<dict>
			<key>frame</key>
			<string>{{500,450},{163,145}}</string>
			<key>offset</key>
			<string>{26.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,5},{163,145}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
		<key>evildawn_01_m_adult_bg/move/move_25</key>
		<dict>
			<key>frame</key>
			<string>{{668,1},{163,146}}</string>
			<key>offset</key>
			<string>{25.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,4},{163,146}}</string>
			<key>sourceSize</key>
			<string>{178,151}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{993,1019}</string>
		<key>textureFileName</key>
		<string>evildawn_01_m_adult_bg.png</string>
	</dict>
</dict>
</plist>
