<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_04_m_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{197,861},{193,183}}</string>
			<key>offset</key>
			<string>{4.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,13},{193,183}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,817},{194,183}}</string>
			<key>offset</key>
			<string>{4,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,13},{194,183}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{568,860},{196,182}}</string>
			<key>offset</key>
			<string>{5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,15},{196,182}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{368,677},{198,182}}</string>
			<key>offset</key>
			<string>{7,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,17},{198,182}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{164,635},{202,180}}</string>
			<key>offset</key>
			<string>{9,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,20},{202,180}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{744,221},{204,178}}</string>
			<key>offset</key>
			<string>{12,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,24},{204,178}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{571,651},{207,177}}</string>
			<key>offset</key>
			<string>{14.5,-15.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,27},{207,177}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{567,225},{212,175}}</string>
			<key>offset</key>
			<string>{16,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,31},{212,175}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{396,456},{219,173}}</string>
			<key>offset</key>
			<string>{16.5,-20.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,34},{219,173}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,175},{225,171}}</string>
			<key>offset</key>
			<string>{17.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,36},{225,171}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{576,1},{218,170}}</string>
			<key>offset</key>
			<string>{24,-21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,36},{218,170}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{405,1},{222,169}}</string>
			<key>offset</key>
			<string>{26,-20.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,36},{222,169}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{233,1},{226,170}}</string>
			<key>offset</key>
			<string>{27,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,33},{226,170}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{230,172}}</string>
			<key>offset</key>
			<string>{28,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,29},{230,172}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{571,439},{210,175}}</string>
			<key>offset</key>
			<string>{17,-11.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,24},{210,175}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{922,605},{194,178}}</string>
			<key>offset</key>
			<string>{7,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,20},{194,178}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{919,1},{193,181}}</string>
			<key>offset</key>
			<string>{5.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,15},{193,181}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{392,861},{190,173}}</string>
			<key>offset</key>
			<string>{11,0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,13},{190,173}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,1002},{193,175}}</string>
			<key>offset</key>
			<string>{13.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,12},{193,175}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{913,427},{198,176}}</string>
			<key>offset</key>
			<string>{18,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,14},{198,176}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{924,184},{198,175}}</string>
			<key>offset</key>
			<string>{21,-6.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,19},{198,175}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{766,859},{200,173}}</string>
			<key>offset</key>
			<string>{24,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,25},{200,173}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{750,648},{209,170}}</string>
			<key>offset</key>
			<string>{24.5,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,32},{209,170}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{166,462},{217,171}}</string>
			<key>offset</key>
			<string>{25.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,32},{217,171}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{396,229},{225,169}}</string>
			<key>offset</key>
			<string>{25.5,-16.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,32},{225,169}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{228,229},{231,166}}</string>
			<key>offset</key>
			<string>{26.5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,32},{231,166}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{748,427},{219,163}}</string>
			<key>offset</key>
			<string>{34.5,-12.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{54,31},{219,163}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,581},{226,161}}</string>
			<key>offset</key>
			<string>{35,-10.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,30},{226,161}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,348},{231,163}}</string>
			<key>offset</key>
			<string>{34.5,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,26},{231,163}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
		<key>makoa_04_m_adult_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{748,1},{213,169}}</string>
			<key>offset</key>
			<string>{23.5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,18},{213,169}}</string>
			<key>sourceSize</key>
			<string>{258,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1113,1178}</string>
		<key>textureFileName</key>
		<string>makoa_04_m_adult_yr.png</string>
	</dict>
</dict>
</plist>
