<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>antares_01_f_prism_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{882,1},{206,175}}</string>
			<key>offset</key>
			<string>{9,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,16},{206,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{638,705},{208,175}}</string>
			<key>offset</key>
			<string>{9,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,16},{208,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,705},{211,175}}</string>
			<key>offset</key>
			<string>{8.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{211,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{667,1},{213,175}}</string>
			<key>offset</key>
			<string>{7.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{213,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{223,527},{217,175}}</string>
			<key>offset</key>
			<string>{7.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{217,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{447,1},{218,175}}</string>
			<key>offset</key>
			<string>{7,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{218,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{221,175}}</string>
			<key>offset</key>
			<string>{6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{221,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{224,176},{220,174}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{220,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,353},{220,174}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{220,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{446,178},{218,174}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{218,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{446,354},{216,173}}</string>
			<key>offset</key>
			<string>{7,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{216,173}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{664,354},{213,173}}</string>
			<key>offset</key>
			<string>{7.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,12},{213,173}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{214,705},{210,173}}</string>
			<key>offset</key>
			<string>{8,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,13},{210,173}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,882},{208,174}}</string>
			<key>offset</key>
			<string>{9,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,14},{208,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{421,882},{206,174}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,15},{206,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{629,882},{206,174}}</string>
			<key>offset</key>
			<string>{9,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,16},{206,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{879,356},{205,175}}</string>
			<key>offset</key>
			<string>{-6.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,19},{205,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{877,533},{205,175}}</string>
			<key>offset</key>
			<string>{-6.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,19},{205,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{879,178},{206,176}}</string>
			<key>offset</key>
			<string>{-7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,17},{206,176}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{426,705},{210,175}}</string>
			<key>offset</key>
			<string>{-8,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,16},{210,175}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{660,529},{215,174}}</string>
			<key>offset</key>
			<string>{-9.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,15},{215,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,529},{218,174}}</string>
			<key>offset</key>
			<string>{-10,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-7,14},{218,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,178},{221,173}}</string>
			<key>offset</key>
			<string>{-10.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-9,14},{221,173}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{224,1},{221,173}}</string>
			<key>offset</key>
			<string>{-10.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-9,14},{221,173}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{224,352},{220,173}}</string>
			<key>offset</key>
			<string>{-10,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-8,15},{220,173}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{442,529},{216,173}}</string>
			<key>offset</key>
			<string>{-9,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,16},{216,173}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{666,178},{211,173}}</string>
			<key>offset</key>
			<string>{-7.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,18},{211,173}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
		<key>antares_01_f_prism_bg/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{211,882},{208,174}}</string>
			<key>offset</key>
			<string>{-7,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,19},{208,174}}</string>
			<key>sourceSize</key>
			<string>{224,186}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1089,1057}</string>
		<key>textureFileName</key>
		<string>antares_01_f_prism_bg.png</string>
	</dict>
</dict>
</plist>
