<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{215,1},{101,89}}</string>
			<key>offset</key>
			<string>{3.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{101,89}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{212,187},{102,90}}</string>
			<key>offset</key>
			<string>{4,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{102,90}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,187},{103,91}}</string>
			<key>offset</key>
			<string>{3.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{103,91}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{108,94},{104,91}}</string>
			<key>offset</key>
			<string>{4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,13},{104,91}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{105,91}}</string>
			<key>offset</key>
			<string>{3.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{105,91}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,94},{105,91}}</string>
			<key>offset</key>
			<string>{3.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,15},{105,91}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{108,1},{105,91}}</string>
			<key>offset</key>
			<string>{3.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{105,91}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{106,187},{104,90}}</string>
			<key>offset</key>
			<string>{4,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,17},{104,90}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,280},{102,89}}</string>
			<key>offset</key>
			<string>{4,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,18},{102,89}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{211,279},{101,89}}</string>
			<key>offset</key>
			<string>{3.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,17},{101,89}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,371},{99,87}}</string>
			<key>offset</key>
			<string>{3.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,17},{99,87}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{205,370},{99,87}}</string>
			<key>offset</key>
			<string>{3.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{99,87}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{417,277},{98,87}}</string>
			<key>offset</key>
			<string>{4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{98,87}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{306,370},{99,87}}</string>
			<key>offset</key>
			<string>{3.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{99,87}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{318,1},{99,88}}</string>
			<key>offset</key>
			<string>{3.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{99,88}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{105,370},{98,88}}</string>
			<key>offset</key>
			<string>{-1,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,17},{98,88}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{314,279},{101,89}}</string>
			<key>offset</key>
			<string>{-0.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,17},{101,89}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{214,94},{102,90}}</string>
			<key>offset</key>
			<string>{0,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,18},{102,90}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{106,279},{103,89}}</string>
			<key>offset</key>
			<string>{-0.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,20},{103,89}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{316,186},{101,89}}</string>
			<key>offset</key>
			<string>{-0.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,22},{101,89}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{318,91},{99,88}}</string>
			<key>offset</key>
			<string>{-0.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,22},{99,88}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{419,1},{98,87}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,21},{98,87}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{419,90},{96,88}}</string>
			<key>offset</key>
			<string>{0,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,19},{96,88}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>sirius_07_f_hatchling_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{407,370},{97,88}}</string>
			<key>offset</key>
			<string>{-0.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,18},{97,88}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{518,459}</string>
		<key>textureFileName</key>
		<string>sirius_07_f_hatchling_pb.png</string>
	</dict>
</dict>
</plist>
