<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_04_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1065,1},{186,188}}</string>
			<key>offset</key>
			<string>{0,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,36},{186,188}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,1005},{186,189}}</string>
			<key>offset</key>
			<string>{0,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,36},{186,189}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{380,1005},{186,189}}</string>
			<key>offset</key>
			<string>{0,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,37},{186,189}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{864,764},{186,190}}</string>
			<key>offset</key>
			<string>{0,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,37},{186,190}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{568,1005},{186,189}}</string>
			<key>offset</key>
			<string>{0,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,38},{186,189}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1064,380},{186,187}}</string>
			<key>offset</key>
			<string>{0,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,39},{186,187}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{756,986},{189,187}}</string>
			<key>offset</key>
			<string>{1.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,40},{189,187}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{864,392},{198,185}}</string>
			<key>offset</key>
			<string>{0,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,42},{198,185}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{664,207},{207,183}}</string>
			<key>offset</key>
			<string>{-1.5,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,43},{207,183}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{445,363},{213,181}}</string>
			<key>offset</key>
			<string>{-2.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,43},{213,181}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{447,1},{217,179}}</string>
			<key>offset</key>
			<string>{-3.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,44},{217,179}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{225,1},{220,178}}</string>
			<key>offset</key>
			<string>{-4,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,43},{220,178}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{225,181},{220,176}}</string>
			<key>offset</key>
			<string>{-4,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,43},{220,176}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,415},{219,177}}</string>
			<key>offset</key>
			<string>{-4.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,42},{219,177}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{447,182},{215,179}}</string>
			<key>offset</key>
			<string>{-4.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,40},{215,179}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{445,546},{211,180}}</string>
			<key>offset</key>
			<string>{-3.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,39},{211,180}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{658,599},{204,182}}</string>
			<key>offset</key>
			<string>{-3,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,38},{204,182}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{864,579},{197,183}}</string>
			<key>offset</key>
			<string>{-1.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,37},{197,183}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{189,1005},{189,184}}</string>
			<key>offset</key>
			<string>{-0.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,37},{189,184}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{1065,191},{186,187}}</string>
			<key>offset</key>
			<string>{0,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,36},{186,187}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{207,801},{195,202}}</string>
			<key>offset</key>
			<string>{-0.5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,38},{195,202}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{594,783},{188,201}}</string>
			<key>offset</key>
			<string>{2,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,38},{188,201}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{877,1},{186,201}}</string>
			<key>offset</key>
			<string>{1,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,38},{186,201}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{404,801},{188,202}}</string>
			<key>offset</key>
			<string>{0,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,38},{188,202}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{660,392},{201,205}}</string>
			<key>offset</key>
			<string>{0.5,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,38},{201,205}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,594},{213,205}}</string>
			<key>offset</key>
			<string>{1.5,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,41},{213,205}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,208},{221,205}}</string>
			<key>offset</key>
			<string>{1.5,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,42},{221,205}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{222,205}}</string>
			<key>offset</key>
			<string>{0,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,42},{222,205}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{224,359},{219,206}}</string>
			<key>offset</key>
			<string>{-2.5,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,40},{219,206}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{216,594},{213,205}}</string>
			<key>offset</key>
			<string>{-5.5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,40},{213,205}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{666,1},{209,204}}</string>
			<key>offset</key>
			<string>{-4.5,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,39},{209,204}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_04_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,801},{204,202}}</string>
			<key>offset</key>
			<string>{-3,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,39},{204,202}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1252,1195}</string>
		<key>textureFileName</key>
		<string>sirius_04_m_adult_w.png</string>
	</dict>
</dict>
</plist>
