<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_01_f_hatch_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{67,1},{63,46}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{63,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{132,1},{63,46}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{63,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{527,1},{64,46}}</string>
			<key>offset</key>
			<string>{1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{64,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{593,1},{64,46}}</string>
			<key>offset</key>
			<string>{1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{64,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1059,1},{64,47}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{64,47}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1125,1},{65,47}}</string>
			<key>offset</key>
			<string>{1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{65,47}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1192,1},{66,47}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{66,47}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1260,1},{66,47}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{66,47}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{659,1},{66,46}}</string>
			<key>offset</key>
			<string>{2,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{66,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{727,1},{65,46}}</string>
			<key>offset</key>
			<string>{1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{65,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{197,1},{64,46}}</string>
			<key>offset</key>
			<string>{1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{64,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{263,1},{64,46}}</string>
			<key>offset</key>
			<string>{1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{64,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{329,1},{64,46}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{64,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{395,1},{64,46}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{64,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{461,1},{64,46}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{64,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{794,1},{63,46}}</string>
			<key>offset</key>
			<string>{0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{63,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{859,1},{64,46}}</string>
			<key>offset</key>
			<string>{1,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1600,1},{67,48}}</string>
			<key>offset</key>
			<string>{1.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{67,48}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1328,1},{68,47}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{68,47}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1398,1},{64,47}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{64,47}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{925,1},{63,46}}</string>
			<key>offset</key>
			<string>{0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{63,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{64,45}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{64,45}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{990,1},{67,46}}</string>
			<key>offset</key>
			<string>{1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{67,46}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1464,1},{68,47}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{68,47}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>makoa_01_f_hatch_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1534,1},{64,47}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{64,47}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1668,50}</string>
		<key>textureFileName</key>
		<string>makoa_01_f_hatch_yr.png</string>
	</dict>
</dict>
</plist>
