<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_04_f_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{844,759},{192,152}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{192,152}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{883,199},{194,157}}</string>
			<key>offset</key>
			<string>{4,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,9},{194,157}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{883,1},{196,158}}</string>
			<key>offset</key>
			<string>{5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,9},{196,158}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{621,782},{198,156}}</string>
			<key>offset</key>
			<string>{7,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,10},{198,156}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,787},{202,155}}</string>
			<key>offset</key>
			<string>{9,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,12},{202,155}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{638,622},{204,155}}</string>
			<key>offset</key>
			<string>{12,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,15},{204,155}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{664,446},{207,153}}</string>
			<key>offset</key>
			<string>{14.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,19},{207,153}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,634},{212,151}}</string>
			<key>offset</key>
			<string>{16,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,23},{212,151}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{224,467},{219,149}}</string>
			<key>offset</key>
			<string>{16.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,27},{219,149}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{233,230},{225,148}}</string>
			<key>offset</key>
			<string>{17.5,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,29},{225,148}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{568,1},{218,147}}</string>
			<key>offset</key>
			<string>{24,-15.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,29},{218,147}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{383,230},{221,148}}</string>
			<key>offset</key>
			<string>{25.5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,27},{221,148}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,318},{226,147}}</string>
			<key>offset</key>
			<string>{27,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,26},{226,147}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,171},{230,145}}</string>
			<key>offset</key>
			<string>{28,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,26},{230,145}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{215,634},{210,146}}</string>
			<key>offset</key>
			<string>{17,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,22},{210,146}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,944},{190,149}}</string>
			<key>offset</key>
			<string>{5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,17},{190,149}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{880,395},{191,151}}</string>
			<key>offset</key>
			<string>{4.5,-1.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,13},{191,151}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{821,913},{190,157}}</string>
			<key>offset</key>
			<string>{13,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,3},{190,157}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{844,601},{193,156}}</string>
			<key>offset</key>
			<string>{13.5,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,4},{193,156}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{419,782},{200,156}}</string>
			<key>offset</key>
			<string>{17,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,5},{200,156}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{215,782},{202,158}}</string>
			<key>offset</key>
			<string>{19,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,6},{202,158}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{717,212},{204,161}}</string>
			<key>offset</key>
			<string>{22,0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,6},{204,161}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{717,1},{209,164}}</string>
			<key>offset</key>
			<string>{24.5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,7},{209,164}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{533,228},{216,167}}</string>
			<key>offset</key>
			<string>{25,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,6},{216,167}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{398,1},{225,168}}</string>
			<key>offset</key>
			<string>{25.5,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,6},{225,168}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{232,168}}</string>
			<key>offset</key>
			<string>{26,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,5},{232,168}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{445,453},{217,167}}</string>
			<key>offset</key>
			<string>{36.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,4},{217,167}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,467},{221,165}}</string>
			<key>offset</key>
			<string>{37.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,3},{221,165}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{235,1},{227,161}}</string>
			<key>offset</key>
			<string>{37.5,3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,3},{227,161}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
		<key>makoa_04_f_adult_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{427,622},{209,158}}</string>
			<key>offset</key>
			<string>{25.5,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,3},{209,158}}</string>
			<key>sourceSize</key>
			<string>{258,174}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1042,1094}</string>
		<key>textureFileName</key>
		<string>makoa_04_f_adult_yr.png</string>
	</dict>
</dict>
</plist>
