<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anurhada_02_f_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{473,517},{138,168}}</string>
			<key>offset</key>
			<string>{26,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,20},{138,168}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{758,524},{137,164}}</string>
			<key>offset</key>
			<string>{25.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,21},{137,164}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{774,322},{138,161}}</string>
			<key>offset</key>
			<string>{25,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,22},{138,161}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{779,1},{141,158}}</string>
			<key>offset</key>
			<string>{24.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,25},{141,158}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{771,164},{145,156}}</string>
			<key>offset</key>
			<string>{24.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,27},{145,156}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{154,668},{149,157}}</string>
			<key>offset</key>
			<string>{24.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,28},{149,157}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{159,507},{154,159}}</string>
			<key>offset</key>
			<string>{25,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,30},{154,159}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,504},{156,161}}</string>
			<key>offset</key>
			<string>{25,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,31},{156,161}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{316,340},{157,164}}</string>
			<key>offset</key>
			<string>{25.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,31},{157,164}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,335},{156,167}}</string>
			<key>offset</key>
			<string>{26,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,30},{156,167}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{324,168},{154,170}}</string>
			<key>offset</key>
			<string>{26,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,29},{154,170}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{480,1},{150,172}}</string>
			<key>offset</key>
			<string>{26,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,27},{150,172}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{480,175},{147,172}}</string>
			<key>offset</key>
			<string>{26.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,25},{147,172}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{628,349},{144,173}}</string>
			<key>offset</key>
			<string>{26,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,22},{144,173}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{629,175},{140,171}}</string>
			<key>offset</key>
			<string>{26,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,20},{140,171}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{632,1},{145,161}}</string>
			<key>offset</key>
			<string>{10.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,26},{145,161}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{613,524},{143,159}}</string>
			<key>offset</key>
			<string>{9.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,27},{143,159}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{305,669},{145,158}}</string>
			<key>offset</key>
			<string>{11.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,27},{145,158}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,667},{151,158}}</string>
			<key>offset</key>
			<string>{13.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,28},{151,158}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{316,506},{155,161}}</string>
			<key>offset</key>
			<string>{15.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,27},{155,161}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,170},{160,163}}</string>
			<key>offset</key>
			<string>{17,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,26},{160,163}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{164,1},{162,165}}</string>
			<key>offset</key>
			<string>{17,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,25},{162,165}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{161,167}}</string>
			<key>offset</key>
			<string>{15.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,24},{161,167}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{164,168},{158,168}}</string>
			<key>offset</key>
			<string>{14,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,23},{158,168}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{159,338},{155,167}}</string>
			<key>offset</key>
			<string>{12.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,23},{155,167}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{475,349},{151,166}}</string>
			<key>offset</key>
			<string>{11.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,23},{151,166}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
		<key>anurhada_02_f_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{328,1},{148,163}}</string>
			<key>offset</key>
			<string>{11,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,25},{148,163}}</string>
			<key>sourceSize</key>
			<string>{164,183}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{921,828}</string>
		<key>textureFileName</key>
		<string>anurhada_02_f_adult_w.png</string>
	</dict>
</dict>
</plist>
