<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_03_f_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{973,176},{171,165}}</string>
			<key>offset</key>
			<string>{-2.5,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,43},{171,165}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{972,349},{168,169}}</string>
			<key>offset</key>
			<string>{-3,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,42},{168,169}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{973,1},{167,173}}</string>
			<key>offset</key>
			<string>{-3.5,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,42},{167,173}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{541,816},{166,177}}</string>
			<key>offset</key>
			<string>{-4,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,41},{166,177}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{372,816},{167,180}}</string>
			<key>offset</key>
			<string>{-3.5,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,42},{167,180}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{630,394},{167,184}}</string>
			<key>offset</key>
			<string>{-3.5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,42},{167,184}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{633,207},{169,185}}</string>
			<key>offset</key>
			<string>{-3.5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,43},{169,185}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,658},{163,184}}</string>
			<key>offset</key>
			<string>{0.5,-34.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,45},{163,184}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{557,648},{165,183}}</string>
			<key>offset</key>
			<string>{0.5,-36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,47},{165,183}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{187,821},{177,180}}</string>
			<key>offset</key>
			<string>{-3.5,-36.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,49},{177,180}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,823},{180,175}}</string>
			<key>offset</key>
			<string>{-4,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,51},{180,175}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{799,394},{181,171}}</string>
			<key>offset</key>
			<string>{-3.5,-35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,52},{181,171}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{805,1},{182,166}}</string>
			<key>offset</key>
			<string>{-3,-33.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,53},{182,166}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{187,658},{183,161}}</string>
			<key>offset</key>
			<string>{-2.5,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,54},{183,161}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{372,657},{183,157}}</string>
			<key>offset</key>
			<string>{-2.5,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,54},{183,157}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{805,185},{181,155}}</string>
			<key>offset</key>
			<string>{-1.5,-28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,53},{181,155}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{799,577},{181,155}}</string>
			<key>offset</key>
			<string>{-1.5,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,51},{181,155}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{956,577},{171,155}}</string>
			<key>offset</key>
			<string>{2.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,49},{171,155}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{956,734},{168,157}}</string>
			<key>offset</key>
			<string>{3,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,47},{168,157}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{709,815},{174,160}}</string>
			<key>offset</key>
			<string>{-2,-22.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,45},{174,160}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{203,506},{196,149}}</string>
			<key>offset</key>
			<string>{13,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,31},{196,149}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{216,370},{199,122}}</string>
			<key>offset</key>
			<string>{8.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,57},{199,122}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,391},{204,113}}</string>
			<key>offset</key>
			<string>{2,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,66},{204,113}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{235,1},{215,112}}</string>
			<key>offset</key>
			<string>{-5.5,-21.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,68},{215,112}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,123},{219,128}}</string>
			<key>offset</key>
			<string>{-8.5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,70},{219,128}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,253},{213,136}}</string>
			<key>offset</key>
			<string>{-5.5,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,72},{213,136}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{501,1},{204,143}}</string>
			<key>offset</key>
			<string>{0,-43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,74},{204,143}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{401,494},{192,152}}</string>
			<key>offset</key>
			<string>{8,-48.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,75},{192,152}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{646,1},{192,157}}</string>
			<key>offset</key>
			<string>{10,-52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,76},{192,157}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{428,357},{200,120}}</string>
			<key>offset</key>
			<string>{9,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,75},{200,120}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{232,120}}</string>
			<key>offset</key>
			<string>{-5,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,74},{232,120}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{428,208},{203,147}}</string>
			<key>offset</key>
			<string>{11.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,45},{203,147}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{349,1},{205,150}}</string>
			<key>offset</key>
			<string>{12.5,-11.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,39},{205,150}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{222,218},{204,150}}</string>
			<key>offset</key>
			<string>{13,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,35},{204,150}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_03_f_adult_w/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,506},{200,150}}</string>
			<key>offset</key>
			<string>{14,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,32},{200,150}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1141,999}</string>
		<key>textureFileName</key>
		<string>illuide_03_f_adult_w.png</string>
	</dict>
</dict>
</plist>
