<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zone_06/rainbow_garden_candytree_01</key>
            <dict>
                <key>frame</key>
                <string>{{1850,284},{104,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,92}}</string>
                <key>sourceSize</key>
                <string>{104,92}</string>
            </dict>
            <key>zone_06/rainbow_garden_candytree_02</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>zone_06/rainbow_garden_candytree_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,260}}</string>
                <key>sourceSize</key>
                <string>{224,260}</string>
            </dict>
            <key>zone_06/rainbow_garden_dessert_01</key>
            <dict>
                <key>frame</key>
                <string>{{1888,2},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>zone_06/rainbow_garden_dessert_02</key>
            <dict>
                <key>frame</key>
                <string>{{1634,140},{136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>zone_06/rainbow_garden_dessert_03</key>
            <dict>
                <key>frame</key>
                <string>{{1098,216},{208,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,168}}</string>
                <key>sourceSize</key>
                <string>{208,168}</string>
            </dict>
            <key>zone_06/rainbow_garden_honeycomb_01</key>
            <dict>
                <key>frame</key>
                <string>{{1406,310},{132,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,112}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>zone_06/rainbow_garden_honeycomb_02</key>
            <dict>
                <key>frame</key>
                <string>{{1524,152},{108,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>zone_06/rainbow_garden_honeycomb_03</key>
            <dict>
                <key>frame</key>
                <string>{{414,240},{204,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,172}}</string>
                <key>sourceSize</key>
                <string>{204,172}</string>
            </dict>
            <key>zone_06/rainbow_garden_hornacces_01</key>
            <dict>
                <key>frame</key>
                <string>{{1664,2},{128,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>zone_06/rainbow_garden_hornacces_02</key>
            <dict>
                <key>frame</key>
                <string>{{1390,160},{132,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,148}}</string>
                <key>sourceSize</key>
                <string>{132,148}</string>
            </dict>
            <key>zone_06/rainbow_garden_hornacces_03</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>zone_06/rainbow_garden_pinkfeather_01</key>
            <dict>
                <key>frame</key>
                <string>{{1756,190},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>zone_06/rainbow_garden_pinkfeather_02</key>
            <dict>
                <key>frame</key>
                <string>{{766,224},{196,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,160}}</string>
                <key>sourceSize</key>
                <string>{196,160}</string>
            </dict>
            <key>zone_06/rainbow_garden_pinkfeather_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>zone_06/rainbow_garden_pinkheart_01</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>zone_06/rainbow_garden_pinkheart_02</key>
            <dict>
                <key>frame</key>
                <string>{{1268,330},{136,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,92}}</string>
                <key>sourceSize</key>
                <string>{136,92}</string>
            </dict>
            <key>zone_06/rainbow_garden_pinkheart_03</key>
            <dict>
                <key>frame</key>
                <string>{{244,240},{184,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,168}}</string>
                <key>sourceSize</key>
                <string>{184,168}</string>
            </dict>
            <key>zone_06/rainbow_garden_rainbowflower_01</key>
            <dict>
                <key>frame</key>
                <string>{{1880,104},{120,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,104}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>zone_06/rainbow_garden_rainbowflower_02</key>
            <dict>
                <key>frame</key>
                <string>{{1540,294},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>zone_06/rainbow_garden_rainbowflower_03</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{120,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,212}}</string>
                <key>sourceSize</key>
                <string>{120,212}</string>
            </dict>
            <key>zone_06/rainbow_garden_robeacces_01</key>
            <dict>
                <key>frame</key>
                <string>{{1944,296},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>zone_06/rainbow_garden_robeacces_02</key>
            <dict>
                <key>frame</key>
                <string>{{1268,172},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>zone_06/rainbow_garden_robeacces_03</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{208,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,220}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>zone_06/rainbow_garden_signature_01</key>
            <dict>
                <key>frame</key>
                <string>{{1662,278},{128,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>zone_06/rainbow_garden_signature_02</key>
            <dict>
                <key>frame</key>
                <string>{{620,224},{200,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>zone_06/rainbow_garden_signature_03</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{132,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,212}}</string>
                <key>sourceSize</key>
                <string>{132,212}</string>
            </dict>
            <key>zone_06/rainbow_garden_starorb_01</key>
            <dict>
                <key>frame</key>
                <string>{{1944,210},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>zone_06/rainbow_garden_starorb_02</key>
            <dict>
                <key>frame</key>
                <string>{{1758,76},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>zone_06/rainbow_garden_starorb_03</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{236,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,180}}</string>
                <key>sourceSize</key>
                <string>{236,180}</string>
            </dict>
            <key>zone_06/rainbow_garden_tailhairball_01</key>
            <dict>
                <key>frame</key>
                <string>{{1756,284},{112,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,92}}</string>
                <key>sourceSize</key>
                <string>{112,92}</string>
            </dict>
            <key>zone_06/rainbow_garden_tailhairball_02</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{148,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,124}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>zone_06/rainbow_garden_tailhairball_03</key>
            <dict>
                <key>frame</key>
                <string>{{928,220},{204,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,168}}</string>
                <key>sourceSize</key>
                <string>{204,168}</string>
            </dict>
            <key>zone_06/rainbow_garden_toy_01</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{156,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,80}}</string>
                <key>sourceSize</key>
                <string>{156,80}</string>
            </dict>
            <key>zone_06/rainbow_garden_toy_02</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{132,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,216}}</string>
                <key>sourceSize</key>
                <string>{132,216}</string>
            </dict>
            <key>zone_06/rainbow_garden_toy_03</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{176,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,236}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zone_06.png</string>
            <key>size</key>
            <string>{2026,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2178e8782c80cc213c20d69cdd887ee8:d909809acc68ad616a005c7c4c0bea0e:7cbe6f99b5d40aea0bb965a4954bd9a0$</string>
            <key>textureFileName</key>
            <string>zone_06.png</string>
        </dict>
    </dict>
</plist>
