<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>babyredstone/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,297},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{109,441},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,489},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13}</string>
                <key>spriteSize</key>
                <string>{126,106}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,101},{126,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,17}</string>
                <key>spriteSize</key>
                <string>{130,98}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/attack/attack_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,297},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{102,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{109,529},{102,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{117,253},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{90,78}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{97,809},{90,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>babyredstone/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-16}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,209},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-12}</string>
                <key>spriteSize</key>
                <string>{122,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{133,1},{122,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>babyredstone/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-10}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{129,125},{126,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>babyredstone/die/die_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-20}</string>
                <key>spriteSize</key>
                <string>{94,78}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,853},{94,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{109,345},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,18}</string>
                <key>spriteSize</key>
                <string>{102,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,577},{102,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,18}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{117,253},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{109,345},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,393},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{101,713},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{102,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{105,621},{102,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,14}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,669},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>babyredstone/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,18}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,132}</string>
                <key>textureRect</key>
                <string>{{1,761},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>babyredstone.png</string>
            <key>size</key>
            <string>{228,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db4744d6a231d00de0f0dc15e79519dc:b6567365d0fa7d5ad6536f9211df5e6d:695f8dd11e4e0d35022d946f83f31f0b$</string>
            <key>textureFileName</key>
            <string>babyredstone.png</string>
        </dict>
    </dict>
</plist>
