<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>rexton_01_m_hatch_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1155,1},{53,49}}</string>
			<key>offset</key>
			<string>{-2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{53,49}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{715,1},{53,48}}</string>
			<key>offset</key>
			<string>{-2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{53,48}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{937,1},{52,48}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{52,48}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{991,1},{53,48}}</string>
			<key>offset</key>
			<string>{-2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{53,48}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{332,1},{53,47}}</string>
			<key>offset</key>
			<string>{-2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{53,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{387,1},{53,47}}</string>
			<key>offset</key>
			<string>{-2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{53,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{53,46}}</string>
			<key>offset</key>
			<string>{-2.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{53,46}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{56,1},{53,46}}</string>
			<key>offset</key>
			<string>{-2.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{53,46}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{111,1},{53,46}}</string>
			<key>offset</key>
			<string>{-2.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{53,46}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{166,1},{53,46}}</string>
			<key>offset</key>
			<string>{-2.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{53,46}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{221,1},{53,47}}</string>
			<key>offset</key>
			<string>{-2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{53,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{276,1},{54,47}}</string>
			<key>offset</key>
			<string>{-3,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{54,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{770,1},{54,48}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,2},{54,48}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{826,1},{54,48}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,2},{54,48}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{882,1},{53,48}}</string>
			<key>offset</key>
			<string>{-2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,2},{53,48}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1210,1},{52,49}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{52,49}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{442,1},{53,47}}</string>
			<key>offset</key>
			<string>{-2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{53,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{497,1},{54,47}}</string>
			<key>offset</key>
			<string>{-3,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{54,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{553,1},{53,47}}</string>
			<key>offset</key>
			<string>{-3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,2},{53,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1046,1},{52,48}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{52,48}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1264,1},{51,49}}</string>
			<key>offset</key>
			<string>{-2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{51,49}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{608,1},{51,47}}</string>
			<key>offset</key>
			<string>{-3.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,3},{51,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{661,1},{52,47}}</string>
			<key>offset</key>
			<string>{-4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{52,47}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1100,1},{53,48}}</string>
			<key>offset</key>
			<string>{-3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,2},{53,48}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>rexton_01_m_hatch_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1317,1},{52,49}}</string>
			<key>offset</key>
			<string>{-3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,1},{52,49}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1370,51}</string>
		<key>textureFileName</key>
		<string>rexton_01_m_hatch_bk.png</string>
	</dict>
</dict>
</plist>
