<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_02_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1023,984},{179,189}}</string>
			<key>offset</key>
			<string>{-1.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,36},{179,189}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1047,741},{178,190}}</string>
			<key>offset</key>
			<string>{-2,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,36},{178,190}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1053,386},{176,190}}</string>
			<key>offset</key>
			<string>{-2,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,37},{176,190}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1045,193},{176,191}}</string>
			<key>offset</key>
			<string>{-1,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,37},{176,191}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1045,1},{177,190}}</string>
			<key>offset</key>
			<string>{0.5,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,38},{177,190}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,986},{180,188}}</string>
			<key>offset</key>
			<string>{2,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,39},{180,188}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{862,551},{189,188}}</string>
			<key>offset</key>
			<string>{1.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,40},{189,188}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{624,964},{198,186}}</string>
			<key>offset</key>
			<string>{0,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,42},{198,186}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{836,180},{207,184}}</string>
			<key>offset</key>
			<string>{-1.5,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,43},{207,184}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{641,780},{213,182}}</string>
			<key>offset</key>
			<string>{-2.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,43},{213,182}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{619,418},{217,180}}</string>
			<key>offset</key>
			<string>{-3.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,44},{217,180}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{419,623},{220,179}}</string>
			<key>offset</key>
			<string>{-4,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,43},{220,179}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{646,1},{220,177}}</string>
			<key>offset</key>
			<string>{-4,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,43},{220,177}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{641,600},{219,178}}</string>
			<key>offset</key>
			<string>{-4.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,42},{219,178}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,804},{215,180}}</string>
			<key>offset</key>
			<string>{-4.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,40},{215,180}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{411,804},{211,181}}</string>
			<key>offset</key>
			<string>{-3.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,39},{211,181}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{838,366},{204,183}}</string>
			<key>offset</key>
			<string>{-3,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,38},{204,183}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{824,984},{197,184}}</string>
			<key>offset</key>
			<string>{-1.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,37},{197,184}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{218,829},{189,185}}</string>
			<key>offset</key>
			<string>{-0.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,37},{189,185}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{409,987},{182,188}}</string>
			<key>offset</key>
			<string>{0,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,36},{182,188}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{642,206},{192,203}}</string>
			<key>offset</key>
			<string>{-2,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,38},{192,203}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{856,780},{189,202}}</string>
			<key>offset</key>
			<string>{2.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,38},{189,202}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{218,625},{191,202}}</string>
			<key>offset</key>
			<string>{4.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,38},{191,202}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{419,418},{198,203}}</string>
			<key>offset</key>
			<string>{5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,38},{198,203}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{439,210},{201,206}}</string>
			<key>offset</key>
			<string>{0.5,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,38},{201,206}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{224,210},{213,206}}</string>
			<key>offset</key>
			<string>{1.5,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,41},{213,206}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,209},{221,206}}</string>
			<key>offset</key>
			<string>{1.5,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,42},{221,206}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{222,206}}</string>
			<key>offset</key>
			<string>{0,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,42},{222,206}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{225,1},{219,207}}</string>
			<key>offset</key>
			<string>{-2.5,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,40},{219,207}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,417},{212,206}}</string>
			<key>offset</key>
			<string>{-6,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,40},{212,206}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{215,418},{202,205}}</string>
			<key>offset</key>
			<string>{-8,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,39},{202,205}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
		<key>sirius_02_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{446,1},{198,203}}</string>
			<key>offset</key>
			<string>{-6,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,39},{198,203}}</string>
			<key>sourceSize</key>
			<string>{226,213}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1230,1176}</string>
		<key>textureFileName</key>
		<string>sirius_02_m_adult_w.png</string>
	</dict>
</dict>
</plist>
