<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mistina_01_f_hatchling_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{89,75}}</string>
			<key>offset</key>
			<string>{14.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,9},{89,75}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{92,1},{88,75}}</string>
			<key>offset</key>
			<string>{14,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,9},{88,75}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{92,78},{86,74}}</string>
			<key>offset</key>
			<string>{13,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,8},{86,74}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{182,1},{83,74}}</string>
			<key>offset</key>
			<string>{12.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,6},{83,74}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{258,231},{81,73}}</string>
			<key>offset</key>
			<string>{11.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,5},{81,73}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,233},{81,73}}</string>
			<key>offset</key>
			<string>{11.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,4},{81,73}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{84,303},{82,72}}</string>
			<key>offset</key>
			<string>{12,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,5},{82,72}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{84,229},{85,72}}</string>
			<key>offset</key>
			<string>{12.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,6},{85,72}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{92,154},{87,73}}</string>
			<key>offset</key>
			<string>{13.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,7},{87,73}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,78},{89,75}}</string>
			<key>offset</key>
			<string>{13.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,8},{89,75}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{181,155},{84,74}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,5},{84,74}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{171,231},{85,72}}</string>
			<key>offset</key>
			<string>{9.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,6},{85,72}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{168,305},{83,70}}</string>
			<key>offset</key>
			<string>{9.5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,5},{83,70}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,308},{80,70}}</string>
			<key>offset</key>
			<string>{9,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{80,70}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{253,306},{78,71}}</string>
			<key>offset</key>
			<string>{9,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,-1},{78,71}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{267,155},{78,73}}</string>
			<key>offset</key>
			<string>{9,9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,-4},{78,73}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{267,1},{78,74}}</string>
			<key>offset</key>
			<string>{9,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,-4},{78,74}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{266,77},{79,76}}</string>
			<key>offset</key>
			<string>{9.5,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,-3},{79,76}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,155},{81,76}}</string>
			<key>offset</key>
			<string>{9.5,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{81,76}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
		<key>mistina_01_f_hatchling_r/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{181,78},{83,75}}</string>
			<key>offset</key>
			<string>{9.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,3},{83,75}}</string>
			<key>sourceSize</key>
			<string>{90,84}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{346,379}</string>
		<key>textureFileName</key>
		<string>mistina_01_f_hatchling_r.png</string>
	</dict>
</dict>
</plist>
