<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_05_f_hatchling_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{129,249},{112,130}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,12},{112,130}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{521,245},{106,131}}</string>
			<key>offset</key>
			<string>{6,-9.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,12},{106,131}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{113,363},{108,132}}</string>
			<key>offset</key>
			<string>{6,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,12},{108,132}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{264,137},{109,132}}</string>
			<key>offset</key>
			<string>{6.5,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,13},{109,132}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{129,137},{110,133}}</string>
			<key>offset</key>
			<string>{6,-11.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,13},{110,133}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{111,133}}</string>
			<key>offset</key>
			<string>{6.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{111,133}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{114,1},{110,134}}</string>
			<key>offset</key>
			<string>{6,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{110,134}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{226,1},{109,134}}</string>
			<key>offset</key>
			<string>{6.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,14},{109,134}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{376,366},{106,134}}</string>
			<key>offset</key>
			<string>{6,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,14},{106,134}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{239,480},{105,133}}</string>
			<key>offset</key>
			<string>{5.5,-12.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,14},{105,133}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{528,132},{105,131}}</string>
			<key>offset</key>
			<string>{6.5,-11.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,14},{105,131}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,388},{107,131}}</string>
			<key>offset</key>
			<string>{7.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,13},{107,131}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{508,474},{107,130}}</string>
			<key>offset</key>
			<string>{8.5,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,13},{107,130}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,256},{110,130}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{110,130}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{337,1},{111,130}}</string>
			<key>offset</key>
			<string>{9.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{111,130}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,137},{117,126}}</string>
			<key>offset</key>
			<string>{8.5,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,18},{117,126}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{110,473},{110,127}}</string>
			<key>offset</key>
			<string>{4,-13.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,18},{110,127}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{450,1},{109,129}}</string>
			<key>offset</key>
			<string>{3.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,19},{109,129}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{389,248},{109,130}}</string>
			<key>offset</key>
			<string>{2.5,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,20},{109,130}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{376,474},{108,130}}</string>
			<key>offset</key>
			<string>{3,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,20},{108,130}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{512,359},{107,130}}</string>
			<key>offset</key>
			<string>{3.5,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,20},{107,130}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{398,133},{110,128}}</string>
			<key>offset</key>
			<string>{6,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,20},{110,128}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{247,366},{112,127}}</string>
			<key>offset</key>
			<string>{8,-14.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,19},{112,127}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>sirius_05_f_hatchling_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{261,249},{115,126}}</string>
			<key>offset</key>
			<string>{8.5,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,18},{115,126}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{660,586}</string>
		<key>textureFileName</key>
		<string>sirius_05_f_hatchling_r.png</string>
	</dict>
</dict>
</plist>
