<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forestgorilla/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{76,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{84,92}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{84,92}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{116,88}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{116,88}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,92}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{112,92}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{76,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{84,96}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{84,96}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{92,88}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{92,88}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{92,84}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{92,84}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{76,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{72,104}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{76,104}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{76,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{76,96}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{76,96}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{76,96}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{76,96}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{80,96}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{80,96}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{76,92}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{76,92}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{72,92}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{72,92}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>forestgorilla/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{76,92}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{76,92}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forestgorilla.png</string>
            <key>size</key>
            <string>{96,1436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32311897caf4c41f3e20d2d1069d324:f66c94844d3dc116fe37dce7afa6161f:775bd6a2ca8939730c4892b332e45d16$</string>
            <key>textureFileName</key>
            <string>forestgorilla.png</string>
        </dict>
    </dict>
</plist>
