<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1102,1},{57,41}}</string>
			<key>offset</key>
			<string>{-4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{57,41}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1161,1},{57,41}}</string>
			<key>offset</key>
			<string>{-4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{57,41}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1336,1},{57,41}}</string>
			<key>offset</key>
			<string>{-4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{57,41}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{754,1},{57,40}}</string>
			<key>offset</key>
			<string>{-4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,4},{57,40}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{813,1},{56,40}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{56,40}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{59,1},{56,39}}</string>
			<key>offset</key>
			<string>{-4,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,5},{56,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{117,1},{57,39}}</string>
			<key>offset</key>
			<string>{-4.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,5},{57,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{176,1},{57,39}}</string>
			<key>offset</key>
			<string>{-4.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,5},{57,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{235,1},{56,39}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,5},{56,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{293,1},{56,39}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,5},{56,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{56,39}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,5},{56,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{638,1},{56,40}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,4},{56,40}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{696,1},{56,40}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,4},{56,40}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1220,1},{56,41}}</string>
			<key>offset</key>
			<string>{-5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{56,41}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1278,1},{56,41}}</string>
			<key>offset</key>
			<string>{-5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{56,41}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{871,1},{56,40}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{56,40}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{351,1},{56,39}}</string>
			<key>offset</key>
			<string>{-4,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,5},{56,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{409,1},{57,39}}</string>
			<key>offset</key>
			<string>{-4.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,5},{57,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{929,1},{56,40}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,4},{56,40}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{468,1},{55,39}}</string>
			<key>offset</key>
			<string>{-4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{55,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{987,1},{55,40}}</string>
			<key>offset</key>
			<string>{-4.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{55,40}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{525,1},{54,39}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,5},{54,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{581,1},{55,39}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,5},{55,39}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1},{56,40}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,4},{56,40}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
		<key>evildawn_01_f_hatch_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1395,1},{55,41}}</string>
			<key>offset</key>
			<string>{-4.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{55,41}}</string>
			<key>sourceSize</key>
			<string>{60,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1451,43}</string>
		<key>textureFileName</key>
		<string>evildawn_01_f_hatch_bg.png</string>
	</dict>
</dict>
</plist>
