<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_01_m_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1466,156},{185,156}}</string>
			<key>offset</key>
			<string>{8.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,14},{185,156}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{909,155},{186,155}}</string>
			<key>offset</key>
			<string>{8,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,15},{186,155}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{367,155},{186,154}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,17},{186,154}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1630,1},{185,153}}</string>
			<key>offset</key>
			<string>{8.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,19},{185,153}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1817,1},{185,153}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,21},{185,153}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,154},{182,153}}</string>
			<key>offset</key>
			<string>{9,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,23},{182,153}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{902,1},{181,152}}</string>
			<key>offset</key>
			<string>{9.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,26},{181,152}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1085,1},{180,152}}</string>
			<key>offset</key>
			<string>{10,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,28},{180,152}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{181,1},{179,151}}</string>
			<key>offset</key>
			<string>{10.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,31},{179,151}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1267,1},{179,152}}</string>
			<key>offset</key>
			<string>{11.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,31},{179,152}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{178,151}}</string>
			<key>offset</key>
			<string>{12,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,31},{178,151}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{539,1},{180,152}}</string>
			<key>offset</key>
			<string>{12,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,29},{180,152}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{721,1},{179,152}}</string>
			<key>offset</key>
			<string>{11.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,27},{179,152}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1448,1},{180,153}}</string>
			<key>offset</key>
			<string>{11,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,24},{180,153}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{185,154},{180,154}}</string>
			<key>offset</key>
			<string>{10,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,20},{180,154}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1097,155},{182,155}}</string>
			<key>offset</key>
			<string>{9,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,17},{182,155}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1281,156},{183,155}}</string>
			<key>offset</key>
			<string>{8.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{183,155}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1653,156},{175,157}}</string>
			<key>offset</key>
			<string>{11.5,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,6},{175,157}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,309},{173,159}}</string>
			<key>offset</key>
			<string>{11.5,4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,6},{173,159}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{176,310},{171,161}}</string>
			<key>offset</key>
			<string>{12.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{171,161}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{523,311},{169,162}}</string>
			<key>offset</key>
			<string>{14.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,12},{169,162}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{694,311},{168,162}}</string>
			<key>offset</key>
			<string>{15,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,16},{168,162}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{864,312},{168,164}}</string>
			<key>offset</key>
			<string>{16,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,17},{168,164}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1206,313},{168,166}}</string>
			<key>offset</key>
			<string>{16,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,17},{168,166}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1034,312},{170,164}}</string>
			<key>offset</key>
			<string>{16,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,17},{170,164}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{349,311},{172,161}}</string>
			<key>offset</key>
			<string>{15,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,17},{172,161}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1830,156},{173,158}}</string>
			<key>offset</key>
			<string>{14.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,16},{173,158}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{555,155},{175,154}}</string>
			<key>offset</key>
			<string>{13.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,15},{175,154}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{362,1},{175,151}}</string>
			<key>offset</key>
			<string>{12.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,14},{175,151}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>makoa_01_m_adult_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{732,155},{175,154}}</string>
			<key>offset</key>
			<string>{11.5,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{175,154}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2004,480}</string>
		<key>textureFileName</key>
		<string>makoa_01_m_adult_yr.png</string>
	</dict>
</dict>
</plist>
