<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_03_f_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{101,458},{98,86}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,16},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{530,1},{98,85}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,16},{98,85}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{112,371},{106,85}}</string>
			<key>offset</key>
			<string>{-2,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,17},{106,85}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{220,374},{107,84}}</string>
			<key>offset</key>
			<string>{-1.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,18},{107,84}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,371},{109,83}}</string>
			<key>offset</key>
			<string>{-0.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,20},{109,83}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{341,350},{111,82}}</string>
			<key>offset</key>
			<string>{0.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,22},{111,82}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{324,84},{113,82}}</string>
			<key>offset</key>
			<string>{1.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,23},{113,82}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{329,168},{114,81}}</string>
			<key>offset</key>
			<string>{2,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,25},{114,81}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{237,1},{116,81}}</string>
			<key>offset</key>
			<string>{3,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,26},{116,81}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{109,287},{117,82}}</string>
			<key>offset</key>
			<string>{4.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,26},{117,82}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{109,201},{118,84}}</string>
			<key>offset</key>
			<string>{5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{118,84}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{116,1},{119,85}}</string>
			<key>offset</key>
			<string>{6.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,24},{119,85}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{228,287},{111,85}}</string>
			<key>offset</key>
			<string>{2.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,23},{111,85}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{454,405},{98,86}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,21},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,456},{98,87}}</string>
			<key>offset</key>
			<string>{-4,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,19},{98,87}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{329,434},{98,86}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,18},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{201,460},{98,86}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,17},{98,86}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{454,304},{88,99}}</string>
			<key>offset</key>
			<string>{1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{88,99}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{445,204},{89,98}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,7},{89,98}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{341,251},{94,97}}</string>
			<key>offset</key>
			<string>{4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,9},{94,97}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{229,187},{98,96}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,12},{98,96}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{221,88},{101,97}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,15},{101,97}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,201},{106,98}}</string>
			<key>offset</key>
			<string>{11,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,16},{106,98}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,100},{110,99}}</string>
			<key>offset</key>
			<string>{13,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,17},{110,99}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{113,97}}</string>
			<key>offset</key>
			<string>{14.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,15},{113,97}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{113,100},{106,99}}</string>
			<key>offset</key>
			<string>{10,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,13},{106,99}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{439,1},{89,99}}</string>
			<key>offset</key>
			<string>{1.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,11},{89,99}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
		<key>makoa_03_f_hatchling_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{445,102},{88,100}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{88,100}}</string>
			<key>sourceSize</key>
			<string>{128,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{629,547}</string>
		<key>textureFileName</key>
		<string>makoa_03_f_hatchling_w.png</string>
	</dict>
</dict>
</plist>
