<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_07_f_adult_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{777,510},{155,167}}</string>
			<key>offset</key>
			<string>{5.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,49},{155,167}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,939},{148,171}}</string>
			<key>offset</key>
			<string>{7,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,48},{148,171}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{569,839},{143,176}}</string>
			<key>offset</key>
			<string>{8.5,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,47},{143,176}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{900,1},{140,180}}</string>
			<key>offset</key>
			<string>{9,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,47},{140,180}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{895,322},{139,183}}</string>
			<key>offset</key>
			<string>{9.5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,47},{139,183}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{774,680},{140,185}}</string>
			<key>offset</key>
			<string>{10,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,48},{140,185}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{223,651},{143,186}}</string>
			<key>offset</key>
			<string>{9.5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,49},{143,186}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{746,322},{147,186}}</string>
			<key>offset</key>
			<string>{8.5,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,51},{147,186}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{592,335},{152,184}}</string>
			<key>offset</key>
			<string>{7,-39.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,53},{152,184}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{531,1},{158,181}}</string>
			<key>offset</key>
			<string>{6,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,55},{158,181}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{366,160},{163,177}}</string>
			<key>offset</key>
			<string>{4.5,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,57},{163,177}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{195,160},{169,173}}</string>
			<key>offset</key>
			<string>{2.5,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,58},{169,173}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,322},{173,168}}</string>
			<key>offset</key>
			<string>{1.5,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,59},{173,168}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{365,339},{176,163}}</string>
			<key>offset</key>
			<string>{1,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,60},{176,163}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{691,1},{176,160}}</string>
			<key>offset</key>
			<string>{1,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,60},{176,160}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{722,163},{176,157}}</string>
			<key>offset</key>
			<string>{1,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,59},{176,157}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{601,521},{174,157}}</string>
			<key>offset</key>
			<string>{2,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,57},{174,157}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{601,680},{171,157}}</string>
			<key>offset</key>
			<string>{2.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,55},{171,157}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{1,778},{166,159}}</string>
			<key>offset</key>
			<string>{3,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,53},{166,159}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{406,776},{161,162}}</string>
			<key>offset</key>
			<string>{4.5,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,51},{161,162}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,492},{184,154}}</string>
			<key>offset</key>
			<string>{6,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,31},{184,154}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{367,953},{184,128}}</string>
			<key>offset</key>
			<string>{5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,56},{184,128}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{714,981},{201,110}}</string>
			<key>offset</key>
			<string>{-4.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,74},{201,110}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{151,953},{214,110}}</string>
			<key>offset</key>
			<string>{-11,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,76},{214,110}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,651},{220,125}}</string>
			<key>offset</key>
			<string>{-13,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,79},{220,125}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{384,643},{215,131}}</string>
			<key>offset</key>
			<string>{-9.5,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,82},{215,131}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{384,504},{206,137}}</string>
			<key>offset</key>
			<string>{-4,-48}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,85},{206,137}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{187,504},{195,145}}</string>
			<key>offset</key>
			<string>{3.5,-54}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,87},{195,145}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{531,184},{189,149}}</string>
			<key>offset</key>
			<string>{7.5,-58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,89},{189,149}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{714,867},{199,112}}</string>
			<key>offset</key>
			<string>{3.5,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,88},{199,112}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{169,839},{235,112}}</string>
			<key>offset</key>
			<string>{-13.5,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-13,87},{235,112}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,162},{192,158}}</string>
			<key>offset</key>
			<string>{7,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,40},{192,158}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{191,159}}</string>
			<key>offset</key>
			<string>{6.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,36},{191,159}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{194,1},{189,157}}</string>
			<key>offset</key>
			<string>{6.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,34},{189,157}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_07_f_adult_r/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{176,335},{187,155}}</string>
			<key>offset</key>
			<string>{6.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,33},{187,155}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1041,1111}</string>
		<key>textureFileName</key>
		<string>illuide_07_f_adult_r.png</string>
	</dict>
</dict>
</plist>
