<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signaturesharkgon/holding/holding_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{185,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/holding/holding_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{88,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{95,1},{88,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{269,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1293,1},{82,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{353,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1125,1},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{437,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{521,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{605,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/move/move_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1209,1},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/move/move_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{689,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/move/move_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{773,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/move/move_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{857,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/touch/touch_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{269,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/touch/touch_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{941,1},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/touch/touch_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1025,1},{98,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturesharkgon/touch/touch_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{92,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>signaturesharkgon.png</string>
            <key>size</key>
            <string>{1376,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df1e3f33555221ec3d123a8480c7537a:63e0b1369ce5260d9c82bacd5a9a40c9:ec2ebc82f49b262a384df0b3c57d2a1b$</string>
            <key>textureFileName</key>
            <string>signaturesharkgon.png</string>
        </dict>
    </dict>
</plist>
