<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Skill_achieve_empty_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{974,111},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Skill_badge_green_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,1646},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_badge_green_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,1704},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_badge_red_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,1762},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_badge_red_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,1820},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_badge_white_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,1878},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_badge_white_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{2,1936},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_base_01_00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{1010,75},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_base_01_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{998,203},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,2},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{164,2},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{326,2},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{488,2},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{650,2},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{812,2},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,164},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{164,164},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{326,164},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{488,164},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{650,164},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_gap_in_chaos_12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{812,164},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,326},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{164,326},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{326,326},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{488,326},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{650,326},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{812,326},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,488},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{164,488},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{326,488},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{488,488},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{650,488},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_boss_skill_skull_fortress_12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{812,488},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_chat_bg_0504</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{974,146},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_check_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,31}</string>
			<key>spriteSourceSize</key>
			<string>{37,31}</string>
			<key>textureRect</key>
			<string>{{974,42},{37,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,13}</string>
			<key>spriteSourceSize</key>
			<string>{15,13}</string>
			<key>textureRect</key>
			<string>{{1009,146},{15,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Skill_colosseum_skill_0103</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,20}</string>
			<key>spriteSourceSize</key>
			<string>{22,20}</string>
			<key>textureRect</key>
			<string>{{998,181},{22,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{974,243},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_0203</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{974,204},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_0302</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,15}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{974,226},{15,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_0303</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{996,225},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_0403</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{22,21}</string>
			<key>textureRect</key>
			<string>{{974,181},{22,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_frame_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{110,114}</string>
			<key>textureRect</key>
			<string>{{2,1298},{110,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_frame_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{110,114}</string>
			<key>textureRect</key>
			<string>{{2,1414},{110,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_frame_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{110,114}</string>
			<key>textureRect</key>
			<string>{{2,1530},{110,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_frame_0301</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,34}</string>
			<key>spriteSourceSize</key>
			<string>{34,34}</string>
			<key>textureRect</key>
			<string>{{974,75},{34,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_colosseum_skill_frame_0401</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{38,38}</string>
			<key>textureRect</key>
			<string>{{974,2},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,650},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{164,650},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{326,650},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{488,650},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{650,650},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{812,650},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,812},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{164,812},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{326,812},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{488,812},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{650,812},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{812,812},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,974},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{164,974},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{326,974},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{488,974},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{650,974},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{812,974},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Skill_skill_19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,1136},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>skill.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8ab35f04293557c8e40ccf993e3c1ed1:79c9aad3cb1a0eaeb9a3352a6edda45b:de628d2eabb1e43115cf8c86336e45f6$</string>
		<key>textureFileName</key>
		<string>skill.png</string>
	</dict>
</dict>
</plist>
