<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_01_f_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1275,1},{186,148}}</string>
			<key>offset</key>
			<string>{7,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,14},{186,148}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1643,1},{187,149}}</string>
			<key>offset</key>
			<string>{6.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,13},{187,149}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{538,148},{188,150}}</string>
			<key>offset</key>
			<string>{6,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{188,150}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{728,149},{188,151}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{188,151}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{918,149},{187,151}}</string>
			<key>offset</key>
			<string>{6.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{187,151}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1292,151},{185,152}}</string>
			<key>offset</key>
			<string>{6.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,17},{185,152}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1107,151},{183,151}}</string>
			<key>offset</key>
			<string>{7.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,20},{183,151}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{178,146},{181,150}}</string>
			<key>offset</key>
			<string>{8.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,23},{181,150}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1832,1},{179,149}}</string>
			<key>offset</key>
			<string>{9.5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,26},{179,149}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1463,1},{178,148}}</string>
			<key>offset</key>
			<string>{11,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,28},{178,148}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{910,1},{178,146}}</string>
			<key>offset</key>
			<string>{12,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,29},{178,146}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{546,1},{179,145}}</string>
			<key>offset</key>
			<string>{11.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,29},{179,145}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{365,1},{179,144}}</string>
			<key>offset</key>
			<string>{11.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,28},{179,144}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{179,143}}</string>
			<key>offset</key>
			<string>{10.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,27},{179,143}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{182,1},{181,143}}</string>
			<key>offset</key>
			<string>{9.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,24},{181,143}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{727,1},{181,145}}</string>
			<key>offset</key>
			<string>{8.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,20},{181,145}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1090,1},{183,146}}</string>
			<key>offset</key>
			<string>{7.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,17},{183,146}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1479,152},{174,152}}</string>
			<key>offset</key>
			<string>{12,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,5},{174,152}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1832,152},{172,156}}</string>
			<key>offset</key>
			<string>{13,4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,4},{172,156}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{177,298},{171,161}}</string>
			<key>offset</key>
			<string>{13.5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,4},{171,161}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{526,300},{170,165}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,4},{170,165}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1045,304},{169,169}}</string>
			<key>offset</key>
			<string>{14.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{169,169}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1216,305},{170,169}}</string>
			<key>offset</key>
			<string>{15,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,6},{170,169}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{872,302},{171,168}}</string>
			<key>offset</key>
			<string>{15.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,7},{171,168}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{698,302},{172,166}}</string>
			<key>offset</key>
			<string>{15,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,7},{172,166}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{350,299},{174,162}}</string>
			<key>offset</key>
			<string>{15,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,8},{174,162}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,297},{174,157}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{174,157}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1655,152},{175,152}}</string>
			<key>offset</key>
			<string>{13.5,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{175,152}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,146},{175,149}}</string>
			<key>offset</key>
			<string>{12.5,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,7},{175,149}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
		<key>makoa_01_f_adult_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{361,147},{175,150}}</string>
			<key>offset</key>
			<string>{11.5,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,6},{175,150}}</string>
			<key>sourceSize</key>
			<string>{190,173}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2012,475}</string>
		<key>textureFileName</key>
		<string>makoa_01_f_adult_yr.png</string>
	</dict>
</dict>
</plist>
