<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taco/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{217,201},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,13}</string>
                <key>spriteSize</key>
                <string>{106,110}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{217,313},{106,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taco/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{109,97},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{217,97},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{217,201},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{109,421},{118,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{138,122}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{349,421},{138,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{142,98}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{337,1},{142,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{142,94}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{193,1},{142,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-12}</string>
                <key>spriteSize</key>
                <string>{114,82}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{77,1},{114,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-42}</string>
                <key>spriteSize</key>
                <string>{74,22}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{1,289},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,8}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{325,205},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,10}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{229,421},{118,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{325,101},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{217,201},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,10}</string>
                <key>spriteSize</key>
                <string>{106,110}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{329,313},{106,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taco/idle/idle_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{106,110}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{1,397},{106,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{1,85},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{1,185},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{109,305},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taco/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{109,201},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taco.png</string>
            <key>size</key>
            <string>{488,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d9603eda7024c5f12a6864c467a55b:77d512ad2df9b23b430e404ed8a21854:74d03e0e86f185b8a408891b43eb20d0$</string>
            <key>textureFileName</key>
            <string>taco.png</string>
        </dict>
    </dict>
</plist>
