<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>vetala_02_f_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{442,255},{214,132}}</string>
			<key>offset</key>
			<string>{20,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,10},{214,132}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{217,501},{210,133}}</string>
			<key>offset</key>
			<string>{21,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,8},{210,133}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{671,1},{206,134}}</string>
			<key>offset</key>
			<string>{21,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,5},{206,134}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{664,137},{203,134}}</string>
			<key>offset</key>
			<string>{22.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,5},{203,134}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{651,407},{201,133}}</string>
			<key>offset</key>
			<string>{23.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,6},{201,133}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{658,273},{203,132}}</string>
			<key>offset</key>
			<string>{24.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,9},{203,132}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{429,509},{208,131}}</string>
			<key>offset</key>
			<string>{24,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,11},{208,131}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{221,368},{213,131}}</string>
			<key>offset</key>
			<string>{22.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,13},{213,131}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{224,235},{216,131}}</string>
			<key>offset</key>
			<string>{21,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,13},{216,131}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{453,1},{216,132}}</string>
			<key>offset</key>
			<string>{20,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,12},{216,132}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,115},{224,113}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{224,113}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,230},{221,114}}</string>
			<key>offset</key>
			<string>{12.5,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,11},{221,114}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{227,117},{218,116}}</string>
			<key>offset</key>
			<string>{16,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,7},{218,116}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{447,135},{215,118}}</string>
			<key>offset</key>
			<string>{19.5,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,4},{215,118}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{436,389},{213,118}}</string>
			<key>offset</key>
			<string>{21.5,6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,5},{213,118}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,588},{212,118}}</string>
			<key>offset</key>
			<string>{23,4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,7},{212,118}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,466},{214,120}}</string>
			<key>offset</key>
			<string>{21,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,8},{214,120}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,346},{218,118}}</string>
			<key>offset</key>
			<string>{17,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,12},{218,118}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{228,1},{223,114}}</string>
			<key>offset</key>
			<string>{13.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{223,114}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
		<key>vetala_02_f_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{225,112}}</string>
			<key>offset</key>
			<string>{11.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,17},{225,112}}</string>
			<key>sourceSize</key>
			<string>{232,141}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{878,707}</string>
		<key>textureFileName</key>
		<string>vetala_02_f_adult_bk.png</string>
	</dict>
</dict>
</plist>
