<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>captainbird/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{738,120},{132,120}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,16},{132,120}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{128,100}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,24},{128,100}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,152}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{132,132}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,16},{132,132}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{152,124}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{152,124}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{454,136},{144,116}}</string>
                <key>offset</key>
                <string>{42,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,24},{144,116}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,140}}</string>
                <key>offset</key>
                <string>{36,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,40},{132,140}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{982,116},{140,104}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,76},{140,104}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{152,92}}</string>
                <key>offset</key>
                <string>{42,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{152,92}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{288,144},{164,104}}</string>
                <key>offset</key>
                <string>{40,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,84},{164,104}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{156,156},{84,68}}</string>
                <key>offset</key>
                <string>{40,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,104},{84,68}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{226,156},{80,60}}</string>
                <key>offset</key>
                <string>{30,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,116},{80,60}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_09</key>
            <dict>
                <key>frame</key>
                <string>{{1124,112},{80,52}}</string>
                <key>offset</key>
                <string>{42,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,128},{80,52}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/die/die_10</key>
            <dict>
                <key>frame</key>
                <string>{{1124,166},{68,44}}</string>
                <key>offset</key>
                <string>{32,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,140},{68,44}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{600,120},{136,120}}</string>
                <key>offset</key>
                <string>{18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,12},{136,120}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{152,124}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{152,124}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{144,116}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,20},{144,116}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{132,112}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,20},{132,112}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{140,116}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,24},{140,116}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{128,108}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,28},{128,108}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{860,116},{132,120}}</string>
                <key>offset</key>
                <string>{20,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,12},{132,120}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{140,112}}</string>
                <key>offset</key>
                <string>{28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,20},{140,112}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>captainbird/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{1206,132},{128,108}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,20},{128,108}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>captainbird.png</string>
            <key>size</key>
            <string>{1336,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5dd1f85701c6da590136d1cf8429b0e:31128097205f771b9f6e94fde6033e20:92b92d70500474e89dcf0ce299a011f7$</string>
            <key>textureFileName</key>
            <string>captainbird.png</string>
        </dict>
    </dict>
</plist>
