<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gripo_01_f_adult_rp/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{440,1},{107,118}}</string>
			<key>offset</key>
			<string>{-3.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,13},{107,118}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{440,121},{107,118}}</string>
			<key>offset</key>
			<string>{-1.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,11},{107,118}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{107,120}}</string>
			<key>offset</key>
			<string>{-1.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{107,120}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{110,1},{108,120}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,8},{108,120}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,123},{110,120}}</string>
			<key>offset</key>
			<string>{-3,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,9},{110,120}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{220,1},{109,120}}</string>
			<key>offset</key>
			<string>{-4.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,11},{109,120}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{123,123},{109,120}}</string>
			<key>offset</key>
			<string>{-5.5,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,13},{109,120}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,235},{109,120}}</string>
			<key>offset</key>
			<string>{-6.5,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{109,120}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{123,234},{109,119}}</string>
			<key>offset</key>
			<string>{-5.5,-9.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,15},{109,119}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{331,1},{107,119}}</string>
			<key>offset</key>
			<string>{-4.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{107,119}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{244,234},{108,119}}</string>
			<key>offset</key>
			<string>{-7,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{108,119}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{245,123},{107,119}}</string>
			<key>offset</key>
			<string>{-6.5,0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,5},{107,119}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{241,466},{110,117}}</string>
			<key>offset</key>
			<string>{-7,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,6},{110,117}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{363,344},{113,118}}</string>
			<key>offset</key>
			<string>{-8.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,7},{113,118}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{123,345},{118,119}}</string>
			<key>offset</key>
			<string>{-11,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-9,9},{118,119}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{243,345},{119,118}}</string>
			<key>offset</key>
			<string>{-12.5,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-11,13},{119,118}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,346},{119,118}}</string>
			<key>offset</key>
			<string>{-12.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-11,15},{119,118}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,466},{117,118}}</string>
			<key>offset</key>
			<string>{-12.5,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-10,16},{117,118}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{363,464},{114,118}}</string>
			<key>offset</key>
			<string>{-11,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-7,15},{114,118}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>gripo_01_f_adult_rp/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{121,466},{112,118}}</string>
			<key>offset</key>
			<string>{-9,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-4,12},{112,118}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{548,584}</string>
		<key>textureFileName</key>
		<string>gripo_01_f_adult_rp.png</string>
	</dict>
</dict>
</plist>
