<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>batgoblin/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{120,918},{116,112}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{116,112}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{124,116}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,20},{124,116}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{168,136}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{168,136}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{140,132}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{140,132}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{136,112}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{136,112}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{128,572},{120,120}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,16},{120,120}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{108,116}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,20},{108,116}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{144,320},{124,108}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,28},{124,108}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{180,76}}</string>
                <key>offset</key>
                <string>{-18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,60},{180,76}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,80}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,56},{184,80}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{172,162},{156,80}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,56},{156,80}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{140,446},{124,112}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,24},{124,112}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{128,572},{120,120}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,16},{120,120}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{108,116}}</string>
                <key>offset</key>
                <string>{26,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,20},{108,116}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{116,116}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,20},{116,116}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{116,112}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{116,112}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{120,1032},{116,112}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{116,112}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{120,116}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,20},{120,116}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{124,694},{120,112}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,24},{120,112}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{120,112}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,24},{120,112}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
            <key>batgoblin/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{124,808},{120,108}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{120,108}}</string>
                <key>sourceSize</key>
                <string>{232,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batgoblin.png</string>
            <key>size</key>
            <string>{254,1240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f204827c7e6a459a995b10e16d38a4a:a20cf0bc11da602e5e3fae37b7518399:36d2ede7e0a2ceac3573fa906242f8e5$</string>
            <key>textureFileName</key>
            <string>batgoblin.png</string>
        </dict>
    </dict>
</plist>
