<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>selora_01_m_hatch_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{252,1},{50,59}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,59}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{313,1},{50,60}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{50,60}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{676,1},{50,59}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,59}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{737,1},{50,59}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,59}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{798,1},{50,59}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,59}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{859,1},{50,58}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,58}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{919,1},{50,58}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,58}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{979,1},{50,57}}</string>
			<key>offset</key>
			<string>{-6,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{50,57}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1038,1},{50,57}}</string>
			<key>offset</key>
			<string>{-6,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{50,57}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1097,1},{50,57}}</string>
			<key>offset</key>
			<string>{-6,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{50,57}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{375,1},{50,57}}</string>
			<key>offset</key>
			<string>{-6,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{50,57}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{434,1},{50,58}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,58}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{494,1},{50,58}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,58}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{554,1},{50,59}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,59}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{615,1},{50,59}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,59}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{49,61}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-4,4},{49,61}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1156,1},{50,61}}</string>
			<key>offset</key>
			<string>{-5,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-4,5},{50,61}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1404,1},{51,61}}</string>
			<key>offset</key>
			<string>{-5.5,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{51,61}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1219,1},{50,60}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{50,60}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{64,1},{49,60}}</string>
			<key>offset</key>
			<string>{-5.5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-4,4},{49,60}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{126,1},{49,61}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-4,4},{49,61}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1281,1},{50,59}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-4,5},{50,59}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1467,1},{51,59}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{51,59}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1342,1},{50,60}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{50,60}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>selora_01_m_hatch_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{189,1},{49,61}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-4,4},{49,61}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1527,53}</string>
		<key>textureFileName</key>
		<string>selora_01_m_hatch_w.png</string>
	</dict>
</dict>
</plist>
