<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{286,310},{91,74}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{91,74}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{379,310},{91,74}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{91,74}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{288,79},{92,74}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{92,74}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{381,155},{92,73}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{92,73}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{289,1},{93,73}}</string>
			<key>offset</key>
			<string>{3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{93,73}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{96,310},{93,73}}</string>
			<key>offset</key>
			<string>{3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{93,73}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,312},{93,73}}</string>
			<key>offset</key>
			<string>{3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{93,73}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{191,310},{93,73}}</string>
			<key>offset</key>
			<string>{3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{93,73}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{382,76},{92,73}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{92,73}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{381,230},{92,73}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{92,73}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{194,79},{92,74}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{92,74}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{287,155},{92,74}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{92,74}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{97,155},{93,76}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{93,76}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,157},{93,76}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{93,76}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{96,233},{93,75}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{93,75}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,235},{93,75}}</string>
			<key>offset</key>
			<string>{1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{93,75}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{97,78},{95,75}}</string>
			<key>offset</key>
			<string>{1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{95,75}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,79},{94,76}}</string>
			<key>offset</key>
			<string>{2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{94,76}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{192,155},{93,76}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{93,76}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{194,1},{93,76}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{93,76}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{191,233},{93,75}}</string>
			<key>offset</key>
			<string>{2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{93,75}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{286,233},{93,75}}</string>
			<key>offset</key>
			<string>{1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{93,75}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{97,1},{95,75}}</string>
			<key>offset</key>
			<string>{1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{95,75}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
		<key>evildawn_01_f_hatchling_bg/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{94,76}}</string>
			<key>offset</key>
			<string>{2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{94,76}}</string>
			<key>sourceSize</key>
			<string>{100,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{475,386}</string>
		<key>textureFileName</key>
		<string>evildawn_01_f_hatchling_bg.png</string>
	</dict>
</dict>
</plist>
