<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Dragon_cell_arrow_0701</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{54,52}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{150,1282},{54,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_arrow_0702</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{54,52}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{314,296},{54,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_badge_green_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{389,718},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_badge_green_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{338,1191},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_badge_red_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{316,1249},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_badge_red_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{212,1308},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_badge_training_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{268,1308},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_badge_training_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{324,1307},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_badge_white_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{372,1249},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_badge_white_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{380,1307},{54,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_base_01_00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{230,849},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_base_01_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{286,687},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_base_01_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,13}</string>
			<key>spriteSourceSize</key>
			<string>{20,13}</string>
			<key>textureRect</key>
			<string>{{324,848},{20,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_base_01_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{437,292},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_base_brown_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{155,80}</string>
			<key>spriteSourceSize</key>
			<string>{155,80}</string>
			<key>textureRect</key>
			<string>{{154,338},{155,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_bookmark_icon_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{384,981},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_btn_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>textureRect</key>
			<string>{{54,1282},{40,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_btn_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,46}</string>
			<key>spriteSourceSize</key>
			<string>{40,46}</string>
			<key>textureRect</key>
			<string>{{102,1282},{40,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{250,709},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{76,1324},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0103</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{312,946},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0104</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,68}</string>
			<key>spriteSourceSize</key>
			<string>{70,68}</string>
			<key>textureRect</key>
			<string>{{304,502},{70,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0105</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{330,574},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,48}</string>
			<key>spriteSourceSize</key>
			<string>{142,48}</string>
			<key>textureRect</key>
			<string>{{2,624},{142,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,48}</string>
			<key>spriteSourceSize</key>
			<string>{142,48}</string>
			<key>textureRect</key>
			<string>{{2,768},{142,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0203</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,48}</string>
			<key>spriteSourceSize</key>
			<string>{142,48}</string>
			<key>textureRect</key>
			<string>{{2,912},{142,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0205</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,48}</string>
			<key>spriteSourceSize</key>
			<string>{142,48}</string>
			<key>textureRect</key>
			<string>{{2,1056},{142,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0301</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{314,250},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0401</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,65}</string>
			<key>spriteSourceSize</key>
			<string>{56,65}</string>
			<key>textureRect</key>
			<string>{{322,718},{56,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0402</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,65}</string>
			<key>spriteSourceSize</key>
			<string>{56,65}</string>
			<key>textureRect</key>
			<string>{{370,292},{56,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0501</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{330,646},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0502</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,65}</string>
			<key>spriteSourceSize</key>
			<string>{56,65}</string>
			<key>textureRect</key>
			<string>{{402,634},{56,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0601</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{324,776},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0602</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{381,350},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0701</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,68}</string>
			<key>spriteSourceSize</key>
			<string>{68,68}</string>
			<key>textureRect</key>
			<string>{{311,350},{68,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0702</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,63}</string>
			<key>spriteSourceSize</key>
			<string>{55,63}</string>
			<key>textureRect</key>
			<string>{{396,776},{55,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0801</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,68}</string>
			<key>spriteSourceSize</key>
			<string>{68,68}</string>
			<key>textureRect</key>
			<string>{{374,494},{68,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0802</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,63}</string>
			<key>spriteSourceSize</key>
			<string>{55,63}</string>
			<key>textureRect</key>
			<string>{{208,1191},{55,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_bg_0901</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,68}</string>
			<key>spriteSourceSize</key>
			<string>{68,68}</string>
			<key>textureRect</key>
			<string>{{402,564},{68,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_bg_0902</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,63}</string>
			<key>spriteSourceSize</key>
			<string>{55,63}</string>
			<key>textureRect</key>
			<string>{{273,1191},{55,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_card_info_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{445,737},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_card_info_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{372,1150},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_centipede_poison_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,31}</string>
			<key>spriteSourceSize</key>
			<string>{24,31}</string>
			<key>textureRect</key>
			<string>{{453,368},{24,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_chat_bg_0504</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{422,960},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_check_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,31}</string>
			<key>spriteSourceSize</key>
			<string>{37,31}</string>
			<key>textureRect</key>
			<string>{{212,1366},{37,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_collect_jelly_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,26}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{420,873},{30,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_connection_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{420,1033},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_cosmic_album_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,4}</string>
			<key>spriteSize</key>
			<string>{106,130}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{46,338},{106,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dilis_box_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,34}</string>
			<key>spriteSourceSize</key>
			<string>{37,34}</string>
			<key>textureRect</key>
			<string>{{445,701},{37,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dilis_box_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,31}</string>
			<key>spriteSourceSize</key>
			<string>{35,31}</string>
			<key>textureRect</key>
			<string>{{251,1366},{35,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_action_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,48}</string>
			<key>spriteSourceSize</key>
			<string>{38,48}</string>
			<key>textureRect</key>
			<string>{{444,422},{38,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_action_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,48}</string>
			<key>spriteSourceSize</key>
			<string>{38,48}</string>
			<key>textureRect</key>
			<string>{{444,472},{38,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_action_armor_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{36,38}</string>
			<key>spriteSourceSize</key>
			<string>{38,48}</string>
			<key>textureRect</key>
			<string>{{444,522},{36,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_dragon_collection_frame</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{312,246}</string>
			<key>spriteSourceSize</key>
			<string>{312,246}</string>
			<key>textureRect</key>
			<string>{{46,2},{312,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_grow_point_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,30}</string>
			<key>spriteSourceSize</key>
			<string>{26,30}</string>
			<key>textureRect</key>
			<string>{{420,841},{26,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_hide_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{102,80}</string>
			<key>spriteSourceSize</key>
			<string>{102,80}</string>
			<key>textureRect</key>
			<string>{{52,1026},{102,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_dragon_list_grow_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,32}</string>
			<key>spriteSourceSize</key>
			<string>{34,32}</string>
			<key>textureRect</key>
			<string>{{402,1365},{34,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_list_star_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,32}</string>
			<key>spriteSourceSize</key>
			<string>{34,32}</string>
			<key>textureRect</key>
			<string>{{448,843},{34,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_sick_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,34}</string>
			<key>spriteSourceSize</key>
			<string>{27,34}</string>
			<key>textureRect</key>
			<string>{{453,775},{27,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_sick_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,29}</string>
			<key>spriteSourceSize</key>
			<string>{22,29}</string>
			<key>textureRect</key>
			<string>{{460,634},{22,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_dragon_view_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{620,42}</string>
			<key>spriteSourceSize</key>
			<string>{620,42}</string>
			<key>textureRect</key>
			<string>{{2,2},{620,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_element_all_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{54,1200},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_dark_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{394,1188},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_dark_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{148,849},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_dream_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{410,1150},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_dream_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{148,931},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_earth_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{432,1188},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_earth_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{242,781},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_fire_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{428,1226},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_fire_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{230,863},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_light_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{428,1264},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_light_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{230,945},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_lightning_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{436,1302},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_lightning_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{204,1027},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_select_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,94}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{52,930},{94,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_steel_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{438,1340},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_steel_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{208,1109},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_water_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{414,1070},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_water_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{286,1027},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_wind_36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{414,1108},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_element_wind_80</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{290,1109},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_empty</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{479,292},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_empty_dragon_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,58}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{148,1336},{62,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_empty_egg_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,81}</string>
			<key>spriteSourceSize</key>
			<string>{70,81}</string>
			<key>textureRect</key>
			<string>{{312,863},{70,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_ency_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{106,126}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{46,470},{106,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_exploration_dragon_slot_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{372,1108},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_freeze_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,25}</string>
			<key>spriteSourceSize</key>
			<string>{28,25}</string>
			<key>textureRect</key>
			<string>{{422,933},{28,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_gender_f_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{384,905},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_gender_m_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{384,943},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_gender_n_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{420,995},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_hatchery_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-26}</string>
			<key>spriteSize</key>
			<string>{146,86}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{154,420},{146,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_hatchery_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-44}</string>
			<key>spriteSize</key>
			<string>{122,50}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{2,1200},{122,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_hatchery_check_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,58}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{206,1248},{53,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_hatchery_check_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,58}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{261,1248},{53,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_info_0103</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,26}</string>
			<key>spriteSourceSize</key>
			<string>{24,26}</string>
			<key>textureRect</key>
			<string>{{422,905},{24,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_info_dragon_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{368,1018},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_info_dragon_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,148}</string>
			<key>spriteSourceSize</key>
			<string>{122,148}</string>
			<key>textureRect</key>
			<string>{{360,2},{122,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_item_dragem_001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{122,138}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{360,152},{122,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_leave_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{30,32}</string>
			<key>textureRect</key>
			<string>{{453,334},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_lock_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,17}</string>
			<key>spriteSourceSize</key>
			<string>{16,17}</string>
			<key>textureRect</key>
			<string>{{466,1226},{16,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_lock_0202</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{448,877},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_memo_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,1}</string>
			<key>spriteSize</key>
			<string>{102,102}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{52,722},{102,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_memo_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1}</string>
			<key>spriteSize</key>
			<string>{94,102}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{52,826},{94,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_not_trading_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{448,1146},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_not_trading_time_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{384,848},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_ore_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{28,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{453,811},{28,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_popup_tab_0301</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{148,73}</string>
			<key>spriteSourceSize</key>
			<string>{148,73}</string>
			<key>textureRect</key>
			<string>{{154,508},{148,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_popup_tab_s_0501</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,61}</string>
			<key>spriteSourceSize</key>
			<string>{120,61}</string>
			<key>textureRect</key>
			<string>{{164,583},{120,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_popup_tab_s_0701</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,61}</string>
			<key>spriteSourceSize</key>
			<string>{120,61}</string>
			<key>textureRect</key>
			<string>{{164,646},{120,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_refuse_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,36}</string>
			<key>spriteSourceSize</key>
			<string>{44,36}</string>
			<key>textureRect</key>
			<string>{{368,1070},{44,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_remove_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,36}</string>
			<key>spriteSourceSize</key>
			<string>{32,36}</string>
			<key>textureRect</key>
			<string>{{364,1365},{32,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_remove_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,31}</string>
			<key>spriteSourceSize</key>
			<string>{28,31}</string>
			<key>textureRect</key>
			<string>{{288,1366},{28,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_rip_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{110,122}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{52,598},{110,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_shadow_20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-168}</string>
			<key>spriteSize</key>
			<string>{102,42}</string>
			<key>spriteSourceSize</key>
			<string>{520,400}</string>
			<key>textureRect</key>
			<string>{{286,583},{102,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_slot_0103</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{372,422},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_slot_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{330,646},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_trading_hub_top_5_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,84}</string>
			<key>spriteSourceSize</key>
			<string>{68,84}</string>
			<key>textureRect</key>
			<string>{{52,1130},{68,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_trading_hub_top_5_0102</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,86}</string>
			<key>spriteSourceSize</key>
			<string>{270,90}</string>
			<key>textureRect</key>
			<string>{{46,250},{266,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_trading_hub_top_5_0201</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,84}</string>
			<key>spriteSourceSize</key>
			<string>{68,84}</string>
			<key>textureRect</key>
			<string>{{134,1026},{68,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_trading_hub_top_5_0301</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,84}</string>
			<key>spriteSourceSize</key>
			<string>{68,84}</string>
			<key>textureRect</key>
			<string>{{138,1112},{68,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_trading_hub_top_5_0401</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,84}</string>
			<key>spriteSourceSize</key>
			<string>{68,84}</string>
			<key>textureRect</key>
			<string>{{164,709},{68,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_trading_hub_top_5_0501</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,84}</string>
			<key>spriteSourceSize</key>
			<string>{68,84}</string>
			<key>textureRect</key>
			<string>{{156,779},{68,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_undead_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{452,911},{32,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Dragon_cell_underground_castle_down_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,80}</string>
			<key>spriteSourceSize</key>
			<string>{68,80}</string>
			<key>textureRect</key>
			<string>{{136,1200},{68,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_underground_castle_middle_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2,1324},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_underground_castle_up_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,80}</string>
			<key>spriteSourceSize</key>
			<string>{68,80}</string>
			<key>textureRect</key>
			<string>{{302,420},{68,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_view_collect_jelly_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,32}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{324,1365},{38,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Dragon_cell_walk_ing_0101</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{479,292},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>empty.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{479,292},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>dragon_cell.png</string>
		<key>size</key>
		<string>{484,1399}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2cd431d83a029b8aa5741b02b7377c73:429548d0269c41f4c8fd6fc7c1102cef:f43715133f19355e3b9556261cc80191$</string>
		<key>textureFileName</key>
		<string>dragon_cell.png</string>
	</dict>
</dict>
</plist>
