<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireredstone_02/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{738,960},{280,212}}</string>
                <key>offset</key>
                <string>{20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,44},{280,212}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{416,488},{396,228}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,28},{396,228}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{468,256}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{468,256}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,188}}</string>
                <key>offset</key>
                <string>{-22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{492,188}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{432,204}}</string>
                <key>offset</key>
                <string>{-52,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{432,204}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/attack/attack_06</key>
            <dict>
                <key>frame</key>
                <string>{{734,1174},{280,212}}</string>
                <key>offset</key>
                <string>{20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,44},{280,212}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{332,196}}</string>
                <key>offset</key>
                <string>{34,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,60},{332,196}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{854,260},{392,152}}</string>
                <key>offset</key>
                <string>{64,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,104},{392,152}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{436,374},{412,112}}</string>
                <key>offset</key>
                <string>{58,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,152},{412,112}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{412,112}}</string>
                <key>offset</key>
                <string>{58,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,152},{412,112}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{436,260},{416,112}}</string>
                <key>offset</key>
                <string>{56,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,152},{416,112}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{392,112}}</string>
                <key>offset</key>
                <string>{68,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,152},{392,112}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{814,654},{304,200}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,56},{304,200}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{336,1380},{332,196}}</string>
                <key>offset</key>
                <string>{34,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,60},{332,196}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{308,196}}</string>
                <key>offset</key>
                <string>{26,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,64},{308,196}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{738,960},{280,212}}</string>
                <key>offset</key>
                <string>{20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,44},{280,212}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{670,1388},{288,212}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,44},{288,212}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{212,1692},{296,208}}</string>
                <key>offset</key>
                <string>{28,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,48},{296,208}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{422,1578},{288,212}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,44},{288,212}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/idle/idle_05</key>
            <dict>
                <key>frame</key>
                <string>{{636,1816},{280,212}}</string>
                <key>offset</key>
                <string>{20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,44},{280,212}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/idle/idle_06</key>
            <dict>
                <key>frame</key>
                <string>{{636,1602},{288,212}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,44},{288,212}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/idle/idle_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,1692},{300,208}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,48},{300,208}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/idle/idle_08</key>
            <dict>
                <key>frame</key>
                <string>{{422,1578},{288,212}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,44},{288,212}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{368,1162},{364,216}}</string>
                <key>offset</key>
                <string>{62,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,40},{364,216}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{364,220}}</string>
                <key>offset</key>
                <string>{62,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,36},{364,220}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{372,936},{364,224}}</string>
                <key>offset</key>
                <string>{62,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,32},{364,224}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{376,718},{372,216}}</string>
                <key>offset</key>
                <string>{66,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,40},{372,216}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{368,220}}</string>
                <key>offset</key>
                <string>{64,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,36},{368,220}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
            <key>fireredstone_02/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{372,224}}</string>
                <key>offset</key>
                <string>{66,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,32},{372,224}}</string>
                <key>sourceSize</key>
                <string>{536,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireredstone_02.png</string>
            <key>size</key>
            <string>{1020,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d28f455582ffef180ef34f564f3afa32:40cc54019f2b4ca7cb33e41c49349cda:0747ab6f5dde0401fc0243f5b92de956$</string>
            <key>textureFileName</key>
            <string>fireredstone_02.png</string>
        </dict>
    </dict>
</plist>
