<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gunfrog/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{461,93},{78,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{177,65},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{817,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{114,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{701,1},{114,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,5}</string>
                <key>spriteSize</key>
                <string>{118,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{581,1},{118,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/attack/attack_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,5}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{457,1},{122,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/attack/attack_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{817,1},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{549,93},{82,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{329,1},{126,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{154,100}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-8}</string>
                <key>spriteSize</key>
                <string>{170,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{157,1},{170,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{461,93},{78,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{901,93},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{637,93},{78,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{925,1},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunfrog/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{89,103},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{277,93},{78,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{725,93},{78,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{369,93},{78,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunfrog/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{813,93},{78,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gunfrog.png</string>
            <key>size</key>
            <string>{1004,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0edda0f81a675ab5041f4136115a3d5:b10060f8f284aa508fbc1f6dc3c787f2:3a30b8681bdcccfce8e769c338236590$</string>
            <key>textureFileName</key>
            <string>gunfrog.png</string>
        </dict>
    </dict>
</plist>
