<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dhupa_01_m_adult_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{118,184},{109,172}}</string>
			<key>offset</key>
			<string>{10.5,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,40},{109,172}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,368},{109,168}}</string>
			<key>offset</key>
			<string>{10.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,40},{109,168}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{463,1},{111,167}}</string>
			<key>offset</key>
			<string>{11.5,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,39},{111,167}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{463,170},{110,166}}</string>
			<key>offset</key>
			<string>{12,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,36},{110,166}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{462,338},{110,165}}</string>
			<key>offset</key>
			<string>{12,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,34},{110,165}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{346,355},{110,168}}</string>
			<key>offset</key>
			<string>{13,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,31},{110,168}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{231,361},{112,168}}</string>
			<key>offset</key>
			<string>{14,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,30},{112,168}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{347,180},{113,173}}</string>
			<key>offset</key>
			<string>{15.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,29},{113,173}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{347,1},{114,177}}</string>
			<key>offset</key>
			<string>{16,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,28},{114,177}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,187},{115,179}}</string>
			<key>offset</key>
			<string>{16.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,29},{115,179}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{231,1},{114,178}}</string>
			<key>offset</key>
			<string>{16,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,31},{114,178}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{114,184}}</string>
			<key>offset</key>
			<string>{15,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,33},{114,184}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{231,181},{113,178}}</string>
			<key>offset</key>
			<string>{14.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,36},{113,178}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{117,1},{112,181}}</string>
			<key>offset</key>
			<string>{13,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,38},{112,181}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{118,358},{111,172}}</string>
			<key>offset</key>
			<string>{11.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,39},{111,172}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{576,152},{121,148}}</string>
			<key>offset</key>
			<string>{-4.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,32},{121,148}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{123,688},{122,147}}</string>
			<key>offset</key>
			<string>{-4,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,30},{122,147}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{247,685},{122,146}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,29},{122,146}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{371,677},{122,145}}</string>
			<key>offset</key>
			<string>{-1,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,29},{122,145}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{495,602},{120,145}}</string>
			<key>offset</key>
			<string>{0,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,30},{120,145}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,694},{120,148}}</string>
			<key>offset</key>
			<string>{1,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,33},{120,148}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{363,525},{118,150}}</string>
			<key>offset</key>
			<string>{1,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,37},{118,150}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,538},{118,154}}</string>
			<key>offset</key>
			<string>{1,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,40},{118,154}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{121,532},{118,154}}</string>
			<key>offset</key>
			<string>{1,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,43},{118,154}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{241,531},{120,152}}</string>
			<key>offset</key>
			<string>{0,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,44},{120,152}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{575,302},{121,148}}</string>
			<key>offset</key>
			<string>{-1.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,42},{121,148}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{574,452},{119,148}}</string>
			<key>offset</key>
			<string>{-3.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,38},{119,148}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
		<key>dhupa_01_m_adult_r/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{576,1},{121,149}}</string>
			<key>offset</key>
			<string>{-4.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,33},{121,149}}</string>
			<key>sourceSize</key>
			<string>{126,192}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{698,843}</string>
		<key>textureFileName</key>
		<string>dhupa_01_m_adult_r.png</string>
	</dict>
</dict>
</plist>
