<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,371},{91,72}}</string>
			<key>offset</key>
			<string>{3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,1},{91,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{94,371},{91,72}}</string>
			<key>offset</key>
			<string>{3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,1},{91,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{293,225},{92,72}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{92,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{187,371},{92,71}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{92,71}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{99,152},{93,71}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{93,71}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,298},{93,71}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{93,71}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{281,372},{93,70}}</string>
			<key>offset</key>
			<string>{3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,3},{93,70}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{96,298},{93,71}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{93,71}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{191,298},{93,71}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{93,71}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{286,299},{93,71}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{93,71}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{292,151},{93,72}}</string>
			<key>offset</key>
			<string>{3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{93,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{293,1},{93,72}}</string>
			<key>offset</key>
			<string>{3.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{93,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{291,76},{93,73}}</string>
			<key>offset</key>
			<string>{2.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{93,73}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{195,76},{94,73}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{94,73}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,224},{95,72}}</string>
			<key>offset</key>
			<string>{3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{95,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,150},{96,72}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{96,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{97,73}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{97,73}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{100,1},{95,73}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{95,73}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{100,76},{93,74}}</string>
			<key>offset</key>
			<string>{2.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{93,74}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{197,1},{94,73}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{94,73}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{196,225},{95,71}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{95,71}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{98,225},{96,71}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{96,71}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,76},{97,72}}</string>
			<key>offset</key>
			<string>{2.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{97,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>evildawn_01_m_hatchling_bg/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{195,151},{95,72}}</string>
			<key>offset</key>
			<string>{2.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{95,72}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{387,444}</string>
		<key>textureFileName</key>
		<string>evildawn_01_m_hatchling_bg.png</string>
	</dict>
</dict>
</plist>
