<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireboar/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{396,132},{112,120}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{112,120}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{510,132},{120,104}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{120,104}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,120}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{140,120}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{132,140},{112,132}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{112,132}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{108,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{108,128}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{128,112}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{128,112}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{266,136},{128,116}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{128,116}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{88,124}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,12},{88,124}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{978,92},{84,88}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{84,88}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{112,128}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{112,128}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{108,128}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{108,128}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{104,128}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{104,128}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{616,132},{116,124}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{116,124}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{120,128}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{120,128}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{120,132}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{120,132}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{742,132},{116,124}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{116,124}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{116,128}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,128}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{116,136}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{116,136}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>fireboar/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{868,132},{108,116}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{108,116}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireboar.png</string>
            <key>size</key>
            <string>{1064,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7324ad03b005fbffe2bb5f77ace1f29e:23f2472731a594ccac393225b6ab8206:4f0fb34d084957f04093cd5d6e84dd92$</string>
            <key>textureFileName</key>
            <string>fireboar.png</string>
        </dict>
    </dict>
</plist>
