<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_05_f_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{177,888},{155,167}}</string>
			<key>offset</key>
			<string>{6.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,49},{155,167}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{478,882},{148,171}}</string>
			<key>offset</key>
			<string>{8,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,48},{148,171}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{838,768},{143,176}}</string>
			<key>offset</key>
			<string>{9.5,-29.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,47},{143,176}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{812,929},{140,180}}</string>
			<key>offset</key>
			<string>{10,-31.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,47},{140,180}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{628,929},{139,182}}</string>
			<key>offset</key>
			<string>{10.5,-33.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,48},{139,182}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{336,882},{140,185}}</string>
			<key>offset</key>
			<string>{11,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,48},{140,185}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{650,784},{143,186}}</string>
			<key>offset</key>
			<string>{10.5,-36.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,49},{143,186}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{187,700},{147,186}}</string>
			<key>offset</key>
			<string>{9.5,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,51},{147,186}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,642},{152,184}}</string>
			<key>offset</key>
			<string>{8,-39.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,53},{152,184}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{511,1},{158,181}}</string>
			<key>offset</key>
			<string>{7,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,55},{158,181}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{351,192},{164,177}}</string>
			<key>offset</key>
			<string>{5,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,57},{164,177}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,322},{169,173}}</string>
			<key>offset</key>
			<string>{3.5,-39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,58},{169,173}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{176,322},{173,168}}</string>
			<key>offset</key>
			<string>{2.5,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,59},{173,168}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{351,371},{176,163}}</string>
			<key>offset</key>
			<string>{2,-36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,60},{176,163}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{472,562},{176,159}}</string>
			<key>offset</key>
			<string>{2,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,60},{176,159}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{472,723},{176,157}}</string>
			<key>offset</key>
			<string>{2,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,59},{176,157}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1,796},{174,157}}</string>
			<key>offset</key>
			<string>{3,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,57},{174,157}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{671,1},{171,157}}</string>
			<key>offset</key>
			<string>{3.5,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,55},{171,157}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{669,370},{166,159}}</string>
			<key>offset</key>
			<string>{4,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,53},{166,159}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{673,160},{161,162}}</string>
			<key>offset</key>
			<string>{5.5,-26.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,51},{161,162}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{517,184},{184,154}}</string>
			<key>offset</key>
			<string>{6,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,31},{184,154}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{844,1},{184,128}}</string>
			<key>offset</key>
			<string>{5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,56},{184,128}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{837,386},{201,110}}</string>
			<key>offset</key>
			<string>{-4.5,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,74},{201,110}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{836,160},{214,110}}</string>
			<key>offset</key>
			<string>{-11,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,76},{214,110}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{650,562},{220,126}}</string>
			<key>offset</key>
			<string>{-13,-36.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-5,79},{220,126}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{338,549},{215,132}}</string>
			<key>offset</key>
			<string>{-9.5,-42.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,82},{215,132}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{198,492},{206,138}}</string>
			<key>offset</key>
			<string>{-4,-48.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,85},{206,138}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,493},{195,147}}</string>
			<key>offset</key>
			<string>{3.5,-55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,87},{195,147}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{516,371},{189,151}}</string>
			<key>offset</key>
			<string>{7.5,-59}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,89},{189,151}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{837,272},{199,112}}</string>
			<key>offset</key>
			<string>{3.5,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,88},{199,112}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{778,531},{235,112}}</string>
			<key>offset</key>
			<string>{-13.5,-37.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-13,87},{235,112}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,162},{192,158}}</string>
			<key>offset</key>
			<string>{7,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,40},{192,158}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{191,159}}</string>
			<key>offset</key>
			<string>{6.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,36},{191,159}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{195,1},{189,157}}</string>
			<key>offset</key>
			<string>{6.5,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,34},{189,157}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
		<key>illuide_05_f_adult_bk/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{354,1},{187,155}}</string>
			<key>offset</key>
			<string>{6.5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,33},{187,155}}</string>
			<key>sourceSize</key>
			<string>{236,211}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1051,1070}</string>
		<key>textureFileName</key>
		<string>illuide_05_f_adult_bk.png</string>
	</dict>
</dict>
</plist>
