<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signaturegoddragon/holding/holding_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{195,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/holding/holding_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{285,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{375,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{88,102}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1365,1},{88,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{465,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{555,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{645,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{735,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{825,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/move/move_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{915,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/move/move_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1005,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/move/move_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1095,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/move/move_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1185,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/touch/touch_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{375,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/touch/touch_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1275,1},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/touch/touch_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-7}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturegoddragon/touch/touch_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{92,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{101,1},{92,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>signaturegoddragon.png</string>
            <key>size</key>
            <string>{1454,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c972583685e1bb5311c9196910ab0365:c9840c0ef44ec05e31e0ea3187d270e6:2242f0cac049fd561515be7a5832835a$</string>
            <key>textureFileName</key>
            <string>signaturegoddragon.png</string>
        </dict>
    </dict>
</plist>
