<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_01_f_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{302,878},{156,161}}</string>
			<key>offset</key>
			<string>{7,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,46},{156,161}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{144,906},{149,165}}</string>
			<key>offset</key>
			<string>{8.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,45},{149,165}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{799,332},{144,170}}</string>
			<key>offset</key>
			<string>{10,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,44},{144,170}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{799,157},{142,173}}</string>
			<key>offset</key>
			<string>{11,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,44},{142,173}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,799},{141,177}}</string>
			<key>offset</key>
			<string>{11.5,-29.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,44},{141,177}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{511,864},{142,179}}</string>
			<key>offset</key>
			<string>{12,-31.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,45},{142,179}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{155,724},{145,180}}</string>
			<key>offset</key>
			<string>{11.5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,46},{145,180}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{529,683},{149,179}}</string>
			<key>offset</key>
			<string>{10.5,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,48},{149,179}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{643,174},{154,178}}</string>
			<key>offset</key>
			<string>{9,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,50},{154,178}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{368,527},{159,175}}</string>
			<key>offset</key>
			<string>{7.5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,52},{159,175}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{505,1},{165,171}}</string>
			<key>offset</key>
			<string>{5.5,-36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,54},{165,171}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{196,396},{170,167}}</string>
			<key>offset</key>
			<string>{4,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,55},{170,167}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,456},{175,162}}</string>
			<key>offset</key>
			<string>{3.5,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,56},{175,162}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{178,565},{177,157}}</string>
			<key>offset</key>
			<string>{2.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,57},{177,157}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{529,527},{178,154}}</string>
			<key>offset</key>
			<string>{2,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,57},{178,154}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,620},{177,152}}</string>
			<key>offset</key>
			<string>{2.5,-29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,56},{177,152}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{680,683},{175,151}}</string>
			<key>offset</key>
			<string>{3.5,-26.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,54},{175,151}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{357,704},{172,152}}</string>
			<key>offset</key>
			<string>{4,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,52},{172,152}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{672,1},{168,154}}</string>
			<key>offset</key>
			<string>{5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,50},{168,154}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{680,860},{162,157}}</string>
			<key>offset</key>
			<string>{6,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,48},{162,157}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{203,199},{195,149}}</string>
			<key>offset</key>
			<string>{11.5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,31},{195,149}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{842,1},{197,122}}</string>
			<key>offset</key>
			<string>{7.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,57},{197,122}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{943,125},{203,110}}</string>
			<key>offset</key>
			<string>{1.5,-21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,69},{203,110}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{833,629},{213,111}}</string>
			<key>offset</key>
			<string>{-6.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,70},{213,111}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{572,387},{217,125}}</string>
			<key>offset</key>
			<string>{-9.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,73},{217,125}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{509,174},{211,132}}</string>
			<key>offset</key>
			<string>{-6.5,-39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,76},{211,132}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{368,387},{202,138}}</string>
			<key>offset</key>
			<string>{-1,-45}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,79},{202,138}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{355,1},{191,148}}</string>
			<key>offset</key>
			<string>{6.5,-52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,81},{191,148}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{354,199},{186,153}}</string>
			<key>offset</key>
			<string>{11,-55.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,82},{186,153}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{833,742},{199,112}}</string>
			<key>offset</key>
			<string>{7.5,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,83},{199,112}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{709,514},{230,113}}</string>
			<key>offset</key>
			<string>{-6,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,81},{230,113}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,154},{200,147}}</string>
			<key>offset</key>
			<string>{11,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,45},{200,147}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{203,1},{196,150}}</string>
			<key>offset</key>
			<string>{14,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,39},{196,150}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{195,151}}</string>
			<key>offset</key>
			<string>{14.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,35},{195,151}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
		<key>illuide_01_f_adult_bk/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,303},{193,151}}</string>
			<key>offset</key>
			<string>{14.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,32},{193,151}}</string>
			<key>sourceSize</key>
			<string>{234,206}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1054,1072}</string>
		<key>textureFileName</key>
		<string>illuide_01_f_adult_bk.png</string>
	</dict>
</dict>
</plist>
