<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_02_m_prism_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1728,1},{243,175}}</string>
			<key>offset</key>
			<string>{9.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,36},{243,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{985,1},{247,174}}</string>
			<key>offset</key>
			<string>{10.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,36},{247,174}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,173},{249,175}}</string>
			<key>offset</key>
			<string>{11.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{249,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1476,1},{250,174}}</string>
			<key>offset</key>
			<string>{12,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{250,174}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{252,173},{250,175}}</string>
			<key>offset</key>
			<string>{12,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{250,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{504,176},{248,175}}</string>
			<key>offset</key>
			<string>{12,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,35},{248,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{736,1},{247,173}}</string>
			<key>offset</key>
			<string>{11.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,36},{247,173}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{245,169}}</string>
			<key>offset</key>
			<string>{10.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,38},{245,169}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{248,1},{243,170}}</string>
			<key>offset</key>
			<string>{10.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,37},{243,170}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{493,1},{241,170}}</string>
			<key>offset</key>
			<string>{9.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,36},{241,170}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1234,1},{240,174}}</string>
			<key>offset</key>
			<string>{10,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,32},{240,174}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{754,177},{241,178}}</string>
			<key>offset</key>
			<string>{10.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,28},{241,178}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1732,178},{241,182}}</string>
			<key>offset</key>
			<string>{10.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,25},{241,182}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{986,359},{242,185}}</string>
			<key>offset</key>
			<string>{11,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,22},{242,185}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{243,535},{242,187}}</string>
			<key>offset</key>
			<string>{11,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,20},{242,187}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{487,539},{242,188}}</string>
			<key>offset</key>
			<string>{11,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,20},{242,188}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{731,543},{242,188}}</string>
			<key>offset</key>
			<string>{11,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,21},{242,188}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{1230,359},{242,186}}</string>
			<key>offset</key>
			<string>{10,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{242,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{243,350},{242,183}}</string>
			<key>offset</key>
			<string>{10,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,27},{242,183}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{997,177},{242,180}}</string>
			<key>offset</key>
			<string>{9,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,31},{242,180}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1474,360},{247,186}}</string>
			<key>offset</key>
			<string>{6.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,30},{247,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{487,353},{248,184}}</string>
			<key>offset</key>
			<string>{5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,35},{248,184}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1723,362},{248,186}}</string>
			<key>offset</key>
			<string>{4,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,34},{248,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{737,357},{247,184}}</string>
			<key>offset</key>
			<string>{4.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,35},{247,184}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1241,177},{245,180}}</string>
			<key>offset</key>
			<string>{6.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,37},{245,180}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1488,178},{242,180}}</string>
			<key>offset</key>
			<string>{9,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,32},{242,180}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,350},{240,182}}</string>
			<key>offset</key>
			<string>{10,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,26},{240,182}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,534},{240,187}}</string>
			<key>offset</key>
			<string>{11,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{240,187}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1463,548},{241,190}}</string>
			<key>offset</key>
			<string>{11.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{241,190}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1706,550},{243,191}}</string>
			<key>offset</key>
			<string>{11.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,16},{243,191}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1219,547},{242,190}}</string>
			<key>offset</key>
			<string>{11,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{242,190}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_m_prism_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{975,546},{242,189}}</string>
			<key>offset</key>
			<string>{10,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{242,189}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1974,742}</string>
		<key>textureFileName</key>
		<string>makara_02_m_prism_w.png</string>
	</dict>
</dict>
</plist>
