<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_05_f_adult_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,838},{198,152}}</string>
			<key>offset</key>
			<string>{6,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,21},{198,152}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{238,1},{228,156}}</string>
			<key>offset</key>
			<string>{21,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,19},{228,156}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{244,685},{237,159}}</string>
			<key>offset</key>
			<string>{25.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,19},{237,159}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{251,351},{246,161}}</string>
			<key>offset</key>
			<string>{30,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,20},{246,161}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,354},{248,161}}</string>
			<key>offset</key>
			<string>{32,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,23},{248,161}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,517},{246,160}}</string>
			<key>offset</key>
			<string>{32,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,26},{246,160}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,679},{241,157}}</string>
			<key>offset</key>
			<string>{30.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,30},{241,157}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{698,1},{234,153}}</string>
			<key>offset</key>
			<string>{29,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,34},{234,153}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{499,347},{234,149}}</string>
			<key>offset</key>
			<string>{25,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,37},{234,149}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{699,156},{236,147}}</string>
			<key>offset</key>
			<string>{23,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,40},{236,147}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{701,681},{224,148}}</string>
			<key>offset</key>
			<string>{27,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,39},{224,148}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{897,831},{197,148}}</string>
			<key>offset</key>
			<string>{13.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,38},{197,148}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{935,305},{196,147}}</string>
			<key>offset</key>
			<string>{12,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,37},{196,147}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{927,612},{195,145}}</string>
			<key>offset</key>
			<string>{10.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,36},{195,145}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{937,153},{195,146}}</string>
			<key>offset</key>
			<string>{8.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,32},{195,146}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{901,462},{195,148}}</string>
			<key>offset</key>
			<string>{7.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,28},{195,148}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{934,1},{196,150}}</string>
			<key>offset</key>
			<string>{6,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,24},{196,150}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{701,831},{194,154}}</string>
			<key>offset</key>
			<string>{15,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,15},{194,154}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{483,685},{216,159}}</string>
			<key>offset</key>
			<string>{28,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,14},{216,159}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{468,178},{229,167}}</string>
			<key>offset</key>
			<string>{36.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,13},{229,167}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{235,174}}</string>
			<key>offset</key>
			<string>{42.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,13},{235,174}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{468,1},{228,175}}</string>
			<key>offset</key>
			<string>{42,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,14},{228,175}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,177},{230,175}}</string>
			<key>offset</key>
			<string>{35,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,15},{230,175}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{233,177},{233,172}}</string>
			<key>offset</key>
			<string>{29.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,16},{233,172}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{251,514},{234,169}}</string>
			<key>offset</key>
			<string>{25,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,16},{234,169}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{487,514},{213,165}}</string>
			<key>offset</key>
			<string>{33.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,17},{213,165}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{702,498},{197,160}}</string>
			<key>offset</key>
			<string>{22.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,17},{197,160}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{735,305},{198,155}}</string>
			<key>offset</key>
			<string>{19,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,17},{198,155}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{398,846},{196,151}}</string>
			<key>offset</key>
			<string>{16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,17},{196,151}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
		<key>makoa_05_f_adult_pb/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{201,846},{195,152}}</string>
			<key>offset</key>
			<string>{14.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,16},{195,152}}</string>
			<key>sourceSize</key>
			<string>{260,185}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1133,999}</string>
		<key>textureFileName</key>
		<string>makoa_05_f_adult_pb.png</string>
	</dict>
</dict>
</plist>
