<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whitesheep/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{116,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{112,88}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{112,88}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,88}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,88}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{128,88}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{128,88}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{120,794},{112,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{112,92}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{116,888},{112,84}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{112,84}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{136,80}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{136,80}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{136,80}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{136,80}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{116,84}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{116,84}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{120,622},{116,84}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{116,84}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{116,84}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{116,84}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{120,708},{116,84}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{116,84}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{116,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{140,120},{112,96}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{140,234},{112,96}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{120,442},{116,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{116,84}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{116,84}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{116,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{120,532},{116,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{116,88}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{116,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{116,92}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{116,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>whitesheep/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{120,348},{116,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{116,92}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>whitesheep.png</string>
            <key>size</key>
            <string>{238,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db88e2a7c38d4b7ff7021a7804010368:06749857c9de982931353f2e8581c486:991df44b30045503f3c1e95b2d9036e2$</string>
            <key>textureFileName</key>
            <string>whitesheep.png</string>
        </dict>
    </dict>
</plist>
