<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{131,259},{123,127}}</string>
			<key>offset</key>
			<string>{12.5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,4},{123,127}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{258,128},{124,126}}</string>
			<key>offset</key>
			<string>{13,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{124,126}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{258,1},{125,125}}</string>
			<key>offset</key>
			<string>{13.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,6},{125,125}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{260,256},{124,124}}</string>
			<key>offset</key>
			<string>{13,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,7},{124,124}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{509,253},{122,122}}</string>
			<key>offset</key>
			<string>{12,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,9},{122,122}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{510,377},{122,120}}</string>
			<key>offset</key>
			<string>{11,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,11},{122,120}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{510,499},{123,118}}</string>
			<key>offset</key>
			<string>{11.5,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,13},{123,118}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{635,124},{123,117}}</string>
			<key>offset</key>
			<string>{11.5,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,14},{123,117}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{635,380},{124,116}}</string>
			<key>offset</key>
			<string>{12,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{124,116}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{634,253},{125,116}}</string>
			<key>offset</key>
			<string>{12.5,-7.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{125,116}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{510,1},{128,117}}</string>
			<key>offset</key>
			<string>{14,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,14},{128,117}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{254,384},{129,120}}</string>
			<key>offset</key>
			<string>{14.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,11},{129,120}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,130},{128,125}}</string>
			<key>offset</key>
			<string>{14,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,6},{128,125}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{127,127}}</string>
			<key>offset</key>
			<string>{13.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,4},{127,127}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,257},{124,128}}</string>
			<key>offset</key>
			<string>{12,-1.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,3},{124,128}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{386,253},{121,126}}</string>
			<key>offset</key>
			<string>{11.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{121,126}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{254,506},{121,126}}</string>
			<key>offset</key>
			<string>{11.5,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,5},{121,126}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{385,1},{121,125}}</string>
			<key>offset</key>
			<string>{11.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{121,125}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{384,128},{124,123}}</string>
			<key>offset</key>
			<string>{11,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,7},{124,123}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{382,509},{126,121}}</string>
			<key>offset</key>
			<string>{12,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,10},{126,121}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,510},{125,121}}</string>
			<key>offset</key>
			<string>{12.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,10},{125,121}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{385,382},{125,123}}</string>
			<key>offset</key>
			<string>{10.5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,8},{125,123}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{131,130},{125,127}}</string>
			<key>offset</key>
			<string>{9.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,5},{125,127}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{130,1},{126,127}}</string>
			<key>offset</key>
			<string>{9,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,5},{126,127}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,383},{124,125}}</string>
			<key>offset</key>
			<string>{11,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,7},{124,125}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{127,384},{125,124}}</string>
			<key>offset</key>
			<string>{11.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,9},{125,124}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{510,131},{123,120}}</string>
			<key>offset</key>
			<string>{12.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,10},{123,120}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{629,1},{121,121}}</string>
			<key>offset</key>
			<string>{12.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{121,121}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>blackholedragon_02_m_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{128,510},{120,124}}</string>
			<key>offset</key>
			<string>{12,-1.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,5},{120,124}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{753,632}</string>
		<key>textureFileName</key>
		<string>blackholedragon_02_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
