<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_02_f_hatch_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{147,229},{70,43}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{70,43}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{234,1},{70,43}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{70,43}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{227,181},{70,43}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{70,43}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,230},{71,42}}</string>
			<key>offset</key>
			<string>{8.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{71,42}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{74,230},{71,42}}</string>
			<key>offset</key>
			<string>{8.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{71,42}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{219,226},{70,42}}</string>
			<key>offset</key>
			<string>{8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{70,42}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,274},{70,42}}</string>
			<key>offset</key>
			<string>{8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{70,42}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{73,274},{70,42}}</string>
			<key>offset</key>
			<string>{8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{70,42}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{145,274},{70,42}}</string>
			<key>offset</key>
			<string>{8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{70,42}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{217,274},{70,42}}</string>
			<key>offset</key>
			<string>{8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{70,42}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{234,46},{70,43}}</string>
			<key>offset</key>
			<string>{8,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{70,43}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{154,116},{71,43}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{71,43}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{232,91},{70,43}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{70,43}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{227,136},{70,43}}</string>
			<key>offset</key>
			<string>{9,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{70,43}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{154,161},{71,43}}</string>
			<key>offset</key>
			<string>{8.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{71,43}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{76,54}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{76,54}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{79,57},{75,55}}</string>
			<key>offset</key>
			<string>{-1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{75,55}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{78,114},{74,54}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{74,54}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{156,60},{74,54}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,5},{74,54}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,57},{76,55}}</string>
			<key>offset</key>
			<string>{-2,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,4},{76,55}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,114},{75,56}}</string>
			<key>offset</key>
			<string>{-1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{75,56}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{157,1},{75,57}}</string>
			<key>offset</key>
			<string>{-1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{75,57}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,172},{74,56}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{74,56}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{77,172},{74,55}}</string>
			<key>offset</key>
			<string>{-2,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,4},{74,55}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
		<key>illuide_02_f_hatch_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{79,1},{76,54}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,5},{76,54}}</string>
			<key>sourceSize</key>
			<string>{76,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{305,317}</string>
		<key>textureFileName</key>
		<string>illuide_02_f_hatch_bk.png</string>
	</dict>
</dict>
</plist>
