<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signaturepinkbell/holding/holding_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{156,126}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,39},{156,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/holding/holding_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{156,120}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,45},{156,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{166,120}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,45},{166,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{156,126}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{156,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{156,120}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,55},{156,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{166,116}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,54},{166,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{160,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,40},{160,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,126}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,44},{160,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{170,126}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,44},{170,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/touch/touch_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{140,126}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,44},{140,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/touch/touch_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,136}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,44},{150,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>signaturepinkbell/touch/touch_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{166,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{166,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signaturepinkbell.png</string>
            <key>size</key>
            <string>{140,1928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403221a773ec0ce6fafaae8397fdf0eb:200317c9ad0c14a6edad9746b561d72a:118835a06085e0b4eadb18e24c0992cf$</string>
            <key>textureFileName</key>
            <string>signaturepinkbell.png</string>
        </dict>
    </dict>
</plist>
