<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_02_f_hatch_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{697,1},{62,54}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{62,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{761,1},{74,54}}</string>
			<key>offset</key>
			<string>{4,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{74,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1272,1},{64,55}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,4},{64,55}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{902,1},{64,54}}</string>
			<key>offset</key>
			<string>{9,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,5},{64,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1338,1},{74,55}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{74,55}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{968,1},{74,54}}</string>
			<key>offset</key>
			<string>{4,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{74,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1},{74,54}}</string>
			<key>offset</key>
			<string>{4,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{74,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{359,1},{74,53}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{74,53}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{435,1},{74,53}}</string>
			<key>offset</key>
			<string>{4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{74,53}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1120,1},{74,54}}</string>
			<key>offset</key>
			<string>{4,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{74,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1196,1},{74,55}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{74,55}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1414,1},{74,56}}</string>
			<key>offset</key>
			<string>{4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{74,56}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1490,1},{74,57}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{74,57}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1566,1},{74,58}}</string>
			<key>offset</key>
			<string>{4,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{74,58}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{837,1},{63,54}}</string>
			<key>offset</key>
			<string>{-1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{63,54}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{511,1},{60,53}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{60,53}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{573,1},{60,53}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{60,53}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{635,1},{60,53}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{60,53}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{61,1},{59,52}}</string>
			<key>offset</key>
			<string>{-3.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{59,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{58,51}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{58,51}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{122,1},{57,52}}</string>
			<key>offset</key>
			<string>{-5.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,9},{57,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{181,1},{57,52}}</string>
			<key>offset</key>
			<string>{-5.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,8},{57,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{240,1},{57,52}}</string>
			<key>offset</key>
			<string>{-4.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{57,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>sirius_02_f_hatch_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{299,1},{58,52}}</string>
			<key>offset</key>
			<string>{-4,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{58,52}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1641,60}</string>
		<key>textureFileName</key>
		<string>sirius_02_f_hatch_w.png</string>
	</dict>
</dict>
</plist>
