<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anurhada_02_m_prism_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1484,185},{188,188}}</string>
			<key>offset</key>
			<string>{28,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,22},{188,188}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{741,181},{187,185}}</string>
			<key>offset</key>
			<string>{27.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,25},{187,185}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1459,1},{186,182}}</string>
			<key>offset</key>
			<string>{27,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,29},{186,182}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1272,1},{185,180}}</string>
			<key>offset</key>
			<string>{25.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,32},{185,180}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{906,1},{183,178}}</string>
			<key>offset</key>
			<string>{25.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,34},{183,178}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{543,1},{181,177}}</string>
			<key>offset</key>
			<string>{24.5,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,36},{181,177}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{180,174}}</string>
			<key>offset</key>
			<string>{24,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,39},{180,174}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{183,1},{178,174}}</string>
			<key>offset</key>
			<string>{24,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,40},{178,174}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{363,1},{178,175}}</string>
			<key>offset</key>
			<string>{24,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,40},{178,175}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{726,1},{178,177}}</string>
			<key>offset</key>
			<string>{24,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,38},{178,177}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1091,1},{179,180}}</string>
			<key>offset</key>
			<string>{24.5,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,35},{179,180}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,177},{179,183}}</string>
			<key>offset</key>
			<string>{25.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,32},{179,183}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1117,183},{181,187}}</string>
			<key>offset</key>
			<string>{25.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,28},{181,187}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1674,185},{182,188}}</string>
			<key>offset</key>
			<string>{26,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,25},{182,188}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1858,185},{183,189}}</string>
			<key>offset</key>
			<string>{26.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,23},{183,189}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{368,366},{185,190}}</string>
			<key>offset</key>
			<string>{27.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,21},{185,190}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{555,368},{186,190}}</string>
			<key>offset</key>
			<string>{28,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,20},{186,190}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{930,372},{186,190}}</string>
			<key>offset</key>
			<string>{28,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,20},{186,190}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1300,375},{184,194}}</string>
			<key>offset</key>
			<string>{14,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,21},{184,194}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{743,368},{185,190}}</string>
			<key>offset</key>
			<string>{13.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,24},{185,190}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{930,183},{185,186}}</string>
			<key>offset</key>
			<string>{12.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,29},{185,186}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{368,180},{186,184}}</string>
			<key>offset</key>
			<string>{11,-22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,33},{186,184}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1647,1},{186,182}}</string>
			<key>offset</key>
			<string>{9,-25.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,37},{186,182}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1835,1},{185,182}}</string>
			<key>offset</key>
			<string>{7.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,39},{185,182}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{182,178},{184,183}}</string>
			<key>offset</key>
			<string>{7,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,39},{184,183}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{556,180},{183,184}}</string>
			<key>offset</key>
			<string>{7.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,38},{183,184}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1300,185},{182,187}}</string>
			<key>offset</key>
			<string>{8,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,34},{182,187}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,363},{182,189}}</string>
			<key>offset</key>
			<string>{9,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,31},{182,189}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{185,363},{181,192}}</string>
			<key>offset</key>
			<string>{10.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,27},{181,192}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1118,372},{180,195}}</string>
			<key>offset</key>
			<string>{12,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,23},{180,195}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1486,375},{181,195}}</string>
			<key>offset</key>
			<string>{13.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{181,195}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
		<key>anurhada_02_m_prism_w/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{1669,375},{182,195}}</string>
			<key>offset</key>
			<string>{14,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{182,195}}</string>
			<key>sourceSize</key>
			<string>{194,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2042,571}</string>
		<key>textureFileName</key>
		<string>anurhada_02_m_prism_w.png</string>
	</dict>
</dict>
</plist>
