<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_04_f_adult_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{513,874},{156,164}}</string>
			<key>offset</key>
			<string>{5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,42},{156,164}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,936},{154,169}}</string>
			<key>offset</key>
			<string>{4,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,41},{154,169}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{188,774},{159,173}}</string>
			<key>offset</key>
			<string>{0.5,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,41},{159,173}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{352,749},{159,177}}</string>
			<key>offset</key>
			<string>{0.5,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,41},{159,177}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{519,345},{158,181}}</string>
			<key>offset</key>
			<string>{1,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,41},{158,181}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,454},{158,184}}</string>
			<key>offset</key>
			<string>{2,-31.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,42},{158,184}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{359,388},{158,186}}</string>
			<key>offset</key>
			<string>{2,-33.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,43},{158,186}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,782},{152,185}}</string>
			<key>offset</key>
			<string>{6,-35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,45},{152,185}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{660,1},{155,184}}</string>
			<key>offset</key>
			<string>{6.5,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,46},{155,184}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{528,528},{157,181}}</string>
			<key>offset</key>
			<string>{6.5,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,48},{157,181}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{187,595},{163,177}}</string>
			<key>offset</key>
			<string>{4.5,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,50},{163,177}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{357,576},{169,171}}</string>
			<key>offset</key>
			<string>{3.5,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,52},{169,171}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,614},{173,166}}</string>
			<key>offset</key>
			<string>{2.5,-33.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,53},{173,166}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{528,711},{176,161}}</string>
			<key>offset</key>
			<string>{2,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,53},{176,161}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{706,641},{177,157}}</string>
			<key>offset</key>
			<string>{1.5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,53},{177,157}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{809,407},{176,154}}</string>
			<key>offset</key>
			<string>{2,-26.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,52},{176,154}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{811,187},{173,153}}</string>
			<key>offset</key>
			<string>{2.5,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,51},{173,153}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{817,1},{170,154}}</string>
			<key>offset</key>
			<string>{3,-23.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,49},{170,154}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{706,800},{166,156}}</string>
			<key>offset</key>
			<string>{4,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,46},{166,156}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{349,928},{160,159}}</string>
			<key>offset</key>
			<string>{5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,44},{160,159}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{206,397},{196,149}}</string>
			<key>offset</key>
			<string>{13,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,31},{196,149}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{671,958},{199,122}}</string>
			<key>offset</key>
			<string>{8.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,57},{199,122}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{885,585},{204,113}}</string>
			<key>offset</key>
			<string>{2,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,66},{204,113}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{872,958},{215,112}}</string>
			<key>offset</key>
			<string>{-5.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,68},{215,112}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{679,187},{218,130}}</string>
			<key>offset</key>
			<string>{-9,-32.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,70},{218,130}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{369,1},{213,137}}</string>
			<key>offset</key>
			<string>{-5.5,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,72},{213,137}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{515,140},{203,143}}</string>
			<key>offset</key>
			<string>{-0.5,-43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,74},{203,143}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{359,195},{191,154}}</string>
			<key>offset</key>
			<string>{7.5,-49.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,75},{191,154}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{208,1},{192,159}}</string>
			<key>offset</key>
			<string>{10,-53}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,76},{192,159}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{874,800},{200,120}}</string>
			<key>offset</key>
			<string>{9,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,75},{200,120}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{687,407},{232,120}}</string>
			<key>offset</key>
			<string>{-5,-31.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,74},{232,120}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,305},{203,147}}</string>
			<key>offset</key>
			<string>{11.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,45},{203,147}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{205,150}}</string>
			<key>offset</key>
			<string>{12.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,39},{205,150}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,153},{204,150}}</string>
			<key>offset</key>
			<string>{13,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,35},{204,150}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
		<key>illuide_04_f_adult_r/move/move_15</key>
		<dict>
			<key>frame</key>
			<string>{{207,195},{200,150}}</string>
			<key>offset</key>
			<string>{14,-4.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,32},{200,150}}</string>
			<key>sourceSize</key>
			<string>{236,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1090,1106}</string>
		<key>textureFileName</key>
		<string>illuide_04_f_adult_r.png</string>
	</dict>
</dict>
</plist>
