<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zone_03/mountain_of_fire_basalt_01</key>
            <dict>
                <key>frame</key>
                <string>{{258,982},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>zone_03/mountain_of_fire_basalt_02</key>
            <dict>
                <key>frame</key>
                <string>{{144,1562},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>zone_03/mountain_of_fire_basalt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,184}}</string>
                <key>sourceSize</key>
                <string>{216,184}</string>
            </dict>
            <key>zone_03/mountain_of_fire_bomb_01</key>
            <dict>
                <key>frame</key>
                <string>{{242,1830},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>zone_03/mountain_of_fire_bomb_02</key>
            <dict>
                <key>frame</key>
                <string>{{242,1470},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>zone_03/mountain_of_fire_bomb_03</key>
            <dict>
                <key>frame</key>
                <string>{{242,164},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>zone_03/mountain_of_fire_caroot_01</key>
            <dict>
                <key>frame</key>
                <string>{{160,1696},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>zone_03/mountain_of_fire_caroot_02</key>
            <dict>
                <key>frame</key>
                <string>{{140,1326},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>zone_03/mountain_of_fire_caroot_03</key>
            <dict>
                <key>frame</key>
                <string>{{216,262},{136,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,152}}</string>
                <key>sourceSize</key>
                <string>{136,152}</string>
            </dict>
            <key>zone_03/mountain_of_fire_charcoal_01</key>
            <dict>
                <key>frame</key>
                <string>{{278,1654},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>zone_03/mountain_of_fire_charcoal_02</key>
            <dict>
                <key>frame</key>
                <string>{{148,770},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>zone_03/mountain_of_fire_charcoal_03</key>
            <dict>
                <key>frame</key>
                <string>{{204,416},{132,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,148}}</string>
                <key>sourceSize</key>
                <string>{132,148}</string>
            </dict>
            <key>zone_03/mountain_of_fire_crater_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>zone_03/mountain_of_fire_crater_02</key>
            <dict>
                <key>frame</key>
                <string>{{242,1202},{136,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,104}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
            <key>zone_03/mountain_of_fire_crater_03</key>
            <dict>
                <key>frame</key>
                <string>{{188,550},{152,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,124}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>zone_03/mountain_of_fire_firewood_01</key>
            <dict>
                <key>frame</key>
                <string>{{132,1926},{112,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>zone_03/mountain_of_fire_firewood_02</key>
            <dict>
                <key>frame</key>
                <string>{{242,1340},{104,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{104,128}</string>
            </dict>
            <key>zone_03/mountain_of_fire_firewood_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{140,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,184}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>zone_03/mountain_of_fire_hellgate_01</key>
            <dict>
                <key>frame</key>
                <string>{{262,1552},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>zone_03/mountain_of_fire_hellgate_02</key>
            <dict>
                <key>frame</key>
                <string>{{188,676},{92,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,152}}</string>
                <key>sourceSize</key>
                <string>{92,152}</string>
            </dict>
            <key>zone_03/mountain_of_fire_hellgate_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1764},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,160}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>zone_03/mountain_of_fire_ironstone_01</key>
            <dict>
                <key>frame</key>
                <string>{{140,1468},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>zone_03/mountain_of_fire_ironstone_02</key>
            <dict>
                <key>frame</key>
                <string>{{136,1050},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>zone_03/mountain_of_fire_ironstone_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,188}}</string>
                <key>sourceSize</key>
                <string>{184,188}</string>
            </dict>
            <key>zone_03/mountain_of_fire_reddragonbone_01</key>
            <dict>
                <key>frame</key>
                <string>{{258,880},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>zone_03/mountain_of_fire_reddragonbone_02</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{160,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,124}}</string>
                <key>sourceSize</key>
                <string>{160,124}</string>
            </dict>
            <key>zone_03/mountain_of_fire_reddragonbone_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>zone_03/mountain_of_fire_signature_01</key>
            <dict>
                <key>frame</key>
                <string>{{258,1072},{128,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>zone_03/mountain_of_fire_signature_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{200,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>zone_03/mountain_of_fire_signature_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{132,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,212}}</string>
                <key>sourceSize</key>
                <string>{132,212}</string>
            </dict>
            <key>zone_03/mountain_of_fire_thunderdragonbone_01</key>
            <dict>
                <key>frame</key>
                <string>{{148,916},{132,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,108}}</string>
                <key>sourceSize</key>
                <string>{132,108}</string>
            </dict>
            <key>zone_03/mountain_of_fire_thunderdragonbone_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{200,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,176}</string>
            </dict>
            <key>zone_03/mountain_of_fire_thunderdragonbone_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{212,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,180}}</string>
                <key>sourceSize</key>
                <string>{212,180}</string>
            </dict>
            <key>zone_03/mountain_of_fire_thunderwood_01</key>
            <dict>
                <key>frame</key>
                <string>{{258,770},{96,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,108}}</string>
                <key>sourceSize</key>
                <string>{96,108}</string>
            </dict>
            <key>zone_03/mountain_of_fire_thunderwood_02</key>
            <dict>
                <key>frame</key>
                <string>{{132,1180},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>zone_03/mountain_of_fire_thunderwood_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{128,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,216}}</string>
                <key>sourceSize</key>
                <string>{128,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zone_03.png</string>
            <key>size</key>
            <string>{356,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:154feef5bcfa6775a57d0680d3644433:6018078ba5bdd9e1880f4859ae13802a:f108893534085434f271bc068cd96f16$</string>
            <key>textureFileName</key>
            <string>zone_03.png</string>
        </dict>
    </dict>
</plist>
