<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_05_m_hatchling_y/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{421,108},{133,113}}</string>
			<key>offset</key>
			<string>{10.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,10},{133,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{966,111},{132,116}}</string>
			<key>offset</key>
			<string>{10,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{132,116}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1100,111},{132,117}}</string>
			<key>offset</key>
			<string>{10,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{132,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1234,112},{130,117}}</string>
			<key>offset</key>
			<string>{10,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{130,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1366,112},{130,117}}</string>
			<key>offset</key>
			<string>{10,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{130,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{835,110},{129,115}}</string>
			<key>offset</key>
			<string>{9.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,11},{129,115}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{556,109},{130,113}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,14},{130,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,102},{131,111}}</string>
			<key>offset</key>
			<string>{9.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,17},{131,111}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1577,1},{132,110}}</string>
			<key>offset</key>
			<string>{9,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{132,110}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1300,1},{132,109}}</string>
			<key>offset</key>
			<string>{9,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{132,109}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1028,1},{134,108}}</string>
			<key>offset</key>
			<string>{9,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,20},{134,108}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{601,1},{134,106}}</string>
			<key>offset</key>
			<string>{9,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,20},{134,106}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{891,1},{135,107}}</string>
			<key>offset</key>
			<string>{9.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{135,107}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1164,1},{134,108}}</string>
			<key>offset</key>
			<string>{10,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{134,108}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1862,1},{134,111}}</string>
			<key>offset</key>
			<string>{10,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,13},{134,111}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1711,1},{149,110}}</string>
			<key>offset</key>
			<string>{6.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{149,110}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{688,109},{145,113}}</string>
			<key>offset</key>
			<string>{6.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{145,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{134,105},{142,112}}</string>
			<key>offset</key>
			<string>{6,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{142,112}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{278,105},{141,112}}</string>
			<key>offset</key>
			<string>{5.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{141,112}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1434,1},{141,109}}</string>
			<key>offset</key>
			<string>{4.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,20},{141,109}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{456,1},{143,105}}</string>
			<key>offset</key>
			<string>{4.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{143,105}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{153,1},{147,102}}</string>
			<key>offset</key>
			<string>{4.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,28},{147,102}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{150,99}}</string>
			<key>offset</key>
			<string>{5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,28},{150,99}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{302,1},{152,102}}</string>
			<key>offset</key>
			<string>{6,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{152,102}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_05_m_hatchling_y/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{737,1},{152,106}}</string>
			<key>offset</key>
			<string>{6,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{152,106}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1997,230}</string>
		<key>textureFileName</key>
		<string>illuide_05_m_hatchling_y.png</string>
	</dict>
</dict>
</plist>
