<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zeusjr_03/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{1558,220},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{1122,248},{224,216}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,120},{224,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{312,184}}</string>
                <key>offset</key>
                <string>{-36,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{312,184}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{316,674},{316,192}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,148},{316,192}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{634,670},{280,184}}</string>
                <key>offset</key>
                <string>{-40,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,152},{280,184}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{212,336}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{212,336}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{212,332}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{212,332}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{690,336},{212,332}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{212,332}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{254,340},{216,332}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,12},{216,332}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{472,340},{216,328}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,12},{216,328}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{254,340},{216,332}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,12},{216,332}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{472,340},{216,328}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,12},{216,328}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{250,340}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{250,340}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_09</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,336}}</string>
                <key>offset</key>
                <string>{-32,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{264,336}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_10</key>
            <dict>
                <key>frame</key>
                <string>{{1134,474},{212,224}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,116},{212,224}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_11</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{242,280}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{242,280}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_12</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{212,228}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,112},{212,228}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/die/die_13</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,124},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{1772,220},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,120},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{1340,232},{216,216}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{216,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{916,538},{232,216}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,120},{232,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{1804,2},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,120},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{1772,434},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,116},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{1562,648},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,108},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{1776,648},{212,216}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,112},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{216,216}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,116},{216,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{244,216}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,120},{244,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{904,284},{252,216}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,120},{252,216}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
            <key>zeusjr_03/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{1348,450},{212,220}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,116},{212,220}}</string>
                <key>sourceSize</key>
                <string>{384,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zeusjr_03.png</string>
            <key>size</key>
            <string>{2018,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:992d9cb2e27c3e9537310ec38e821665:372f4b685acbacdbf81b999701639742:c181d7ee55fcd15cce6bfccff2dc3fc1$</string>
            <key>textureFileName</key>
            <string>zeusjr_03.png</string>
        </dict>
    </dict>
</plist>
