<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>burningskull/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-13}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{609,1},{122,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burningskull/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{126,130}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{585,125},{126,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{169,1},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{166,156}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-17}</string>
                <key>spriteSize</key>
                <string>{162,122}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{305,1},{162,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{130,138}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{445,125},{130,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burningskull/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{138,130}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{305,125},{138,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-17}</string>
                <key>spriteSize</key>
                <string>{138,122}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{469,1},{138,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{126,130}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{713,125},{126,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{126,134}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{1305,1},{126,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burningskull/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-49}</string>
                <key>spriteSize</key>
                <string>{126,58}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{1325,129},{126,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burningskull/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{841,125},{118,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{130,138}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{445,125},{130,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burningskull/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{1069,129},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-13}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{609,1},{122,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burningskull/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-15}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{1197,129},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-13}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{741,1},{122,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burningskull/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{142,110}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{873,1},{142,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{142,106}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{961,113},{142,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burningskull/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{142,106}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{1017,1},{142,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burningskull/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{142,102}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{1161,1},{142,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>burningskull.png</string>
            <key>size</key>
            <string>{1440,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c392e3a537e22db6583dcecc236392c:26b0a71a883eedb7d09cba83ea629b0b:26e0ce106f29c333fe7e53509c0a28a5$</string>
            <key>textureFileName</key>
            <string>burningskull.png</string>
        </dict>
    </dict>
</plist>
