<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_03_m_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{421,108},{133,113}}</string>
			<key>offset</key>
			<string>{10.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,10},{133,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{966,111},{132,116}}</string>
			<key>offset</key>
			<string>{10,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{132,116}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1100,111},{132,117}}</string>
			<key>offset</key>
			<string>{10,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{132,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1234,112},{130,117}}</string>
			<key>offset</key>
			<string>{10,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{130,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1366,112},{130,117}}</string>
			<key>offset</key>
			<string>{10,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{130,117}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{835,110},{129,115}}</string>
			<key>offset</key>
			<string>{9.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,11},{129,115}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{556,109},{130,113}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,14},{130,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,102},{130,111}}</string>
			<key>offset</key>
			<string>{9,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,17},{130,111}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1567,1},{131,110}}</string>
			<key>offset</key>
			<string>{8.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{131,110}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1291,1},{131,109}}</string>
			<key>offset</key>
			<string>{8.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{131,109}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1022,1},{132,108}}</string>
			<key>offset</key>
			<string>{8,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,20},{132,108}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{597,1},{133,106}}</string>
			<key>offset</key>
			<string>{8.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,20},{133,106}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{886,1},{134,107}}</string>
			<key>offset</key>
			<string>{9,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{134,107}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1156,1},{133,108}}</string>
			<key>offset</key>
			<string>{9.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{133,108}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1851,1},{134,111}}</string>
			<key>offset</key>
			<string>{10,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,13},{134,111}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1700,1},{149,110}}</string>
			<key>offset</key>
			<string>{6.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{149,110}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{688,109},{145,113}}</string>
			<key>offset</key>
			<string>{6.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{145,113}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{133,105},{143,112}}</string>
			<key>offset</key>
			<string>{6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{143,112}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{278,105},{141,112}}</string>
			<key>offset</key>
			<string>{5.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{141,112}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1424,1},{141,109}}</string>
			<key>offset</key>
			<string>{4.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,20},{141,109}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{453,1},{142,105}}</string>
			<key>offset</key>
			<string>{4,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{142,105}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{152,1},{146,102}}</string>
			<key>offset</key>
			<string>{4,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,28},{146,102}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{149,99}}</string>
			<key>offset</key>
			<string>{4.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,28},{149,99}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{300,1},{151,102}}</string>
			<key>offset</key>
			<string>{5.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{151,102}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
		<key>illuide_03_m_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{732,1},{152,106}}</string>
			<key>offset</key>
			<string>{6,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{152,106}}</string>
			<key>sourceSize</key>
			<string>{154,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1986,230}</string>
		<key>textureFileName</key>
		<string>illuide_03_m_hatchling_w.png</string>
	</dict>
</dict>
</plist>
