<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guntoad/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{168,140}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{168,140}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{1072,144},{164,148}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{164,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{184,144}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{184,144}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{192,140}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{192,140}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{1826,156},{136,152}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{136,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{860,148},{136,144}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{136,144}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{168,144}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{168,144}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{244,80}}</string>
                <key>offset</key>
                <string>{-20,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,76},{244,80}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{260,84}}</string>
                <key>offset</key>
                <string>{-20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,72},{260,84}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,84}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{272,84}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{236,84}}</string>
                <key>offset</key>
                <string>{-40,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{236,84}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{140,152}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{1826,156},{136,152}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,0},{136,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{860,148},{136,144}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,8},{136,144}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{1388,144},{144,148}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{144,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{140,152}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{1858,2},{144,152}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{1534,144},{144,148}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{144,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/idle/idle_05</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{140,152}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/idle/idle_06</key>
            <dict>
                <key>frame</key>
                <string>{{264,148},{144,152}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{1680,144},{144,148}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{144,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{418,144},{144,148}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{144,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{140,152}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{1238,144},{148,148}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,4},{148,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{564,144},{144,148}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{144,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{710,148},{144,148}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,4},{144,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/move/move_07</key>
            <dict>
                <key>frame</key>
                <string>{{1704,2},{140,152}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
            <key>guntoad/move/move_08</key>
            <dict>
                <key>frame</key>
                <string>{{1238,144},{148,148}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,4},{148,148}}</string>
                <key>sourceSize</key>
                <string>{316,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guntoad.png</string>
            <key>size</key>
            <string>{2004,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b3a51773f48b2a9f6c0e5b838103e93:50cb99307ea549200a01c1fbaed34922:697d8882f5e5fc3f59fcdb641cc05f2f$</string>
            <key>textureFileName</key>
            <string>guntoad.png</string>
        </dict>
    </dict>
</plist>
