<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,142},{86,69}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{86,69}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{179,1},{86,69}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{86,69}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,282},{85,69}}</string>
			<key>offset</key>
			<string>{3.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{85,69}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{177,284},{85,69}}</string>
			<key>offset</key>
			<string>{3.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{85,69}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{353,143},{84,69}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{84,69}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,356},{84,69}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{84,69}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{353,214},{84,68}}</string>
			<key>offset</key>
			<string>{3,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{84,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{267,143},{84,67}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{84,67}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{264,354},{84,67}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{84,67}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,213},{86,67}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{86,67}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{89,146},{86,67}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{86,67}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{179,72},{86,68}}</string>
			<key>offset</key>
			<string>{2,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{86,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{87,68}}</string>
			<key>offset</key>
			<string>{2.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{87,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{179,142},{86,68}}</string>
			<key>offset</key>
			<string>{3,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{86,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,71},{87,69}}</string>
			<key>offset</key>
			<string>{3.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{87,69}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{177,212},{86,70}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{86,70}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{265,212},{86,70}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{86,70}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{355,71},{85,70}}</string>
			<key>offset</key>
			<string>{3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{85,70}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{267,71},{86,70}}</string>
			<key>offset</key>
			<string>{3,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{86,70}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{90,1},{87,70}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{87,70}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{90,73},{87,71}}</string>
			<key>offset</key>
			<string>{2.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{87,71}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{89,215},{86,71}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{86,71}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{351,284},{85,70}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{85,70}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{87,355},{84,70}}</string>
			<key>offset</key>
			<string>{2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{84,70}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{173,355},{83,68}}</string>
			<key>offset</key>
			<string>{2.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{83,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{350,356},{84,68}}</string>
			<key>offset</key>
			<string>{2,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{84,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{264,284},{85,68}}</string>
			<key>offset</key>
			<string>{1.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{85,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{355,1},{85,68}}</string>
			<key>offset</key>
			<string>{1.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{85,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>flamber_01_m_hatchling_yr/move/move_14</key>
		<dict>
			<key>frame</key>
			<string>{{267,1},{86,68}}</string>
			<key>offset</key>
			<string>{2,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{86,68}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{441,426}</string>
		<key>textureFileName</key>
		<string>flamber_01_m_hatchling_yr.png</string>
	</dict>
</dict>
</plist>
