<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{716,110},{135,114}}</string>
			<key>offset</key>
			<string>{9.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,10},{135,114}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{987,111},{134,116}}</string>
			<key>offset</key>
			<string>{9,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{134,116}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1258,111},{134,117}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{134,117}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1394,112},{133,117}}</string>
			<key>offset</key>
			<string>{8.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,7},{133,117}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1123,111},{133,116}}</string>
			<key>offset</key>
			<string>{8.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{133,116}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{853,110},{132,115}}</string>
			<key>offset</key>
			<string>{8,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,11},{132,115}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{432,109},{133,113}}</string>
			<key>offset</key>
			<string>{8.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,14},{133,113}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1586,1},{133,110}}</string>
			<key>offset</key>
			<string>{8.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{133,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1721,1},{133,110}}</string>
			<key>offset</key>
			<string>{8.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{133,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1450,1},{134,109}}</string>
			<key>offset</key>
			<string>{9,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{134,109}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1030,1},{134,108}}</string>
			<key>offset</key>
			<string>{9,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,21},{134,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{755,1},{135,107}}</string>
			<key>offset</key>
			<string>{9.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{135,107}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{892,1},{136,107}}</string>
			<key>offset</key>
			<string>{10,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{136,107}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1166,1},{136,108}}</string>
			<key>offset</key>
			<string>{10,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{136,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,102},{136,111}}</string>
			<key>offset</key>
			<string>{10,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,14},{136,111}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1856,1},{149,110}}</string>
			<key>offset</key>
			<string>{5.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,10},{149,110}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{567,109},{147,113}}</string>
			<key>offset</key>
			<string>{5.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{147,113}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{285,105},{145,112}}</string>
			<key>offset</key>
			<string>{4.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{145,112}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{139,105},{144,111}}</string>
			<key>offset</key>
			<string>{4,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{144,111}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1304,1},{144,108}}</string>
			<key>offset</key>
			<string>{3,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{144,108}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{456,1},{145,106}}</string>
			<key>offset</key>
			<string>{3.5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,25},{145,106}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{153,1},{148,102}}</string>
			<key>offset</key>
			<string>{4,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{148,102}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{150,99}}</string>
			<key>offset</key>
			<string>{5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{150,99}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{303,1},{151,102}}</string>
			<key>offset</key>
			<string>{6.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{151,102}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
		<key>illuide_02_f_hatchling_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{603,1},{150,106}}</string>
			<key>offset</key>
			<string>{6,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{150,106}}</string>
			<key>sourceSize</key>
			<string>{152,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2006,230}</string>
		<key>textureFileName</key>
		<string>illuide_02_f_hatchling_bk.png</string>
	</dict>
</dict>
</plist>
