<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_02_f_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{94,1},{90,83}}</string>
			<key>offset</key>
			<string>{-4,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,5},{90,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,171},{88,84}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,4},{88,84}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{179,91},{87,83}}</string>
			<key>offset</key>
			<string>{-5.5,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{87,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{179,180},{87,83}}</string>
			<key>offset</key>
			<string>{-5.5,0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,2},{87,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,257},{86,83}}</string>
			<key>offset</key>
			<string>{-6,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,1},{86,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{91,184},{87,83}}</string>
			<key>offset</key>
			<string>{-5.5,2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,0},{87,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{179,1},{88,83}}</string>
			<key>offset</key>
			<string>{-5,1.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,1},{88,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{94,93},{89,83}}</string>
			<key>offset</key>
			<string>{-4.5,0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-3,2},{89,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{91,83}}</string>
			<key>offset</key>
			<string>{-3.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,3},{91,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,86},{91,83}}</string>
			<key>offset</key>
			<string>{-3.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,4},{91,83}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{89,273},{82,76}}</string>
			<key>offset</key>
			<string>{-11,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,10},{82,76}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{176,269},{81,77}}</string>
			<key>offset</key>
			<string>{-11.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,9},{81,77}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{259,269},{81,77}}</string>
			<key>offset</key>
			<string>{-11.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-6,7},{81,77}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{342,259},{82,77}}</string>
			<key>offset</key>
			<string>{-11,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-6,6},{82,77}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{342,174},{83,77}}</string>
			<key>offset</key>
			<string>{-10.5,0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-6,5},{83,77}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{342,87},{85,76}}</string>
			<key>offset</key>
			<string>{-9.5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-6,5},{85,76}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{264,90},{86,76}}</string>
			<key>offset</key>
			<string>{-9,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-6,6},{86,76}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{264,1},{87,76}}</string>
			<key>offset</key>
			<string>{-8.5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-6,7},{87,76}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{264,178},{86,76}}</string>
			<key>offset</key>
			<string>{-9,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-6,9},{86,76}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
		<key>makara_02_f_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{342,1},{84,77}}</string>
			<key>offset</key>
			<string>{-10,-3.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-6,9},{84,77}}</string>
			<key>sourceSize</key>
			<string>{92,88}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{420,350}</string>
		<key>textureFileName</key>
		<string>makara_02_f_hatchling_w.png</string>
	</dict>
</dict>
</plist>
