<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gripo_02_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,132},{108,131}}</string>
			<key>offset</key>
			<string>{-3,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,15},{108,131}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{111,397},{107,130}}</string>
			<key>offset</key>
			<string>{-1.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{107,130}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,397},{108,130}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,13},{108,130}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{343,258},{109,130}}</string>
			<key>offset</key>
			<string>{-1.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{109,130}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,265},{110,130}}</string>
			<key>offset</key>
			<string>{-3,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,13},{110,130}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{113,265},{110,130}}</string>
			<key>offset</key>
			<string>{-4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,14},{110,130}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{456,129},{109,130}}</string>
			<key>offset</key>
			<string>{-5.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,15},{109,130}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{121,1},{110,131}}</string>
			<key>offset</key>
			<string>{-6,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{110,131}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{567,129},{109,130}}</string>
			<key>offset</key>
			<string>{-5.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,17},{109,130}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{231,134},{107,131}}</string>
			<key>offset</key>
			<string>{-4.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{107,131}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{464,1},{108,126}}</string>
			<key>offset</key>
			<string>{-7,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{108,126}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{220,397},{107,127}}</string>
			<key>offset</key>
			<string>{-6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,11},{107,127}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{454,261},{109,127}}</string>
			<key>offset</key>
			<string>{-7.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,10},{109,127}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{343,390},{112,128}}</string>
			<key>offset</key>
			<string>{-9,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,11},{112,128}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{225,267},{116,127}}</string>
			<key>offset</key>
			<string>{-11,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-8,14},{116,127}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{118,129}}</string>
			<key>offset</key>
			<string>{-13,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-11,16},{118,129}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{111,134},{118,129}}</string>
			<key>offset</key>
			<string>{-13,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-11,18},{118,129}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{233,1},{117,127}}</string>
			<key>offset</key>
			<string>{-12.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-10,20},{117,127}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{340,130},{114,126}}</string>
			<key>offset</key>
			<string>{-11,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-7,20},{114,126}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
		<key>gripo_02_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{352,1},{110,126}}</string>
			<key>offset</key>
			<string>{-9,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,17},{110,126}}</string>
			<key>sourceSize</key>
			<string>{122,138}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{677,528}</string>
		<key>textureFileName</key>
		<string>gripo_02_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
