<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bluebird/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{88,76}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{88,76}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{88,68}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{88,68}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{96,92}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{96,92}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{84,72}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{84,72}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{88,68}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{88,68}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{84,64}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,52},{84,64}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{88,52}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{88,52}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{96,60}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{96,60}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{80,64}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{80,64}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{76,56}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{76,56}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{76,48}}</string>
                <key>offset</key>
                <string>{22,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,64},{76,48}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/die/die_09</key>
            <dict>
                <key>frame</key>
                <string>{{52,1400},{64,40}}</string>
                <key>offset</key>
                <string>{12,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,76},{64,40}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{88,76}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{88,76}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{84,72}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{84,72}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{80,76}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{80,76}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{88,76}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{88,76}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{88,76}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{88,76}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{88,68}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{88,68}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{88,68}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{88,68}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{88,76}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{88,76}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>bluebird/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{84,64}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{84,64}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bluebird.png</string>
            <key>size</key>
            <string>{112,1478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c0df104d1715f4fc36fa2e7e7201f43:4cfd13ff78bc9eb24c80e7e0cf13d64f:7c31e362406ecdf24ce23e48da03a44d$</string>
            <key>textureFileName</key>
            <string>bluebird.png</string>
        </dict>
    </dict>
</plist>
