<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>selora_01_f_hatch_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,570},{50,54}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{50,54}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,626},{50,54}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{50,54}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,682},{50,54}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{50,54}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,848},{50,53}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,53}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,903},{50,53}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,53}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,1066},{50,52}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1120},{50,52}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1174},{50,52}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,1281},{50,51}}</string>
			<key>offset</key>
			<string>{-6,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{50,51}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,1334},{50,51}}</string>
			<key>offset</key>
			<string>{-6,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{50,51}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1228},{50,51}}</string>
			<key>offset</key>
			<string>{-6,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,7},{50,51}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,958},{50,52}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1012},{50,52}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,6},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,738},{50,53}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,53}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,793},{50,53}}</string>
			<key>offset</key>
			<string>{-6,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,5},{50,53}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,117},{51,55}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,55}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{51,56}}</string>
			<key>offset</key>
			<string>{-5.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,56}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,59},{51,56}}</string>
			<key>offset</key>
			<string>{-5.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,56}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,174},{51,55}}</string>
			<key>offset</key>
			<string>{-5.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,3},{51,55}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,402},{51,54}}</string>
			<key>offset</key>
			<string>{-5.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,54}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,231},{51,55}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,55}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,458},{51,54}}</string>
			<key>offset</key>
			<string>{-5.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,54}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,514},{51,54}}</string>
			<key>offset</key>
			<string>{-5.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,54}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,288},{51,55}}</string>
			<key>offset</key>
			<string>{-5.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,3},{51,55}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>selora_01_f_hatch_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,345},{51,55}}</string>
			<key>offset</key>
			<string>{-5.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-5,4},{51,55}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{53,1386}</string>
		<key>textureFileName</key>
		<string>selora_01_f_hatch_w.png</string>
	</dict>
</dict>
</plist>
