<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_03_m_adult_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{997,981},{181,188}}</string>
			<key>offset</key>
			<string>{-0.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,36},{181,188}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{997,790},{181,189}}</string>
			<key>offset</key>
			<string>{-0.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,36},{181,189}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{784,1004},{180,189}}</string>
			<key>offset</key>
			<string>{0,-25.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,37},{180,189}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1001,397},{181,190}}</string>
			<key>offset</key>
			<string>{0.5,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,37},{181,190}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{214,844},{181,187}}</string>
			<key>offset</key>
			<string>{0.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,40},{181,187}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{397,1002},{182,185}}</string>
			<key>offset</key>
			<string>{1,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,41},{182,185}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{806,817},{189,185}}</string>
			<key>offset</key>
			<string>{1.5,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,42},{189,185}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{853,210},{198,185}}</string>
			<key>offset</key>
			<string>{0,-28.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,42},{198,185}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{816,1},{207,183}}</string>
			<key>offset</key>
			<string>{-1.5,-28.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,43},{207,183}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{634,634},{213,181}}</string>
			<key>offset</key>
			<string>{-2.5,-27.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,43},{213,181}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{634,415},{217,179}}</string>
			<key>offset</key>
			<string>{-3.5,-27.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,44},{217,179}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{412,620},{220,178}}</string>
			<key>offset</key>
			<string>{-4,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,43},{220,178}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,641},{220,176}}</string>
			<key>offset</key>
			<string>{-4,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,43},{220,176}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{637,1},{219,177}}</string>
			<key>offset</key>
			<string>{-4.5,-24.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,42},{219,177}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{636,222},{215,177}}</string>
			<key>offset</key>
			<string>{-4.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,42},{215,177}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,819},{211,178}}</string>
			<key>offset</key>
			<string>{-3.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,41},{211,178}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{600,817},{204,180}}</string>
			<key>offset</key>
			<string>{-3,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,40},{204,180}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{1001,1},{197,183}}</string>
			<key>offset</key>
			<string>{-1.5,-22.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,37},{197,183}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{849,604},{189,184}}</string>
			<key>offset</key>
			<string>{-0.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,37},{189,184}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{600,999},{182,187}}</string>
			<key>offset</key>
			<string>{0,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,36},{182,187}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{215,437},{195,202}}</string>
			<key>offset</key>
			<string>{-0.5,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,38},{195,202}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{223,641},{187,201}}</string>
			<key>offset</key>
			<string>{1.5,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,38},{187,201}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{815,401},{184,201}}</string>
			<key>offset</key>
			<string>{1,-32.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,38},{184,201}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{412,800},{186,200}}</string>
			<key>offset</key>
			<string>{-1,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,40},{186,200}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{431,415},{201,203}}</string>
			<key>offset</key>
			<string>{0.5,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,40},{201,203}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{224,222},{213,205}}</string>
			<key>offset</key>
			<string>{1.5,-37.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,41},{213,205}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,208},{221,205}}</string>
			<key>offset</key>
			<string>{1.5,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,42},{221,205}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{222,205}}</string>
			<key>offset</key>
			<string>{0,-38.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,42},{222,205}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{225,1},{219,204}}</string>
			<key>offset</key>
			<string>{-2.5,-38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,42},{219,204}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,415},{212,203}}</string>
			<key>offset</key>
			<string>{-6,-37.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,42},{212,203}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{431,1},{208,204}}</string>
			<key>offset</key>
			<string>{-5,-35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,39},{208,204}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
		<key>sirius_03_m_adult_pb/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{431,211},{203,202}}</string>
			<key>offset</key>
			<string>{-3.5,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,39},{203,202}}</string>
			<key>sourceSize</key>
			<string>{226,212}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1185,1188}</string>
		<key>textureFileName</key>
		<string>sirius_03_m_adult_pb.png</string>
	</dict>
</dict>
</plist>
