<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldenbook/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{88,96}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,52},{88,96}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{222,148},{88,104}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{88,104}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{454,100},{96,116}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{96,116}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{96,136}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,16},{96,136}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{112,160}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{88,108}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{88,108}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{112,152},{88,108}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,24},{88,108}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{328,116},{124,124}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{124,124}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,144}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{132,144}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,148}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{132,148}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{822,182},{132,56}}</string>
                <key>offset</key>
                <string>{26,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,108},{132,56}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{822,92},{88,96}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{88,96}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{88,92}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{88,92}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{642,92},{88,100}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,44},{88,100}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{552,100},{88,104}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{88,104}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{88,108}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{88,108}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{88,108}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,40},{88,108}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{88,100}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,40},{88,100}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{88,104}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{88,104}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{732,92},{88,100}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{88,100}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>goldenbook/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{88,108}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,44},{88,108}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldenbook.png</string>
            <key>size</key>
            <string>{970,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ea90835713db637eaacddb426b22ea:35736248cc0327c3e15d1409f1db8738:f9b8e5771d3760e398d8146e271b92df$</string>
            <key>textureFileName</key>
            <string>goldenbook.png</string>
        </dict>
    </dict>
</plist>
