<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{377,436},{83,103}}</string>
			<key>offset</key>
			<string>{5.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,11},{83,103}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{462,436},{81,102}}</string>
			<key>offset</key>
			<string>{6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,11},{81,102}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{468,326},{81,102}}</string>
			<key>offset</key>
			<string>{6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,11},{81,102}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{183,439},{81,103}}</string>
			<key>offset</key>
			<string>{6.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,11},{81,103}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{283,438},{82,104}}</string>
			<key>offset</key>
			<string>{7,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{82,104}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{95,438},{86,103}}</string>
			<key>offset</key>
			<string>{7,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{86,103}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{377,330},{89,104}}</string>
			<key>offset</key>
			<string>{6.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{89,104}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{283,330},{92,106}}</string>
			<key>offset</key>
			<string>{6,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,15},{92,106}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{193,112},{93,107}}</string>
			<key>offset</key>
			<string>{5.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{93,107}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,110},{94,108}}</string>
			<key>offset</key>
			<string>{5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{94,108}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{288,112},{92,108}}</string>
			<key>offset</key>
			<string>{4,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{92,108}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{190,329},{91,108}}</string>
			<key>offset</key>
			<string>{3.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{91,108}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{385,1},{89,106}}</string>
			<key>offset</key>
			<string>{3.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,13},{89,106}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{383,219},{87,105}}</string>
			<key>offset</key>
			<string>{4.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{87,105}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,439},{85,103}}</string>
			<key>offset</key>
			<string>{5.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,12},{85,103}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{96,107}}</string>
			<key>offset</key>
			<string>{-3,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,12},{96,107}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{97,111},{94,108}}</string>
			<key>offset</key>
			<string>{-3,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,10},{94,108}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{196,1},{93,109}}</string>
			<key>offset</key>
			<string>{-3.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,8},{93,109}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,220},{93,108}}</string>
			<key>offset</key>
			<string>{-3.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,7},{93,108}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{291,1},{92,108}}</string>
			<key>offset</key>
			<string>{-4,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,7},{92,108}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{96,329},{92,107}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,8},{92,107}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,330},{92,107}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,9},{92,107}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{382,111},{91,106}}</string>
			<key>offset</key>
			<string>{-5.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,11},{91,106}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{288,222},{93,106}}</string>
			<key>offset</key>
			<string>{-4.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,12},{93,106}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{192,221},{94,106}}</string>
			<key>offset</key>
			<string>{-4,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,13},{94,106}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{96,221},{94,106}}</string>
			<key>offset</key>
			<string>{-4,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,13},{94,106}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
		<key>anurhada_02_f_hatchling_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{99,1},{95,108}}</string>
			<key>offset</key>
			<string>{-3.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,12},{95,108}}</string>
			<key>sourceSize</key>
			<string>{98,113}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{550,543}</string>
		<key>textureFileName</key>
		<string>anurhada_02_f_hatchling_w.png</string>
	</dict>
</dict>
</plist>
