<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{438,434},{97,94}}</string>
			<key>offset</key>
			<string>{-5.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,19},{97,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,491},{99,94}}</string>
			<key>offset</key>
			<string>{-5.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,19},{99,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{231,397},{105,93}}</string>
			<key>offset</key>
			<string>{-2.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,20},{105,93}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{120,397},{109,92}}</string>
			<key>offset</key>
			<string>{-1.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,21},{109,92}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,398},{110,91}}</string>
			<key>offset</key>
			<string>{-1,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,23},{110,91}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{246,201},{112,90}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,25},{112,90}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{244,305},{114,90}}</string>
			<key>offset</key>
			<string>{1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,26},{114,90}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{335,1},{116,90}}</string>
			<key>offset</key>
			<string>{2,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,28},{116,90}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,306},{117,90}}</string>
			<key>offset</key>
			<string>{3.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,29},{117,90}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{124,305},{118,90}}</string>
			<key>offset</key>
			<string>{4,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,29},{118,90}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{124,212},{120,91}}</string>
			<key>offset</key>
			<string>{5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,29},{120,91}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,212},{121,92}}</string>
			<key>offset</key>
			<string>{6.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,28},{121,92}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{229,107},{117,92}}</string>
			<key>offset</key>
			<string>{4.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,27},{117,92}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{360,306},{107,93}}</string>
			<key>offset</key>
			<string>{-0.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{107,93}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{102,491},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,23},{98,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{338,401},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,21},{98,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{202,492},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,20},{98,94}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{453,1},{89,107}}</string>
			<key>offset</key>
			<string>{-0.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{89,107}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{459,110},{89,107}}</string>
			<key>offset</key>
			<string>{-0.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{89,107}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{360,199},{97,105}}</string>
			<key>offset</key>
			<string>{3.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,10},{97,105}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{348,93},{100,104}}</string>
			<key>offset</key>
			<string>{6,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,13},{100,104}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{229,1},{104,104}}</string>
			<key>offset</key>
			<string>{8,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,15},{104,104}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{115,108},{109,102}}</string>
			<key>offset</key>
			<string>{10.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{109,102}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,107},{112,103}}</string>
			<key>offset</key>
			<string>{13,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,18},{112,103}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{115,104}}</string>
			<key>offset</key>
			<string>{14.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,17},{115,104}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{118,1},{109,105}}</string>
			<key>offset</key>
			<string>{10.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,15},{109,105}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{469,327},{89,105}}</string>
			<key>offset</key>
			<string>{0.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,13},{89,105}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>makoa_04_m_hatchling_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{469,219},{89,106}}</string>
			<key>offset</key>
			<string>{0.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,10},{89,106}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{559,587}</string>
		<key>textureFileName</key>
		<string>makoa_04_m_hatchling_yr.png</string>
	</dict>
</dict>
</plist>
