<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{52,48},{50,45}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{50,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{51,45}}</string>
			<key>offset</key>
			<string>{-1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{51,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{52,95},{50,45}}</string>
			<key>offset</key>
			<string>{-1,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{50,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{52,142},{50,44}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{50,44}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{104,142},{50,44}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{50,44}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{52,188},{50,43}}</string>
			<key>offset</key>
			<string>{-1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{50,43}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{104,188},{50,43}}</string>
			<key>offset</key>
			<string>{-1,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{50,43}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{207,92},{49,43}}</string>
			<key>offset</key>
			<string>{-1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{49,43}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{206,47},{50,43}}</string>
			<key>offset</key>
			<string>{-2,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{50,43}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{208,1},{50,43}}</string>
			<key>offset</key>
			<string>{-2,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{50,43}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,189},{49,43}}</string>
			<key>offset</key>
			<string>{-2.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,3},{49,43}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,143},{49,44}}</string>
			<key>offset</key>
			<string>{-2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{49,44}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{157,1},{49,44}}</string>
			<key>offset</key>
			<string>{-2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{49,44}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,96},{49,45}}</string>
			<key>offset</key>
			<string>{-2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{49,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{54,1},{50,45}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{50,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{106,1},{49,45}}</string>
			<key>offset</key>
			<string>{-1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{49,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{207,137},{49,43}}</string>
			<key>offset</key>
			<string>{-1.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{49,43}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{155,95},{50,44}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{50,44}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{104,48},{50,45}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{50,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{156,141},{49,44}}</string>
			<key>offset</key>
			<string>{-1.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{49,44}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{156,48},{48,45}}</string>
			<key>offset</key>
			<string>{-2,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{48,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{207,182},{48,43}}</string>
			<key>offset</key>
			<string>{-2,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{48,43}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{156,187},{49,44}}</string>
			<key>offset</key>
			<string>{-2.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,2},{49,44}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{104,95},{49,45}}</string>
			<key>offset</key>
			<string>{-2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,1},{49,45}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>darkvein_01_m_hatch_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,48},{49,46}}</string>
			<key>offset</key>
			<string>{-1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{49,46}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{259,233}</string>
		<key>textureFileName</key>
		<string>darkvein_01_m_hatch_bk.png</string>
	</dict>
</dict>
</plist>
