<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_07_f_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1489,1},{189,148}}</string>
			<key>offset</key>
			<string>{5.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{189,148}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{183,146},{189,150}}</string>
			<key>offset</key>
			<string>{5.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{189,150}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{559,147},{189,152}}</string>
			<key>offset</key>
			<string>{5.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,11},{189,152}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1297,150},{189,153}}</string>
			<key>offset</key>
			<string>{5.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,11},{189,153}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1488,151},{188,153}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,13},{188,153}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1678,152},{186,154}}</string>
			<key>offset</key>
			<string>{6,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,15},{186,154}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1110,149},{185,152}}</string>
			<key>offset</key>
			<string>{6.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,19},{185,152}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{374,146},{183,151}}</string>
			<key>offset</key>
			<string>{7.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,22},{183,151}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1680,1},{182,149}}</string>
			<key>offset</key>
			<string>{8,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,26},{182,149}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1305,1},{182,147}}</string>
			<key>offset</key>
			<string>{9,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,29},{182,147}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{561,1},{182,144}}</string>
			<key>offset</key>
			<string>{9,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,31},{182,144}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{931,1},{183,145}}</string>
			<key>offset</key>
			<string>{9.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,29},{183,145}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{745,1},{184,144}}</string>
			<key>offset</key>
			<string>{9,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,28},{184,144}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{188,1},{184,143}}</string>
			<key>offset</key>
			<string>{8,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,27},{184,143}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{185,141}}</string>
			<key>offset</key>
			<string>{7.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,26},{185,141}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{374,1},{185,143}}</string>
			<key>offset</key>
			<string>{6.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,22},{185,143}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{1116,1},{187,146}}</string>
			<key>offset</key>
			<string>{5.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,17},{187,146}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{750,147},{178,152}}</string>
			<key>offset</key>
			<string>{10,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{178,152}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1866,152},{176,156}}</string>
			<key>offset</key>
			<string>{11,4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,4},{176,156}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{178,298},{174,161}}</string>
			<key>offset</key>
			<string>{12,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,4},{174,161}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{529,301},{171,165}}</string>
			<key>offset</key>
			<string>{13.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,4},{171,165}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{877,302},{170,168}}</string>
			<key>offset</key>
			<string>{15,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{170,168}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1222,305},{170,169}}</string>
			<key>offset</key>
			<string>{15,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,6},{170,169}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1049,303},{171,168}}</string>
			<key>offset</key>
			<string>{15.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,7},{171,168}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{702,301},{173,166}}</string>
			<key>offset</key>
			<string>{15.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,7},{173,166}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{354,299},{173,163}}</string>
			<key>offset</key>
			<string>{15.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,7},{173,163}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,296},{175,157}}</string>
			<key>offset</key>
			<string>{14.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,8},{175,157}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{930,148},{178,152}}</string>
			<key>offset</key>
			<string>{12,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,8},{178,152}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{1864,1},{180,149}}</string>
			<key>offset</key>
			<string>{11,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,7},{180,149}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
		<key>makoa_07_f_adult_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,144},{180,150}}</string>
			<key>offset</key>
			<string>{10,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,6},{180,150}}</string>
			<key>sourceSize</key>
			<string>{192,173}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{2045,475}</string>
		<key>textureFileName</key>
		<string>makoa_07_f_adult_w.png</string>
	</dict>
</dict>
</plist>
