<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bang/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,24}</string>
                <key>textureRect</key>
                <string>{{23,1},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{9,20}</string>
                <key>spriteSourceSize</key>
                <string>{9,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{9,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,20}</string>
                <key>spriteSourceSize</key>
                <string>{9,24}</string>
                <key>textureRect</key>
                <string>{{12,1},{9,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang/idle/idle_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,16}</string>
                <key>spriteSourceSize</key>
                <string>{9,24}</string>
                <key>textureRect</key>
                <string>{{1,23},{5,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bang/idle/idle_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{5,4}</string>
                <key>spriteSourceSize</key>
                <string>{9,24}</string>
                <key>textureRect</key>
                <string>{{19,23},{5,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bang.png</string>
            <key>size</key>
            <string>{33,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1b903bc094caeeae844fe76e15abc25:423956bdcf47f93bc97837bccbacd972:e008299ddce7ef792a45482d28fcb68e$</string>
            <key>textureFileName</key>
            <string>bang.png</string>
        </dict>
    </dict>
</plist>
