<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_09_f_adult_r/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,702},{164,169}}</string>
			<key>offset</key>
			<string>{6,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,26},{164,169}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{523,366},{168,172}}</string>
			<key>offset</key>
			<string>{6,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,25},{168,172}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,366},{171,175}}</string>
			<key>offset</key>
			<string>{5.5,-19.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,24},{171,175}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{365,1},{175,179}}</string>
			<key>offset</key>
			<string>{5.5,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,22},{175,179}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{182,185},{178,180}}</string>
			<key>offset</key>
			<string>{5,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,21},{178,180}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{184,1},{179,182}}</string>
			<key>offset</key>
			<string>{4.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,20},{179,182}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{181,181}}</string>
			<key>offset</key>
			<string>{4.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,20},{181,181}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,184},{179,180}}</string>
			<key>offset</key>
			<string>{4.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,20},{179,180}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{364,185},{177,179}}</string>
			<key>offset</key>
			<string>{4.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{177,179}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{182,365},{173,177}}</string>
			<key>offset</key>
			<string>{5.5,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,22},{173,177}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{542,1},{168,173}}</string>
			<key>offset</key>
			<string>{5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,24},{168,173}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{184,540},{163,171}}</string>
			<key>offset</key>
			<string>{5.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,25},{163,171}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{683,699},{157,169}}</string>
			<key>offset</key>
			<string>{5.5,-18.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,26},{157,169}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{495,853},{151,166}}</string>
			<key>offset</key>
			<string>{5.5,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,28},{151,166}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{836,858},{149,164}}</string>
			<key>offset</key>
			<string>{5.5,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,29},{149,164}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{851,176},{149,162}}</string>
			<key>offset</key>
			<string>{5.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,30},{149,162}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{860,1},{149,161}}</string>
			<key>offset</key>
			<string>{5.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,30},{149,161}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{854,688},{150,161}}</string>
			<key>offset</key>
			<string>{6,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,30},{150,161}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{704,523},{154,163}}</string>
			<key>offset</key>
			<string>{6,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,29},{154,163}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{693,356},{159,165}}</string>
			<key>offset</key>
			<string>{5.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,28},{159,165}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{663,858},{144,171}}</string>
			<key>offset</key>
			<string>{7,-31.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,38},{144,171}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{712,1},{146,173}}</string>
			<key>offset</key>
			<string>{8,-30.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,36},{146,173}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{172,713},{148,174}}</string>
			<key>offset</key>
			<string>{10,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,35},{148,174}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{349,550},{153,176}}</string>
			<key>offset</key>
			<string>{12.5,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,34},{153,176}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{543,176},{157,178}}</string>
			<key>offset</key>
			<string>{14.5,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,34},{157,178}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,540},{160,181}}</string>
			<key>offset</key>
			<string>{16,-33.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,35},{160,181}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{361,366},{160,182}}</string>
			<key>offset</key>
			<string>{17,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,36},{160,182}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{523,540},{157,179}}</string>
			<key>offset</key>
			<string>{16.5,-35.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,38},{157,179}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{504,699},{152,177}}</string>
			<key>offset</key>
			<string>{14,-35.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,39},{152,177}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{702,176},{147,175}}</string>
			<key>offset</key>
			<string>{11.5,-35.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,40},{147,175}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{348,728},{145,173}}</string>
			<key>offset</key>
			<string>{8.5,-34.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,40},{145,173}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
		<key>sirius_09_f_adult_r/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{172,863},{144,172}}</string>
			<key>offset</key>
			<string>{7,-33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,39},{144,172}}</string>
			<key>sourceSize</key>
			<string>{182,184}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1010,1008}</string>
		<key>textureFileName</key>
		<string>sirius_09_f_adult_r.png</string>
	</dict>
</dict>
</plist>
