<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signatureiron/holding/holding_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-40}</string>
                <key>spriteSize</key>
                <string>{185,161}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{196,255},{185,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signatureiron/holding/holding_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{185,159}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{1,380},{185,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{175,127}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{184,126},{175,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{175,123}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{200,1},{175,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{181,123}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{1,120},{181,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/idle/idle_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{187,127}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{361,174},{187,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signatureiron/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{175,127}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{184,126},{175,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{193,123}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{1,255},{193,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{197,117}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-5}</string>
                <key>spriteSize</key>
                <string>{203,123}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{188,442},{203,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/touch/touch_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{175,127}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{184,126},{175,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/touch/touch_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{171,123}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{377,1},{171,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signatureiron/touch/touch_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{223,123}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{1,567},{223,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signatureiron/touch/touch_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{219,127}</string>
                <key>spriteSourceSize</key>
                <string>{259,259}</string>
                <key>textureRect</key>
                <string>{{226,567},{219,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>signatureiron.png</string>
            <key>size</key>
            <string>{501,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28488e1a6b330b15a21f578d80be85cb:a90e27862ab4f95b5ac41bd661b1014c:0420580d250c107b61992162e3562be6$</string>
            <key>textureFileName</key>
            <string>signatureiron.png</string>
        </dict>
    </dict>
</plist>
