<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hammer/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,12}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{67,589},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,15}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{85,326},{28,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,17}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,570},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,12}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,505},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,10}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,385},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,13}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,446},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,11}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{71,403},{44,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer/idle/idle_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,11}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{71,449},{44,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer/idle/idle_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,11}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{71,449},{44,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer/idle/idle_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,11}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{71,495},{44,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer/idle/idle_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,13}</string>
                <key>spriteSize</key>
                <string>{46,53}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{69,541},{46,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer/idle/idle_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-20}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,326},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-19}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,265},{106,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{118,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,200},{118,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{120,87}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,58},{120,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{122,55}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{120,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1,147},{120,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer/idle/idle_18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-2}</string>
                <key>spriteSize</key>
                <string>{24,45}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{85,356},{24,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hammer.png</string>
            <key>size</key>
            <string>{124,632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ada857d5682893617268f80b89a13660:a70da732b5fa293b5bc6169ce7700a5e:18f5c8cea529c6ac2b89340e75a1e4ba$</string>
            <key>textureFileName</key>
            <string>hammer.png</string>
        </dict>
    </dict>
</plist>
