<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{710,109},{132,114}}</string>
			<key>offset</key>
			<string>{12,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,10},{132,114}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{974,110},{131,116}}</string>
			<key>offset</key>
			<string>{11.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{131,116}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1238,112},{131,117}}</string>
			<key>offset</key>
			<string>{11.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{131,117}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1371,112},{129,118}}</string>
			<key>offset</key>
			<string>{11.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{129,118}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1107,111},{129,116}}</string>
			<key>offset</key>
			<string>{11.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,9},{129,116}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{844,110},{128,115}}</string>
			<key>offset</key>
			<string>{11,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,11},{128,115}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{434,109},{128,113}}</string>
			<key>offset</key>
			<string>{11,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,14},{128,113}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1558,1},{129,110}}</string>
			<key>offset</key>
			<string>{11.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,18},{129,110}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1689,1},{130,110}}</string>
			<key>offset</key>
			<string>{11,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{130,110}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1283,1},{131,109}}</string>
			<key>offset</key>
			<string>{11.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,20},{131,109}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{878,1},{131,107}}</string>
			<key>offset</key>
			<string>{11.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,21},{131,107}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{449,1},{133,106}}</string>
			<key>offset</key>
			<string>{11.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{133,106}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1011,1},{134,107}}</string>
			<key>offset</key>
			<string>{12,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,19},{134,107}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1147,1},{134,108}}</string>
			<key>offset</key>
			<string>{12,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{134,108}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1821,1},{133,111}}</string>
			<key>offset</key>
			<string>{12.5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,14},{133,111}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,102},{146,111}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{146,111}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{564,109},{144,113}}</string>
			<key>offset</key>
			<string>{7,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,8},{144,113}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{149,105},{141,112}}</string>
			<key>offset</key>
			<string>{6.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{141,112}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{292,105},{140,112}}</string>
			<key>offset</key>
			<string>{6,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{140,112}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1416,1},{140,109}}</string>
			<key>offset</key>
			<string>{5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,20},{140,109}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{584,1},{142,106}}</string>
			<key>offset</key>
			<string>{5,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,25},{142,106}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{150,1},{145,102}}</string>
			<key>offset</key>
			<string>{5.5,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,28},{145,102}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{147,99}}</string>
			<key>offset</key>
			<string>{6.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,28},{147,99}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{297,1},{150,102}}</string>
			<key>offset</key>
			<string>{7,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{150,102}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
		<key>illuide_01_f_hatchling_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{728,1},{148,106}}</string>
			<key>offset</key>
			<string>{7,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,16},{148,106}}</string>
			<key>sourceSize</key>
			<string>{150,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1955,231}</string>
		<key>textureFileName</key>
		<string>illuide_01_f_hatchling_bk.png</string>
	</dict>
</dict>
</plist>
