<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eldersnail/attack/attack_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{150,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{1,229},{150,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/attack/attack_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{146,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{165,113},{146,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/attack/attack_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{142,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{313,113},{142,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/attack/attack_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{150,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{1,229},{150,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/attack/attack_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{146,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{153,229},{146,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/die/die_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{138,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{149,461},{138,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/die/die_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{114,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{297,385},{114,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/die/die_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,9}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{397,509},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/die/die_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,5}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{289,485},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/die/die_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{182,46}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{313,225},{182,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/die/die_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-31}</string>
                <key>spriteSize</key>
                <string>{190,54}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{301,329},{190,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/die/die_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-31}</string>
                <key>spriteSize</key>
                <string>{198,54}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{301,273},{198,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/die/die_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-31}</string>
                <key>spriteSize</key>
                <string>{122,54}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{413,385},{122,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eldersnail/hurt/hurt_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{146,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{1,463},{146,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/hurt/hurt_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{173,1},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/hurt/hurt_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{138,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{149,461},{138,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{146,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{153,229},{146,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{146,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{333,1},{146,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{146,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{1,345},{146,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{162,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{1,113},{162,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{170,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eldersnail/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{146,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,116}</string>
                <key>textureRect</key>
                <string>{{149,345},{146,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eldersnail.png</string>
            <key>size</key>
            <string>{500,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea1c60660b5d9de188a459e35ea3b414:94a7db41db7067738b231d2bd7f750c1:e4007ba1383c08dcfd9711de815ed537$</string>
            <key>textureFileName</key>
            <string>eldersnail.png</string>
        </dict>
    </dict>
</plist>
