<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{347,116},{105,91}}</string>
			<key>offset</key>
			<string>{11.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,33},{105,91}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{327,394},{102,91}}</string>
			<key>offset</key>
			<string>{12,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,33},{102,91}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{454,207},{99,92}}</string>
			<key>offset</key>
			<string>{12.5,-19.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,33},{99,92}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{420,308},{99,92}}</string>
			<key>offset</key>
			<string>{12.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,34},{99,92}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{455,105},{100,92}}</string>
			<key>offset</key>
			<string>{12,-21.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,35},{100,92}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{455,1},{102,92}}</string>
			<key>offset</key>
			<string>{11,-22.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,36},{102,92}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{346,209},{105,91}}</string>
			<key>offset</key>
			<string>{10.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,37},{105,91}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{222,301},{108,91}}</string>
			<key>offset</key>
			<string>{10,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,38},{108,91}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{234,118},{111,89}}</string>
			<key>offset</key>
			<string>{9.5,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,39},{111,89}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{118,118},{114,90}}</string>
			<key>offset</key>
			<string>{9,-23.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,38},{114,90}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{88,1},{115,89}}</string>
			<key>offset</key>
			<string>{8.5,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,38},{115,89}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,119},{115,89}}</string>
			<key>offset</key>
			<string>{8.5,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,37},{115,89}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{117,210},{113,89}}</string>
			<key>offset</key>
			<string>{9.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,36},{113,89}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{232,210},{112,89}}</string>
			<key>offset</key>
			<string>{10,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,35},{112,89}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{112,304},{108,89}}</string>
			<key>offset</key>
			<string>{11,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,34},{108,89}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,304},{90,109}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,21},{90,109}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{267,1},{86,113}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,18},{86,113}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{85,116}}</string>
			<key>offset</key>
			<string>{-0.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,17},{85,116}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{179,1},{86,115}}</string>
			<key>offset</key>
			<string>{-1,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,19},{86,115}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,210},{92,114}}</string>
			<key>offset</key>
			<string>{-2,-19.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,22},{92,114}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{355,1},{98,109}}</string>
			<key>offset</key>
			<string>{-2,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,26},{98,109}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{222,394},{103,105}}</string>
			<key>offset</key>
			<string>{-1.5,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{103,105}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,396},{102,103}}</string>
			<key>offset</key>
			<string>{-1,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,29},{102,103}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
		<key>sirius_07_m_hatchling_pb/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{112,395},{97,104}}</string>
			<key>offset</key>
			<string>{-0.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,26},{97,104}}</string>
			<key>sourceSize</key>
			<string>{116,119}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{548,500}</string>
		<key>textureFileName</key>
		<string>sirius_07_m_hatchling_pb.png</string>
	</dict>
</dict>
</plist>
