<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>circledragon_02_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{596,1},{144,136}}</string>
			<key>offset</key>
			<string>{20,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,1},{144,136}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{595,278},{144,136}}</string>
			<key>offset</key>
			<string>{20,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,1},{144,136}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{596,139},{144,137}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,0},{144,137}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{592,416},{144,137}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,0},{144,137}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,672},{144,137}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,0},{144,137}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,534},{145,136}}</string>
			<key>offset</key>
			<string>{19.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,1},{145,136}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{149,533},{145,134}}</string>
			<key>offset</key>
			<string>{19.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,2},{145,134}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{149,398},{146,133}}</string>
			<key>offset</key>
			<string>{20,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,3},{146,133}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{297,270},{146,132}}</string>
			<key>offset</key>
			<string>{20,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,4},{146,132}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{151,133},{147,131}}</string>
			<key>offset</key>
			<string>{19.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,5},{147,131}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,266},{147,130}}</string>
			<key>offset</key>
			<string>{19.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{147,130}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{148,130}}</string>
			<key>offset</key>
			<string>{20,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{148,130}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,133},{148,130}}</string>
			<key>offset</key>
			<string>{20,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{148,130}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{151,1},{147,130}}</string>
			<key>offset</key>
			<string>{20.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,6},{147,130}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{300,1},{146,132}}</string>
			<key>offset</key>
			<string>{20,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,5},{146,132}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{300,135},{146,133}}</string>
			<key>offset</key>
			<string>{20,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,4},{146,133}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,398},{146,134}}</string>
			<key>offset</key>
			<string>{20,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,3},{146,134}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{448,267},{145,135}}</string>
			<key>offset</key>
			<string>{20.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,2},{145,135}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{150,266},{145,130}}</string>
			<key>offset</key>
			<string>{19.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,6},{145,130}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{443,536},{144,129}}</string>
			<key>offset</key>
			<string>{18,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,7},{144,129}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{445,404},{145,130}}</string>
			<key>offset</key>
			<string>{17.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{145,130}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{448,1},{146,132}}</string>
			<key>offset</key>
			<string>{18,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,4},{146,132}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{296,534},{145,131}}</string>
			<key>offset</key>
			<string>{18.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{145,131}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{589,555},{144,128}}</string>
			<key>offset</key>
			<string>{19,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,8},{144,128}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{147,672},{143,129}}</string>
			<key>offset</key>
			<string>{18.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,8},{143,129}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{292,669},{143,128}}</string>
			<key>offset</key>
			<string>{17.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{143,128}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{448,135},{146,130}}</string>
			<key>offset</key>
			<string>{18,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,4},{146,130}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
		<key>circledragon_02_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{297,404},{146,128}}</string>
			<key>offset</key>
			<string>{19,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{146,128}}</string>
			<key>sourceSize</key>
			<string>{152,137}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{741,810}</string>
		<key>textureFileName</key>
		<string>circledragon_02_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
