<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>signaturearaca/holding/holding_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{721,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/holding/holding_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{831,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{941,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1821,1},{108,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1051,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{265,1},{112,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{379,1},{112,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1161,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1271,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/move/move_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{493,1},{112,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/move/move_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{607,1},{112,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/move/move_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1381,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/move/move_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1491,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/touch/touch_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1601,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/touch/touch_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1711,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/touch/touch_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-2}</string>
                <key>spriteSize</key>
                <string>{128,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{135,1},{128,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signaturearaca/touch/touch_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{132,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>signaturearaca.png</string>
            <key>size</key>
            <string>{1930,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e3d84580607598005c2d24dc6c9a018:551e587cc84c8845f014f42efc9d5b5c:da3f4e9d1f30225aafc252f4c2d40077$</string>
            <key>textureFileName</key>
            <string>signaturearaca.png</string>
        </dict>
    </dict>
</plist>
