<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_08_m_adult_yr/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{189,170}}</string>
			<key>offset</key>
			<string>{5.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{189,170}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,173},{189,169}}</string>
			<key>offset</key>
			<string>{5.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{189,169}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{192,1},{189,170}}</string>
			<key>offset</key>
			<string>{5.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{189,170}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{192,173},{189,169}}</string>
			<key>offset</key>
			<string>{5.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,17},{189,169}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,344},{188,168}}</string>
			<key>offset</key>
			<string>{6,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{188,168}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{380,344},{187,168}}</string>
			<key>offset</key>
			<string>{5.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,22},{187,168}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{383,1},{186,166}}</string>
			<key>offset</key>
			<string>{6,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,26},{186,166}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{571,1},{184,164}}</string>
			<key>offset</key>
			<string>{7,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,30},{184,164}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{569,491},{183,162}}</string>
			<key>offset</key>
			<string>{7.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,33},{183,162}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,683},{182,161}}</string>
			<key>offset</key>
			<string>{9,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,34},{182,161}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{571,167},{183,160}}</string>
			<key>offset</key>
			<string>{9.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,34},{183,160}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{570,329},{183,160}}</string>
			<key>offset</key>
			<string>{9.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,33},{183,160}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{188,514},{184,161}}</string>
			<key>offset</key>
			<string>{9,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,30},{184,161}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{374,514},{184,162}}</string>
			<key>offset</key>
			<string>{8,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,27},{184,162}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{383,169},{185,164}}</string>
			<key>offset</key>
			<string>{7.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,23},{185,164}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,514},{185,167}}</string>
			<key>offset</key>
			<string>{6.5,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,19},{185,167}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{191,344},{187,168}}</string>
			<key>offset</key>
			<string>{5.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,16},{187,168}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{188,678},{180,162}}</string>
			<key>offset</key>
			<string>{9,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{180,162}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{551,678},{178,163}}</string>
			<key>offset</key>
			<string>{9,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,12},{178,163}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{756,318},{176,164}}</string>
			<key>offset</key>
			<string>{10,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,14},{176,164}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{755,484},{174,164}}</string>
			<key>offset</key>
			<string>{12,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,18},{174,164}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{185,843},{171,164}}</string>
			<key>offset</key>
			<string>{13.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,22},{171,164}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{714,843},{169,166}}</string>
			<key>offset</key>
			<string>{15.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,23},{169,166}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{370,839},{170,168}}</string>
			<key>offset</key>
			<string>{16,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,23},{170,168}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{542,843},{170,166}}</string>
			<key>offset</key>
			<string>{16,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,23},{170,166}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,846},{173,163}}</string>
			<key>offset</key>
			<string>{15.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,23},{173,163}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{754,650},{174,160}}</string>
			<key>offset</key>
			<string>{14,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,22},{174,160}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{757,158},{177,158}}</string>
			<key>offset</key>
			<string>{12.5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{177,158}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{757,1},{178,155}}</string>
			<key>offset</key>
			<string>{11,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,21},{178,155}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>makoa_08_m_adult_yr/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{370,678},{179,159}}</string>
			<key>offset</key>
			<string>{9.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{179,159}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{936,1010}</string>
		<key>textureFileName</key>
		<string>makoa_08_m_adult_yr.png</string>
	</dict>
</dict>
</plist>
