<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_02_f_prism_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{502,1},{243,175}}</string>
			<key>offset</key>
			<string>{9.5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,36},{243,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{247,174}}</string>
			<key>offset</key>
			<string>{10.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,36},{247,174}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{747,1},{249,175}}</string>
			<key>offset</key>
			<string>{11.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{249,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{250,1},{250,174}}</string>
			<key>offset</key>
			<string>{12,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{250,174}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{998,1},{250,175}}</string>
			<key>offset</key>
			<string>{12,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,35},{250,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1250,1},{248,175}}</string>
			<key>offset</key>
			<string>{12,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,35},{248,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1500,1},{247,175}}</string>
			<key>offset</key>
			<string>{11.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,34},{247,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{1749,1},{245,175}}</string>
			<key>offset</key>
			<string>{10.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,32},{245,175}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,177},{243,177}}</string>
			<key>offset</key>
			<string>{10.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,30},{243,177}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{731,178},{241,178}}</string>
			<key>offset</key>
			<string>{9.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,28},{241,178}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{246,177},{240,178}}</string>
			<key>offset</key>
			<string>{10,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,28},{240,178}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{488,178},{241,178}}</string>
			<key>offset</key>
			<string>{10.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,28},{241,178}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1462,178},{241,182}}</string>
			<key>offset</key>
			<string>{10.5,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,25},{241,182}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{991,360},{242,185}}</string>
			<key>offset</key>
			<string>{11,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,22},{242,185}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1,541},{242,187}}</string>
			<key>offset</key>
			<string>{11,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,20},{242,187}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{487,544},{242,188}}</string>
			<key>offset</key>
			<string>{11,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,20},{242,188}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{731,546},{242,188}}</string>
			<key>offset</key>
			<string>{11,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,21},{242,188}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{1235,362},{242,186}}</string>
			<key>offset</key>
			<string>{10,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{242,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{1,356},{242,183}}</string>
			<key>offset</key>
			<string>{10,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,27},{242,183}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{974,178},{242,180}}</string>
			<key>offset</key>
			<string>{9,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,31},{242,180}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1479,362},{247,186}}</string>
			<key>offset</key>
			<string>{6.5,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,30},{247,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{492,358},{248,184}}</string>
			<key>offset</key>
			<string>{5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,35},{248,184}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1728,362},{248,186}}</string>
			<key>offset</key>
			<string>{4,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,34},{248,186}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{742,360},{247,184}}</string>
			<key>offset</key>
			<string>{4.5,-24.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,35},{247,184}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{245,358},{245,183}}</string>
			<key>offset</key>
			<string>{6.5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,34},{245,183}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{1218,178},{242,180}}</string>
			<key>offset</key>
			<string>{9,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,32},{242,180}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1705,178},{240,182}}</string>
			<key>offset</key>
			<string>{10,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,26},{240,182}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{245,543},{240,187}}</string>
			<key>offset</key>
			<string>{11,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{240,187}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1463,550},{241,190}}</string>
			<key>offset</key>
			<string>{11.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,17},{241,190}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{1706,550},{243,192}}</string>
			<key>offset</key>
			<string>{11.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,16},{243,192}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1219,550},{242,190}}</string>
			<key>offset</key>
			<string>{11,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{242,190}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
		<key>makara_02_f_prism_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{975,547},{242,189}}</string>
			<key>offset</key>
			<string>{10,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{242,189}}</string>
			<key>sourceSize</key>
			<string>{254,205}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1995,743}</string>
		<key>textureFileName</key>
		<string>makara_02_f_prism_w.png</string>
	</dict>
</dict>
</plist>
