<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sirius_01_m_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{309,227},{105,86}}</string>
			<key>offset</key>
			<string>{11.5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,28},{105,86}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{189,347},{102,86}}</string>
			<key>offset</key>
			<string>{12,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,28},{102,86}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,454},{99,87}}</string>
			<key>offset</key>
			<string>{12.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,28},{99,87}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{102,454},{99,86}}</string>
			<key>offset</key>
			<string>{12.5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,29},{99,86}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{416,397},{100,87}}</string>
			<key>offset</key>
			<string>{12,-16.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,30},{100,87}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{416,1},{102,87}}</string>
			<key>offset</key>
			<string>{11,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,31},{102,87}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{309,315},{105,86}}</string>
			<key>offset</key>
			<string>{10.5,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,32},{105,86}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{199,259},{108,86}}</string>
			<key>offset</key>
			<string>{10,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,33},{108,86}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{115,173},{111,84}}</string>
			<key>offset</key>
			<string>{9.5,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,34},{111,84}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{118,87},{114,84}}</string>
			<key>offset</key>
			<string>{9,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,34},{114,84}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{116,84}}</string>
			<key>offset</key>
			<string>{9,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,33},{116,84}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,87},{115,84}}</string>
			<key>offset</key>
			<string>{8.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,32},{115,84}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{119,1},{113,84}}</string>
			<key>offset</key>
			<string>{9.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,31},{113,84}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{1,173},{112,85}}</string>
			<key>offset</key>
			<string>{10,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,30},{112,85}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{89,260},{108,85}}</string>
			<key>offset</key>
			<string>{11,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,29},{108,85}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{322,111},{90,105}}</string>
			<key>offset</key>
			<string>{0,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,17},{90,105}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,260},{86,109}}</string>
			<key>offset</key>
			<string>{-1,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,14},{86,109}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{234,1},{85,111}}</string>
			<key>offset</key>
			<string>{-0.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,13},{85,111}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{234,114},{86,111}}</string>
			<key>offset</key>
			<string>{-1,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,15},{86,111}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{322,1},{92,108}}</string>
			<key>offset</key>
			<string>{-2,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{92,108}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{89,347},{98,105}}</string>
			<key>offset</key>
			<string>{-2,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,22},{98,105}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{416,90},{102,101}}</string>
			<key>offset</key>
			<string>{-1,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,25},{102,101}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{416,193},{102,99}}</string>
			<key>offset</key>
			<string>{-1,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,25},{102,99}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sirius_01_m_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{416,294},{97,101}}</string>
			<key>offset</key>
			<string>{-0.5,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,22},{97,101}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{519,542}</string>
		<key>textureFileName</key>
		<string>sirius_01_m_hatchling_w.png</string>
	</dict>
</dict>
</plist>
