<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drake_02/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{1334,572},{176,196}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,36},{176,196}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{184,204}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,28},{184,204}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,236}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{348,236}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{340,208}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{340,208}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{336,212}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{336,212}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{870,192},{180,212}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,32},{180,212}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{188,220}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,24},{188,220}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{344,650},{204,224}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,16},{204,224}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{216,352},{212,216}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,24},{212,216}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{208,208}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,32},{208,208}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{216,570},{256,48}}</string>
                <key>offset</key>
                <string>{-38,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,188},{256,48}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{288,900},{276,56}}</string>
                <key>offset</key>
                <string>{-36,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,180},{276,56}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{284,60}}</string>
                <key>offset</key>
                <string>{-36,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,176},{284,60}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/die/die_09</key>
            <dict>
                <key>frame</key>
                <string>{{216,620},{184,28}}</string>
                <key>offset</key>
                <string>{-30,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,208},{184,28}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{1140,762},{176,196}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,36},{176,196}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{192,224}}</string>
                <key>offset</key>
                <string>{38,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,12},{192,224}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{430,212},{196,220}}</string>
                <key>offset</key>
                <string>{44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,20},{196,220}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{1298,192},{176,200}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,40},{176,200}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{1084,192},{176,212}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,24},{176,212}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{550,612},{176,228}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,12},{176,228}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{628,196},{176,240}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,4},{176,240}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_05</key>
            <dict>
                <key>frame</key>
                <string>{{474,434},{176,244}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,0},{176,244}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_06</key>
            <dict>
                <key>frame</key>
                <string>{{922,374},{196,200}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,40},{196,200}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_07</key>
            <dict>
                <key>frame</key>
                <string>{{720,374},{200,200}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,36},{200,200}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_08</key>
            <dict>
                <key>frame</key>
                <string>{{728,576},{200,200}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{200,200}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_09</key>
            <dict>
                <key>frame</key>
                <string>{{1314,370},{176,200}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,44},{176,200}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/idle/idle_10</key>
            <dict>
                <key>frame</key>
                <string>{{728,778},{176,204}}</string>
                <key>offset</key>
                <string>{26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,40},{176,204}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{934,770},{184,204}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,28},{184,204}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{1136,576},{184,196}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,36},{184,196}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{188,200}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,32},{188,200}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{930,576},{192,204}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,28},{192,204}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{1120,370},{192,204}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,28},{192,204}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
            <key>drake_02/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{188,204}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,28},{188,204}}</string>
                <key>sourceSize</key>
                <string>{404,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drake_02.png</string>
            <key>size</key>
            <string>{1522,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b92c7c30fb4421f4c64911026a955cb:5c2bc1a5274941e0f66a9e0f508f987c:6bb576adcdf424ac6781136c9a6ff450$</string>
            <key>textureFileName</key>
            <string>drake_02.png</string>
        </dict>
    </dict>
</plist>
