<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makoa_03_m_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{102,496},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,19},{98,94}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{202,492},{98,94}}</string>
			<key>offset</key>
			<string>{-6,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,19},{98,94}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{342,289},{107,93}}</string>
			<key>offset</key>
			<string>{-1.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{107,93}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{231,289},{109,92}}</string>
			<key>offset</key>
			<string>{-1.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{109,92}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,294},{111,91}}</string>
			<key>offset</key>
			<string>{-0.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{111,91}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{238,197},{112,90}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,25},{112,90}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{240,1},{114,90}}</string>
			<key>offset</key>
			<string>{1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,26},{114,90}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{121,93},{115,90}}</string>
			<key>offset</key>
			<string>{1.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,28},{115,90}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{121,185},{115,90}}</string>
			<key>offset</key>
			<string>{2.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,29},{115,90}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{121,1},{117,90}}</string>
			<key>offset</key>
			<string>{3.5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,29},{117,90}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{118,91}}</string>
			<key>offset</key>
			<string>{4,-17.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,29},{118,91}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,94},{118,92}}</string>
			<key>offset</key>
			<string>{5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,28},{118,92}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{119,289},{110,92}}</string>
			<key>offset</key>
			<string>{1,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,27},{110,92}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{465,212},{99,93}}</string>
			<key>offset</key>
			<string>{-4.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,25},{99,93}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{465,307},{99,94}}</string>
			<key>offset</key>
			<string>{-4.5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,23},{99,94}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1,496},{99,94}}</string>
			<key>offset</key>
			<string>{-4.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,21},{99,94}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{302,492},{98,94}}</string>
			<key>offset</key>
			<string>{-5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,20},{98,94}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,387},{89,107}}</string>
			<key>offset</key>
			<string>{-0.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{89,107}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{183,384},{89,106}}</string>
			<key>offset</key>
			<string>{-0.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{89,106}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{274,384},{97,106}}</string>
			<key>offset</key>
			<string>{3.5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,9},{97,106}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{465,106},{100,104}}</string>
			<key>offset</key>
			<string>{6,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{100,104}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{467,1},{105,103}}</string>
			<key>offset</key>
			<string>{8.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,15},{105,103}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{356,1},{109,103}}</string>
			<key>offset</key>
			<string>{11.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{109,103}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{238,93},{113,102}}</string>
			<key>offset</key>
			<string>{13.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{113,102}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,188},{116,104}}</string>
			<key>offset</key>
			<string>{15,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,16},{116,104}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{353,106},{108,104}}</string>
			<key>offset</key>
			<string>{10,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,15},{108,104}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{373,384},{90,106}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{90,106}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
		<key>makoa_03_m_hatchling_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{92,387},{89,107}}</string>
			<key>offset</key>
			<string>{0.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,9},{89,107}}</string>
			<key>sourceSize</key>
			<string>{126,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{573,591}</string>
		<key>textureFileName</key>
		<string>makoa_03_m_hatchling_w.png</string>
	</dict>
</dict>
</plist>
