<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unicorn/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,92}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{120,92}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{108,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{148,84}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{148,84}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{160,80}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{160,80}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{112,84}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{112,84}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{120,80}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{120,80}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{112,80}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{112,80}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{84,60}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,24},{84,60}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{92,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{92,72}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{120,88}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{120,88}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{112,84}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{112,84}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{120,80}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{120,80}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,92}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{120,92}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{120,88}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{120,88}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{116,92}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{116,92}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{120,92}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{120,92}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{120,88}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{120,88}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{116,92}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{116,92}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>unicorn/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{116,88}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{116,88}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unicorn.png</string>
            <key>size</key>
            <string>{124,1624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e299f90349301ccb1fe062e7278f1c25:a3bb2854c2e6f734b79fda884c820618:31b75672a7539091007c04f2142e111e$</string>
            <key>textureFileName</key>
            <string>unicorn.png</string>
        </dict>
    </dict>
</plist>
