<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>antares_01_f_adult_bg/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{492,159},{151,154}}</string>
			<key>offset</key>
			<string>{-0.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,16},{151,154}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{492,1},{154,156}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{154,156}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,462},{157,156}}</string>
			<key>offset</key>
			<string>{-1.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,15},{157,156}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{330,1},{160,157}}</string>
			<key>offset</key>
			<string>{-2,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,13},{160,157}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{166,1},{162,157}}</string>
			<key>offset</key>
			<string>{-2,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,12},{162,157}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{163,157}}</string>
			<key>offset</key>
			<string>{-2.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{163,157}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,160},{163,156}}</string>
			<key>offset</key>
			<string>{-2.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,9},{163,156}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{166,160},{162,155}}</string>
			<key>offset</key>
			<string>{-2,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{162,155}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{330,160},{160,154}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,8},{160,154}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{330,316},{157,153}}</string>
			<key>offset</key>
			<string>{-1.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,9},{157,153}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,620},{155,152}}</string>
			<key>offset</key>
			<string>{-1.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{155,152}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{314,620},{153,152}}</string>
			<key>offset</key>
			<string>{-1.5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,11},{153,152}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{469,620},{152,152}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,12},{152,152}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{648,156},{150,152}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,14},{150,152}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{648,1},{150,153}}</string>
			<key>offset</key>
			<string>{-1,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,15},{150,153}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{158,620},{154,152}}</string>
			<key>offset</key>
			<string>{-6,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,24},{154,152}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{489,316},{156,152}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,22},{156,152}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{160,462},{157,150}}</string>
			<key>offset</key>
			<string>{-6.5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,19},{157,150}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{478,471},{156,147}}</string>
			<key>offset</key>
			<string>{-9,-6.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,16},{156,147}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{1,318},{161,142}}</string>
			<key>offset</key>
			<string>{-8.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,14},{161,142}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{166,317},{161,140}}</string>
			<key>offset</key>
			<string>{-8.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-4,13},{161,140}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{319,471},{157,142}}</string>
			<key>offset</key>
			<string>{-9.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-3,13},{157,142}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{647,310},{151,145}}</string>
			<key>offset</key>
			<string>{-11.5,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-2,15},{151,145}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{623,620},{149,149}}</string>
			<key>offset</key>
			<string>{-11.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{-1,18},{149,149}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>antares_01_f_adult_bg/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{647,457},{151,151}}</string>
			<key>offset</key>
			<string>{-8.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,22},{151,151}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{799,773}</string>
		<key>textureFileName</key>
		<string>antares_01_f_adult_bg.png</string>
	</dict>
</dict>
</plist>
