<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,37},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,72},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,107},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,142},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,177},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,212},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,247},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,282},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,317},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,352},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,387},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,422},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,457},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,492},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/idle/idle_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{48,527},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,38},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,75},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,112},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,149},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,186},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,223},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,260},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,297},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,334},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/move/move_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,371},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,408},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,444},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{45,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,696},{45,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,480},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{45,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{48,562},{45,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{45,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{48,664},{45,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{48,696},{45,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,516},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{45,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{48,596},{45,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,552},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,588},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,624},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{1,660},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{48,1},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magpiedragon_01_f_hatchling_bk/run/run_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{45,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{48,630},{45,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magpiedragon_01_f_hatchling_bk.png</string>
            <key>size</key>
            <string>{94,729}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af76a63d1382a363c65236a3f1fc874e:17529a5fdebdad15e07600bfa215578d:e320eb0742c0a12e80360c241eff9e99$</string>
            <key>textureFileName</key>
            <string>magpiedragon_01_f_hatchling_bk.png</string>
        </dict>
    </dict>
</plist>
