<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>darkvein_02_m_adult_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{213,1},{208,190}}</string>
			<key>offset</key>
			<string>{23,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,18},{208,190}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,379},{207,190}}</string>
			<key>offset</key>
			<string>{22.5,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,18},{207,190}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{423,1},{206,192}}</string>
			<key>offset</key>
			<string>{22,-11.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,17},{206,192}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{422,195},{205,194}}</string>
			<key>offset</key>
			<string>{21.5,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,17},{205,194}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{418,391},{202,194}}</string>
			<key>offset</key>
			<string>{20,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,18},{202,194}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{629,377},{198,194}}</string>
			<key>offset</key>
			<string>{18,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,20},{198,194}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{829,384},{192,193}}</string>
			<key>offset</key>
			<string>{15,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,22},{192,193}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{821,579},{192,193}}</string>
			<key>offset</key>
			<string>{15,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,23},{192,193}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{1029,375},{192,192}}</string>
			<key>offset</key>
			<string>{15,-19.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,25},{192,192}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1023,569},{192,190}}</string>
			<key>offset</key>
			<string>{15,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,27},{192,190}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{401,950},{192,189}}</string>
			<key>offset</key>
			<string>{15,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,28},{192,189}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{201,951},{192,188}}</string>
			<key>offset</key>
			<string>{15,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,29},{192,188}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{595,950},{192,186}}</string>
			<key>offset</key>
			<string>{15,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,30},{192,186}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{789,950},{192,186}}</string>
			<key>offset</key>
			<string>{15,-20.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,29},{192,186}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{1032,1},{192,185}}</string>
			<key>offset</key>
			<string>{15,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,28},{192,185}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{1032,188},{192,185}}</string>
			<key>offset</key>
			<string>{15,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,27},{192,185}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{631,1},{201,185}}</string>
			<key>offset</key>
			<string>{19.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,25},{201,185}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_18</key>
		<dict>
			<key>frame</key>
			<string>{{213,193},{207,186}}</string>
			<key>offset</key>
			<string>{22.5,-14.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,23},{207,186}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_19</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{210,186}}</string>
			<key>offset</key>
			<string>{24,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,22},{210,186}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/idle/idle_20</key>
		<dict>
			<key>frame</key>
			<string>{{1,189},{210,188}}</string>
			<key>offset</key>
			<string>{24,-12.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,20},{210,188}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,571},{205,187}}</string>
			<key>offset</key>
			<string>{24.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,17},{205,187}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{631,188},{200,187}}</string>
			<key>offset</key>
			<string>{25,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,17},{200,187}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,952},{193,187}}</string>
			<key>offset</key>
			<string>{24.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,18},{193,187}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1015,761},{192,189}}</string>
			<key>offset</key>
			<string>{25,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,19},{192,189}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{833,193},{194,189}}</string>
			<key>offset</key>
			<string>{26,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,21},{194,189}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{834,1},{196,190}}</string>
			<key>offset</key>
			<string>{26,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,22},{196,190}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{1,760},{198,190}}</string>
			<key>offset</key>
			<string>{25,-15.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,22},{198,190}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{201,760},{198,189}}</string>
			<key>offset</key>
			<string>{22,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,22},{198,189}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{401,759},{198,188}}</string>
			<key>offset</key>
			<string>{20,-13.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,21},{198,188}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{622,573},{197,187}}</string>
			<key>offset</key>
			<string>{17.5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,20},{197,187}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{601,762},{196,186}}</string>
			<key>offset</key>
			<string>{16,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,19},{196,186}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{208,571},{205,186}}</string>
			<key>offset</key>
			<string>{21.5,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,18},{205,186}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
		<key>darkvein_02_m_adult_w/move/move_13</key>
		<dict>
			<key>frame</key>
			<string>{{210,381},{206,187}}</string>
			<key>offset</key>
			<string>{24,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,17},{206,187}}</string>
			<key>sourceSize</key>
			<string>{214,203}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{1225,1140}</string>
		<key>textureFileName</key>
		<string>darkvein_02_m_adult_w.png</string>
	</dict>
</dict>
</plist>
