<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>makara_03_m_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{555,1},{178,139}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,21},{178,139}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{553,297},{177,137}}</string>
			<key>offset</key>
			<string>{-2.5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,21},{177,137}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{553,436},{177,138}}</string>
			<key>offset</key>
			<string>{-3.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,19},{177,138}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,598},{176,140}}</string>
			<key>offset</key>
			<string>{-4,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,16},{176,140}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{550,576},{176,144}}</string>
			<key>offset</key>
			<string>{-4,-4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,13},{176,144}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{364,581},{176,148}}</string>
			<key>offset</key>
			<string>{-5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,9},{176,148}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{732,432},{175,151}}</string>
			<key>offset</key>
			<string>{-4.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{175,151}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{735,1},{176,152}}</string>
			<key>offset</key>
			<string>{-4,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{176,152}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{555,142},{178,153}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{178,153}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{372,1},{181,152}}</string>
			<key>offset</key>
			<string>{-1.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{181,152}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,303},{182,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{182,151}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{1,152},{183,149}}</string>
			<key>offset</key>
			<string>{1.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{183,149}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_13</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{184,149}}</string>
			<key>offset</key>
			<string>{2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,11},{184,149}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_14</key>
		<dict>
			<key>frame</key>
			<string>{{187,1},{183,148}}</string>
			<key>offset</key>
			<string>{2.5,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,14},{183,148}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_15</key>
		<dict>
			<key>frame</key>
			<string>{{187,151},{182,145}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,17},{182,145}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_16</key>
		<dict>
			<key>frame</key>
			<string>{{186,298},{181,142}}</string>
			<key>offset</key>
			<string>{1.5,-10.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,20},{181,142}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/idle/idle_17</key>
		<dict>
			<key>frame</key>
			<string>{{371,297},{180,141}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,21},{180,141}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{728,585},{174,133}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,24},{174,133}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,740},{174,132}}</string>
			<key>offset</key>
			<string>{1,-9.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,24},{174,132}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{728,720},{173,131}}</string>
			<key>offset</key>
			<string>{0.5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,22},{173,131}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{177,740},{174,132}}</string>
			<key>offset</key>
			<string>{0,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,18},{174,132}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{353,733},{174,132}}</string>
			<key>offset</key>
			<string>{-1,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{174,132}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{183,596},{175,135}}</string>
			<key>offset</key>
			<string>{-0.5,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{175,135}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{735,293},{176,137}}</string>
			<key>offset</key>
			<string>{1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,6},{176,137}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{369,440},{179,139}}</string>
			<key>offset</key>
			<string>{2.5,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{179,139}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{1,456},{180,140}}</string>
			<key>offset</key>
			<string>{4,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{180,140}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{371,155},{181,140}}</string>
			<key>offset</key>
			<string>{4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,12},{181,140}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{183,456},{179,138}}</string>
			<key>offset</key>
			<string>{4.5,-5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,17},{179,138}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
		<key>makara_03_m_adult_bk/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{735,155},{176,136}}</string>
			<key>offset</key>
			<string>{3,-8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,21},{176,136}}</string>
			<key>sourceSize</key>
			<string>{188,161}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{912,873}</string>
		<key>textureFileName</key>
		<string>makara_03_m_adult_bk.png</string>
	</dict>
</dict>
</plist>
