<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{112,207},{107,100}}</string>
			<key>offset</key>
			<string>{0.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{107,100}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{223,1},{107,101}}</string>
			<key>offset</key>
			<string>{0.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{107,101}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{1,309},{107,102}}</string>
			<key>offset</key>
			<string>{0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{107,102}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{110,309},{107,102}}</string>
			<key>offset</key>
			<string>{0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{107,102}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{219,309},{107,102}}</string>
			<key>offset</key>
			<string>{0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{107,102}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{332,1},{107,101}}</string>
			<key>offset</key>
			<string>{0.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{107,101}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{332,104},{107,100}}</string>
			<key>offset</key>
			<string>{0.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{107,100}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{332,206},{107,99}}</string>
			<key>offset</key>
			<string>{0.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{107,99}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{328,307},{107,99}}</string>
			<key>offset</key>
			<string>{0.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{107,99}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{1,413},{107,98}}</string>
			<key>offset</key>
			<string>{0.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{107,98}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_11</key>
		<dict>
			<key>frame</key>
			<string>{{223,104},{107,99}}</string>
			<key>offset</key>
			<string>{0.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{107,99}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/idle/idle_12</key>
		<dict>
			<key>frame</key>
			<string>{{223,205},{107,99}}</string>
			<key>offset</key>
			<string>{0.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{107,99}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{109,101}}</string>
			<key>offset</key>
			<string>{3.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,3},{109,101}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{1,104},{109,102}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{109,102}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{112,103},{109,102}}</string>
			<key>offset</key>
			<string>{1.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{109,102}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{328,408},{107,102}}</string>
			<key>offset</key>
			<string>{0.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{107,102}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{441,1},{107,101}}</string>
			<key>offset</key>
			<string>{0.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{107,101}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{441,104},{106,100}}</string>
			<key>offset</key>
			<string>{1,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{106,100}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{441,305},{105,99}}</string>
			<key>offset</key>
			<string>{1.5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{105,99}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{110,413},{106,98}}</string>
			<key>offset</key>
			<string>{3,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,7},{106,98}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{441,206},{106,97}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,7},{106,97}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{218,413},{106,98}}</string>
			<key>offset</key>
			<string>{5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,6},{106,98}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_11</key>
		<dict>
			<key>frame</key>
			<string>{{1,208},{108,99}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,5},{108,99}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
		<key>darkvein_02_f_hatchling_w/move/move_12</key>
		<dict>
			<key>frame</key>
			<string>{{112,1},{109,100}}</string>
			<key>offset</key>
			<string>{4.5,-1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{109,100}}</string>
			<key>sourceSize</key>
			<string>{118,105}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{549,512}</string>
		<key>textureFileName</key>
		<string>darkvein_02_f_hatchling_w.png</string>
	</dict>
</dict>
</plist>
