<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gripo_03_f_adult_bk/idle/idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{284,467},{144,138}}</string>
			<key>offset</key>
			<string>{-2,-19.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,27},{144,138}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{143,467},{146,139}}</string>
			<key>offset</key>
			<string>{-1,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,23},{146,139}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{452,446},{149,141}}</string>
			<key>offset</key>
			<string>{-0.5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,20},{149,141}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{306,305},{154,144}}</string>
			<key>offset</key>
			<string>{0,-14.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,19},{154,144}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_05</key>
		<dict>
			<key>frame</key>
			<string>{{299,1},{157,145}}</string>
			<key>offset</key>
			<string>{0.5,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,20},{157,145}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_06</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{153,146}}</string>
			<key>offset</key>
			<string>{-1.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,22},{153,146}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_07</key>
		<dict>
			<key>frame</key>
			<string>{{449,148},{152,144}}</string>
			<key>offset</key>
			<string>{-2,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,26},{152,144}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_08</key>
		<dict>
			<key>frame</key>
			<string>{{145,313},{150,140}}</string>
			<key>offset</key>
			<string>{-3,-23.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,30},{150,140}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_09</key>
		<dict>
			<key>frame</key>
			<string>{{452,294},{150,138}}</string>
			<key>offset</key>
			<string>{-5,-23.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,31},{150,138}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/idle/idle_10</key>
		<dict>
			<key>frame</key>
			<string>{{595,436},{144,137}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,30},{144,137}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_01</key>
		<dict>
			<key>frame</key>
			<string>{{1,315},{150,142}}</string>
			<key>offset</key>
			<string>{-4,-13.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,19},{150,142}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_02</key>
		<dict>
			<key>frame</key>
			<string>{{306,148},{155,141}}</string>
			<key>offset</key>
			<string>{-4.5,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,17},{155,141}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_03</key>
		<dict>
			<key>frame</key>
			<string>{{145,170},{159,141}}</string>
			<key>offset</key>
			<string>{-4.5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,16},{159,141}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_04</key>
		<dict>
			<key>frame</key>
			<string>{{1,149},{164,142}}</string>
			<key>offset</key>
			<string>{-4,-11.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,17},{164,142}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_05</key>
		<dict>
			<key>frame</key>
			<string>{{156,1},{167,141}}</string>
			<key>offset</key>
			<string>{-3.5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-2,21},{167,141}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_06</key>
		<dict>
			<key>frame</key>
			<string>{{458,1},{151,140}}</string>
			<key>offset</key>
			<string>{-9.5,-18.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,25},{151,140}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_07</key>
		<dict>
			<key>frame</key>
			<string>{{592,294},{149,140}}</string>
			<key>offset</key>
			<string>{-7.5,-21.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{149,140}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_08</key>
		<dict>
			<key>frame</key>
			<string>{{1,467},{147,140}}</string>
			<key>offset</key>
			<string>{-6.5,-21.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,28},{147,140}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_09</key>
		<dict>
			<key>frame</key>
			<string>{{611,144},{147,141}}</string>
			<key>offset</key>
			<string>{-5.5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,26},{147,141}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
		<key>gripo_03_f_adult_bk/move/move_10</key>
		<dict>
			<key>frame</key>
			<string>{{611,1},{148,141}}</string>
			<key>offset</key>
			<string>{-4,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{148,141}}</string>
			<key>sourceSize</key>
			<string>{170,153}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string></string>
		<key>size</key>
		<string>{760,615}</string>
		<key>textureFileName</key>
		<string>gripo_03_f_adult_bk.png</string>
	</dict>
</dict>
</plist>
