<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>centauros/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{128,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{128,144}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{136,140}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{136,140}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{136,132}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{136,132}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{144,132}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{144,132}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{144,132}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{144,132}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/attack/attack_06</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{144,132}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{144,132}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{128,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{128,144}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{1890,124},{128,132}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{128,132}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{148,144},{144,100}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,52},{144,100}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{144,104}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{144,104}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{294,144},{136,104}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{136,104}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{128,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{128,144}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{1890,2},{120,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{120,148}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{128,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{128,152}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{128,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{128,144}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{128,140}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{128,140}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{1764,2},{124,144}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{124,144}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,144}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{140,144}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{140,140}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{136,144}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{136,144}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>centauros/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,140}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{140,140}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>centauros.png</string>
            <key>size</key>
            <string>{2040,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de0944b6f09a7d1c5eb1f3c4060a0ece:061f1f0b0ba1953b9425e79d7085aa86:bd6ba54d65121a27ae70ade0343ab847$</string>
            <key>textureFileName</key>
            <string>centauros.png</string>
        </dict>
    </dict>
</plist>
