<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bluetitan/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{208,1592},{200,148}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,16},{200,148}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{216,1236},{180,152}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,12},{180,152}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{212,1418},{172,156}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,8},{172,156}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{280,140}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{280,140}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{228,598},{204,140}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,24},{204,140}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{248,128}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,36},{248,128}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{272,332},{264,92}}</string>
                <key>offset</key>
                <string>{-26,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,72},{264,92}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{268,96}}</string>
                <key>offset</key>
                <string>{-28,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,68},{268,96}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,92}}</string>
                <key>offset</key>
                <string>{-44,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{300,92}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{300,92}}</string>
                <key>offset</key>
                <string>{-44,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{300,92}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{212,144}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,20},{212,144}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{216,1026},{208,152}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,12},{208,152}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{212,156}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,8},{212,156}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{204,144}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,20},{204,144}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{200,148}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,16},{200,148}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{152,1794},{200,148}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,16},{200,148}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{224,140}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,24},{224,140}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{220,148}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,16},{220,148}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{220,148}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,16},{220,148}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{224,804},{220,144}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{220,144}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/move/move_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{208,144}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,12},{208,144}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
            <key>bluetitan/move/move_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{204,136}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{204,136}}</string>
                <key>sourceSize</key>
                <string>{388,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bluetitan.png</string>
            <key>size</key>
            <string>{370,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0baeac63310f252bbfd4bfe54ad1551c:2c2fbae387980d0ee5add7410d03045b:19d3c863f88b8f68a648cf1cf944a270$</string>
            <key>textureFileName</key>
            <string>bluetitan.png</string>
        </dict>
    </dict>
</plist>
