<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldenmimic/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{108,72}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{108,72}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{108,68}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,40},{108,68}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{172,92}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{172,92}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{172,84}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{172,84}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{172,88}}</string>
                <key>offset</key>
                <string>{-42,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{172,88}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/attack/attack_06</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{176,84}}</string>
                <key>offset</key>
                <string>{-44,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{176,84}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{108,72}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{108,72}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{108,68}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,40},{108,68}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{112,80}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,28},{112,80}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{144,88}}</string>
                <key>offset</key>
                <string>{32,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,20},{144,88}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{148,108}}</string>
                <key>offset</key>
                <string>{38,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{148,108}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{148,104}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,4},{148,104}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{148,100}}</string>
                <key>offset</key>
                <string>{38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,8},{148,100}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{148,96}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,12},{148,96}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{108,72}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{108,72}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{112,80}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,28},{112,80}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{1564,2},{116,88}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,20},{116,88}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{108,72}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{108,72}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{108,68}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,40},{108,68}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{108,60}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,48},{108,60}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/idle/idle_04</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{108,68}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,40},{108,68}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{108,72}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{108,72}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,92}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,8},{112,92}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{108,84}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,20},{108,84}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
            <key>goldenmimic/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{108,60}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,48},{108,60}}</string>
                <key>sourceSize</key>
                <string>{264,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldenmimic.png</string>
            <key>size</key>
            <string>{2034,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d2888b06297e51a4ecf6797d8c0c796:9cabf7c987ad57ed745c32126b6df4a8:3c5fd56be4554125e449943878c67f88$</string>
            <key>textureFileName</key>
            <string>goldenmimic.png</string>
        </dict>
    </dict>
</plist>
