<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>urslo/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{232,148}}</string>
                <key>offset</key>
                <string>{-30,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,80},{232,148}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{172,212}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,16},{172,212}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{148,228}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{148,228}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,224}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{276,224}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/attack/attack_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{248,208}}</string>
                <key>offset</key>
                <string>{-30,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,44},{248,208}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{200,148}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{200,148}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{200,148}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{200,148}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{176,438},{184,116}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,116},{184,116}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{76,72}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,128},{76,72}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{252,228},{116,88}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,120},{116,88}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{152,1856},{132,108}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,112},{132,108}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{286,1856},{64,64}}</string>
                <key>offset</key>
                <string>{6,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,156},{64,64}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{152,1118},{200,148}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,84},{200,148}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{152,1268},{200,148}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,84},{200,148}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{152,1568},{200,144}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,92},{200,144}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{152,810},{200,152}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,80},{200,152}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{152,964},{200,152}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,80},{200,152}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{152,652},{200,156}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,80},{200,156}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{216,148}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{216,148}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{216,140}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,68},{216,140}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{152,1418},{200,148}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{200,148}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>urslo/move/move_04</key>
            <dict>
                <key>frame</key>
                <string>{{152,1714},{200,140}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,64},{200,140}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>urslo.png</string>
            <key>size</key>
            <string>{354,1966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57cd822a1529b2c7d0c585c688375118:f549726cd60fad2ab30c76ff4964426e:45dd246525b75aee1b39ac1288952eb9$</string>
            <key>textureFileName</key>
            <string>urslo.png</string>
        </dict>
    </dict>
</plist>
