<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellowbird/attack/attack_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{104,92}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{104,92}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/attack/attack_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{104,80}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{104,80}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/attack/attack_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,108}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/attack/attack_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{96,96}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{96,96}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{96,100}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{96,100}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{96,92}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,16},{96,92}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{104,72}}</string>
                <key>offset</key>
                <string>{22,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,68},{104,72}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{104,60}}</string>
                <key>offset</key>
                <string>{22,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,80},{104,60}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{112,68}}</string>
                <key>offset</key>
                <string>{22,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,76},{112,68}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{80,64}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,64},{80,64}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{76,56}}</string>
                <key>offset</key>
                <string>{20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,76},{76,56}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,1688},{76,48}}</string>
                <key>offset</key>
                <string>{24,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,88},{76,48}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/die/die_09</key>
            <dict>
                <key>frame</key>
                <string>{{52,1688},{64,40}}</string>
                <key>offset</key>
                <string>{14,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,100},{64,40}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/hurt/hurt_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{104,88}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{104,88}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/hurt/hurt_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{96,100}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{96,100}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/hurt/hurt_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{96,96}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{96,96}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/idle/idle_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{104,92}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{104,92}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/idle/idle_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{104,88}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{104,88}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/idle/idle_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{104,92}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{104,92}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/move/move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{104,88}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{104,88}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/move/move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{104,88}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{104,88}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>yellowbird/move/move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{104,84}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{104,84}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellowbird.png</string>
            <key>size</key>
            <string>{112,1766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1657b872d635774183b0b3ad900fff4:b49c5e003dc1e079c829e4da9c642cc1:7825686be8d3de1af90c0bea2a97898c$</string>
            <key>textureFileName</key>
            <string>yellowbird.png</string>
        </dict>
    </dict>
</plist>
